@{
    ViewBag.Title = "Employer profiles";
    Layout = "Redesign_Layout_ApprenticesHub";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.PageSummary = "A quick insight into the types of employers who offer apprenticeship opportunities in England.";
    ViewBag.LandingPageSlug = "employer-profiles";
    ViewBag.LandingPageTitle = ViewBag.Title;
}
<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">
                We've pulled together a range of employer profiles which provide a quick insight into 
                employers who offer apprenticeships opportunities across different disciplines and sectors. 
                Don't forget, you can browse live apprenticeship vacancies on 
                <a href="https://www.gov.uk/apply-apprenticeship" target="_blank" class="fiu-link">find an apprenticeship</a>.
            </p>
        </div>
    </div>
</div>

