@{
    ViewBag.Title = "Getting started";
    Layout = "Redesign_Layout_ApprenticesLandingPage";
    ViewBag.PageTitle = "Getting started";
    ViewBag.PageSummary = "Find out how to apply for an apprenticeship and what happens when you start one.";

    ViewBag.LandingPageSlug = "getting-started";
    ViewBag.LandingPageTitle = "Getting started";
}


<div class="fiu-grad-row">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="GettingStarted">Get started</a>
                    </span>
                    <h3 class="fiu-card__heading">Starting your apprenticeship</h3>
                    <p class="fiu-card__content">Before you start your apprenticeship, your employer will usually contact you and ask a series of questions. Find out what they might be.</p>
                    <a href="/apprentices/your-apprenticeship" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="GettingStarted">Get started</a>
                    </span>
                    <h3 class="fiu-card__heading">Assessment and certification</h3>
                    <p class="fiu-card__content">You will be assessed at some stage during your apprenticeship, to make sure you have achieved the knowledge, skills and behaviours required.</p>
                    <a href="/apprentices/assessment-and-certification" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_FindAnApprenticeship"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="GettingStarted">Get started</a>
                    </span>
                    <h3 class="fiu-card__heading">Set up a service account</h3>
                    <p class="fiu-card__content">Get started by setting up an account on Find an Apprenticeship where you can search, save, apply and set up alerts for new vacancies.</p>
                    <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            
            <div class="govuk-grid-column-one-quarter">
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_GetFreeHelpAndSupport"/>
            </div>
        </div>
    </div>

</div>