@{
    ViewBag.Title = "title";
    Layout = "Redesign_Layout_ApprenticesLandingPage";
    ViewBag.PageTitle = "Getting started";
    ViewBag.PageSummary = "Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
}

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/getting-started">Getting started</a>
    <h4>Your apprenticeship</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/your-apprenticeship">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/getting-started">Getting started</a>
    <h4>Assessment and certification</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/assessment-and-certification">Learn more</a>
</div>
