@{
    ViewBag.Title = "title";
    Layout = "Redesign_Layout_ApprenticesLandingPage";
    ViewBag.PageTitle = "How do they work?";
    ViewBag.PageSummary = "Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
}

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/how-do-they-work">How do they work?</a>
    <h4>What is an apprenticeship?</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/what-is-an-apprenticeship">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/how-do-they-work">How do they work?</a>
    <h4>Application process</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/application">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/how-do-they-work">How do they work?</a>
    <h4>Interview</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/interview">Learn more</a>
</div>