@use '../../shared' as *;

.app-anchor-links__heading {
  margin-bottom: 10px;
}

.app-anchor-links__panel {
  margin-bottom: 3.125rem;
}

.app-anchor-links__list {
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  & > li {
    margin: 0;
  }
}

.app-anchor-links__list--grid {
  @include govuk-media-query(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 3.125rem;
  }
}

.app-anchor-links__list-item {
  margin: 0;
}


.app-anchor-links__list-item--active {
  margin-left: -15px;
  padding-left: 10px;
  border-left: 5px solid $fiu-apprentices-link-colour;
}

.app-anchor-links__list--dash {
  padding-left: 20px;

  .app-anchor-links__list-item::before {
    content: "—";
    margin-left: -1rem;
    color: #484949;
    display: inline-block;
    width: 1rem;
  }
}