@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.Article>

@{
    ViewBag.Title = Model.Title;
    Layout = $"Redesign_Layout_{Model.HubType.ToString()}Article";
    ViewBag.PageTitle = Model.Title;
    ViewBag.LandingPageSlug = Model.Breadcrumbs != null ? Model.Breadcrumbs.LandingPageSlug : null;
    ViewBag.LandingPageTitle = Model.Breadcrumbs != null ? Model.Breadcrumbs.LandingPage : null;
    ViewBag.ArticlePageSlug = Model.Slug;
    ViewBag.ArticlePageTitle = Model.Title;
}

<article class="fiu-article">
    @Model.Content.PageControls.ToHtml()
</article>

@if (Model.Attachments != null && Model.Attachments.Any())
{
    <div class="fiu-attachment__wrap">
        @Model.Attachments.ToHtml()
    </div>
}

@if (Model.RelatedPages != null && Model.RelatedPages.Any())
{
    <hr class="fiu-section-break fiu-section-break--l" />
    
    <h2 class="govuk-heading-m">More on apprenticeships</h2>
    <div class="govuk-grid-row fiu-flex-row">
        @Model.RelatedPages.ToHtml()
    </div>
}