@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.Article>

@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDesc = Model.MetaContent.MetaDescription;
    Layout = $"Redesign_Layout_{Model.HubType.ToString()}Article";
    ViewBag.PageTitle = Model.Title;
    ViewBag.HeadingImage = Model.Content?.HeaderImage?.Url;
    ViewBag.ArticleType = Model.Content?.ArticleType;
    ViewBag.ParentPageUrl = Model.Breadcrumbs?.ParentPageUrl;
    ViewBag.HasNotGotTabs = Model.Content?.TabbedContents is null;
}
@ViewBag.ArticleType
<article class="fiu-article">@Model.Content?.PageControls.ToHtml()</article>

@Model.Content?.TabbedContents?.TabbedContentToHtml(Context, TempData)

@if (Model.Attachments != null && Model.Attachments.Any())
{
    <div class="fiu-attachment__wrap">
        @Model.Attachments.ToHtml()
    </div>
}
