@model EmailPreferences;
@{
    ViewData["Title"] = "Email Preferences";
    ViewBag.Title = "Email Preferences";
    ViewBag.MetaTitle = "Update your email preferences";
    ViewBag.PageID = "email-preferences";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentFull";
}

<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column">
            
            <section class="section cookiesettings-text">
                <div class="grid-row">
                    <div class="grid-column-full">
                        <span class="caption-s">Email Settings</span>
                        <h1 class="heading-m">Lets Communicate Better</h1>
                        <p>
                            The key to any great relationship is communication. If you would like to change your preferences, and how we contact you please select your preferred options below.
                        </p>
                        <hr />
                        <form asp-antiforgery="true" asp-action="Submit" asp-controller="EmailPreferences">
                            <div class="form-group">

                                <input type="hidden" name="encodedEmail" value="@Model.EncodedEmail" />
                                <div class="grid-row toggleContainer">
                                    <div class="grid-column-one-quarter">

                                        <input asp-for="ReceiveEmails" type="checkbox" name="receiveEmails" id="receiveEmails" onchange="setChecked(this, 'ReceiveEmails')">
                                        <label for="receiveEmails" data-on="ON" data-off="OFF"></label>

                                    </div>
                                    <div class="grid-column-three-quarters">
                                        <h3 class="heading-xs">Receive Emails</h3>
                                        <p>Please choose whether we can contact you by email.</p>
                                    </div>
                                </div>


                            </div>
                            <hr />
                            <div class="form-group">
                            </div>
                            <button class="button button-inverted" type="submit">Update my preferences</button>
                        </form>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</main>