@{
    ViewData["Title"] = "Email Preferences Updated";
    ViewBag.Title = "Email Preferences  Updated";
    ViewBag.MetaTitle = "Thank you for updating your email preferences";
    ViewBag.PageID = "email-preferences-updated";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentFull";
}

<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column">

            <section class="section emailsettings-text">
                <div class="grid-row">
                    <div class="grid-column-full">
                        <span class="caption-s">Thank you</span>
                        <h1 class="heading-m">Email preferences updated</h1>
                        <p>
                            Thank you for updating your email preferences, you can re-subscribe at any time
                        </p>
                        <hr />
                    </div>
                </div>
            </section>

        </div>
    </div>
</main>