@use '../../shared' as *;

.fiu-page-header {
  @include fiu-typography-common;
  background-color: #0B0C0C;
  color: $white;
  position: relative;
}

.fiu-page-header .fiu-width-container {
  position: relative;
}

.fiu-page-header__wrap {
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.govuk-grid-column-full.fiu-page-header__wrap {
  margin-top: 0;
}

.govuk-back-link {
  -webkit-font-smoothing: unset;
  &:hover {
    text-decoration: none;
  }
}

.fiu-page-header__tag {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-heading__title {
  margin-bottom: 20px;
  color: inherit;
  @include govuk-media-query($media-type: print) {
    color: black;
    margin-bottom: 0;
  }
}

.fiu-page-heading__title-hub {
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  color: inherit;
  @include govuk-media-query(tablet) {
    margin-bottom: 60px;
    max-width: 66%;
  }
  @include govuk-media-query($media-type: print) {
    color: black;
    transform: rotate(6deg);
    text-transform: lowercase;
    letter-spacing: 0;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.fiu-page-header__content {
  @extend .govuk-body;
  @include fiu-typography-common;
  color: inherit;
}

.fiu-page-header__content--l {
  @extend .govuk-body-l;
  @include fiu-typography-common;
  color: inherit;
  line-height: 1.4;
}

.fiu-page-header__gov-logo {
  height: 30px;
  display: block;
  margin-bottom: 10px;
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-header__sub-heading {
  color: $white;
  position: relative;
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-header__image-wrap {
  position: relative;
}

.fiu-page-header__image {
  position: relative;
  min-height: 200px;
  background-size: cover;
  background-position: center center;
  margin: 10px -20px 0;
  @include govuk-media-query(tablet) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 0;
  }
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-header__image-mask {
  position: absolute;
  background: linear-gradient(90deg, #0B0C0C 0%, rgba(11, 12, 12, 0) 20%, rgba(11, 12, 12, 0) 80%, #0B0C0C 100%),
  linear-gradient(180deg, rgba(11, 12, 12, 0) 0%, rgba(11, 12, 12, 0) 80%, #0B0C0C 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include govuk-media-query(tablet) {
    top: 0;
  }
}

.fiu-page-header__back {
  display: block;
}