@use '../../shared' as *;

.fiu-page-header {
  @include fiu-typography-common;
  background-color: $black;
  padding: 1px 0;
  color: $white;
  position: relative;
}

.fiu-page-header--has-image {
  background: none;
}

.fiu-page-header .fiu-width-container {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
}

.fiu-page-header__wrap {
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}

.govuk-back-link {
  -webkit-font-smoothing: auto;
  &:hover {
    text-decoration: none;
  }
}

.fiu-page-header__tag {
  margin-bottom: 15px;
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-heading__title {
  margin-bottom: 30px;
  color: inherit;
  @include govuk-media-query($media-type: print) {
    color: black;
    margin-bottom: 0;
  }
}

.fiu-page-heading__title-hub {
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  color: inherit;
  @include govuk-media-query(tablet) {
    margin-bottom: 60px;
    max-width: 66%;
  }
  @include govuk-media-query($media-type: print) {
    color: black;
    transform: rotate(6deg) skewX(6deg);
    text-transform: lowercase;
    letter-spacing: 0;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.fiu-page-header__content {
  @extend .govuk-body;
  @include fiu-typography-common;
  color: inherit;
}

.fiu-page-header__content--l {
  @extend .govuk-body-l;
  @include fiu-typography-common;
  color: inherit;
  line-height: 1.4;
}

.fiu-page-header__gov-logo {
  height: 30px;
  display: block;
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-header__sub-heading {
  color: $white;
  position: relative;
  @include govuk-media-query($media-type: print) {
    display: none;
  }
}

.fiu-page-header__image-wrap {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}


.fiu-page-header__image-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/mask.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
