@using Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search
@using Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.SearchSummary
@model SFA.DAS.Campaign.Web.ViewComponents.TrainingProviderHeadingViewModel
                                       
<div class="hero" data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--employer">Search apprenticeships  <span class="hero-heading__caption-separator">&gt;</span>  Training provider results</span>
                <h1 class="heading-xl hero-heading__heading">@ViewBag.Title</h1>
            </div>
          
            @await Component.InvokeAsync("TrainingProviderSearchSummary", new { searchQueryModel = Model.SearchResults.SearchQuery})
        </div>
    </div>
</div>