trigger:
  batch: true
  branches:
    include:
      - "master"

variables:
  - name: SolutionBaseName
    value: SFA.DAS.Campaign
  - group: BUILD Management Resources
  - name: BuildConfiguration
    value: release
  - name: BuildPlatform
    value: anycpu
  - group: RELEASE Management Resources
  - group: RELEASE das-campaign

resources:
  repositories:
    - repository: das-platform-building-blocks
      type: github
      name: SkillsFundingAgency/das-platform-building-blocks
      ref: refs/tags/3.0.21
      endpoint: SkillsFundingAgency
    - repository: das-platform-automation
      type: github
      name: SkillsFundingAgency/das-platform-automation
      ref: refs/tags/5.1.21
      endpoint: SkillsFundingAgency
  pipelines:
    - pipeline: das-employer-config
      project: Digital Apprenticeship Service
      source: das-employer-config
      branch: master

stages:
  - stage: Build
    jobs:
      - template: pipeline-templates/job/code-build.yml
        parameters:
          SolutionBaseName: $(SolutionBaseName)

  - stage: Deploy_AT
    dependsOn: Build
    displayName: Deploy to AT
    condition: succeeded()
    variables:
      - group: DevTest Management Resources
      - group: AT DevTest Shared Resources
      - group: AT das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: AT
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-DAS-DevTest-ARM

  - stage: Deploy_TEST
    dependsOn: Build
    displayName: Deploy to TEST
    variables:
      - group: DevTest Management Resources
      - group: TEST DevTest Shared Resources
      - group: TEST das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: TEST
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-DAS-DevTest-ARM

  - stage: Deploy_TEST2
    dependsOn: Build
    displayName: Deploy to TEST2
    variables:
      - group: DevTest Management Resources
      - group: TEST2 DevTest Shared Resources
      - group: TEST2 das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: TEST2
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-DAS-DevTest-ARM

  - stage: Deploy_PP
    dependsOn: Build
    displayName: Deploy to PP
    variables:
      - group: PREPROD Management Resources
      - group: PREPROD Shared Resources
      - group: PREPROD das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: PP
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-DIG-PreProd-ARM

  - stage: Deploy_PROD
    dependsOn: Build
    displayName: Deploy to PROD
    variables:
      - group: PROD Management Resources
      - group: PROD Shared Resources
      - group: PROD das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: PROD
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-DIG-Prod-ARM

  - stage: Deploy_MO
    dependsOn: Build
    displayName: Deploy to MO
    variables:
      - group: MO Management Resources
      - group: MO Shared Resources
      - group: MO das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: MO
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-ASM-ModelOffice-ARM

  - stage: Deploy_DEMO
    dependsOn: Build
    displayName: Deploy to DEMO
    variables:
      - group: DevTest Management Resources
      - group: DEMO DevTest Shared Resources
      - group: DEMO das-campaign
    jobs:
      - template: pipeline-templates/job/deploy.yml
        parameters:
          Environment: DEMO
          SolutionBaseName: $(SolutionBaseName)
          ServiceConnection: SFA-DAS-DevTest-ARM
