<aside class="fiu-promo">
    <div class="fiu-width-container">
        <h2 class="govuk-heading-l fiu-promo__heading">
            Blaze your own trail
        </h2>
        <p class="fiu-promo__content">
            Whether you're just starting out, upskilling, or looking for a career change - there's an apprenticeship for everyone. 
        </p>
        <a asp-controller="Apprentices" asp-action="EmployerProfiles" class="fiu-button fiu-button--citizens fiu-button--outlined fiu-promo__button">
            Employer profiles
        </a>
    </div>
</aside>