<aside class="fiu-promo fiu-promo--citizens">
    <div class="fiu-width-container">
        <h2 class="govuk-heading-l fiu-promo__heading">
            Ready to become an apprentice?
        </h2>
        <p class="fiu-promo__content">
            Set up an apprenticeship service account and start applying for apprenticeships today
        </p>
        <a href="#" class="fiu-button fiu-button--inverse fiu-button--sparks">
            Get started
        </a>
    </div>
</aside>