/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.form-control {
    width: 100%;
}

.postcode-search-form {
    background-color: #dee0e2;
    padding: 20px 20px 0;
    margin-bottom: 20px;
}

.no-js {
    display: none;
}

.infobox {
    background:#fff;
    height: auto;
    width: 300px; 
    font-size:17px;
    padding:12px;
}

.infobox > a {
    font-size: 14px;
}

[data-google-map-infobox-template] {
    display: none;
}

#mapDev {
    -webkit-clip-path: url(#googleMapsClip);
    -moz-clip-path: url(#googleMapsClip);
    -ms-clip-path: url(#googleMapsClip);
    clip-path: url(#googleMapsClip);
}

/*[data-google-map-component] {
    -webkit-clip-path: url(#googleMapsClip);
    -moz-clip-path: url(#googleMapsClip);
    -ms-clip-path: url(#googleMapsClip);
    clip-path: url(#searchResultGoogleMapsClip);
}*/


.search-result:nth-child(odd) {
    padding: 10px 10px 110px 10px;

    background-color: #1968ff;
    clip-path: polygon(0 5%, 100% 0, 100% 86%, 0 80%);
    color: #ffffff;
}

ul#vacancy-search-results {
    margin-top: -40px;
}

.search-result:nth-child(odd)  a {
    color: #bbbbbb;
}
.search-result:nth-child(even) {
    margin-top: -115px;
}

    #map-canvas .gm-style > div:nth-child(2), [data-google-map-component] .gm-style > div:nth-child(2) {
        bottom: 30px !important;
        left: 195px !important;
    }
        #map-canvas .gm-style > div:nth-child(2):div div, [data-google-map-component] .gm-style > div:nth-child(2):div div {
            cursor: default;
        }
