@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@using  Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search;
@model Sfa.Das.Sas.Shared.Components.ViewModels.SearchResultsViewModel<Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.TrainingProviderSearchResultsItem, TrainingProviderSearchViewModel>
@inject ICssViewModel cssViewModel

<p>Visit your local apprenticeships website to search for training providers in your area. </p>
<p>
    <a class="@cssViewModel.Link" href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank">Explore training providers in Northern Ireland</a>
</p>