@{
    ViewBag.Title = "Choose a training provider";
    Layout = "Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "setting-it-up";
    ViewBag.LandingPageTitle = "Setting it up";
    ViewBag.ArticlePageSlug = "string";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>Once you’ve decided on the type of apprenticeship your business needs, you’ll need to <a href="https://www.apprenticeships.gov.uk/employers/create-apprenticeship-service-account" title="" rel="external" target="_blank">create an apprenticeship service account</a>. After you’ve done this, you can choose a training provider to train your apprentice.</p><p>To choose a training provider, use the <a href="https://www.apprenticeships.gov.uk/employer/find-apprenticeship-training" title="" rel="external" target="_blank">find apprenticeship training</a> service. It allows you to:</p><ul><li><p>choose an apprenticeship training course</p></li><li><p>choose a course at the right level and skills</p></li><li><p>check the availability of training providers at the apprenticeship location</p></li><li><p>view employer reviews</p></li></ul><p>Your training provider doesn’t have to be located near you as many are national and offer training at your workplace and online.</p>        <h2>Things to consider</h2>
<p>Choosing a training provider that’s right for your business is really important.</p><p>Consider things like:</p><ul><li><p>how well they communicate with you about the training</p></li><li><p>what other employers say about them</p></li><li><p>what apprentices say about them</p></li></ul><p></p>        <h2>Working with your training provider</h2>
<p>Your training provider can provide you with as much help and support as you need when you take on an apprentice.</p><p>It’s up to you how you work together. Just ask them any questions you have.</p><p>If you’re still not sure, you can <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb" title="" rel="external" target="_blank">contact us</a>.</p><p>Your training provider can help you:</p><ul><li><p>find the right training</p></li><li><p>recruit and interview apprentices</p></li><li><p>prepare your apprentice for the workplace</p></li><li><p>make sure your apprentice is working in an appropriate environment</p></li><li><p>make sure your apprentice is learning the relevant skills for your business</p></li></ul><p></p>
            </article>