@{
    ViewBag.Title = "How to choose the right apprenticeship training";
    Layout = "Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "setting-it-up";
    ViewBag.LandingPageTitle = "Setting it up";
    ViewBag.ArticlePageSlug = "string";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>There are hundreds of apprenticeships to choose from. They offer flexible, but structured training, that meet your needs as an employer.</p><p>Apprenticeships are designed by groups of employers so they reflect the knowledge, skills and behaviours an apprentice needs for a specific occupation.</p><p>Apprentices can be a new or existing employee and they must:</p><ul><li><p>be 16 or over</p></li><li><p>combine work with study to gain skills and knowledge in a specific job</p></li><li><p>spend at least 20% of their working hours on ‘off-the-job’ training with your chosen training provider</p></li></ul><p></p>        <h2>What should I look for?</h2>
<p>Apprenticeships are being developed and approved all the time, so you can choose the right apprenticeship training for your business.</p><p>When looking for an apprenticeship, make sure you:</p><ul><li><p>select the right training to suit your business</p></li><li><p>think about the level and duration of the training</p></li><li><p>discuss your expectations with the training provider</p></li></ul><p>Don't accept training because it's the only apprenticeship available at the time.</p>
            </article>