@{
    ViewBag.Title="Making sure you get the right training for your apprentice";
    Layout="Redesign_Layout_EmployersHub";
    ViewBag.PageTitle="Making sure you get the right training for your apprentice";
    ViewBag.PageSummary="Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    ViewBag.LandingPageSlug="setting-it-up";
    ViewBag.LandingPageTitle="Setting it up";
    ViewBag.ArticlePageSlug="choose-training-provider";
    ViewBag.ArticlePageTitle="Making sure you get the right training for your apprentice";
}
<p>You will need to choose a training provider to train your apprentice.</p><p><a href="https://www.apprenticeships.gov.uk/employer/find-apprenticeship-training" title="">Find apprenticeship training</a> will help you search for one by location, job role or keyword.</p><p>Your training provider can provide you with as much help and support as you need when you take on an apprentice.</p><p>Your training provider may also be able to help with:</p><ul><li><p>finding the right apprenticeship for you</p></li><li><p>preparing your apprentice for your organisation</p></li><li><p>making sure your apprentice is working in an appropriate environment</p></li><li><p>finding the right pace of learning for your apprentice</p></li><li><p>working with you to make sure your apprentice is learning the relevant skills</p></li></ul><p></p>
<h2>MISUNDERSTANDINGS AND MYTHS</h2>
<p>There are some misunderstandings and myths about what you can and can't do when working with a training provider. Here are a couple of examples:</p><ul><li><p>you can only work with one training provider at a time - not true, you can use a number of training providers</p></li><li><p>you can't get funding for over-24s - not true, you can get funding for apprenticeships depending on both your circumstances</p></li></ul><p></p>
