@{
    ViewBag.Title = "End-point assessment";
    Layout = "Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "string";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>End-point assessment (EPA) is an assessment of the knowledge, skills and behaviours that your apprentice has learned throughout an apprenticeship, which confirms that they are occupationally competent.</p><p>Assessments have been designed by employers in the sector and are conducted by independent bodies known as end-point assessment organisations (EPAOs).</p><p>You must select an EPAO as soon as possible at the beginning of the apprenticeship.</p><p>The apprentice will only get their apprenticeship certificate after they have passed all the elements of their EPA, including any required standards in English and maths.</p><p></p>        <h2>Finding an end-point assessment organisation</h2>
<p>You can&nbsp;<a href="https://find-epao.apprenticeships.education.gov.uk/" title="" rel="external" target="_blank">find an end-point assessment organisation</a>&nbsp;for your apprentice.</p><p>You should agree a price with the EPAO for the assessment and then your training provider must contract with them on your behalf within 3 months of the apprenticeship starting.</p><p>We expect that the cost of end-point assessment should not usually exceed 20% of the funding band maximum for the apprenticeship.</p>        <h2>What does assessment involve?</h2>
<p>Each apprenticeship includes an end-point assessment plan, which describes how the apprentice should be tested against appropriate criteria, using suitable methods. For example, your apprentice may need to complete:</p><ul><li><p>a practical assessment</p></li><li><p>an interview</p></li><li><p>a project</p></li><li><p>written and/or multiple-choice tests</p></li><li><p>a presentation</p></li></ul><p>It is worth getting in touch with your EPAO early on in the apprenticeship to check what the assessment involves.</p><p>This will give your apprentice plenty of time to prepare. For example, they may need to gather evidence to show how they’ve been working towards the core knowledge, skills and behaviours required.</p>        <h2>Certification</h2>
<p>When your apprentice successfully completes their apprenticeship and passes their EPA, they’ll be awarded a certificate.</p><p>The EPAO will request this certificate on your behalf.</p><p>For some apprenticeships, passing the EPA and completing the apprenticeship will also lead to professional recognition by an authorised body. This is outlined in the apprenticeship details on <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" title="" rel="external" target="_blank"><u>find apprenticeship training</u></a>.</p>
            </article>