@{
    ViewBag.Title = "Financial incentives for employers";
    Layout = "Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "string";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>We have increased incentive payments for hiring a new apprentice. </p><p>Employers will receive £3,000 for new apprentices of any age who join their organisation from 1 April 2021 to 30 September 2021. </p><p>You can apply for incentive payments for these apprentices from 1 June 2021 to 30 November 2021.</p><p>The incentive payment is in addition to the £1,000 employers already receive for hiring an apprentice:</p><ul><li><p>aged 16 to 18 years old</p></li><li><p>under 25 with an education, health and care plan or who has been in the care of their local authority</p></li></ul><p>Find out more about <a href="https://www.gov.uk/guidance/incentive-payments-for-hiring-a-new-apprentice" title="" rel="external" target="_blank">financial incentives for hiring a new apprentice</a> or <a href="https://www.apprenticeships.gov.uk/employers/funding-an-apprenticeship" title="" rel="external" target="_blank">how apprenticeships are funded.</a></p>
            </article>