@{
    ViewBag.Title = "Hiring an apprentice";
    Layout = "Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "string";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>Apprenticeships help bring valuable skills into your business with the government's support.</p><p>They’re suitable for people at any level so you can hire someone new or upskill an existing employee.</p><p>You’ll need to <a href="https://www.apprenticeships.gov.uk/employers/create-apprenticeship-service-account" title="" rel="external" target="_blank"><u>create an apprenticeship service account</u></a> to hire an apprentice.</p><p>You can then either:</p><ul><li><p>choose an apprenticeship training course and find a training provider using <a href="https://www.apprenticeships.gov.uk/employer/find-apprenticeship-training" title="" rel="external" target="_blank"><u>find apprenticeship training</u></a></p></li><li><p>create your own apprenticeship opportunity using <a href="https://www.gov.uk/recruit-apprentice" title="" rel="external" target="_blank"><u>recruit an apprentice</u></a></p></li></ul><p>If you create an apprenticeship opportunity, we’ll advertise it on <a href="https://www.gov.uk/apply-apprenticeship" title="" rel="external" target="_blank"><u>find an apprenticeship</u></a>.</p><p>You can manage the recruitment process or ask your training provider to manage it on your behalf.</p><p>An apprentice must:</p><ul><li><p>be 16 or over</p></li><li><p>not already be in full-time education</p></li><li><p>be living in England</p></li></ul><p>There are other ways to find an apprentice and increase the diversity of your applicants. For example, you can:</p><ul><li><p>hold open days</p></li><li><p>arrange visits to schools, colleges and universities</p></li><li><p>use social media</p></li><li><p>participate in careers events, like WorldSkills UK Live</p></li></ul><p></p>
            </article>