@{
  Layout = "Redesign_Layout_EmployersHub";
  ViewBag.Title = "Hire an apprentice for your business: step by step";
  ViewBag.PageTitle = ViewBag.Title;
  ViewBag.LandingPageSlug = "setting-it-up";
  ViewBag.LandingPageTitle = "Setting it up";
  ViewBag.ArticlePageSlug = "the-road-to-a-quality-apprenticeship";
  ViewBag.ArticlePageTitle = ViewBag.Title;
}
<div class="fiu-width-container">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="fiu-employer-roadmap">
            <h2 class="govuk-heading-m">Decide if an apprenticeship is right for your business</h2>
            <ol class="govuk-list fiu-employer-roadmap__list">
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--1">
                  <h3 class="govuk-heading-s">Explore the benefits and funding</h3>
                  <p>Apprenticeships build new talent for your business — with funding available to help pay for the training costs.</p>
                  <p><a href="/employers/benefits-of-hiring-apprentice" class="fiu-link--employers">Understanding benefits and funding</a> </p>
               </li>
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--2">
                  <h3 class="govuk-heading-s">Learn your training responsibilities</h3>
                  <p>Know the training you’ll need to put in place for an apprentice.</p>
                  <p><a href="/employers/training-your-apprentice" class="fiu-link--employers">Training your apprentice</a> </p>
               </li>
            </ol>
            <h2 class="govuk-heading-m">What you need to organise</h2>
            <ol class="govuk-list fiu-employer-roadmap__list" start="2">
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--3">
                  <h3 class="govuk-heading-s">Find the right apprenticeship course</h3>
                  <p>Find the apprenticeship standard that matches the job role you need.</p>
                  <p><a href="/employers/choose-apprenticeship-training" class="fiu-link--employers">Choosing an apprenticeship course</a> </p>
               </li>
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--4">
                  <h3 class="govuk-heading-s">Choose a training provider</h3>
                  <p>Pick the provider who will teach your apprentice’s off-the-job training.</p>
                  <p><a href="/employers/choose-training-provider" class="fiu-link--employers">Choosing a training provider</a> </p>
               </li>
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--5">
                  <h3 class="govuk-heading-s">Consider the end point assessment </h3>
                  <p>Plan for the assessment your apprentice will need to pass at the end of their course.</p>
                  <p><a href="/employers/end-point-assessments" class="fiu-link--employers">Organising an end point assessment</a> </p>
               </li>
            </ol>
            <h2 class="govuk-heading-m">Begin the apprenticeship</h2>
            <ol class="govuk-list fiu-employer-roadmap__list" start="5">
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--6">
                  <h3 class="govuk-heading-s">Create your apprenticeship services account</h3>
                  <p>Use your account to set up and run your apprenticeship.</p>
                  <p><a href="/employers/create-apprenticeship-service-account" class="fiu-link--employers">Creating an account</a> </p>
               </li>
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--7">
                  <h3 class="govuk-heading-s">Recruit your apprentice</h3>
                  <p>If you’re not upskilling someone who already works for your company,  you’ll need to advertise your apprenticeship opportunity.</p>
                  <p><a href="/employers/hiring-an-apprentice" class="fiu-link--employers">Recruiting an apprentice</a> </p>
               </li>
            </ol>
            <h2 class="govuk-heading-m">Help your apprentice succeed</h2>
            <ol class="govuk-list fiu-employer-roadmap__list" start="7">
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--8">
                  <h3 class="govuk-heading-s">Support your apprentice</h3>
                  <p>How to give your apprentice the extra support they need.</p>
                  <p><a href="/employers/supporting-your-apprentice" class="fiu-link--employers">Supporting your apprentice</a> </p>
               </li>
               <li class="fiu-employer-roadmap__list-item fiu-employer-roadmap__list-item--9">
                  <h3 class="govuk-heading-s">Plan your apprentice’s progression</h3>
                  <p>What comes after the apprenticeship? Learn what your apprentice wants and consider how they could fit into your business. Think about a promotion or continue developing their skills with another apprenticeship.</p>
               </li>
            </ol>
         </div>
      </div>
   </div>
</div>