@{
    ViewBag.Title = "Training your apprentice";
    Layout = "Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "string";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>During their apprenticeship, your apprentice will receive two different types of training.</p><p>‘Off-the-job’ training is delivered by a training provider during your apprentice's normal working hours.</p><p>This training will teach your apprentice the knowledge, skills and behaviours set out in the apprenticeship standard so they can achieve occupational competence.</p><p>‘On-the-job’ training will be delivered by you, as the employer. You'll need to give your apprentice training and supervision to help them perform the job you've hired them for.</p>        <h2>Off-the-job training</h2>
<p>Apprentices must spend at least 20% of their working hours completing off-the-job training.</p><p>It can be flexible and doesn’t have to mean 1 day out of the workplace every week.</p><p>For example, training could take place:</p><ul><li><p>online</p></li><li><p>at the apprentice’s place of work</p></li><li><p>at a college or university or with a training provider</p></li></ul><p>Or it could be a combination of these options.</p><p>The frequency can vary, for example:</p><ul><li><p>1 day a week</p></li><li><p>part of a working day</p></li><li><p>blocks of time</p></li></ul><p>For instance, some apprenticeships begin with a block of training to get the apprentice work-ready.</p><p>You can agree a suitable training schedule to suit the needs of your business with your training provider.</p>        <h2>English and maths</h2>
<p>Your apprentice may also need to study for maths and English qualifications as part of their apprenticeship.</p><p>You must allow your apprentice time to study for this within their normal working hours.</p><p>Studying for English and maths is not counted as part of the 20% minimum off-the-job training requirement.</p>        <h2>An apprenticeship agreement</h2>
<p>An apprenticeship agreement is used to confirm individual employment arrangements between the apprentice and the employer.</p><p>You and your apprentice must sign an apprenticeship agreement.</p><p>It&nbsp;includes:</p><ul><li><p>how long you’ll employ them for</p></li><li><p>the training they’ll receive</p></li><li><p>their working conditions</p></li><li><p>the qualifications they are working towards</p></li></ul><p>You can write your own or download an <a href="https://www.gov.uk/government/publications/apprenticeship-agreement-template" title="" rel="external" target="_blank"><u>apprenticeship agreement template</u></a>.</p>        <h2>An apprenticeship commitment statement</h2>
<p>You must also sign an apprenticeship commitment statement with your apprentice and the training provider.</p><p>It must include:</p><ul><li><p>the planned content and schedule for training</p></li><li><p>what is expected and offered by the employer, the training organisation and the apprentice</p></li><li><p>how to resolve queries or complaints</p></li></ul><p>You can write your own or use the <a href="https://www.gov.uk/government/publications/apprenticeships-off-the-job-training" title="" rel="external" target="_blank"><u>apprenticeship commitment statement template</u></a>. </p><p>Find out more about commitment statements in the <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules-for-training-providers/what-is-an-apprenticeship#rule-p65" title="" rel="external" target="_blank"><u>apprenticeship funding rules</u></a>.</p>
            </article>