@{
    ViewBag.Title="Apprenticeships to train your current staff";
    Layout="Redesign_Layout_EmployersHub";
    ViewBag.PageTitle="Apprenticeships to train your current staff";
    ViewBag.PageSummary="Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    ViewBag.LandingPageSlug="how-do-they-work";
    ViewBag.LandingPageTitle="How do they work?";
    ViewBag.ArticlePageSlug="upskill";
    ViewBag.ArticlePageTitle="Apprenticeships to train your current staff";
}
<h2>BOOST STAFF PERFORMANCE AND RETENTION</h2>
<p>Apprenticeships are suitable for <a href="/employer/hiring-an-apprentice" title="">hiring new staff</a>, but they're also ideal for upskilling or retraining your existing workforce.</p><p>Perhaps you have an employee who's keen to develop their existing skills, or someone who has shown a flair for something new. Giving them the opportunity to complete an apprenticeship could:</p><ul><li><p>fill key skill gaps in your business</p></li><li><p>boost staff motivation by investing in their development</p></li><li><p>improve staff retention</p></li></ul><p></p>
<h2>HIRING AN APPRENTICE</h2>
<p>Looking to bring valuable skills into your business by hiring someone new? Apprenticeships are suitable for people at any level.</p>
<h2>DEVELOP NEW SKILLS AT ANY LEVEL</h2>
<p>Apprenticeships are suitable for people of any age and from GCSE to degree level. The apprenticeship must:</p><ul><li><p>allow the apprentice to develop new skills to help them succeed in their chosen occupation</p></li><li><p>be linked to their current job role</p></li><li><p>include learning that's different to any qualifications they already hold</p></li></ul><p>If they're taking a repeat or lower-level apprenticeship, you need to provide evidence that it's supporting the apprentice to acquire new skills and knowledge.</p>
<h2>YOU DO NOT HAVE TO GIVE THEM A DIFFERENT JOB</h2>
<p>The employee does not need to be given a different job to complete the apprenticeship, and you're not required to change any of the terms or conditions of their employment.</p><p>You'll need to create and sign an apprenticeship agreement, and continue to pay them a salary of at least the National Minimum Wage (relevant to their age). Explore our guidance on <a href="/employer/funding-an-apprenticeship" title="">apprenticeship costs and funding</a> for more details.</p>
