<a class="fiu-panel fiu-panel--apprentices" href="https://www.findapprenticeship.service.gov.uk/" target="_blank">
    <div class="fiu-feature-text">
        <strong class="fiu-tag fiu-tag--apprentices fiu-panel__tag">Apprentices</strong>
    </div>
    <h2 class="govuk-heading-l govuk-!-margin-0">Find an apprenticeship</h2>
    <p>Use our Find an apprenticeship website to search and apply for apprenticeships.  </p>
</a>