<div class="fiu-panel">
    <h2 class="govuk-heading-m fiu-panel__heading">Search for an apprenticeship</h2>
    <p class="govuk-body-m">Search hundreds of apprenticeships and training providers</p> <a href="@CampaignConfig.Value.FatBaseUrl" class="fiu-button fiu-button--employers fiu-button--outlined fiu-panel__button" target="_blank">Find the right apprenticeship<span class="fiu-vh"> (Opens in a new window)</span></a>
</div>
