@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel
@{
    var activeClass = "sidebar-nav__section--active";
}

<div class="trimmer">
    <div class="sidebar__sub-content">
        <a class="button button--sparks button--shadow " asp-action="index" asp-controller="RegisterInterest" asp-route-route="apprentice" id="btn-sidebar-register-interest-apprentice">Register Interest</a>
    </div>
</div>