<ol class="sidebar-nav">
 <li class="sidebar-nav__section sidebar-nav__section--active">
        <a href="/apprentice/fire-up-your-apprenticeship">
            What is an apprenticeship
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="https://www.gov.uk/apply-apprenticeship">
            Find an apprenticeship 
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="/apprentice/what-are-the-steps-I-need-to-take">
            What are the next steps?
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="/apprentice/how-to-get-your-application-right">
            How to nail the interview
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="/apprentice/monitor-your-progress">
            Your apprenticeship
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="/apprentice/assessment-and-qualification">
            Assessment and qualification
        </a>
    </li>
</ol>