@{ 
    var activeClass = "sidebar-nav__section--active";
}

<ol class="sidebar-nav">
    <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprenticeship-whats-an-apprenticeship" ? activeClass : null ) ">
        <a href="/apprentice/what-is-an-apprenticeship">
            Before you start
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="https://www.gov.uk/apply-apprenticeship" rel="external" target="_blank">
            Find an apprenticeship
        </a>
    </li>
    <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-application" ? activeClass : null ) ">
        <a href="/apprentice/application">
            Application
        </a>
    </li>
    <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-interview" ? activeClass : null ) ">
        <a href="/apprentice/interview">
            Interview
        </a>
    </li>
    <li class="sidebar-nav__section @( ViewData["PageID"].ToString() == "apprentice-your-apprenticeship" ? activeClass : null ) ">
        <a href="/apprentice/your-apprenticeship">
            Your apprenticeship
        </a>
    </li>
    <li class="sidebar-nav__section">
        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" rel="external" target="_blank">
            Find an apprenticeship
        </a>
    </li>
</ol>