<aside class="sidebar__panel-wrap sidebar__panel-wrap--pull-up">
    <div class="sidebar__panel sidebar__panel--pull-up">
        <h3 class="sidebar__panel-heading"> Call the National Apprenticeship Service for free advice and support<span class="visually-hidden">: </span></h3>
        <a href="tel:08000150600" class="sidebar__panel-hero-link" title="Telephone number">0800 015 0600</a>
    </div>
    <div class="sidebar__panel sidebar__panel--govaccount">
        <h2 class="sidebar__panel-heading">Already have a <img class="sidebar__sub-content-crown-logo" src="/assets/images/govuk-mask-icon.svg" alt="" /> gov.uk account?</h2>
        <a id="link-sidebar-ma-cta" class="button button--inverted button--shadow sidebar__panel-button" href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" rel="external" target="_blank">Go to my account</a>
    </div>
</aside>