@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel
@{
    var activeClass = "sidebar-nav__section--active";
}

    
<div class="trimmer">
    <div class="sidebar__sub-content">
        <h3 class="heading-s"> Call the National Apprenticeship Service for free advice and support</h3>   
        <a href="tel:08000150600">0800 015 0600</a>
    </div>
</div>
<div class="trimmer">
    <div class="sidebar__sub-content sidebar__sub-content--mid">
        <h2 class="heading-m sidebar__heading">Already have a <img class="sidebar__sub-content-crown-logo" src="/assets/images/govuk-mask-icon.svg" alt="" /> gov.uk account?</h2>
        <a id="link-sidebar-ma-cta" class="button button-inverted button--shadow" href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" rel="external" target="_blank">Go to my account</a>
    </div>
</div>