@{
    ViewBag.Title = "Agriculture, environment and animal care";
    ViewBag.MetaTitle = "Discover apprenticeships in agriculture, animal care or the environment";
    ViewBag.MetaDesc = "Find apprenticeships in agriculture, environment and animal care: land management and production, animal health and welfare, and environmental industries. ";
    ViewBag.PageID = "industry-agriculture-environment-animal-care";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Farmworker with cows";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Agriculture-environmental-and-animal-care";
}

<p class="lead-paragraph">
    This fertile sector for apprenticeships can be separated into three major categories:
</p>
<ol class="list  list--number">
    <li>land management and production</li>
    <li>animal health and welfare</li>
    <li>environmental industries</li>
</ol>
<p>
    As you can imagine, there are a wide variety of jobs in the sector. While many
    apprentices find their ideal job in the farming and skilled agricultural and environmental areas,
    there are also plenty of diverse, practical, and animal-centric options out there too.
</p>
<p>
    You will also find creative occupations here, like forestry, and caring jobs. For example,
    working as an apprentice veterinary nurse.

</p>
<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Land-based service engineering technician</dd>
    <dd>Sports turf operative</dd>
    <dd>Horticulture and Landscape Operative</dd>
</dl>