@{
    ViewBag.Title = "Agriculture, environment & animal care";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p>
    This sector can be broken down into three major categories: land management and production, animal health and welfare, and environmental industries. There are a wide variety of jobs in the sector, and while many of them are practical, there are also opportunities for people to work as skilled technicians, managers and other specialist roles. You will also find creative occupations, such as forestry, and caring jobs that include working as a veterinary nurse.
</p>