@{
    ViewBag.Title = "Business and administration";
    ViewBag.MetaTitle = "Business and administration";
    ViewBag.MetaDesc = "Apprenticeships in the business sector covers different occupations that keep businesses running efficiently and profitably.  These range from enterprise and innovation to information security, marketing, public relations.";
    ViewBag.PageID = "industry-business-administration";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    The business world is vast, covering all the many different jobs and skills needed to keep companies running efficiently and profitably, and keep staff and customers happy. 
</p>
<p>And the choice is yours. From enterprise and innovation to information security, marketing, public relations, apprenticeships are available in businesses large and small across the UK.
</p>
<p>
Apprenticeships range from administration through to HR, management, leadership, PR, finance, accounting, consultancy, and a variety of legal roles, including solicitor, conveyancing technician, and legal executive. There are also banking and investment-related specialisms too.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>HR Consultant / Partner</dd>
    <dd>Business Administrator</dd>
    <dd>Public service operational delivery officer</dd>
</dl>