@{
    ViewBag.Title = "Business administration";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    The business sector covers the many different occupations that keep businesses running efficiently and profitably, and keep staff and customers happy. Many businesses rely on the assistance of administrators to do their jobs. From enterprise and innovation to information security, marketing, public relations, apprenticeships are available to train the legion of skilled workers needed to keep UK businesses secure, productive and at the forefront of the economy.
</p>