@{
    ViewBag.Title = "Business and administration";
    ViewBag.MetaTitle = "See what apprenticeships are available in business administration";
    ViewBag.MetaDesc = "Apprenticeships in the business sector covers different occupations that keep businesses running efficiently and profitably.  These range from enterprise and innovation to information security, marketing, public relations.";
    ViewBag.PageID = "industry-business-administration";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "People working at a computer";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Business-and-administration";
}
<p class="lead-paragraph">
    The business world is vast, covering all the many different jobs and skills needed to keep companies running efficiently and profitably, and keep staff and customers happy.
</p>
<p>
    And the choice is yours. From enterprise and innovation to information security, marketing, public relations, apprenticeships are available in businesses large and small across the UK.
</p>
<p>
    Apprenticeships range from administration through to HR, management, leadership, PR, finance, accounting, consultancy, and a variety of legal roles, including solicitor, conveyancing technician, and legal executive. There are also banking and investment-related specialisms too.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>HR Consultant / Partner</dd>
    <dd>Business Administrator</dd>
    <dd>Public service operational delivery officer</dd>
</dl>

@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Do work that makes a difference</h3>
                    <p>
                        An apprenticeship provided me with a platform to do work that made a difference, regardless of my age or years of experience. I take the work I do very seriously and it is essential that I am carrying out work that is improving on how things were done in the past.
                    </p>
                    <p>
                        Although I'm not a big fan of the traditional education system, I do love learning. This apprenticeship gave me the required qualification I needed to climb the career ladder but more importantly, it gave me a breadth of experience I could not have imagined achieving in just two years.
                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        An apprenticeship provided me with a platform to do work that made a difference, regardless of my age or years of experience.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Jordan Nicholas, 20</span>
                        <span class="quote-box__cite-role">HR Management Apprenticeship</span>
                        <span class="quote-box__cite-source">Transport for London</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}