@{
    ViewBag.Title = "Business and administration";
    ViewBag.MetaTitle = "See what apprenticeships are available in business administration";
    ViewBag.MetaDesc = "Apprenticeships in the business sector covers different occupations that keep businesses running efficiently and profitably.  These range from enterprise and innovation to information security, marketing, public relations.";
    ViewBag.PageUrl = "business-administration";
    ViewBag.Section = "industry";
    ViewBag.PageID = ViewBag.Section + "-" + ViewBag.PageUrl;
    ViewBag.HeroImageAltText = "People working at a computer";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Business-and-administration";
}
<p class="lead-paragraph">
    The business world is vast, covering all the many different jobs and skills needed to keep companies running efficiently and profitably, and keep staff and customers happy.
</p>
<p>
    And the choice is yours. From enterprise and innovation to information security, marketing, public relations, apprenticeships are available in businesses large and small across the UK.
</p>
<p>
    Apprenticeships range from administration through to HR, management, leadership, PR, finance, accounting, consultancy, and a variety of legal roles, including solicitor, conveyancing technician, and legal executive. There are also banking and investment-related specialisms too.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>HR Consultant / Partner</dd>
    <dd>Business Administrator</dd>
    <dd>Public service operational delivery officer</dd>
</dl>

@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Hr management at transport for london</h3>

                    <h4 class="heading-s">Find your ideal apprenticeship</h4>
                    <p>
                        Attending career fairs and seeking mentors in the industries I was interested in provided the best possible insight, as they could describe what a typical working day looked like. I found that the Transport for London HR apprenticeship provided me with endless opportunities to grow as a professional, which motivated me to apply.
                    </p>
                    <h4 class="heading-s">Work that makes a difference</h4>
                    <p>
                        The biggest factor in my decision to do an apprenticeship? Impact! It provided me with a platform to do work that made a difference, regardless of my age or years of experience. I take the work I do very seriously, and it’s essential that I’m improving on how things were done in the past.
                    </p>
                    <h4 class="heading-s">Develop skills and climb the career ladder</h4>
                    <p>
                        The benefit my apprenticeship has had, and will have, is difficult to put into words. It gave me the qualification I needed to climb the career ladder, and a breadth of experience I couldn’t have imagined achieving in two years. Friends and family have seen me transform – not only as a professional, but into a confident and passionate individual who truly loves the work I do.
                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        It gave me the qualification I needed to climb the career ladder, and a breadth of experience I couldn’t have imagined achieving in two years.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Jordan Nicholas, 20</span>
                        <span class="quote-box__cite-role">HR Management Apprenticeship</span>
                        <span class="quote-box__cite-source">Transport for London</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}