@{
    ViewBag.Title = "Business administration";
    ViewBag.MetaTitle = "Business administration";
    ViewBag.MetaDesc = "Apprenticeships in the business sector covers different occupations that keep businesses running efficiently and profitably.  These range from enterprise and innovation to information security, marketing, public relations.";
    ViewBag.PageID = "industry-business-administration";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    The business sector covers the many different occupations that keep businesses running efficiently and profitably, and keep staff and customers happy. </p>
<p>Many businesses rely on the assistance of administrators to do their jobs. From enterprise and innovation to information security, marketing, public relations, apprenticeships are available to train the legion of skilled workers needed to keep UK businesses secure, productive and at the forefront of the economy.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes</dt>
    <dd>Job title</dd>
    <dd>Job title</dd>
    <dd>Job title</dd>
</dl>