@{
    ViewBag.Title = "Care services";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p>
    It takes more than doctors to keep our health service running. The care sector covers a range of careers in health, including dispensing medicines in a pharmacy, carrying out eye tests, working as a dental nurse and many more.
</p>
<p>
    However, this isn't the only type of care. Many disabled people and older people, for example, need support in their own home or in the community - this is known as social care.
</p>