@{
    ViewBag.Title = "Care services";
    ViewBag.MetaTitle = "Care-services apprenticeships include working with children and adults";
    ViewBag.MetaDesc = "Apprenticeships in the care service can lead to careers such as helping with disabled people and caring for the elderly, at home or in the community.  This is known as social care. ";
    ViewBag.PageID = "industry-care-services";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Carer speaking to a patient";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Care-services";
}

<p class="lead-paragraph">
    The care sector apprenticeships combine home and hospital visits with clinics and other vital assistance for people who need extra help.

</p>
<p>
    These include regular work with disabled people and older people who need support in their own home or in the community— also known as social care.
</p>

<p>
    This can be anything from working with young people in after schools clubs, to helping adults with mental health issues, or getting elderly patients to their appointments.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Adult care worker</dd>
    <dd>Social worker</dd>

</dl>