@{
    ViewBag.Title = "Catering and hospitality";
    ViewBag.MetaTitle = "Learn more about apprenticeships in catering and hospitality";
    ViewBag.MetaDesc = "Find apprenticeships in restaurants, cafés, pubs, bars, nightclubs and hotels.  Train as a chef or learn to cook for large organisations.";
    ViewBag.PageID = "industry-catering-hospitality";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Bar person polishes glasses";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Catering-and-hospitality";
}
<p class="lead-paragraph">
    Catering and hospitality serve up a host of different apprenticeships in restaurants, cafés, pubs, bars, nightclubs and hotels.
</p>
<p>
    The sector also includes customer service roles, as well as working in the supply network that provides food and drink to other industries. Schools, colleges, hospitals and large businesses often have canteens and catering staff too. You could train as a chef in a restaurant, or learn how to cook on a large scale for institutions such as the NHS. You could also be ‘front of house’ welcoming guests or helping management ensure effective day-to-day operations.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Chef De Partie</dd>
    <dd>Advanced butcher</dd>
    <dd>Hospitality supervisor</dd>
</dl>

@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">CHEF DE PARTIE AT FULLERS</h3>

                    <h4 class="heading-s">ACHIEVE A LIFELONG DREAM</h4>
                    <p>
                        I had always dreamed of being a chef – but I put it on hold while I raised my children. When I started working as a Chef de Partie at a Fullers pub, my manager told me about the apprenticeship. Looking at the range of different apprenticeships on offer, I was amazed at what’s available.
                    </p>
                    <h4 class="heading-s">EARN WHILE YOU LEARN</h4>
                    <p>
                        When I joined Fullers, the opportunities were endless. The thing I enjoy most about the apprenticeship has got to be learning new things every day. I’m now progressing quickly – and hoping to become a head chef within three years!
                    </p>
                    <h4 class="heading-s">DEVELOP TRANSFERRABLE SKILLS</h4>
                    <p>
                        As a 40-year-old and a mum of two, everyone thought I was crazy to try and start a new career! Now I know that my family and friends are all very proud of me.
                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        As a 40-year-old and a mum of two, everyone thought I was crazy to try and start a new career!
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Claudine McCarthy, 42</span>
                        <span class="quote-box__cite-role">Chef de Partie Apprentice</span>
                        <span class="quote-box__cite-source">Fullers</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}