@{
    ViewBag.Title = "Catering and hospitality";
    ViewBag.MetaTitle = "Learn more about apprenticeships in catering and hospitality";
    ViewBag.MetaDesc = "Find apprenticeships in restaurants, cafés, pubs, bars, nightclubs and hotels.  Train as a chef or learn to cook for large organisations.";
    ViewBag.PageID = "industry-catering-hospitality";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Bar person polishes glasses";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Catering-and-hospitality";
}
<p class="lead-paragraph">
    Catering and hospitality serve up a host of different apprenticeships in restaurants, cafés, pubs, bars, nightclubs and hotels.
</p>
<p>
    But the sector also includes customer service roles, as well as working in the supply network that provides food and drink to other industries. Schools, colleges, hospitals and large businesses often have canteens and catering staff too. You could train as a chef in a restaurant, or learn how to cook on a large scale for institutions such as the NHS. Or you could be ‘front of house’ welcoming guests or helping management ensure effective day-to-day operations.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Chef De Partie</dd>
    <dd>Advanced butcher</dd>
    <dd>Hospitality supervisor</dd>
</dl>