@{
    ViewBag.Title = "Catering & hospitality";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    Catering and hospitality covers work in restaurants, cafés, pubs, bars, nightclubs and hotels.
    But the sector also supplies food and drink to other industries. Schools, colleges, hospitals and large businesses often have canteens and catering staff too.
</p>
<p>
    You could train as a chef in a restaurant, or learn how to cook on a large scale for institutions such as the NHS. Or you could be 'front of house' servicing guests or helping management make sure day-to-day operations run smoothly.
</p>