@{
    ViewBag.Title = "Construction";
    ViewBag.MetaTitle = "Construction";
    ViewBag.MetaDesc = "Construction is a multi-billion pound industry.  Apprenticeships in this sector deals with developing the underlying structure of anything from a housing estate to the huge rail projects.";
    ViewBag.PageID = "industry-construction";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    What does a new housing estate and Crossrail have in common? They both employ apprentices. 
</p>    
<p>   
    Construction is a multi-billion pound industry that deals with developing the underlying structure of anything from a new build, to HS2 rail projects.
</p>
<p>
Traditional and specialist apprenticeships cover a range of occupations, from groundworks and plant maintenance to civil engineering and joinery. Meanwhile, those with a flair for being 
organised could help make sure projects run on time and within budget; liaise with suppliers; or assist a civil engineer with design plans.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Building Services Design Technician</dd>
    <dd>Building Services Engineering Ductwork Craftsperson</dd>
    <dd>Digital Engineering Technician</dd>
</dl>