@{
    ViewBag.Title = "Construction";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    Construction is a multi-billion pound industry that deals with developing the underlying structure of anything from a housing estate to the massive Crossrail project.
</p>
<p>
    Traditional and specialist apprenticeships cover a range of occupations, from groundworks and plant maintenance to civil engineering and joinery. Meanwhile, those with a flair for the organisation could help make sure projects run on time and within budget; liaise with suppliers, or assist a civil engineer with design plans.
</p>