@{
    ViewBag.Title = "Creative & design";
    ViewBag.MetaTitle = "Creative & design";
    ViewBag.MetaDesc = "Apprenticeships in the creative industry lead to a broad array of jobs and covers careers from film to fashion, music to computer gaming, artists, actors, musicians and models. ";
    ViewBag.PageID = "industry-creative-design";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    Creativity takes on many forms and the creative industry encompasses a broad array of jobs requiring different practices, talents and skills. The sector covers everything from film to fashion, music to computer gaming. While it's the artists and actors, musicians and models who take centre stage, they wouldn't be there without armies of assistants and teams of technicians. And there's also a strong administrative side to this industry.
</p>