@{
    ViewBag.Title = "Creative and design";
    ViewBag.MetaTitle = "Creative and design";
    ViewBag.MetaDesc = "Apprenticeships in the creative industry lead to a broad array of jobs and covers careers from film to fashion, music to computer gaming, artists, actors, musicians and models. ";
    ViewBag.PageID = "industry-creative-design";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    From film to fashion, music to computer gaming, creativity takes on many forms. The creative and design industries reflects this, with a broad array of apprenticeships and careers.
</p>
<p>
While it’s the artists and actors, musicians and models who take centre stage, they wouldn’t be there without armies of assistants and teams of technicians. And there’s also a strong administrative side to this industry. Lights, camera, action!
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Broadcast and communications technical operator</dd>
    <dd>Cultural learning and participation officer</dd>
    <dd>Jewellery Maker</dd>
</dl>