@{
    ViewBag.Title = "Digital";
    ViewBag.MetaTitle = "Digital";
    ViewBag.MetaDesc = "The digital sector covers many different jobs and opens up really exciting possibilities - if your interests lie in areas such as photography, film, cybersecurity, computers.";
    ViewBag.PageID = "industry-digital";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p class="lead-paragraph">
    The digital sector covers the many different occupations that keep modern business, large and small, running efficiently and profitably. 
</p>  

<p>A digital and technology solutions apprentice will help provide technology-enabled solutions to customers and staff. 
</p>
<p>
Successful apprentices are already working in a wide variety of digital-centric roles, including software, business and systems analysis, 
cybersecurity, data analysis and network infrastructures.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>IS Business Analyst</dd>
    <dd>Software Development Technician</dd>
    <dd>Cybersecurity technologist</dd>
</dl>