@{
    ViewBag.Title = "Digital";
    ViewBag.MetaTitle = "Apprenticeships in digital include software development, cybersecurity, design";
    ViewBag.MetaDesc = "The digital sector covers many different jobs and opens up really exciting possibilities - if your interests lie in areas such as photography, film, cybersecurity, computers.";
    ViewBag.PageID = "industry-digital";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Man with virtual reality goggles opens mouth in awe";
    Layout = "_LayoutIndustry";
}

<p class="lead-paragraph">
    The digital sector covers the many different occupations that keep modern business, large and small, running efficiently and profitably.
</p>

<p>
    A digital and technology solutions apprentice will help provide technology-enabled solutions to customers and staff.
</p>
<p>
    Successful apprentices are already working in a wide variety of digital-centric roles, including software, business and systems analysis,
    cybersecurity, data analysis and network infrastructures.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>IS Business Analyst</dd>
    <dd>Software Development Technician</dd>
    <dd>Cybersecurity technologist</dd>
</dl>

@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                It was amazing to see the range of apprenticeships and how they varied from each other. There's an apprenticeship out there for anyone, whether you're just beginning in your career or wanting to further develop your skills.
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Kate Self, 20</span>
                <span class="quote-hero__cite-role">
                    TV, Digital &amp; Media Apprenticeship
                </span>
                <span class="quote-hero__cite-source">
                    BT
                </span>
            </figcaption>
        </figure>
    </div>
}