@{
    ViewBag.Title = "Education and childcare";
    ViewBag.MetaTitle = "Learn more about apprenticeships in education and childcare";
    ViewBag.MetaDesc = "Apprenticeships in education and childcare open opportunities to help children and young people.  Careers include teaching assistants, childcare personnel and many more";
    ViewBag.PageUrl = "education-childcare";
    ViewBag.Section = "industry";
    ViewBag.PageID = ViewBag.Section + "-" + ViewBag.PageUrl;
    ViewBag.HeroImageAltText = "Teacher helps a student with electronics";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Education-and-childcare";
}

<p class="lead-paragraph">
    Working with children and young people is an increasingly popular area for apprentices.
</p>
<p>
    Learning support staff, such as apprentice teaching assistants, play a vital role in today’s classrooms by supporting pupils, parents and colleagues to make sure pupils get the most out of education. Apprenticeships can also involve particular specialisms in areas like music or working with pupils with special educational needs or challenging behaviour, helping them to overcome barriers to learning.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Teacher</dd>
    <dd>Children, Young People & Families Manager</dd>
    <dd>Learning mentor</dd>
</dl>


@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Teaching at bursledon junior school</h3>

                    <h4 class="heading-s">Discover a route to success</h4>
                    <p>
                        The headteacher at my school helped me to become an apprentice. I was working as a teaching assistant and wanted to become a fully qualified teacher, so I went to an information evening on different routes into teaching. As a salaried role, I thought this apprenticeship sounded like a great option for me.
                    </p>
                    <h4 class="heading-s">A rewarding experience</h4>
                    <p>
                        My friends and family have been very supportive of me while I’ve been completing the apprenticeship. I’m enjoying the day-to-day role because I love working in a great team and teaching the amazing children in our school.
                    </p>
                    <h4 class="heading-s">Fast-track your career</h4>
                    <p>
                        I think my apprenticeship will open up my future career options by enabling me to start my career in teaching. I hope to be employed as a newly qualified teacher in September.
                        </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        I hope to be employed as a newly qualified teacher in September.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Natalie Rich, 40</span>
                        <span class="quote-box__cite-role">Post-graduate Teaching Apprentice</span>
                        <span class="quote-box__cite-source">
                            Bursledon Junior School
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}