@{
    ViewBag.Title = "Education & childcare";
    ViewBag.MetaTitle = "Education & childcare";
    ViewBag.MetaDesc = "Apprenticeships in education and childcare open opportunities to help children and young people.  Careers include teaching assistants, childcare personnel and many more";
    ViewBag.PageID = "industry-education-childcare";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p>By helping children and young people develop the skills they need to flourish, the education and childcare sector exists to make society a better place.</p>

<p>Learning support staff, such as teaching assistants, play a vital role in today’s classrooms by supporting pupils, parents and colleagues to make sure pupils get the most out of education. This might involve particular specialisms in areas like music or work with pupils who have special educational needs and/or challenging behaviour, helping them to overcome barriers to learning.</p>
