@{
    ViewBag.Title = "Education and childcare";
    ViewBag.MetaTitle = "Learn more about apprenticeships in education and childcare";
    ViewBag.MetaDesc = "Apprenticeships in education and childcare open opportunities to help children and young people.  Careers include teaching assistants, childcare personnel and many more";
    ViewBag.PageID = "industry-education-childcare";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Teacher helps a student with electronics";
    Layout = "_LayoutIndustry";
}

<p class="lead-paragraph">
    Working with children and young people is an increasingly popular area for apprentices.
</p>
<p>
    Learning support staff, such as apprentice teaching assistants, play a vital role in today’s classrooms by supporting pupils, parents and colleagues to make sure pupils get the most out of education. Apprenticeships can also involve particular specialisms in areas like music or working with pupils with special educational needs or challenging behaviour, helping them to overcome barriers to learning.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Teacher</dd>
    <dd>Children, Young People & Families Manager</dd>
    <dd>Learning mentor</dd>
</dl>


@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                I was working as a teaching assistant and wanted to become a fully qualified teacher.  I went to an information evening on different routes in to teaching and thought this sounded like the best option for me plus it is a salaried role.
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">
                    Natalie Rich, 40
                </span>
                <span class="quote-hero__cite-role">
                    Postgraduate Teaching Apprenticeship
                </span>
                <span class="quote-hero__cite-source">
                    Bursledon Junior School
                </span>
            </figcaption>
        </figure>
    </div>
}