@{
    ViewBag.Title = "Education and childcare";
    ViewBag.MetaTitle = "Learn more about apprenticeships in education and childcare";
    ViewBag.MetaDesc = "Apprenticeships in education and childcare open opportunities to help children and young people.  Careers include teaching assistants, childcare personnel and many more";
    ViewBag.PageID = "industry-education-childcare";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Teacher helps a student with electronics";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Education-and-childcare";
}

<p class="lead-paragraph">
    Working with children and young people is an increasingly popular area for apprentices.
</p>
<p>
    Learning support staff, such as apprentice teaching assistants, play a vital role in today’s classrooms by supporting pupils, parents and colleagues to make sure pupils get the most out of education. Apprenticeships can also involve particular specialisms in areas like music or working with pupils with special educational needs or challenging behaviour, helping them to overcome barriers to learning.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Teacher</dd>
    <dd>Children, Young People & Families Manager</dd>
    <dd>Learning mentor</dd>
</dl>


@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Do what you love doing while earning a salary</h3>
                    <p>
                        I was working as a teaching assistant and wanted to become a fully qualified teacher. This was the best option for me because it is a salaried role.
                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        I went to an information evening on different routes in to teaching and thought this sounded like the best option for me.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Natalie Rich, 40</span>
                        <span class="quote-box__cite-role">Post Graduate Teaching Apprenticeship</span>
                        <span class="quote-box__cite-source">
                            Bursledon Junior School
                            (Hampshire County Council)
                        </span>     
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}