@{
    ViewBag.Title = "Engineering & manufacturing";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p>
    Almost every object has been manufactured in some way, whether in a factory by huge machines or with hand tools in a small workshop. Manufacturing deals with producing things on an industrial scale, which in turn keeps all the other industries supplied with the materials needed to do their job.
</p>
<p>
    Engineering, meanwhile, is all about making these things work and includes everything from servicing escalators to checking RAF aircraft to activating phone lines.
</p>