@{
    ViewBag.Title = "Engineering and manufacturing";
    ViewBag.MetaTitle = "Engineering and manufacturing";
    ViewBag.MetaDesc = "Apprenticeships in manufacturing deals with producing things on an industrial scale.  Engineering is all about making things work such as RAF aircraft to servicing escalators.";
    ViewBag.PageID = "industry-engineering-manufacturing";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p class="lead-paragraph">
    Almost every object has been manufactured in some way, whether in a factory by huge machines or with hand tools in a small workshop.
</p>
<p>So as you can imagine, there are a host of different manufacturing and engineering apprenticeships available all over the country, at companies and workshops large and small.
</p>
<p>Manufacturing companies producing things on both industrial and small scales, which in turn keeps all the other industries supplied with the materials needed to do their job. Engineering, meanwhile, is all about making these things work and includes everything from servicing escalators to checking RAF aircraft to activating phone lines.
</p>
<p>
It’s not just tools and workshops either. Software engineers are using the latest technologies to create virtual systems that will transform how we live and work in the future.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Electrical Power Networks Engineer</dd>
    <dd>Metal casting, foundry & patternmaking technician</dd>
    <dd>Brewer</dd>
</dl>