@{
    ViewBag.Title = "Engineering and manufacturing";
    ViewBag.MetaTitle = "Engineering and manufacturing offer a number of different apprenticeships";
    ViewBag.MetaDesc = "Apprenticeships in manufacturing deals with producing things on an industrial scale.  Engineering is all about making things work such as RAF aircraft to servicing escalators.";
    ViewBag.PageID = "industry-engineering-manufacturing";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Circuit board with tools around";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Engineering-and-manufacturing";

}

<p class="lead-paragraph">
    Almost every object has been manufactured in some way, whether in a factory by huge machines or with hand tools in a small workshop.
</p>
<p>
    So as you can imagine, there are a host of different manufacturing and engineering apprenticeships available all over the country, at companies and workshops large and small.
</p>
<p>
    Manufacturing companies produce things on both industrial and small scales, which in turn keeps all the other industries supplied with the materials needed to do their job. Engineering, meanwhile, is all about making these things work and includes everything from servicing escalators to checking RAF aircraft to activating phone lines.
</p>
<p>
    It’s not just tools and workshops either. Software engineers are using the latest technologies to create virtual systems that will transform how we live and work in the future.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Electrical Power Networks Engineer</dd>
    <dd>Metal casting, foundry & patternmaking technician</dd>
    <dd>Brewer</dd>
</dl>

@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Confectionery apprenticeship at nestle</h3>
                    
                    <h4 class="heading-s">Discover your passion</h4>
                    <p>
                        My apprenticeship at Nestle sounded like one of the best opportunities I’d come across. I had no clue what I wanted to do for a job, and I knew that I wanted to do Further Education – but I didn’t want to spend three years and lots of money doing a degree that I probably wouldn’t end up using. As soon as I saw the advert for my apprenticeship, with a degree included, I just knew it was perfect.
                    </p>
                    <h4 class="heading-s">Earn while you learn</h4>
                    <p>
                        I'd be working with chocolate and learning skills created hundreds of years ago – with one of the biggest food and drink companies in the world. When I saw that I’d also be working to get a degree, I was over the moon! It seemed to be the best of both worlds – learning relevant skills while also earning a wage.
                    </p>
                    <h4 class="heading-s">Develop transferrable skills</h4>
                    <p>
                        I am so thankful that I’ve got a degree – but not just that on its own. I also have three years of invaluable hands-on experience working at Nestle. This experience, and the amount I now know about the confectionery industry, gives me a huge advantage for future career options. </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        I am so thankful that I’ve got a degree – but not just that on its own. I also have three years of invaluable hands-on experience.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Katie Lloyd, 22</span>
                        <span class="quote-box__cite-role">Confectionery Degree Apprenticeship</span>
                        <span class="quote-box__cite-source">Nestle</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}