@{
    ViewBag.Title = "Health and science";
    ViewBag.MetaTitle = "Look at the apprenticeships offered in the health and science industry";
    ViewBag.MetaDesc = "Finding an apprenticeship in health and science can lead to research-based careers including chemical and pharma businesses, biotechnology and manufacturing.";
    ViewBag.PageID = "industry-health-science";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Looking down the lens of a microscope";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Health is something we often take for granted, but couldn’t cope without.
</p>
<p>It takes more than doctors to keep our health service running. Careers in health and sciences include dispensing medicines in a pharmacy, giving eye tests, working as a dental nurse and many more.</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Dental technician</dd>
    <dd>Laboratory scientist </dd>
    <dd>Food technologist</dd>
</dl>

@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                The biggest factor in my decision to do an apprenticeship was the hand-on experience that I would gain. I've always learnt better with a 'doing' approach so being able to go into a laboratory and conduct experiments was a fantastic way to gain experience.
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Hajra Bibi, 23 </span>
                <span class="quote-hero__cite-role">
                    Level 6 Standard for Laboratory Scientists
                </span>
                <span class="quote-hero__cite-source">GlaxoSmithKline </span>
            </figcaption>
        </figure>
    </div>
}