@{
    ViewBag.Title = "Health and science";
    ViewBag.MetaTitle = "Health and science";
    ViewBag.MetaDesc = "Finding an apprenticeship in health and science can lead to research-based careers including chemical and pharma businesses, biotechnology and manufacturing.";
    ViewBag.PageID = "industry-health-science";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Looking down the lens of a microscope";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Health is something we often take for granted, but couldn’t cope without.
</p>
<p>It takes more than doctors to keep our health service running. Careers in health and sciences include dispensing medicines in a pharmacy, giving eye tests, working as a dental nurse and many more.</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Dental technician</dd>
    <dd>Laboratory scientist </dd>
    <dd>Food technologist</dd>
</dl>

@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                By the end of my apprenticeship I will have a university degree as well as five years of industrial experience, making me very employable compared to a graduate who has taken a university route.
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Hajra Bibi </span>
                <span class="quote-hero__cite-source">GlaxoSmithKline </span>
            </figcaption>
        </figure>
    </div>
}