@{
    ViewBag.Title = "HealthScience";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    Health is something we often take for granted, but couldn't cope without. It takes more than doctors to keep our health service running. Careers in health and sciences include dispensing medicines in a pharmacy, giving eye tests, working as a dental nurse and many more.
</p>
<p>
    Looking after people in hospital isn't the only type of care. Many disabled people and older people, for example, need support in their own home or in the community—this is known as social care.

</p>