@{
    ViewBag.Title = "My industry or my interests";
    Layout = "_Layout-campaign";
    ViewBag.Section = "industry";
}

<div class="hero-banner">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <h1 class="heading-xl hero-heading__heading">My industry or my interests</h1>
            </div>           
        </div>
    </div>
    <span class="hero-banner__background hero-banner__background--industry"></span>
</div>

<div class="grid-row-full-width card__collection card__collection--industry">

    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/agriculture-environment-animal-care">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Agriculture, environment &amp; animal care</h2>
                <p class="card__summary">Take a look if you enjoy working outside, with animals or feel passionate about environmental issues.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/business-administration">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Business &amp; administration</h2>
                <p class="card__summary">If you successfully finish an apprenticeship in this sector it can lead to careers in every sort of industry or business.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/care-services">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Care services</h2>
                <p class="card__summary">The NHS is the largest employer in this sector.  However, there are other careers that help those vulnerable in the community - this is known as social care.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/catering-hospitality">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Catering &amp; hospitality</h2>
                <p class="card__summary">Follow in the steps of Jamie Oliver or Gordon Ramsay or perhaps you want to work 'front of house' servicing guests.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>

</div>
<div class="grid-row-full-width card__collection card__collection--industry">

    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/construction">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Construction</h2>
                <p class="card__summary">This is a multi-billion pound industry that covers a range of traditional and specialist apprenticeships from civil engineering to joinery.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/creative-design">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Creative &amp; design</h2>
                <p class="card__summary">An apprenticeship in this sector could find the new Stella McCartney or Sir Ian McKellen.  If you have a flair for anything creative, then look no further. </p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/digital">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Digital</h2>
                <p class="card__summary">Apprenticeships in digital span a huge range of careers. This sector offers skills that can easily be used in other industries.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/education-childcare">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Education &amp; childcare</h2>
                <p class="card__summary">If you can see yourself helping children and young people develop the skills they need to flourish this sector is for you.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>

</div>
<div class="grid-row-full-width card__collection card__collection--industry">

    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/engineering-manufacturing">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Engineering &amp; manufacturing</h2>
                <p class="card__summary">Manufacturing deals and producing things on an industrial scale, whilst engineering is about making things work.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/hair-beauty">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Hair &amp; beauty</h2>
                <p class="card__summary">Apprenticeships in this sector can result in places besides a high street salon or spa.  It could lead to film and TV sets! </p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/health-science">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Health &amp; science</h2>
                <p class="card__summary">These apprenticehsips offer the training to go into a range of science and research-based careers including chemical and pharmaceutical businesses, biotechnology and nuclear manufacturing.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/legal-finance-accounting">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Legal, finance &amp; accounting</h2>
                <p class="card__summary">Companies big and small need teams of people to look after their finances, legal affairs and books.  You could move into most businesses with an apprenticeship in this sector.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>

</div>
<div class="grid-row-full-width card__collection card__collection--industry">

    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/protective-services">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Protective services</h2>
                <p class="card__summary">These apprenticeships cover careers such as fire services, police, waste management and includes HM Armed Services.  </p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/sales-marketing-procurement">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Sales, marketing &amp; procurement</h2>
                <p class="card__summary">This sector ranges from retail and customer services to digital marketing.  Many local and national employers are involved in apprenticeships in this sector.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/industries/transport-logistics">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Transport &amp; logistics</h2>
                <p class="card__summary">These apprenticeships are essential for the smooth running of all our public transport networks - from aviation to coach travel.  Logistics careers make sure products show up at the right place, at the right time.</p>
                <p class="card__link">Show me more</p>
            </div>
        </a>
    </div>
  

</div>