@{
    ViewBag.Title = "Legal, finance & accounting";
    ViewBag.MetaTitle = "Legal, finance & accounting";
    ViewBag.MetaDesc = "Apprenticeships in legal, finance and accounting can open up all kinds of careers.  Companies need help with their tax bills and employees need to be paid on time. ";
    ViewBag.PageID = "industry-legal-finance-accounting";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Almost every business is set up to make money, and it’s something that requires careful planning and attention. </p>
<p>Companies big and small need teams of people to look after their finances: who to pay, who owes them money and so on. They need help to sort out their tax bills and make sure employees get paid on time, while making them as profitable as possible. And not just businesses: from the student taking out a loan to the retired pensioner, everyone needs financial advice at some stage.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes</dt>
    <dd>Job title</dd>
    <dd>Job title</dd>
    <dd>Job title</dd>
</dl>