@{
    ViewBag.Title = "Legal, finance and accounting";
    ViewBag.MetaTitle = "Legal, finance and accounting";
    ViewBag.MetaDesc = "Apprenticeships in legal, finance and accounting can open up all kinds of careers.  Companies need help with their tax bills and employees need to be paid on time. ";
    ViewBag.PageID = "industry-legal-finance-accounting";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Companies big and small need teams of people to look after their finances: who to pay, who owes them money, how to invest and how to grow. 
</p>
<p>
    These companies also need help to sort out their tax affairs and make sure employees get paid on time, while making them as profitable as possible. And not just businesses: from the student taking out a loan to the retired pensioner, everyone needs financial advice at some stage. 
</p>
<p>You can specialise too, as smaller legal and accountancy firms focus on one particular industry or area, for example marine or property law, or freelance and small business accountancy.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Professional accounting / taxation technician</dd>
    <dd>Credit controller / collector</dd>
    <dd>Mortgage adviser</dd>
</dl>