@{
    ViewBag.Title = "Legal, finance and accounting";
    ViewBag.MetaTitle = "Discover apprenticeships available in legal, finance and accountancy";
    ViewBag.MetaDesc = "Apprenticeships in legal, finance and accounting can open up all kinds of careers.  Companies need help with their tax bills and employees need to be paid on time. ";
    ViewBag.PageID = "industry-legal-finance-accounting";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Student reads a book in the library";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Legal-finance-and-accounting";

}
<p class="lead-paragraph">
    Companies big and small need teams of people to look after their finances: who to pay, who owes them money, how to invest and how to grow.
</p>
<p>
    These companies also need help to sort out their tax affairs and make sure employees get paid on time, while making them as profitable as possible. And not just businesses. From the student taking out a loan to the retired pensioner, everyone needs financial advice at some stage.
</p>
<p>
    You can specialise too, as smaller legal and accountancy firms focus on one particular industry or area, for example marine or property law, or freelance and small business accountancy.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Professional accounting / taxation technician</dd>
    <dd>Credit controller / collector</dd>
    <dd>Mortgage adviser</dd>
</dl>

@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">
                        Turbo charge your experience with on-the-job learning
                    </h3>
                    <p>
                        When I completed my A-levels I was not prepared to go to university. I felt (and still believe) that an apprenticeship would be an excellent way of gaining valuable hands-on experience for my chosen career path.

                    </p>
                    <p>
                        It's been an excellent way to kick-off my career in the legal sector. An apprenticeship was the perfect choice for me because not only was I continuing with my academic development, but the apprenticeship has also presented me with the opportunity to gain valuable experience working in the legal sector.

                    </p>
                    <p>
                        This appealed to me a great deal because I had already learnt to balance working and studying while I was at college, and I was not prepared to give either of them up. I also enjoyed the academic as well as financial benefits gained from doing an apprenticeship.

                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        It's an excellent way to kick-off my career in the legal sector. An apprenticeship was the perfect choice for me because not only was I continuing with my academic development but the apprenticeship would also present me with the opportunity to gain valuable experience working in the legal sector.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Florence Lungu, 21</span>
                        <span class="quote-box__cite-role">Cilex Chartered Legal Executive Apprenticeship</span>
                        <span class="quote-box__cite-source">
                            Womble Bond Dickinson
                            (UK) LLP
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}