@{
    ViewBag.Title = "Legal, finance and accounting";
    ViewBag.MetaTitle = "Discover apprenticeships available in legal, finance and accountancy";
    ViewBag.MetaDesc = "Apprenticeships in legal, finance and accounting can open up all kinds of careers.  Companies need help with their tax bills and employees need to be paid on time. ";
    ViewBag.PageID = "industry-legal-finance-accounting";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Student reads a book in the library";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Legal-finance-and-accounting";

}
<p class="lead-paragraph">
    Companies big and small need teams of people to look after their finances: who to pay, who owes them money, how to invest and how to grow.
</p>
<p>
    These companies also need help to sort out their tax affairs and make sure employees get paid on time, while making them as profitable as possible. And not just businesses. From the student taking out a loan to the retired pensioner, everyone needs financial advice at some stage.
</p>
<p>
    You can specialise too, as smaller legal and accountancy firms focus on one particular industry or area, for example marine or property law, or freelance and small business accountancy.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Professional accounting / taxation technician</dd>
    <dd>Credit controller / collector</dd>
    <dd>Mortgage adviser</dd>
</dl>

@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                It's an excellent way to kick-off my career in the legal sector. An apprenticeship was the perfect choice for me because not only was I continuing with my academic development but the apprenticeship would also present me with the opportunity to gain valuable experience working in the legal sector.
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Florence Lungu, 21  </span>
                <span class="quote-hero__cite-role">
                    Cilex Chartered Legal Executive Apprenticeship
                </span>
                <span class="quote-hero__cite-source">Womble Bond Dickinson (UK) LLP  </span>
            </figcaption>
        </figure>
    </div>
}