@{
    ViewBag.Title = "Protective services";
    ViewBag.MetaTitle = "Protective services";
    ViewBag.MetaDesc = "Apprenticeships in the police, fire services, HM Armed Services.  More specialised roles could be humanitarian and peacekeeping.  ";
    ViewBag.PageID = "industry-protective-services";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Protective services are all about keeping things safe - people, businesses and communities. 
</p>
<p>Which means fire services, waste management, police and all those other things which help make our society a better place.</p>
<p>It also includes HM Armed Services and countless roles like Naval warfare rating, Royal Marines general duties rifleman, Army infantryman or RAF regiment gunner. All of which involve general or more specialised duties which could be in aggressive, peacekeeping or humanitarian roles.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>HM Forces serviceperson (public services)</dd>
    <dd>Business Fire Safety Advisor</dd>
    <dd>Custody & Detention Officer</dd>
</dl>

@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                My apprenticeship will give me the best stepping stone to become a highly trained firefighter, with regular assessments and development days
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Claire Lester </span>
                <span class="quote-hero__cite-source">Staffordshire Fire and Rescue </span>
            </figcaption>
        </figure>
    </div>
}