@{
    ViewBag.Title = "Protective services";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    Protective services are often things we take for granted, but couldn’t cope without—fire services, waste management, police and all those other things which help make our society a better place.
</p>
<p>
    It also includes HM Armed Services and countless roles like Naval warfare rating, Royal Marines general duties rifleman, Army infantryman or RAF regiment gunner. All of which involve general or more specialised duties which could be in aggressive, peacekeeping or humanitarian roles.
</p>