@{
    ViewBag.Title = "Protective services";
    ViewBag.MetaTitle = "Protective services";
    ViewBag.MetaDesc = "Apprenticeships in the police, fire services, HM Armed Services.  More specialised roles could be humanitarian and peacekeeping.  ";
    ViewBag.PageID = "industry-protective-services";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Protective services are often things we take for granted, but couldn’t cope without—fire services, waste management, police and all those other things which help make our society a better place.
</p>
<p>
    It also includes HM Armed Services and countless roles like Naval warfare rating, Royal Marines general duties rifleman, Army infantryman or RAF regiment gunner. All of which involve general or more specialised duties which could be in aggressive, peacekeeping or humanitarian roles.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes</dt>
    <dd>Job title</dd>
    <dd>Job title</dd>
    <dd>Job title</dd>
</dl>