@{
    ViewBag.Title = "Protective services";
    ViewBag.MetaTitle = "Find apprenticeships in the armed services or become a fire safety officer";
    ViewBag.MetaDesc = "Apprenticeships in the police, fire services, HM Armed Services.  More specialised roles could be humanitarian and peacekeeping.  ";
    ViewBag.PageID = "industry-protective-services";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Firefighter with mask and protective clothing";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Protective services are all about keeping things safe - people, businesses and communities.
</p>
<p>Which means fire services, waste management, police and all those other things which help make our society a better place.</p>
<p>
    It also includes HM Armed Services. The UK Armed Forces are one of the biggest providers of apprenticeships in the country, training apprentices in a large range of different roles and professions. Members of the Armed Forces can learn engineering on a aircraft carrier, qualify in logistics while sending humanitarian aid to disaster-stricken nations, or become a communications specialist monitoring cyber space.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>HM Forces serviceperson (public services)</dd>
    <dd>Business Fire Safety Advisor</dd>
    <dd>Custody & Detention Officer</dd>
</dl>

@section QuoteHero {
    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">A stepping-stone to a professional career</h3>
                    <p>
                        I had applied for a different brigade prior to obtaining my position in Staffordshire. I spoke to local firefighters and had taken part in several have-a-go days for different brigades. I was very disappointed at not making it through the process previously, so I was very keen to find a suitable brigade.

                    </p>
                    <p>
                        I looked online and came across Staffordshire. I understood it was an apprenticeship but it would still guarantee full time service after the training. I found this refreshing and something I was very interested in. I continued to speak to a few contacts I had in other brigades but they varied in their style of recruitment.

                    </p>
                    <p>
                        I had an affinity with Staffordshire Fire and Rescue Service. I felt I could adopt their ways and the morals they stand by as a brigade. I searched through the Internet and social media to try and obtain as much information about the brigade as possible and give myself the best opportunity at being recruited.

                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        My apprenticeship will give me the best stepping stone to become a highly trained firefighter, with regular assessments and development days.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Claire Lester, 25</span>
                        <span class="quote-box__cite-role">Operational Firefighter Apprentice</span>
                        <span class="quote-box__cite-source">
                            Staffordshire Fire
                            and Rescue
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
}