@{
    ViewBag.Title = "Protective services";
    ViewBag.MetaTitle = "Find apprenticeships in the armed services or become a fire safety officer";
    ViewBag.MetaDesc = "Apprenticeships in the police, fire services, HM Armed Services.  More specialised roles could be humanitarian and peacekeeping.  ";
    ViewBag.PageID = "industry-protective-services";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "Firefighter with mask and protective clothing";
    Layout = "_LayoutIndustry";
}
<p class="lead-paragraph">
    Protective services are all about keeping things safe - people, businesses and communities.
</p>
<p>Which means fire services, waste management, police and all those other things which help make our society a better place.</p>
<p>
    It also includes HM Armed Services. The UK Armed Forces are one of the biggest providers of apprenticeships in the country, training apprentices in a large range of different roles and professions. Members of the Armed Forces can learn engineering on a aircraft carrier, qualify in logistics while sending humanitarian aid to disaster-stricken nations, or become a communications specialist monitoring cyber space.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>HM Forces serviceperson (public services)</dd>
    <dd>Business Fire Safety Advisor</dd>
    <dd>Custody & Detention Officer</dd>
</dl>

@section QuoteHero {
    <div class="section section--slant section--apprentice">
        <figure class="quote-hero quote-hero--apprentice">
            <blockquote class="quote-hero__quote">
                The range of apprenticeships available today gave me an idea of how individuals can branch out to better their future. My apprenticeship gives me the best stepping-stone to becoming a highly trained firefighter with regular assessments and development days.
            </blockquote>
            <figcaption class="quote-hero__cite">
                <span class="quote-hero__cite-person">Claire Lester </span>
                <span class="quote-hero__cite-role">
                    Operational Firefighter Apprentice
                </span>
                <span class="quote-hero__cite-source">Staffordshire Fire and Rescue </span>
            </figcaption>
        </figure>
    </div>
}