@{
    ViewBag.Title = "Sales, marketing & procurement";
    ViewBag.MetaTitle = "Sales, marketing & procurement";
    ViewBag.MetaDesc = "Apprenticeships in marketing and procurement helps lead to careers in marketing, social and digital media.  ";
    ViewBag.PageID = "industry-sales-marketing-procurement";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}
<p>
    All businesses need to find new customers and persuade them to buy things. Otherwise, companies would go out of business. This is where sales and marketing comes in: finding the needs and wants of people, developing something that meets that need and creating a desire for it.
</p>
<p>
    With the huge growth in social and digital media, digital marketing is now a key part of the strategy for most businesses, helping them to increase their presence through the Internet.
</p>