@{
    ViewBag.Title = "Sales, marketing and procurement";
    ViewBag.MetaTitle = "Marketing and sales offer many apprenticeships";
    ViewBag.MetaDesc = "Apprenticeships in marketing and procurement helps lead to careers in marketing, social and digital media.  ";
    ViewBag.PageID = "industry-sales-marketing-procurement";
    ViewBag.Section = "industry";
    ViewBag.HeroImageAltText = "People look over photography contact sheets";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Sales-marketing-and-procurement";

}
<p class="lead-paragraph">
    All businesses need to find new customers and persuade them to buy things. Otherwise, companies would go out of business.
</p>
<p>This is where sales and marketing comes in: finding the needs and wants of people, developing something that meets that need and creating a desire for it.</p>
<p>
    With the huge growth in social and digital media, digital marketing is now a key part of the strategy for most businesses, helping them to increase their presence both online and out in the real world.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Travel consultant</dd>
    <dd>Fishmonger</dd>
    <dd>Customer service practitioner</dd>
</dl>