@{
    ViewBag.Title = "Transport and logistics";
    ViewBag.MetaTitle = "Transport and logistics";
    ViewBag.MetaDesc = "An apprenticeship in transport and logistics can lead to careers in the passenger transport industry - from aviation to rail, bus to coach.";
    ViewBag.PageID = "industry-transport-logistics";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p class="lead-paragraph">
    Transport and logistics plays an essential role in all our lives. 
</p>
<p>The passenger transport industry employs hundreds of thousands of people in order to 
    run, drive, and support transport and travel, 
    from aviation to rail and bus to coach.
</p>

<p>Meanwhile, logistics is essential in making sure the right amount of a product shows 
    up at the right place at the right time. It deals with a range of functions, such as 
    inventory management, warehousing, distribution, transportation and customer service.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Rail Infrastructure Operator</dd>
    <dd>Passenger transport driver - bus, coach and tram</dd>
    <dd>Cabin Crew</dd>
</dl>