@{
    ViewBag.Title = "Transport & logistics";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "industry";
    Layout = "_LayoutIndustry";
}

<p>
    Transport and logistics play an essential role in all our lives. The passenger transport industry employs hundreds of thousands of people in order to run, drive, and support transport and travel, from aviation to rail and bus to coach.
</p>
<p>
    Meanwhile, logistics is essential in making sure the right amount of a product shows up at the right place at the right time. It deals with a range of functions, such as inventory management, warehousing, distribution, transportation and customer service.
</p>