@using System.Web
@using Sfa.Das.Sas.Shared.Components.ViewModels
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProviderDetailQueryViewModel

@{
    ViewBag.Title = "TRAINING PROVIDER RESULTS";
    ViewBag.MetaTitle = "TRAINING PROVIDER RESULTS";
    ViewBag.PageID = "employer-find-an-apprenticeship";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    ViewBag.PageUrl = "/TrainingProvider/Details?ukprn=" + HttpUtility.UrlEncode(Context.Request.Query["ukprn"]) + "&apprenticeshipId=" + HttpUtility.UrlEncode(Context.Request.Query["apprenticeshipId"]) + "&LocationId=" + HttpUtility.UrlEncode(Context.Request.Query["LocationId"]) + "&postCode=" + HttpUtility.UrlEncode(Context.Request.Query["postCode"]);
    Layout = "_LayoutContentFull";
    ViewBag.PageNavIndex = 3;

}
@section HeroHeading {
    @await Component.InvokeAsync("TrainingProviderHeading", new { detailsQueryModel = Model })
}

<div class="grid-row">
    <div class="grid-column-one-third grid-column--pull-right">
        <div class="sidebar-panel sidebar-panel--employer">
            <div class="sidebar-panel__content">
                
                @await Component.InvokeAsync("TrainingProviderDetails", new { searchQueryModel = Model, ViewType = ViewType.Contact })
            </div>
        </div>
    </div>
    <div class="grid-column-two-thirds">
        <div class="page">
            <h2 class="heading-l u!-margin-Top-0">Training Information</h2>

            @await Component.InvokeAsync("TrainingProviderDetails", new { searchQueryModel = Model, ViewType = ViewType.Summary })
            @await Component.InvokeAsync("TrainingProviderDetails", new { searchQueryModel = Model })

            @if (!string.IsNullOrEmpty(Model.PostCode))
            {
                @await Component.InvokeAsync("ClosestLocations", new { Model.ApprenticeshipId, Model.Ukprn, Model.PostCode })
            }
            <hr class="section-break">
            <form asp-controller="Basket" asp-action="AddProviderFromDetails" method="post">
                <input type="hidden" asp-for="@Model.ApprenticeshipId" />
                <input type="hidden" asp-for="@Model.LocationId" />
                <input type="hidden" asp-for="@Model.Page" />
                <input type="hidden" asp-for="@Model.Ukprn" />
                <div class="form-group">
                    @await Component.InvokeAsync("AddOrRemoveFromBasket", new { apprenticeshipId = Model.ApprenticeshipId, ukprn = Model.Ukprn, locationId = Model.LocationId })
                </div>
            </form>
        </div>
    </div>
</div>

