@using System.Web
@using Sfa.Das.Sas.Shared.Components.ViewModels
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProviderDetailQueryViewModel

@{
    ViewBag.Title = "TRAINING PROVIDER RESULTS";
    ViewBag.MetaTitle = "TRAINING PROVIDER RESULTS";
    ViewBag.PageID = "employer-find-an-apprenticeship";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    ViewBag.PageUrl = "/TrainingProvider/Details?ukprn=" + HttpUtility.UrlEncode(Context.Request.Query["ukprn"]) + "&apprenticeshipId=" + HttpUtility.UrlEncode(Context.Request.Query["apprenticeshipId"]) + "&LocationId=" + HttpUtility.UrlEncode(Context.Request.Query["LocationId"]) + "&postCode=" + HttpUtility.UrlEncode(Context.Request.Query["postCode"]);
    Layout = "Redesign_Layout_EmployersHub";
    ViewBag.PageNavIndex = 3;

}

<section class="fiu-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @await Component.InvokeAsync("TrainingProviderDetails", new { searchQueryModel = Model, ViewType = ViewType.Summary })

            @await Component.InvokeAsync("TrainingProviderDetails", new { searchQueryModel = Model })

        </div>

        <div class="govuk-grid-column-one-third">

            <div class="fiu-panel fiu-panel--left-align fiu-panel--min-padding">

                @await Component.InvokeAsync("TrainingProviderDetails", new { searchQueryModel = Model, ViewType = ViewType.Contact })

            </div>

        </div>
    </div>
</section>

<div class="fiu-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="fiu-section-break fiu-section-break--l">
    </div>
  </div>
</div>

<section class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


move to here >>>




            @if (!string.IsNullOrEmpty(Model.PostCode))
            {
                @await Component.InvokeAsync("ClosestLocations", new { Model.ApprenticeshipId, Model.Ukprn, Model.PostCode })
            }


        </div>
    </div>
</section>

<div class="fiu-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="fiu-section-break fiu-section-break--l">
    </div>
  </div>
</div>
