@using Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.SearchResults;
@model Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search.TrainingProviderSearchViewModel
@{
    ViewBag.Title = "TRAINING PROVIDER RESULTS";
    ViewBag.MetaTitle = "TRAINING PROVIDER RESULTS";
    ViewBag.PageID = "employer-find-an-apprenticeship";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 3;

}
@section HeroHeading {
    @await Component.InvokeAsync("TrainingProviderHeading", new { queryModel = Model })
}


@await Component.InvokeAsync("TrainingProviderSearchResults", new { searchQueryModel = Model })


@section Sidebar{
    <div class="sidebar sidebar_fixed-170 sidebar--employer">
        <div class="sidebar__hero">
            <section class="sidebar__hero--employer">
                @await Component.InvokeAsync("TrainingProviderSearchFilter", new { searchQueryModel = Model })
            </section>
        </div>
    </div>
}