@using Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.SearchResults;
@model Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search.TrainingProviderSearchViewModel
@{
    ViewBag.Title = "Training provider results";
    ViewBag.MetaTitle = "Training provider results";
    ViewBag.PageID = "employer-find-an-apprenticeship";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 3;

}

@section HeroHeading {
    @await Component.InvokeAsync("TrainingProviderHeading", new { queryModel = Model, title = ViewBag.Title })
}


@await Component.InvokeAsync("TrainingProviderSearchResults", new { searchQueryModel = Model })


@section Sidebar{
    <div class="sidebar-panel sidebar-panel--employer sidebar-panel--provider-search">
        <div class="sidebar-panel__content">
            <h2 class="heading-m u-!-margin-top-0">Find a training provider for this apprenticeship</h2>
            @await Component.InvokeAsync("TrainingProviderSearch", new { apprenticeshipId = Model.ApprenticeshipId })
            @await Component.InvokeAsync("TrainingProviderSearchFilter", new { searchQueryModel = Model })
        </div>
    </div>

}