@using System.Web
@using Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.SearchResults;
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Search.TrainingProviderSearchViewModel
@{
    ViewBag.Title = "Find a training provider - Results";
    ViewBag.HidePageHeader = true;
    Layout = "Redesign_Layout_EmployersHub"; 
}

<div class="fiu-page-header">
    <div class="fiu-width-container">
        <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
            <a asp-controller="Employer" asp-action="FindApprenticeshipTraining" class="govuk-back-link govuk-breadcrumbs__link">Back</a>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                <h1 class="govuk-heading-xl fiu-page-heading__title ">
                    <span class="govuk-caption-xl">Find a training provider</span>
                    Results
                </h1>
                @await Component.InvokeAsync("TrainingProviderSearch", new { apprenticeshipId = Model.ApprenticeshipId, inline = true })
                <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("TrainingProviderSearchFilter", new { searchQueryModel = Model })

<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Component.InvokeAsync("TrainingProviderSearchResults", new { searchQueryModel = Model })
        </div>
    </div>
</div>