@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.Extensions
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Details.TrainingProviderDetailsViewModel
@inject ICssViewModel CssViewModel

<article class="fiu-article">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">About the apprenticeship</h2>

    @Html.MarkdownToHtml(Model.AboutApprenticeshipInfo)

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Provider information</h2>

    @Html.MarkdownToHtml(Model.MarketingInfo)

    @if (Model.NationalProvider == true)
    {
        <p>
            <span class="fiu-tag fiu-tag--national">National<span class="fiu-vh">:</span></span> This training provider is willing to offer apprenticeship training across England.
        </p>
    }
</article>
