@model SFA.DAS.Campaign.Web.ViewComponents.ApprenticeshipHeadingViewModel

<div class="hero" data-module="smoothScroll">
    <div class="grid-row">
        <div class="grid-column-one-half">

            @{

                var titleModifierClass = "";

                if (Model.Title.Length > 20)
                {
                    titleModifierClass = "hero-heading__heading-l";
                }
                if (Model.Title.Length > 40)
                {
                    titleModifierClass = "hero-heading__heading-m";
                }
            }

            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--employer">Search apprenticeships  <span class="hero-heading__caption-separator">&gt;</span>  @Model.Title</span>
                <h1 class="heading-xl hero-heading__heading @titleModifierClass">@Model.Title</h1>
            </div>

            <p>@Model.Overview</p>

        </div>
    </div>
</div>