<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="SettingItUp">Setting up</a>
    </span>
    <h3 class="fiu-card__heading">How to choose the right apprenticeship training</h3>
    <p class="fiu-card__content">There are hundreds of apprenticeships to choose from. They offer flexible, but structured training, that meet your needs as an employer.</p>
    <a href="/employers/choose-apprenticeship-training" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-8">Learn more <span class="fiu-vh">about choosing the right apprenticeship training</span></a>
</div>