<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Financial incentives for employers</h3>
    <p class="fiu-card__content">Employers who hire a new apprentice can claim financial incentives from the government.</p>
    <a href="/employers/financial-incentives" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-lp2-card-6">Learn more <span class="fiu-vh">about financial incentives</span></a>
</div>