<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Funding an apprenticeship</h3>
    <p class="fiu-card__content">Are you a levy or non-levy employer? Answer a simple question to discover your business type and how funding will work for your organisation.</p>
    <a asp-controller="FundingAnApprenticeship" asp-action="Index" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-5">Learn more <span class="fiu-vh">about funding an apprenticeship</span></a>
</div>