
@{
    ViewBag.Title = "Find apprenticeship training";
    ViewBag.HidePageHeader = true;
    Layout = "Redesign_Layout_EmployersHub";
}

@await Component.InvokeAsync("ApprenticeshipHeading", new { queryModel = Model })

<span class="fiu-header-content-spacer"></span>

<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Component.InvokeAsync("ApprenticeshipDetails", new { queryModel = Model })
        </div>
        <div class="govuk-grid-column-one-third">
            @await Component.InvokeAsync("TrainingProviderSearch", new { apprenticeshipId = Model.Id })
        </div>
    </div>
</div>