@{
    ViewBag.Title = "Find apprenticeship training";
    ViewBag.MetaTitle = "Find an apprenticeship";
    ViewBag.PageID = "employer-find-an-apprenticeship";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentFull";
    ViewBag.PageNavIndex = 3;
}
<h1>Search Results</h1>


@{
    foreach (var apprenticeshipSearchResultsItem in Model.Results)
    {
        <h1>@apprenticeshipSearchResultsItem.Title</h1>
    }
}