
@using System.Web
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@using Sfa.Das.Sas.Shared.Components.ViewModels.Fat.SearchResults
@using Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.SearchResults;
@inject Sfa.Das.Sas.Shared.Components.Orchestrators.IFatOrchestrator _fat;

@{
    FatSearchResultsViewModel searchResults = await _fat.GetSearchResults(Model);

    ViewBag.Title = "Search for an apprenticeship - Results";
    ViewBag.HidePageHeader = true;
    Layout = "Redesign_Layout_EmployersHub"; 
}

<div class="fiu-page-header">
    <div class="fiu-width-container">
        <div class="govuk-breadcrumbs fiu-page-header__breadcrumbs">
            <a asp-controller="Employer" asp-action="FindApprenticeshipTraining" class="govuk-back-link govuk-breadcrumbs__link">Back</a>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                <h1 class="govuk-heading-xl fiu-page-heading__title ">
                    <span class="govuk-caption-xl">Search for an apprenticeship</span>
                    Results
                </h1>
                @await Component.InvokeAsync("FatSearch", new { fatSearchRoute = "/employer/find-apprenticeships", inline = true })
                <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
            </div>
        </div>
    </div>
</div>

@if(searchResults.TotalResults > 0) {
    <div class="fiu-search-filter">
        <div class="fiu-width-container">
            @await Component.InvokeAsync("FatSearchFilter", new { searchQueryModel = Model })
        </div>
    </div>
    <span class="fiu-header-content-spacer--grey"></span>
} else {
    <span class="fiu-header-content-spacer"></span>
}

<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @await Component.InvokeAsync("FatSearchResults", new { searchQueryModel = Model })
        </div>
    </div>
</div>