@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewComponents.Basket.AddOrRemoveFromBasketViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICssViewModel CssViewModel

@{
    var buttonStatusClassSuffix = Model.IsInBasket ? "checked" : "unchecked";
    var buttonText = Model.IsInBasket ? "Remove from favourites" : "Add to favourites";
}

@if (Model.LocationId.HasValue)
{
    <button type="submit" class="das-search-result__favourite-button--@buttonStatusClassSuffix" name="itemId" value="@Model.ItemId,@Model.LocationId">
        @buttonText
    </button>
}
else
{
    <button type="submit" class="das-search-result__favourite-button--@buttonStatusClassSuffix" name="itemId" value="@Model.ItemId">
        @buttonText
    </button>
}


