@{
    ViewBag.Title = "Employer guides";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "Employer guides";
    ViewBag.PageSummary = "Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    ViewBag.HeadingImage = "apprentice-hozanna.jpg";
    ViewBag.LandingPageSlug = "employer-guides";
    ViewBag.LandingPageTitle = "Employer guides";
}

<div class="fiu-width-container govuk-!-margin-top-4">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

            <div class="fiu-guides-panel fiu-guides-panel--pdf">
                <h2 class="fiu-guides-panel__heading">7 reasons to embrace apprenticeships</h2>

                <span class="fiu-guides-panel__spec">
                    <abbr>PDF</abbr> &vert; 943 <abbr>KB</abbr>
                </span>

                <p class="govuk-body">From opportunities to upskill employees to flexible training options, here are 7 reasons to take on an apprentice.</p>

                <a href="https://www.apprenticeships.gov.uk/downloads/PDF-1-7-reasons-to-embrace-apprenticeships.pdf" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="fiu-vh">- the 7 reasons to embrace apprenticeships -</span> guide</a>
            </div>

            <div class="fiu-guides-panel fiu-guides-panel--pdf">
                <h2 class="fiu-guides-panel__heading">How does off-the-job training work</h2>

                <span class="fiu-guides-panel__spec">
                    <abbr>PDF</abbr> &vert; 877 <abbr>KB</abbr>
                </span>

                <p class="govuk-body">Off-the-job training enhances your apprentice's productivity and the impact they can make. Find out how it works in practice.</p>

                <a href="https://www.apprenticeships.gov.uk/downloads/PDF-4-How-does-off-the-job-training-work.pdf" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="fiu-vh">- How does off-the-job training work -</span> guide</a>
            </div>

            <div class="fiu-guides-panel fiu-guides-panel--pdf">
                <h2 class="fiu-guides-panel__heading">An employers guide to higher degree apprenticeships</h2>

                <span class="fiu-guides-panel__spec">
                    <abbr>PDF</abbr> &vert; 1047 <abbr>KB</abbr>
                </span>

                <p class="govuk-body">Off-the-job training enhances your apprentice's productivity and the impact they can make. Find out how it works in practice.</p>

                <a href="https://www.apprenticeships.gov.uk/downloads/PDF-5-An-employers-guide-to-higher-and-degree-apprenticeships.pdf" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="fiu-vh">- An employers guide to higher degree apprenticeships -</span> guide</a>
            </div>

            <div class="fiu-guides-panel fiu-guides-panel--pdf">
                <h2 class="fiu-guides-panel__heading">Why are Standards replacing frameworks</h2>

                <span class="fiu-guides-panel__spec">
                    <abbr>PDF</abbr> &vert; 839 <abbr>KB</abbr>
                </span>

                <p class="govuk-body">From the start of the 2020/21 academic year, standards will completely replace frameworks. Find out why we're making the switch.</p>

                <a href="https://www.apprenticeships.gov.uk/downloads/PDF-2-Why-are-standards-replacing-frameworks.pdf" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="fiu-vh">- Why are Standards replacing frameworks -</span> guide</a>
            </div>

            <div class="fiu-guides-panel fiu-guides-panel--pdf">
                <h2 class="fiu-guides-panel__heading">Your guide to developing new Standards</h2>

                <span class="fiu-guides-panel__spec">
                    <abbr>PDF</abbr> &vert; 983 <abbr>KB</abbr>
                </span>

                <p class="govuk-body">Each standard must be designed to ensure apprentices achieve full occupational competence - and who's better equipped for the job than employers like you?</p>

                <a href="https://www.apprenticeships.gov.uk/downloads/PDF-6-Your-guide-to-developing-new-standards.pdf" class="fiu-link fiu-link--employers fiu-guides-panel__link">Download <span class="fiu-vh">- Your guide to developing new Standards -</span> guide</a>
            </div>

        </div>
        <div class="govuk-grid-column-one-half">
            <partial name="Redesign/_SearchForAnApprenticeship"/>

            <partial name="Redesign/_RegisterInterestEmployerMed"/>

            <partial name="Redesign/_GetFreeHelpAndSupport"/>
        </div>
    </div>

    <hr class="fiu-section-break fiu-section-break--l">

</div>

