@{
    ViewBag.Title = "Employer guides";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "Employer guides";
    ViewBag.PageSummary = "Take a look at information on all things apprenticeships including reasons to employ an apprentice, guides to off-the-job training and degree and higher apprenticeships. ";
    ViewBag.HeadingImage = "apprentice-hozanna.jpg";
    ViewBag.LandingPageSlug = "employer-guides";
    ViewBag.LandingPageTitle = "Employer guides";
}

<div class="fiu-grad-row">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="fiu-attachment">
                    <h2 class="govuk-heading-m fiu-attachment__heading">7 reasons to embrace apprenticeships</h2>
                    <dl class="fiu-attachment__meta">
                        <dt class="fiu-attachment__meta-title">File type</dt>
                        <dd class="fiu-attachment__meta-description"><abbr>PDF</abbr></dd>
                        <dt class="fiu-attachment__meta-title">File size</dt>
                        <dd class="fiu-attachment__meta-description">943 <abbr>KB</abbr></dd>
                    </dl>
                    <p class="govuk-body fiu-attachment__description">
                        From opportunities to upskill employees to flexible training options, here are 7 reasons to take on an apprentice.
                    </p>
                    <p class="govuk-body fiu-attachment__link-wrap"><a href="https://www.apprenticeships.gov.uk/downloads/PDF-1-7-reasons-to-embrace-apprenticeships.pdf" class="fiu-link fiu-link--employers">Download <span class="fiu-vh">- the 7 reasons to embrace apprenticeships -</span> guide</a></p>
                    <span class="fiu-attachment__icon">
                        <span class="fiu-attachment__icon-label">PDF</span>
                    </span>
                </div>
                <div class="fiu-attachment">
                    <h2 class="govuk-heading-m fiu-attachment__heading">How does off-the-job training work</h2>
                    <dl class="fiu-attachment__meta">
                        <dt class="fiu-attachment__meta-title">File type</dt>
                        <dd class="fiu-attachment__meta-description"><abbr>PDF</abbr></dd>
                        <dt class="fiu-attachment__meta-title">File size</dt>
                        <dd class="fiu-attachment__meta-description">877 <abbr>KB</abbr></dd>
                    </dl>
                    <p class="govuk-body fiu-attachment__description">
                        Off-the-job training enhances your apprentice's productivity and the impact they can make. Find out how it works in practice.
                    </p>
                    <p class="govuk-body fiu-attachment__link-wrap"><a href="https://www.apprenticeships.gov.uk/downloads/PDF-4-How-does-off-the-job-training-work.pdf" class="fiu-link fiu-link--employers">Download <span class="fiu-vh">- How does off-the-job training work -</span> guide</a></p>
                    <span class="fiu-attachment__icon">
                        <span class="fiu-attachment__icon-label">PDF</span>
                    </span>
                </div>
                <div class="fiu-attachment">
                    <h2 class="govuk-heading-m fiu-attachment__heading">An employers guide to higher degree apprenticeships</h2>
                    <dl class="fiu-attachment__meta">
                        <dt class="fiu-attachment__meta-title">File type</dt>
                        <dd class="fiu-attachment__meta-description"><abbr>PDF</abbr></dd>
                        <dt class="fiu-attachment__meta-title">File size</dt>
                        <dd class="fiu-attachment__meta-description">1047 <abbr>KB</abbr></dd>
                    </dl>
                    <p class="govuk-body fiu-attachment__description">
                        Think apprenticeships are only suitable for 16-year-olds leaving school? It’s time to take another look. 
                    </p>
                    <p class="govuk-body fiu-attachment__link-wrap"><a href="https://www.apprenticeships.gov.uk/downloads/PDF-5-An-employers-guide-to-higher-and-degree-apprenticeships.pdf" class="fiu-link fiu-link--employers">Download <span class="fiu-vh">- An employers guide to higher degree apprenticeships -</span> guide</a></p>
                    <span class="fiu-attachment__icon">
                        <span class="fiu-attachment__icon-label">PDF</span>
                    </span>
                </div>
                <div class="fiu-attachment">
                    <h2 class="govuk-heading-m fiu-attachment__heading">Why are Standards replacing frameworks</h2>
                    <dl class="fiu-attachment__meta">
                        <dt class="fiu-attachment__meta-title">File type</dt>
                        <dd class="fiu-attachment__meta-description"><abbr>PDF</abbr></dd>
                        <dt class="fiu-attachment__meta-title">File size</dt>
                        <dd class="fiu-attachment__meta-description">839 <abbr>KB</abbr></dd>
                    </dl>
                    <p class="govuk-body fiu-attachment__description">
                        From the start of the 2020/21 academic year, standards will completely replace frameworks. Find out why we're making the switch.
                    </p>
                    <p class="govuk-body fiu-attachment__link-wrap"><a href="https://www.apprenticeships.gov.uk/downloads/PDF-2-Why-are-standards-replacing-frameworks.pdf" class="fiu-link fiu-link--employers">Download <span class="fiu-vh">- Why are Standards replacing frameworks -</span> guide</a></p>
                    <span class="fiu-attachment__icon">
                        <span class="fiu-attachment__icon-label">PDF</span>
                    </span>
                </div>
                <div class="fiu-attachment">
                    <h2 class="govuk-heading-m fiu-attachment__heading">Your guide to developing new Standards</h2>
                    <dl class="fiu-attachment__meta">
                        <dt class="fiu-attachment__meta-title">File type</dt>
                        <dd class="fiu-attachment__meta-description"><abbr>PDF</abbr></dd>
                        <dt class="fiu-attachment__meta-title">File size</dt>
                        <dd class="fiu-attachment__meta-description">983 <abbr>KB</abbr></dd>
                    </dl>
                    <p class="govuk-body fiu-attachment__description">
                        Each standard must be designed to ensure apprentices achieve full occupational competence - and who's better equipped for the job than employers like you?
                    </p>
                    <p class="govuk-body fiu-attachment__link-wrap"><a href="https://www.apprenticeships.gov.uk/downloads/PDF-2-Why-are-standards-replacing-frameworks.pdf" class="fiu-link fiu-link--employers">Download <span class="fiu-vh">- Your guide to developing new Standards -</span> guide</a></p>
                    <span class="fiu-attachment__icon">
                        <span class="fiu-attachment__icon-label">PDF</span>
                    </span>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_FindTheRightApprenticeship"/>
                <partial name="Redesign/_RegisterInterestEmployer"/>
                <partial name="Redesign/_GetSupportEmployer"/>
            </div>
        </div>
    </div>
</div>
