@use '../../shared' as *;

.fiu-card {
  @include fiu-typography-common;
  background: $white;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  color: $fiu-text-colour;
  text-decoration: none;
  border: 1px solid $fiu-border-colour;
  border-radius: $fiu-border-radius;

  &:focus {
    @include fiu-focused-block;
  }

  &:active, 
  &:hover {
    background: $fiu-apprentices-brand-colour;
    border-color: $fiu-apprentices-link-hover-colour;
    color: #fff;
  }

  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.fiu-card-group--employers {
  .fiu-card {
    &:active,
    &:hover {
      background: $fiu-employers-brand-colour;
      border-color: $fiu-employers-link-hover-colour;
    }
  }
}

.fiu-card__heading {
  margin: 0 0 0.7em 0;
  font-size: 20px;
  line-height: 1.1em;
  font-weight: $fiu-font-weight-bold;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1578em;
  @include govuk-media-query($from: tablet) {
    font-size: 18px;
  }
  @include govuk-media-query($from: $fiu-large-desktop-breakpoint) {
    font-size: 24px;
  }
}

.fiu-card {
  &:hover {
    .fiu-card__heading {
      text-decoration-thickness: 2px;
    }
  }
}

.fiu-card__content {
  @extend .govuk-body;
  @include fiu-typography-common;
  color: inherit;
}



.fiu-card-homepage {
  @extend .fiu-card;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 40px 20px 20px;

  .fiu-panel__tag {
    margin-bottom: 1rem;
  }
  
  &:hover {
    background: $fiu-apprentices-brand-colour;
    .fiu-panel__tag {
      color: $fiu-apprentices-brand-colour;
      background: #fff;
    }
  }
  
  &--employers {
    &:hover {
      background: $fiu-employers-brand-colour;
      .fiu-panel__tag {
        color: $fiu-employers-brand-colour;
        background: #fff;
      }
    }
  }
  
  .fiu-card__content {
    color: inherit;
  }
}


.fiu-card-group {
  margin-bottom: 2rem;
}