@model FindApprenticeshipSearchModel

<form asp-controller="FindApprenticeship" asp-action="UpdateSearch" class="fiu-inline-form">
    <div class="govuk-form-group fiu-inline-form-group govuk-!-width-one-half">
        <label for="header-route" class="govuk-label fiu-visually-hidden">Select an interest</label>
        <select class="govuk-select " asp-for="Route" data-val="true" data-val-required="The interest field is required." id="header-route" name="Route">
            <option selected disabled hidden>Select interest</option>
            @foreach (var route in Model.Routes)
            {
                <option value="@route.Replace(" ","-")">@route</option>    
            }
        </select>
    </div>
    <div class="govuk-form-group fiu-inline-form-group">
        <label for="header-postcode" class="govuk-label fiu-visually-hidden">Enter your postcode</label>
        <input type="text" class="govuk-input govuk-input--width-10" asp-for="Postcode" id="header-postcode" name="Postcode" autocomplete="postal-code" />
    </div>
    <div class="govuk-form-group fiu-visually-hidden">
        <label for="header-distance" class="govuk-label">Within</label>
        <select class="govuk-select" asp-for="Distance" data-val="true" data-val-required="The Distance field is required." id="header-distance" name="Distance">
            <option value="2">2 miles</option>
            <option value="5">5 miles</option>
            <option value="10">10 miles</option>
            <option value="15">15 miles</option>
            <option value="20">20 miles</option>
            <option value="30">30 miles</option>
            <option value="40" selected="selected">40 miles</option>
        </select>
    </div>
    <div class="govuk-form-group fiu-inline-form-group">
        <button class="fiu-button fiu-button--citizens govuk-!-margin-bottom-0" type="submit" id="button-faa-update-results">Update</button>
    </div>
</form>