
<span class="caption-s">Register interest</span>
<h2 class="heading-l heading--success"><span class="heading__icon heading__icon--tick"></span> Success</h2>
<p>Keep an eye on your inbox for all details of future updates to the site.</p>
<a role="button" class="button button--with-icon button--success" href="#" id="btn-register-interest-success">
    <img src="/campaign/images/icon-cross-white.svg" class="button__icon button__icon--close" alt="" />
    <span class="button__text">Close</span>
</a>