@{
    ViewBag.PageTitle = "Remove confirmation";
    ViewBag.MetaTitle = "Remove confirmation";
    ViewBag.PageID = "employer-view-basket";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    ViewBag.PageUrl = "/Basket/RemoveConfirmation";
    Layout = "Redesign_Layout_EmployersHub";
  
    @model Sfa.Das.Sas.Shared.Components.ViewModels.Basket.RemoveConfirmationViewModel
}
<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">If you remove @Model.ApprenticeshipItem.Title from your shortlist, you'll also remove these saved training providers:</p>

            <ul class="govuk-list govuk-list--bullet ">
                @foreach (var tp in Model.ApprenticeshipItem.Providers)
                {
                    <li>
                        @tp.Name
                    </li>
                }
            </ul>

            <p class="govuk-body">Do you want to remove this apprenticeship?</p>

            <form method="post">
                <button id="continueButton" class="fiu-button fiu-button--employers" type="submit">
                    OK <span class="fiu-vh">delete the apprenticeship and the training providers</span>
                </button>
                <a href="@Model.ReturnPath" class="fiu-button fiu-button--text">Cancel <span class="vh">and return to the previous page</span></a>
            </form>
        </div>
    </div>
</div>
