@{
    ViewBag.Title = "View Basket";
    ViewBag.MetaTitle = "View Basket";
    ViewBag.PageID = "employer-view-basket";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentFull";
    ViewBag.PageNavIndex = 3;
    @model Sfa.Das.Sas.Shared.Components.ViewModels.ApprenticeshipDetailQueryViewModel

}

@section HeroHeading {
<div class="hero">
    <div class="grid-row">
        <div class="grid-column-one-half">
            @await Component.InvokeAsync("BasketHeader")
        </div>
        <div class="grid-column-one-half">
            <div class="hero__panel hero__panel--employer">
                <p class="hero__panel-intro">Create an Apprenticeship Service account to save your choices and start hiring.</p>
                <a href="#" class="button hero__panel-button">Create an account</a>
            </div>
        </div>
    </div>
</div>
}

@await Component.InvokeAsync("BasketDetails")




