@using Sfa.Das.Sas.ApplicationServices.Commands
@{
    ViewBag.PageTitle = "Favourites";
    ViewBag.MetaTitle = "Favourites Basket";
    ViewBag.PageID = "employer-view-basket";
    ViewBag.Section = "employer";
    ViewBag.MetaDesc = "";
    ViewBag.PageUrl = "/Basket/View";
    Layout = "Redesign_Layout_EmployersHub";
    @model Sfa.Das.Sas.Shared.Components.ViewModels.Basket.BasketViewModel<Sfa.Das.Sas.Shared.Components.ViewModels.Apprenticeship.ApprenticeshipBasketItemViewModel>

}
<div class="fiu-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">

        @if (Model.AddRemoveBasketResponse != null)
        {
            @if (Model.AddRemoveBasketResponse.BasketOperation == BasketOperation.Added)
            {
                <div class="govuk-grid-column-full">
                    <div class="fiu-notification fiu-notification--success">
                        <p class="fiu-notification__body">
                            You've added <strong>@Model.AddRemoveBasketResponse.ApprenticeshipName</strong> to your shortlist
                        </p>
                    </div>
                </div>
            }
            else
            {
                <div class="govuk-grid-column-full">
                    <div class="fiu-notification fiu-notification--error">
                        <p class="fiu-notification__body">
                            You've removed <strong>@Model.AddRemoveBasketResponse.ApprenticeshipName</strong> from your shortlist
                        </p>
                    </div>
                </div>
            }
        }

        @await Component.InvokeAsync("BasketDetails")

    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="fiu-section-break fiu-section-break--l"/>
        </div>
    </div>
</div>
