@using Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.SearchSummary
@model TrainingProviderSearchSummaryViewModel

<p>Your results for the <strong>@Model.ApprenticeshipTitle</strong>, level @Model.ApprenticeshipLevel apprenticeship</p>
