@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = "Application process";
    ViewBag.MetaTitle = "Application process";
    ViewBag.PageID = "apprentice-application";
    ViewBag.HeroImageAltText = "Apprentice in the digital industry";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "From finding the right apprenticeship and employer and how to write a good CV, covering letter and what to expect from the employer.";
    ViewBag.PageUrl = "/apprentice/application";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 3;
}



<p>Once you find the right apprenticeship, you can start the application process. You'll need to create a CV, make an application and maybe write a cover letter. If you need help, you can find out <a href="https://nationalcareersservice.direct.gov.uk/get-a-job/cv-sections" target="_blank" rel="external">how to write a CV<span class="visually-hidden"> (Opens in a new window)</span></a>.</p>

<p>
    If you haven't found the right apprenticeship yet, search for one now using <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-faa">find an apprenticeship</a>.
</p>

<h2 class="heading-m">While you wait</h2>

<p>It's normal to be nervous when you're waiting to hear back from an employer. While you wait, find out the closing date for the application - this may give you a clue as to when they'll be in touch.</p>

<p>It's also a good idea to apply for a few apprenticeships at a time. That way you're increasing your chances and not waiting for a response from one employer.</p>

<p>It usually takes a few applications to find the right apprenticeship. So if you don’t hear back or get an interview don’t take it personally - it’s normal and happens to everyone. If you do get an interview, research the organisation and each stage of the interview process. It could be a phone call or video chat, rather than in person.</p>

<partial name="./components/Cta/_Contact-for-free-advice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-pagination-faa" class="pagination__link pagination__link--previous">
            Find an apprenticeship
        </a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="Interview" id="link-pagination-apprentice-4">Interview </a>
    </li>
</ul>

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel() { Type = HeroHeadingType.Apprentice })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" />
    </div>
}