
@{
    ViewBag.Title = "Application";
    ViewBag.MetaTitle = "Application";
    ViewBag.PageID = "apprentice-application";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "From finding the right apprenticeship and employer and how to write a good CV, cover letter and what to expect from the employer.";
    Layout = "_LayoutContent";
}

<h2 class="heading-m">So, you've found your ideal apprenticeship?</h2>  
<p>If you haven't, there are many places employers advertise for apprentices.  
For starters, try searching the 
<a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" target="_blank" rel="external" id="link-fat">Find an 
apprenticeship</a> website.
</p>

<h3 class="heading-s">Apply for the job and send the application to the employer</h3>
<p><a href="https://nationalcareersservice.direct.gov.uk/get-a-job" target="_blank" rel="external" id="link-ncs">Get help</a> 
with writing applications, creating a good CV and cover letter.
</p>

<h3 class="heading-s">Wait for the applications to be shortlisted</h3>
<p>This can be the nail-biting bit, where you're waiting to hear back from the employer. Sometimes it might help to 
check when the closing date was for applications - this should give you a clue as to when 
they'll be in touch.
</p>
<p>It's a good idea to apply for more than one apprenticeship vacancy at one time - try and get a number of 
    applications to potential employers; that way you're increasing your options and not waiting 
    for a response from one employer.  
</p>
<p>If you don't get an interview, don't take it personally.  It's usual to apply for a number of vacancies before 
    you find the right apprenticeship for you.  This happens to everyone and it's part of the normal process.
</p>


<h3 class="heading-s">If you’re on the shortlist, you’ll be invited 
    for an interview with the employer</h3>
<p>This first interview could be an online chat or video call, 
    rather than a face-to-face one. Remember to brush up your 
    research into the organisation for each stage of the interview 
    process.
</p>

<h3 class="heading-s">Training providers</h3>
<p>Your employer will find a training provider that is best suited to deliver the training for your apprenticeship.  
    The training provider is there to help you, so do ask if you have any questions.  
    </p>
    
    <p>
        Your teacher or careers adviser can help you find out about training providers and how to get in touch.
</p>

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a href="https://www.gov.uk/apply-apprenticeship" target="_blank" class="pagination__link pagination__link--previous" rel="external">
            Find an apprenticeship
        </a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" href="/apprentice/interview">Interview </a>
    </li>
</ul>