
@{
    ViewBag.Title = "Application";
    ViewBag.MetaTitle = "Application";
    ViewBag.PageID = "apprentice-application";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "From finding the right apprenticeship and employer and how to write a good CV, cover letter and what to expect from the employer.";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 3;
}

<h2 class="heading-m">So, you've found your ideal apprenticeship?</h2>  
<p>If you haven't, there are many places employers advertise for apprentices.  
For starters, try searching the 
<a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" target="_blank" rel="external" id="link-fat">Find an 
apprenticeship</a> website.
</p>

<h3 class="heading-s">Apply for the job and send the application to the employer</h3>
<p><a href="https://nationalcareersservice.direct.gov.uk/get-a-job" target="_blank" rel="external" id="link-ncs">Get help</a>  
how to apply for your chosen apprenticeship - 
including creating a good CV and writing your cover letter.
</p>

<h3 class="heading-s">Wait for the applications to be shortlisted</h3>
<p>This can be the nail-biting bit, where you're waiting to hear back from the employer. Sometimes it might help to 
check when the closing date was for applications - this should give you a clue as to when 
they'll be in touch.
</p>

<h3 class="heading-s">If you’re on the shortlist, you’ll be invited for an interview with the employer</h3>
<p>This is when you need to brush up your research into the organisation for your forthcoming interview.</p>

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a href="https://www.gov.uk/apply-apprenticeship" target="_blank" class="pagination__link pagination__link--previous" rel="external">
            Find an apprenticeship
        </a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" href="/apprentice/interview">Interview </a>
    </li>
</ul>