

@{
    ViewBag.Title = "Assessment and Qualification";
    Layout = "_LayoutContent";
}
<h2 class="heading-m">Get Assessed</h2>
<p>
    When you’re reaching the end of your apprenticeship, you’ll be given the chance to show what you’ve learned as part of a final assessment.
</p>
<p>
    Don’t worry. This isn’t some big scary exam. It’s just a chance for your employer to show how well you’ve progressed, by showcasing your new skills, knowledge and behaviour.
</p>
<p>
    Your employer should give you plenty of guidance as to what’s expected, and when your assessment will happen. Alongside your college training and exams, this final assessment will count towards your final qualification.
</p>


<h2 class="heading-m">Get Qualified</h2>
<p>
    Pass the assessment, complete your apprenticeship, enjoy the moment (then jump around, scream, shout, Instagram). You’ve done it, you did it, you’ve earned this.
</p>
<p>
    So where next?
</p>
<p>
    Just like your apprenticeship, the answer’s up to you. You’ve got a whole new set of skills, a qualification that’ll impress employers, and really useful experiences that show you that you can make the step up from apprentice to, well, wherever you want to go.
</p>
<p>
    Here are a few links to get you started.
</p>
