@{
    ViewBag.Title = "Assessment and certification";
    ViewBag.PageID = "apprentice-assessment-and-certification";
    ViewBag.Section = "apprentice";
    ViewBag.MetaTitle = "Assessment and certification";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 6;
}
<h2 class="heading-m">Get Assessed and get your certificate</h2>
<p>
    When you’re reaching the end of your apprenticeship, you’ll 
    be given the chance to show what you’ve learned as part of a 
    final assessment.  Not all apprenticeships have an assessment, but 
    you will be expected to demonstrate your new skills at some point.
</p>
<p>
    This is a chance for you to show your employer how well you’ve progressed, 
    by showcasing your new skills, knowledge and behaviour.
</p>
<p>
    Your employer and training provider should give you 
    plenty of guidance as to what’s expected, and when your assessment 
    will happen. 
</p>


<h2 class="heading-m">Complete your apprenticeship</h2>
<p>
    Pass the assessment, finish your apprenticeship, 
    enjoy the moment (then jump around, scream, shout, post something on social media). 
    You’ve done it, you did it, you’ve earned this!
</p>
<p>
    So where next?
</p>
<p>
    Just like your apprenticeship, the answer’s up to you. You’ve 
    got a whole new set of skills, an apprenticeship that’ll impress 
    employers, and really useful experiences that 
    show that you can make the step up from apprentice to, well, wherever you want to go.</p>


<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" href="/apprentice/your-apprenticeship"> Your apprenticeship </a>
    </li>

</ul>
