@{
  Layout = "Redesign_Layout_ApprenticesLandingPage";
  ViewBag.Title = "Employer profiles";
  ViewBag.PageTitle = ViewBag.Title;
  ViewBag.PageSummary = "A quick insight into the types of employers who offer apprenticeship opportunities in England.";
  ViewBag.LandingPageSlug = "";
  ViewBag.LandingPageTitle = ViewBag.Title;
}
<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                There are hundreds of employers who offer apprenticeship opportunities in England. 
                Below are just some examples of both small and large businesses across various sectors 
                and locations who advertise their apprenticeship vacancies on 
                '<a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" class="fiu-link fiu-link--citizens">Find an apprenticeship</a>'. 
                You can use the 'Find an apprenticeship' to <a href="#" class="fiu-link fiu-link--citizens">browse live vacancies and create vacancy alerts</a>. 
            </p>
        </div>
    </div>
    <div class="govuk-grid-row fiu-flex-row">
        <div class="govuk-grid-column-one-third">
            <div class="fiu-panel">
                <div class="fiu-panel__logo">
                    <img src="https://das-at-frnt-end.azureedge.net/fiu/assets/images/apprenticeships-logo-black.svg" alt="" class="fiu-panel__logo-img" />
                </div>
                <div class="fiu-panel__content--s">
                    <p>This is some content</p>
                </div>
            </div>
        </div>
    </div>
</div>