@{
    ViewBag.Title = "Browse apprenticeships before you apply";
    ViewBag.PageTitle = "Browse apprenticeships before you apply";
    ViewBag.PageID = "apprentice-find-an-apprenticeship";
    ViewBag.LandingPageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "";
    Layout = "Redesign_Layout_ApprenticesHub";  
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="./Components/Form/faa-search"/>
        </div>
    </div>
</div>