@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = "Application";
    ViewBag.MetaTitle = "Application";
    ViewBag.PageID = "apprentice-application";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "From finding the right apprenticeship and employer and how to write a good CV, covering letter and what to expect from the employer.";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 3;
}

<partial name="./Components/Cta/_find-an-apprenticeship" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship" id="link-pagination-apprentice-1">Before you start </a>

    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="Application" id="link-pagination-apprentice-3">Application </a>
    </li>
</ul>
