@model object

@{
    ViewBag.Title = "What’s an apprenticeship?";
    Layout = "_LayoutContent";
}

<p>
    It’s a real job, with hands-on experience, a salary and the chance to train while you work. You get the same as other employees – a contract of employment, holiday leave, even sick pay.
</p><p>
    If you’re 16 or over, you can become an apprentice as long as you live in England and aren’t in full-time education.
</p><p>
    Apprenticeships mean:
</p>
        <ul class="list list--bullet list--bullet-apprentice">
            <li>
                You get paid and learn at the same time, with at least 20% of your time set aside for learning – usually at a college, university or a training provider.
            </li>
            <li>
                You study for an official certification of your skills, equivalent to a qualification ranging from level two (equivalent to GCSE) all the way up to degree level.

            </li>
            <li>
                You’re on a career path, which has real potential for a higher salary and great prospects.
            </li>
            
        </ul>


    QUOTE HERE
<p>
    Your apprenticeship can take between one and five years to complete, depending on which one, and which level, you choose.
</p><p>
    Different apprenticeships are available all over England, at companies large and small, in a wide range of industries and organisations. From local businesses to large national brands.
</p><p>
    We’ve made some massive improvements to apprenticeships recently. They’re no longer ‘the easy option’ – studying and working takes lots of effort and focus. Degree apprenticeships are now recognised as genuine, credible alternatives to full-time university courses.
</p><p>
    Completing your apprenticeship means not only will you have less debt, and a valuable recognised qualification, you’ll also hopefully have gained the skills needed to progress your career.
</p><p>
    If you live in Scotland, Wales or Northern Ireland, check out your apprenticeship options today.
</p>
    <h2 class="heading-m">What are the different types of apprenticeships?</h2>
    
<p>
    There are hundreds of different apprenticeships to choose from. Whether you’re at the start of your career, want to change career direction, or if you’re returning to work after a break. We have the apprenticeships for you.
</p><p>
    Which level is right for me?

    (Level Tables Here)
</p><p>
    Here’s a simple guide to the different apprenticeship levels, numbered from two to seven.
</p><p>
    Degree apprenticeships offer the benefits of higher education, with none of the cost. Apprentices earn a salary right from day one of their employment and training. Your tuition fees are covered and paid in full, so you have the potential to graduate debt-free.
</p>