@{
    ViewBag.Title = "Interview";
    ViewBag.MetaTitle = "Interview";
    ViewBag.PageID = "apprentice-how-to-get-application-right";
    ViewBag.MetaDesc = "From finding the right apprenticeship and employer to nailing the interview.";
    Layout = "_LayoutContent";
}

<h2 class="heading-m">The Interview Process</h2>
<p>
    Before you find the right apprenticeship, you’ll probably want 
    to visit the potential new workplace, and the people you’ll be working with.
</p><p>
    You will also have an interview. 
</p><p>  
    If you’re planning on working for big multinational corporations or 
    businesses, you might have two or three interviews. Alternatively, if you want 
    to work for smaller local businesses, your interview could be an informal chat over a coffee.
</p><p>
    Like every apprenticeship, each interview is different. So to make sure you give 
    yourself the best chance, the following guide should be useful.
</p>

<h2 class="heading-m">Before Your Interview</h2>

<h3 class="heading-s">Check where and when</h3>
<p>
    Find out what time your interview is, then figure out the best way to get there in 
    plenty of time. Also check the employer’s website for the address, directions and any useful advice on finding their premises.
</p>

<h3 class="heading-s">Be prepared to ask questions</h3>
<p>
    This is your chance to find out as much about the apprenticeship as possible. 
    Think about a few questions that relate to your application, 
    the apprenticeship and the training that's involved.
</p>

<h3 class="heading-s">Know your stuff</h3>
<p>
    It’s worth finding out as much about the apprenticeship, and the place where 
    you’re interviewing as possible. You might also want to keep up to date with the news, just in case your interviewer asks your opinions.
</p>

<h3 class="heading-s">Practice</h3>
<p>
    Try a mock interview with a teacher, adviser or even a friend. A simple practice interview can help you feel more confident, and see what questions and answers you need to practice.
</p><p>
    Remember to include a few questions that you think you might be asked e.g. Why you chose this apprenticeship, what you enjoy most about your current studies.
</p><p>
    And most importantly, get plenty of sleep the night before!
</p>


<h2 class="heading-m">Day of the interview</h2>

<h3 class="heading-s"> Dress smartly</h3>
<p>
    You don’t necessarily need to wear a suit, but smart trousers or a skirt and a shirt or blouse will show you're taking it seriously.
</p>

<h3 class="heading-s">Get there early</h3>
<p>
    Especially if you’re using public transport. Look to arrive between 10 and 15 mins before your interview time, and make sure you have their phone number handy so you can let them know if you're delayed. Remember, your punctuality could be the first thing they learn about you.
</p>

<h3 class="heading-s">Good body language</h3>
<p>
    Try not to slouch, yawn or fold your arms. Stay calm and alert, sit up straight and make eye contact. Whoever is interviewing you will know you’re nervous and not necessarily used to being asked questions formally.
</p>

<h3 class="heading-s">Don't worry if you don't understand</h3>
<p>
    Ask them to repeat or rephrase the question. If you're still unsure make a good guess, or relate it to something you know better.
</p>

<h3 class="heading-s">Ask them questions too</h3>
<p>
    This is your apprenticeship too, so make sure you show enthusiasm and prepare a few questions to ask your new potential employer.
</p>

<p>If you’re the successful candidate, you’ll be offered the apprenticeship by the employer.</p>
