@{
    Layout = "_Layout-campaign";
    ViewData["Title"] = "Apprentice";
}

<div class="hero-banner">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <h1 class="heading-xl hero-heading__heading">Ignite your career</h1>
            </div>
            <h2 class="heading-s hero-banner__sub-heading">Embrace change and become an apprentice</h2>
            <p class="hero-banner__copy">Do you want to earn while you learn, be debt free at the end of your training and have valuable hands-on experience? Then enter your postcode or town below and start to fire up your apprenticeship journey.</p>
        </div>
    </div>
    <span class="hero-banner__background"></span>
</div>

<div class="grid-row-full-width card__collection">
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="#">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">What are the steps I need to take?</h2>
                <p class="card__summary">Discover the journey - how you can become an apprentice.</p>
                <p class="card__link">Find out more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="#">
            <div class="card__image">
                <span class="card__img card__img--2"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">What is an apprenticeship?</h2>
                <p class="card__summary">To inspire you, here's everything you need to know to help you become an apprentice.</p>
                <p class="card__link">Find out more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="#">
            <div class="card__image">
                <span class="card__img card__img--3"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">What are the benefits For me? </h2>
                <p class="card__summary">Kick start your career and earn while you learn.</p>
                <p class="card__link">Find out more</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="#">
            <div class="card__image">
                <span class="card__img card__img--4"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Don't just take our word for it</h2>
                <p class="card__summary">Read some of our real stories and see which famous people have made a success.</p>
                <p class="card__link">Find out more</p>
            </div>
        </a>
    </div>
</div>