@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = "Interview";
    ViewBag.MetaTitle = "How to prepare for your interview, with useful tips and advice";
    ViewBag.PageID = "apprentice-interview";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "From finding the right apprenticeship and employer to nailing the interview.";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 4;
}

<h2 class="heading-m" id="h1">The Interview Process</h2>

<p>
    Everyone goes through the interview process at some stage of their working life.  When you apply for new jobs,
    you will almost always have an interview, whatever stage you're at in your career.
</p>

<P>
    If you want to upskill or are returning to the workplace after a break, you may already know
    how to prepare for an interview and what you're expected to
    take with you on your first day.
</P>

<p>
    If that's the case, then all you need to do is

    <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" target="_blank" rel="external" id="link-faa">Find an apprenticeship</a>.

</p>

<p>
    If you’re planning on working for bigger organisations, you might have two or three interviews.
    A smaller employer may just want to meet you face-to-face, to see if you fit into their organisation.
</p>

<p>
    Employers will each set their own application process for an apprenticeship, which will be
    similar to applying for any other job within that organisation.  This typically, will involve an interview.
</p>

<p>
    Interviews can range from face-to-face, a panel interview, on the telephone or online.
    It just depends on how the employer wants to conduct it.
</p>

<p>If you've not done an interview before, the following tips should help you through the whole process:</p>

<h2 class="heading-m" id="h2">Before Your Interview</h2>

<h3 class="heading-s">Check where and when</h3>
<p>
    Find out what time your interview is, then figure out the best way to get there in
    plenty of time. Also check the employer’s website for the address, directions and any useful advice on finding their premises.
</p>

<h3 class="heading-s">Know your stuff</h3>
<p>
    It’s worth finding out as much as you can about the apprenticeship, and the organisation that's interviewing you.
    You might also want to keep up to date with the relevant news in your industry, just in case your
    interviewer asks your opinions on any relevant news stories.
</p>

<h3 class="heading-s">Practice</h3>
<p>
    Try a mock interview with a teacher, adviser or even a friend. A simple practice interview can help you feel more confident,
    and see what questions and answers you need to practice.
</p><p>
    Remember to include a few questions that you think you might be asked e.g. Why you chose this apprenticeship, what you enjoy most about your current studies.
</p>


<h2 class="heading-m" id="h3">Day of the interview</h2>

<h3 class="heading-s">What to wear</h3>
<p>
    You don’t necessarily need to wear a suit, but smart trousers or a skirt and a shirt or blouse will
    show you're taking it seriously.
</p>

<h3 class="heading-s">Get there early</h3>
<p>
    Especially if you’re using public transport. Look to arrive between 10 and 15 mins before your
    interview time, and make sure you have their phone number handy so you can let them know if you're delayed.
    Remember, being on time and reliable could be the first thing they learn about you.
</p>

<h3 class="heading-s">Good body language</h3>
<p>
    Try not to slouch, yawn or fold your arms. Stay calm and alert, sit up straight and make eye contact.
    Whoever is interviewing you will know you’re nervous and not necessarily used to being asked interview questions.
</p>

<h3 class="heading-s">Don't worry if you don't understand</h3>
<p>
    Ask them to repeat or rephrase the question. If you're still unsure make a good guess, or relate it to something you know better.
</p>

<h3 class="heading-s">Ask them questions too</h3>
<p>
    This is your apprenticeship too, so make sure you show enthusiasm and prepare a few questions to ask your new potential employer.
</p>

<p>If you’re the successful candidate, you’ll be offered the apprenticeship by the employer.</p>

<p>For more information on <a href="https://nationalcareersservice.direct.gov.uk/get-a-job/interview-advice" target="_blank" rel="external" id="link-ncs">preparing for an interview</a> there's a detailed guide on the National Careers Service website.</p>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" asp-controller="Apprentice" asp-action="Application" id="link-pagination-apprentice-3">Application </a>

    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="YourApprenticeship" id="link-pagination-apprentice-5">Your apprenticeship </a>
    </li>
</ul>

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">The interview process</a> </li>
        <li><a href="#h2" class="hero__link">Before your interview</a> </li>
        <li><a href="#h3" class="hero__link">Day of the interview</a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Apprentice, content = HeroHeadingContent() })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" />
    </div>
}