@{
    ViewBag.Title = "Browse apprenticeships before you apply";
    ViewBag.PageTitle = "Browse apprenticeships before you apply";
    ViewBag.LandingPageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "";
    Layout = "Redesign_Layout_ApprenticesHub";
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-m">We're unable to show any apprenticeship vacancies right now. You can try again later or use <a href="https://www.gov.uk/apply-apprenticeship" class="fiu-link fiu-link--citizens">find an apprenticeship on GOV.UK</a>.
                </p>
        </div>
    </div>
</div>
