@model object

@{
    ViewBag.Title = "What are the benefits for me?";
    ViewBag.MetaTitle = "What are the benefits for me? ";
    ViewBag.PageID = "apprentice-what-are-the-benefits";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "As an apprentice you will have the same benefits as any other employee, although you will learn and earn at the same time. ";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 2;
}
<h2 class="heading-m">What are my future prospects once I’ve successfully finished my apprenticeship?</h2>
<p>
    Once you’ve successfully finished, you have plenty of choices. You could apply for another apprenticeship or 
    find a career that uses your new skills.
</p>
<p>
    Your apprenticeship level will depend on your current qualifications. 
    This means you can start an apprenticeship at the right level for you, to 
    put you on the right path for success and beyond.

</p>

<p>Some of the top reasons for becoming an apprentice:</p>
<ul class="list list--bullet list--bullet-apprentice">
    <li>earn while you learn and get paid a competitive salary</li>
    <li>your training is free</li>
    <li>choose from hundreds of different apprentice jobs in thousands of organisations</li>
    <li>get high quality training and hands-on experience</li>
    <li>develop the skills that are transferrable to a range of exciting jobs or careers</li>
    <li>continue to study - progress on to a higher level apprenticeship</li>
    <li>doesn't matter what age you are or your background, an apprenticeship will give you the skills you need to succeed</li>
</ul>

<p>And lastly:</p>
<p> 
 "90% of apprentices stay on in their place of work after completing their apprenticeship" (Source: The Nursery: Research and planning)
</p>

<h2 class="heading-m">How much can you earn?</h2>
<p>
    Your salary will depend upon the industry, location and type of apprenticeship you choose. 
</p>
<p>
    Many employers choose to pay more than the apprenticeship minimum wage of £3.70 per hour if you’re aged 16 to 18 - (rising to £3.90 per hour from April 2019).
</p>
<p>
    If you’re aged 19 or over and have completed the first year of your apprenticeship, 
    you are entitled to the national <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank" rel="external">minimum wage</a> for your age.
</p>

<h2 class="heading-m">What will my apprenticeship cost me?</h2>
<p>
    When you become an apprentice, you’ll need to cover the cost of your day-to-day expenses, 
    such as lunch and travel. </p>
    <p>
    If you’re a care leaver aged 16-24, you’ll receive a £1,000 bursary payment to support you in the first year of your
apprenticeship.  
</p>



