@model object

@{
    ViewBag.Title = "What is an apprenticeship?";
    ViewBag.PageID = "apprenticeship-whats-an-appenticeship";
    ViewBag.MetaTitle = "What is an apprenticeship - find out what you need to know to become an apprentice";
    ViewBag.MetaDesc = "An apprenticeship gives you hands-on experience, a salary and the opportunity to train while you work as an apprentice. ";
    Layout = "_LayoutContent";
}

<p>
    It’s a real job, with hands-on experience, a salary and the chance to train while you work. You get the same as other employees – a contract of employment, holiday leave, even sick pay.
</p><p>
    If you’re 16 or over, you can become an apprentice as long as you live in England and aren’t in full-time education.
<p>
    If you live in
    <a href="https://www.apprenticeships.scot/" target="_blank">Scotland</a>,
    <a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank">Wales</a>, or <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank">Northern Ireland</a>, check out your apprenticeship options.
</p>
</p><p>
    Apprenticeships mean:
</p>
<ul class="list list--bullet list--bullet-apprentice">
    <li>
        you get paid and learn at the same time, with at least 20% of your time spent learning, usually at a college, university or with a training provider
    </li>
    <li>
        you study for an official certification of your skills, equivalent to a qualification ranging from level two (equivalent to GCSE) all the way up to degree level

    </li>
    <li>
        you’re on a career path, which has real potential for a higher salary and great prospects
    </li>

</ul>


    QUOTE HERE
<p>
    Your apprenticeship can take between one and five years to complete, depending on which one, and which level, you choose.
</p><p>
    Different apprenticeships are available all over England, at companies large and small, in a wide range of industries and organisations. From local businesses to large national brands.
</p><p>
    We've made some massive improvements to apprenticeships recently.
    They're hard rewarding work, taking plenty of effort and focus.
    Degree apprenticeships are now recognised as genuine, credible alternatives to full-time university courses.
</p><p>
    Completing your apprenticeship means you've earned and learned,
    and you'll have a valuable qualification. As your training is fully funded,
    and you receive a regular salary,
    it's easy to see why apprenticeships are now an attractive alternative.


</p>
<h2 class="heading-m">What are the different types of apprenticeships?</h2>

<p>
    There are hundreds of different apprenticeships to choose from. Whether you’re at the start of your career, want to change career direction, or if you’re returning to work after a break. We have the apprenticeships for you.
</p><p>
    Which level is right for me?

    Here’s a simple guide to the different apprenticeship levels, numbered from two to seven.

</p><p>

    **(Level Tables Here)**
</p>
<p>
    Degree apprenticeships offer the benefits of higher education, with none of the cost.
    Apprentices earn a salary right from day one of their employment and training.
    Your tuition fees are covered and paid in full, so you have the potential
    to finish without having to pay off your tuition fees.
</p>


<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item pagination__list-item--next">
        <a href="https://www.gov.uk/apply-apprenticeship" target="_blank" class="pagination__link pagination__link--next" rel="external">
            Find an apprenticeship
        </a>
    </li>
</ul>