
@{
    ViewBag.Title = "What are the steps I need to take?";
    Layout = "_LayoutContent";
}

<ul class="list list--bullet list--bullet-apprentice">
    <li>Find an apprenticeship job advert</li>
    <li>Apply for the job and send the appication to the employer</li>
    <li>Wait for the applications to be shortlisted</li>
    <li>If you’re on the shortlist, you’ll be invited for an interview with the employer</li>
    <li>Have the interview</li>
    <li>If you’re the successful candidate, you’ll be offered the apprenticeship by the employer</li>
</ul>


</p>

<h2 class="heading-m">How to write your best cv and cover letter</h2>

<p>
    To apply for any apprenticeship, you’ll need to write a CV and covering letter.
</p><p>
    Remember to try and keep your CV simple, and to the point.
</p><p>
    Once you’ve created a basic CV, you can then fine-tune it for each different apprenticeship you apply for.
</p><p>
    Choose the relevant skills, abilities, qualifications and experience that you think best matches the sort of things the apprenticeship requires. 
 <p>  
    Don’t worry if your CV is shorter than 2 pages - you probably won’t have much experience (yet).
</p></p>