@model object

@{
    ViewBag.Title = "What are the benefits for me?";
    ViewBag.MetaTitle = "What are the benefits to you becoming an apprentice? ";
    ViewBag.PageID = "apprentice-what-are-the-benefits";
    ViewBag.MetaDesc = "As an apprentice you will have the same benefits as any other employee, although you will learn and earn at the same time. ";
    Layout = "_LayoutContent";
}
<h2 class="heading-m">How Much Can You Earn?</h2>
<p>
    Your salary will depend upon the industry, location and type of apprenticeship you choose. For example, some higher apprenticeships can pay as much as £500 per week.
</p><p>
    Many employers choose to pay more than the apprenticeship minimum wage of £3.70 per hour if you’re aged 16 to 18, rising to £3.90 per hour from April 2019.
</p><p>
    If you’re over 19 and have completed the first year of your apprenticeship, you qualify for the National Minimum Wage.
</p><p>
    Remember, if you complete a higher or degree level apprenticeship, you will have your tution fees paid for and you’ll have been earning for the duration of your apprenticeship.
</p>
<h2 class="heading-m">What will my apprenticeship cost me?</h2>

<p>
    When you become an apprentice, you’ll need to cover the cost of your day-to-day living, 
    such as lunch, rent and travel expenses. If you’re a care leaver aged 16-24, you’ll 
    receive a £1,000 bursary payment to help get you up and running.
</p>

<p>You’ll also need to pay for some basic learning materials, for example, a computer, paper and pens etc.</p>
</p><p>
    You will also pay tax and National Insurance from your salary, just like other employees.
</p>
<h2 class="heading-m">What are my future prospects once I’ve successfully qualified?</h2>

<p>
    Once you’ve successfully finished, you have plenty of choices. You could apply for another apprenticeship or 
    find a career that uses your new skills. Your work mentor should be able to give you with lots of helpful advice.
</p><p>
   Your apprenticeship level will depend on your current qualifications. 
   This means you can start an apprenticeship at the right level for you, to 
   put you on the right path for success and beyond.

</p><p>

    Top Five Reasons For Becoming An Apprentice</p>
    <ul class="list list--bullet list--bullet-apprentice">
        <li>Get all your training paid for</li>
        <li>Get practical real work skills in your chosen apprenticeship industry</li>
        <li>Get professional qualifications while you work</li>
        <li>Get paid a salary whilst you do your apprenticeship</li>
        <li>Network in your chosen sector.</li>
    </ul>
