@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = "What are the benefits for me?";
    ViewBag.MetaTitle = "Discover the choices you have when you become an apprentice";
    ViewBag.PageID = "apprentice-what-are-the-benefits";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "As an apprentice you will have the same benefits as any other employee, although you will learn and earn at the same time. ";
    ViewBag.PageUrl = "/apprentice/what-are-the-benefits-for-me";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 2;
}
<h2 class="heading-m" id="h1">What are my future prospects once I’ve successfully finished my apprenticeship?</h2>
<p>
    Once you’ve successfully finished, you have plenty of choices. You could apply for another apprenticeship or
    find a career that uses your new skills.
</p>
<p>Some of the top reasons for becoming an apprentice:</p>
<ul class="list list--bullet list--bullet-apprentice">
    <li>earn while you learn and get paid a competitive salary</li>
    <li>your training is free</li>
    <li>choose from hundreds of different apprentice jobs in thousands of organisations</li>
    <li>get high quality training paid for by your employer and the government</li>
    <li>a great way to get back into the workplace after a career break, or to re-train in a new areas</li>
    <li>get a boost to your future earnings potential</li>
    <li>develop the skills you need for a range of exciting jobs or careers, no matter your age or background</li>
</ul>
<h2 class="heading-m" id="h2">How much can you earn?</h2>
<p>
    Your salary will depend upon the industry, location and type of apprenticeship you choose.
</p>
<p>
    The minimum wage for an apprentice is £3.90 per hour if you’re aged 16 to 18 - but many employers pay far more than this.
</p>
<p>
    If you’re aged 19 or over and have completed the first year of your apprenticeship,
    you are entitled to the national <a href="https://www.gov.uk/national-minimum-wage-rates" target="_blank" rel="external" id="link-min-wage">minimum wage</a> for your age.
</p>

<h2 class="heading-m" id="h3">What will my apprenticeship cost me?</h2>
<p>
    When you become an apprentice, you’ll need to cover the cost of your day-to-day expenses,
    such as lunch and travel.
</p>
<p>
    If you’re a care leaver aged 16-24, you’ll receive a £1,000 bursary payment to support you in the first year of your
    apprenticeship.
</p>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />
<hr class="section-break" />

@{
    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">What are my future prospects once I’ve successfully finished my apprenticeship?</a> </li>
        <li><a href="#h2" class="hero__link">How much can you earn?</a> </li>
        <li><a href="#h2" class="hero__link">What will my apprenticeship cost me?</a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Apprentice, content = HeroHeadingContent() })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" />
    </div>
}