@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model object
@{
    ViewBag.Title = "What is an apprenticeship?";
    ViewBag.PageID = "apprenticeship-whats-an-apprenticeship";
    ViewBag.HeroImageAltText = "Apprentice in the catering industry";
    ViewBag.Section = "apprentice";
    ViewBag.MetaTitle = "What is an apprenticeship?";
    ViewBag.MetaDesc = "An apprenticeship gives you hands-on experience, a salary and the opportunity to train while you work as an apprentice. ";
    ViewBag.PageUrl = "/apprentice/what-is-an-apprenticeship";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 1;
}


<p>An apprenticeship is a real job where you learn, gain experience and get paid.</p>
<p>You're an employee with a contract of employment and holiday leave. By the end of an apprenticeship, you'll have the right skills and knowledge needed for your chosen career.</p>
<p>It can take between one and six years to complete an apprenticeship depending on which one you choose, what level it is and your previous experience. It's funded from contributions made by the government and your employer.</p>
<p>To become an apprentice, you must:</p>
<ul class="list list--bullet list--bullet-apprentice">
    <li>be 16 or over</li>
    <li>not already be in full time education</li>
    <li>spend at least 50% of your working hours in England</li>
</ul>

<p>If you don't live in England, check out apprenticeship options in <a href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-scotland">Scotland<span class="visually-hidden"> (Opens in a new window)</span></a>, <a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-wales">Wales<span class="visually-hidden"> (Opens in a new window)</span></a>, or <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-northern-ireland">Northern Ireland<span class="visually-hidden"> (Opens in a new window)</span></a>.</p>
<p>As an apprentice you'll:</p>
<ul class="list list--bullet list--bullet-apprentice">
    <li>learn and gain hands-on experience in a real job</li>
    <li>get paid </li>
    <li>get training for a specific job role </li>
    <li>be on a career path w§ith lots of future potential</li>
</ul>
<p>You can find an apprenticeship whether you're starting your career, want a change or are returning to work.</p>
<p>If you think you need more skills and work experience before starting an apprenticeship, you can <a href="https://www.gov.uk/find-traineeship" target="_blank" rel="external" id="link-traineeship">find a traineeship<span class="visually-hidden"> (Opens in a new window)</span></a> instead.</p>


<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item pagination__list-item--next">
        <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-faa-pagination" class="pagination__link pagination__link--next">
            Find an apprenticeship
        </a>
    </li>
</ul>



@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Apprentice })
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" />
    </div>
}