@model object

@{
    ViewBag.Title = "What are the benefits for me?";
    Layout = "_LayoutContent";
}
<h2 class="heading-m">How Much Can You Earn?</h2>
<p>
    Your salary will depend upon the industry, location and type of apprenticeship you choose. For example, some higher apprenticeships can pay as much as £500 per week.
</p><p>
    Many employers choose to pay more than the apprenticeship minimum wage of £3.70 per hour if you’re aged 16 to 18, rising to £3.90 per hour from April 2019.
</p><p>
    If you’re over 19 and have completed the first year of your apprenticeship, you qualify for the National Minimum Wage.
</p><p>
    Remember, if you complete a higher or degree level apprenticeship, you should have no university debts, as you’ll have been earning for the duration of your apprenticeship with no tuition fees.
</p><p>
    From August 2018 onwards, apprentices who have been in local authority care may also receive a £1000 bursary from the government.
</p>
<h2 class="heading-m">What will my apprenticeship cost me?</h2>

<p>
    When you become an apprentice, you’ll need to cover the cost of your day-to-day living, such as lunch, rent and travel expenses. You’ll also need to pay for some basic learning materials, for example, a computer, paper and pens etc.
</p><p>
    You will also pay tax and National Insurance from your gross salary, just like other employees.
</p>
<h2 class="heading-m">What are my future prospects once I’ve successfully qualified?</h2>

<p>
    Once you’ve successfully finished, you have plenty of choices. You will have plenty of choices,  do another apprenticeship perhaps? Or find a career that uses your new skills. Your work mentor should be able to give you with lots of helpful advice.
</p><p>
    Your apprenticeship level will depend on the types of jobs you’re applying for. So you can start an apprenticeship at the right level for the job, then work all the way up to a master’s degree for some roles.
</p><p>

    Top Five Reasons For Becoming An Apprentice</p>
    <ul class="list list--bullet list--bullet-apprentice">
        <li>You don’t get into debt while you learn</li>
        <li>Get practical real work skills in your chosen apprenticeship industry</li>
        <li>Get professional qualifications while you work</li>
        <li>Get short and long-term earning potential</li>
        <li>Network in your chosen sector.</li>
    </ul>
