@model object

@{
    ViewBag.Title = "What is an apprenticeship?";
    ViewBag.PageID = "apprenticeship-whats-an-apprenticeship";
    ViewBag.Section = "apprentice";
    ViewBag.MetaTitle = "What is an apprenticeship - find out what you need to know to become an apprentice";
    ViewBag.MetaDesc = "An apprenticeship gives you hands-on experience, a salary and the opportunity to train while you work as an apprentice. ";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 1;
}

<p>
    It’s a real job, with hands-on experience, a salary
    and the chance to train while you work. You get the same as
    other employees – a contract of employment and holiday leave.
</p><p>
    If you’re 16 or over, you can become an apprentice as long as
    you spend at least 50% of your working hours in England - for the duration of the
    apprenticeship and you are not in full-time education.

<p>
    If you live in
    <a href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-scotland">Scotland</a>,
    <a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-wales">Wales</a>, or <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-northern-ireland">Northern Ireland</a>, check out your apprenticeship options.
</p>
</p><p>
    When you're an apprentice:
</p>
<ul class="list list--bullet list--bullet-apprentice">
    <li>
        you get paid and train at the same time, with at least
        20% of your time spent in off the job training, often at a college,
        university or with a training provider
    </li>
    <li>
        you train to be fully competent in your chosen occupation
    </li>
    <li>
        you’re on a career path - with lots of future potential for you
    </li>

</ul>



<p>
    Your apprenticeship can take between one and six years to complete, depending on which
    apprenticeship you choose, what level it’s at, and your previous experience.
</p><p>
    Different apprenticeships are available all over England, at
    companies large and small, in a wide range of industries and
    organisations. From local businesses to large national brands.
</p><p>
    You get valuable hands-on experience working whilst you learn, which helps you progress in your working life.

</p><p>
    Completing your apprenticeship means you've earned and learned. Given your training is
    funded by contributions from the government and your employer, and you receive a regular salary,
    apprenticeships are an great option for getting on the job ladder or supercharging your career.


</p>
<h2 class="heading-m">What are the different types of apprenticeships?</h2>

<p>
    There are hundreds of different apprenticeships to choose from.
    Whether you’re at the start of your career, want to change career
    direction, or if you’re returning to work after a break.


<p>
    All apprenticeships make sure you're ‘job ready’ for the role you have trained for.
</p>

<p>
    Apprentices earn a salary right from day one of their employment and training.
</p>

<p>
    If you think you need better skills and need more work experience so that you're ready to apply for your chosen apprenticeship - you could consider
    <a href="https://www.gov.uk/find-traineeship" target="_blank" rel="external" id="link-traineeship">doing a traineeship</a>.
</p>


<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item pagination__list-item--next">
        <a href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" id="link-faa-pagination" class="pagination__link pagination__link--next" rel="external" target="_blank">
            Find an apprenticeship
        </a>
    </li>
</ul>

@section pageFooter 
{
<div class="grid-column">
    <partial name="./Components/Cta/_find-an-apprenticeship" />
   
</div>
}