@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = "Starting your apprenticeship";
    ViewBag.MetaTitle = "Starting your apprenticeship";
    ViewBag.PageID = "apprentice-your-apprenticeship";
    ViewBag.HeroImageAltText = "An apprentice in the legal industry";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "Find out what's expected of you now you've secured your apprenticeship and what you should expect when you start.";
    ViewBag.PageUrl = "/apprentice/your-apprenticeship";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 5;
}
<!--h2 class="heading-m" id="h1">What to bring, and other useful info</h2-->
<p>
    Before you start your apprenticeship, your employer will usually contact you. When they do, try and find out:
</p>

<ul class="list list--bullet list--bullet-apprentice">
    <li>your working hours</li>
    <li>the dress code</li>
    <li>what you need to bring - for example, your ID or a notepad and pens</li>
    <li>your travel options - for example, where to park a car or the nearest train station</li>
    <li>who to ask for on your first day</li>
</ul>

<p>
    If you already work at the same place you're starting your apprenticeship, then ask your employer directly.
</p>

<h2 class="heading-m">Training providers</h2>

<p>
    Your employer will find a training provider that’s suitable to provide the training for your apprenticeship.
</p>

<p>
    For example, a training provider could be a college or university.
</p>

<p>
    If you want to find out more about training providers, you can:
</p>

<ul class="list list--bullet list--bullet-apprentice">
    <li>speak to your teacher or careers adviser</li>
    <li>speak to your employer</li>
    <li>go to a job centre or other community programmes</li>
</ul>

<partial name="./components/Cta/_Contact-for-free-advice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" asp-controller="Apprentice" asp-action="Interview" id="link-pagination-apprentice-4"> Interview</a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="Apprentice" asp-action="AssessmentAndQualification" id="link-pagination-apprentice-6">Assessment and certification</a>
    </li>
</ul>
@*
    @{
        IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
            <li><a href="#h1" class="hero__link">What to bring, and other useful info</a> </li>
            <li><a href="#h2" class="hero__link">Meet your new team</a> </li>
            <li><a href="#h3" class="hero__link">What comes after my apprenticeship?</a> </li>
        </ul>);
    }
*@
@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Apprentice })
}
@*
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){
     Type = HeroHeadingType.Apprentice, Content = HeroHeadingContent() })
*@

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-an-apprenticeship" />
    </div>
}