@{
    ViewBag.Title = "Your apprenticeship";
    ViewBag.MetaTitle = "Your apprenticeship";
    ViewBag.PageID = "apprentice-your-apprenticeship";
    ViewBag.Section = "apprentice";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 5;
}
<h2 class="heading-m">What to bring, and other useful info</h2>
<p>
    Your employer will be in touch, to let you know your working hours, 
    and when they’d like you to start on your first day. 
   
</p>

<p>
    At this point you could also ask some of the following:
</p>
    <ul class="list list--bullet list--bullet-apprentice">
        <li>
            what you will need to bring - notebook/pens/ID
        </li>
        <li>
            what time you need to arrive
        </li>
        <li>
            how your should dress - suit or jeans
        </li>
        <li>
            how much money you will need to bring for lunch etc
        </li>
        <li>
            who you should ask for when you arrive
        </li>
        <li>
            where to get the bus/train or park your car
        </li>
    </ul>  



<h2 class="heading-m">Meet your new team</h2>

<p>
    When you start your apprenticeship, you’ll meet the people you'll be working with. They will show 
    you around and answer any questions you might have. 

</p>

<h2 class="heading-m">First an apprenticeship, now a career!</h2>
<p>
    Once your apprenticeship is up and running, it’s always worth discussing your future career 
    with your current employer, as well as doing some research yourself.
</p>
<p>
    The sooner you start to take control of the new trail you’re blazing, the better the ride will be.
</p>

<partial name="./components/Cta/_Contact-phoneNumber-apprentice" />

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" href="/apprentice/interview"> Interview</a>
    </li>

</li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" href="/apprentice/assessment-and-qualification">Assessment and qualification</a>
    </li>
</ul>




<!--
<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/preparing-and-monitoring"> Preparing and monitoring</a></li>
</ul>
-->

