@{
    ViewBag.Title = "Your apprenticeship";
    ViewBag.MetaTitle = "Your apprenticeship";
    ViewBag.PageID = "apprentice-monitoring-and-progress";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContent";
}
<h2 class="heading-m">What to bring, and other useful info</h2>
<p>
    Your employer will be in touch, to let you know your working hours, 
    and when they’d like you to start on your first day. 
    Ideally they will also send you a list of what to bring along.
</p>

<p>
    You will probably be sent a list covering the following:
</p>
    <ul class="list list--bullet list--bullet-apprentice">
        <li>
            what you will need to bring - notebook/pens/ID
        </li>
        <li>
            what time you need to arrive
        </li>
        <li>
            how your should dress - suit or jeans
        </li>
        <li>
            how much money you will need to bring for lunch etc
        </li>
        <li>
            who you should ask for when you arrive
        </li>
        <li>
            where to get the bus/train or park your car
        </li>
    </ul>  



<h2 class="heading-m">Meet your new team</h2>

<p>
    When you start your apprenticeship, you’ll probably be introduced to your line manager.
</p>
<p>
    They will show you around, answer any questions and invite you to regular catch-ups 
    to see how you’re getting along. They’ll also keep in touch with your training provider – 
    wherever you’re doing your studying – to make sure your whole apprenticeship is going well.
</p>


<h2 class="heading-m">First an apprenticeship, now a career!</h2>
<p>
    Once your apprenticeship is up and running, it’s always worth discussing your future career 
    with your current employer, as well as doing some research yourself.
</p>
<p>
    Could you progress from apprentice to permanent staff? Or take your new skills 
    somewhere new? Perhaps another apprenticeship in a totally different company?
</p>
<p>
    The sooner you start to take control of the new trail you’re blazing, the better the ride will be.
</p>

<ul class="pagination pagination--apprentice">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" href="/apprentice/interview"> Interview</a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" href="/apprentice/assessment-and-qualification">Assessment and qualification </a>
    </li>
</ul>