@use '../../shared' as *;

.fiu-nav {
  position: relative;
  z-index: 10;
  
  &__list {
    margin: 0;
    padding: 20px 0;
    list-style: none;
    display: flex;
    gap: 20px;
    @include govuk-media-query(tablet) {
      gap: 40px;
    }
  }
  
  &__link {
    @include fiu-typography-common();
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    -webkit-font-smoothing: unset
  }

  &__link--active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 15px;
  }
  
  &__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 15px;
  }
  
  &__link:focus {
    outline: 3px solid #fd0;
    background-color: #fd0;
    color: #000;
  }
  
  &__link:focus-visible {
    outline: 3px solid #fd0;
    outline-offset: 0;
    color: #000;
  }
  
  &__link:active {
    background-color: #fd0;
    color: #000;
  }
}