@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel


<div class="sidebar @Model.Classes">

    <div class="sidebar__hero">
        <img src="@Model.ImgLocation" class="sidebar__hero-image" alt="" />
    </div>
    <partial name="@Model.ContentView" />

    <div class="trimmer">
        <div class="sidebar__sub-content">
            <a class="button button--sparks button--shadow " asp-action="index" asp-controller="RegisterInterest" id="btn-sidebar-register-interest-apprentice">Register Interest</a>
        </div>
    </div>
</div>