@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel

    <div class="sidebar @Model.Classes">

        <div class="sidebar__hero">
            <img src="@Model.ImgLocation" class="sidebar__hero-image" alt="@ViewBag.HeroImageAltText" />
        </div>
        <partial name="@Model.ContentView" />

       
    </div>