@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel
@{
    var activeClass = "sidebar-nav__section--active";
}

<div class="sidebar sidebar_fixed @Model.Classes">
    <div class="sidebar__hero">
        @await Component.InvokeAsync("Form", Model.FormModel)
    </div>
</div>

