@model SFA.DAS.Campaign.Web.ViewComponents.Sidebar.SidebarViewModel

<div class="sidebar sidebar--faa @Model.Classes">
    <div class="sidebar__hero">
        @await Component.InvokeAsync("Form", Model.FormModel)
    </div>
</div>

