@model SFA.DAS.Campaign.Web.Models.ApprenticeshipFundingViewModel

<div class="fiu-panel fiu-panel--left-align" id="funding">
    <h2 class="govuk-heading-l">Funding available: @Model.Calculation.Funding<br /> Training costs: @Model.Calculation.Training</h2>
</div>
