<h2 class="govuk-heading-m">
    Did you know?
</h2>
<p class="govuk-body">
    From 1 April 2024, new apprentices may get full funding for their training and assessment costs, up to the funding band maximum. You might be eligible if, at the start of their apprenticeship training, the apprentice is:
</p>
<p>
    <ul class="govuk-list govuk-list--bullet">
        <li>aged between 16 and 21 years old (or 15 if their 16th birthday is between the last Friday of June and 31 August) or</li>
        <li>aged between 22 and 24 years old and has either an Education, Health and Care (EHC) plan provided by their local authority or have been in the care of their local authority</li>
    </ul>
</p>