<h2 class="govuk-heading-m">
    Did you know?
</h2>
<p class="govuk-body">
    You could be eligible for full funding of the apprenticeship training costs up to the funding band maximum for apprentices who:
</p>
<p>
    <ul class="govuk-list govuk-list--bullet">
        <li>are aged between 16 and 21 years old (for new starts from 1 April 2024)</li>
        <li>are aged between 22 and 24 years old at the start of the apprenticeship, and has either an Education, Health, and Care Plan (EHCP) provided by their local authority or have been in the care of their local authority</li>
    </ul>
</p>