<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <figure class="fiu-quote fiu-quote--employer">
            <blockquote class="fiu-quote__blockquote">
                "Apprentices have had an amazing impact across our business and bring a fresh perspective to everything we do here at Channel 4. They really challenge the status quo, and we empower them to do just that."
            </blockquote>
            <figcaption class="fiu-quote__caption">
                Laura Boswell,
                <span class="fiu-quote__caption-description">Industry Talent Specialist, Channel 4</span>
            </figcaption>
        </figure>
    </div>
    <div class="govuk-grid-column-one-third">
        <img src="/fiu/assets/images/design/quote-cameraman.jpg" class="fiu-panel__image" alt="" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <figure class="fiu-quote fiu-quote--employer">
            <blockquote class="fiu-quote__blockquote">
                "Our apprenticeships have improved productivity because they’re learning on the job and they can give back more or less immediately."
            </blockquote>
            <figcaption class="fiu-quote__caption">
                Caroline Ash,
                <span class="fiu-quote__caption-description">Production Director, Fashion Enter</span>
            </figcaption>
        </figure>
    </div>
    <div class="govuk-grid-column-one-third">
        <img src="/fiu/assets/images/design/quote-lady-boardroom.jpg" class="fiu-panel__image" alt="" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <figure class="fiu-quote fiu-quote--employer">
            <blockquote class="fiu-quote__blockquote">
                "We want to invest in our staff, support them to progress and continue developing their skills and career prospects whilst at the council."
            </blockquote>
            <figcaption class="fiu-quote__caption">
                Lancashire City Council
            </figcaption>
        </figure>
    </div>
    <div class="govuk-grid-column-one-third">
        <img src="/fiu/assets/images/design/quote-office.jpg" class="fiu-panel__image" alt="" />
    </div>
</div>