@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel

<h2 class="govuk-heading-m">
    What you pay
</h2>
<p class="govuk-body">
    This means you only have to pay up to <b>£@Model.CalculationResults.TrainingCost</b> of the total training costs. You'll pay the training provider directly and agree on a payment schedule that works for you both.
</p>
<p class="govuk-body">
    Just so you know, you will have to consider all other costs involved with hiring an apprentice, like how much you'll pay them. You must pay them at least the National Minimum Wage rate depending on their age and the year of the apprenticeship training they're in. For more information visit <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://www.gov.uk/employing-an-apprentice">employing an apprentice (opens in new tab)</a>.
</p>