@model SFA.DAS.Campaign.Web.Models.ApprenticeshipTrainingAndBenefitsViewModel
@{
    ViewBag.Title = "Understanding Apprenticeship Benefits And Funding";
    ViewBag.HubPage = true;
    Layout = $"Redesign_Layout_EmployersHub";
    ViewBag.PageTitle = "Understanding apprenticeship benefits and funding";
    ViewBag.PageSummary = "Explore what benefits apprentices can bring to your organisation and calculate what funding could be available towards your apprentices training costs.";
    ViewBag.LandingPageSlug = "are-they-right-for-you-employers";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageSlug = "understanding-apprenticeship-benefits-and-funding";
    ViewBag.ArticlePageTitle = "Understanding apprenticeship benefits and funding";
    ViewBag.HeadingImage = "/fiu/assets/images/page-headers/employer-computer.jpg";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-one-third govuk-!-margin-top-9 fiu-hide-print">
            <h2 class="govuk-heading-l">On this page</h2>
            <ul class="govuk-list govuk-list--spaced">
                <li><a href="#@Model.Panel1.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel1.LinkTitle</a></li>
                <li><a href="#@Model.Panel2.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel2.LinkTitle</a></li>
                <li><a href="#funding" class="govuk-link govuk-link--no-visited-state">Find out what funding you could have available</a></li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
            <div class="fiu-hide-print">

                <partial name="ValidationSummary" />

                <div id="@Model.Panel1.Slug">@await Html.PartialAsync("_Panel", Model.Panel1)</div>
                <div id="@Model.Panel2.Slug">@await Html.PartialAsync("_Panel", Model.Panel2)</div>
            </div>
            @if (Model.Submitted == true)
            {
                if (Model.PayBillGreaterThanThreeMillion == true)
                {
                            <div id="funding">@await Html.PartialAsync("_CalculationResultsLevy", Model)</div>
                }
                else if (Model.PayBillGreaterThanThreeMillion == false)
                {
                    if (Model.OverFiftyEmployees == true)
                    {
                                    <div id="funding">@await Html.PartialAsync("_CalculationResultsNonLevyOver50", Model)</div>
                    }
                    else if (Model.OverFiftyEmployees == false)
                    {
                                    <div id="funding">@await Html.PartialAsync("_CalculationResultsNonLevyUnder50", Model)</div>
                    }
                }
            }
            else
            {
                    <div id="funding">@await Html.PartialAsync("_CalculationInputPanel")</div>
            }
        </div>
    </div>
</div>
