@{
    ViewBag.Title = "Assessment and qualification";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<h2 class="heading-m">Assessment</h2>
<p>
    Once the apprenticeship training is completed, an independent assessment will take place, this is called 'end-point assessment'.  It gives the apprentice the opportunity to demonstrate what they've learnt throughout the apprenticeship. (This assessment only applies for apprenticeship standards and not for frameworks).
</p>
<p>This should include the apprentice's: </p>
<ul class="list list--bullet list--bullet-employer">
    <li>knowledge</li>
    <li>skills</li>
    <li>behaviours</li>
</ul>
<p>
    Your apprentice can't achieve an apprenticeship standard without satisfying all the requirements of the assessment plan, including the end-point assessment.
</p>
<h2 class="heading-m">
    Where to find an apprentice assessment  organisation
</h2>
<p>You must select an organisation to deliver the end-point assessment from the <a href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank">register of end-point assessment organisations</a> and agree to a price with this organisation for the end-point assessment.</p>
<p>
    Although the provider will be involved in arrangements for end-point assessment, 
    the assessment itself must be independent.
</p>
<p>
    The training provider must contract with the apprenticeship assessment 
    organisation on your behalf and have a written agreement in place with the 
    apprenticeship assessment organisation to make payment to them for conducting the end-point assessment.
</p>
<p>
    Where you do not know the details of the apprenticeship assessment 
    organisation at the start of the apprenticeship, then once this has been confirmed, 
    you must notify your chosen training provider.
</p>
<h3 class="heading-s">End-point assessment cost</h3>
<p>We expect that the cost of end-point assessment should not usually exceed 20% of the funding band maximum.</p>
<h2 class="heading-m">
    Qualification
</h2>
<p>
    When your apprentice successfully completes their apprenticeship they will be awarded a certificate.
</p>
<p>
    The apprenticeship assessment organisation will request the certificate from the Education and Skills Funding Agency.
</p>


<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/preparing-and-monitoring"> Preparing and monitoring</a></li>
</ul>