@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model object
@{
    ViewBag.Title = "Assessment and certification";
    ViewBag.MetaTitle = "The assessment and end of the apprenticeship";
    ViewBag.HeroImageAltText = "A construction apprentice";
    ViewBag.PageID = "employer-assessment-certification";
    ViewBag.MetaDesc = "Find out how your apprentice will be assessed at the end of their apprenticeship and what they’ll need to demonstrate in order to successfully finish.";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 6;
}

<h2 class="heading-m" id="h1">Assessment</h2>
<p>
    Once the apprenticeship training is completed, an independent assessment will take place, this is
    called an 'end-point assessment'.  The assessment is the apprentice’s opportunity to demonstrate that they
    are genuinely competent in their occupation at the end of their training.
</p><p>
    It also gives the apprentice the opportunity to demonstrate what they've learnt
    throughout the apprenticeship. (This assessment only applies for apprenticeship
    standards and not for frameworks).
</p>
<p>
    Details of what is in an end-point assessment is set out in the assessment plan.
    This will include an assessment of the apprentice's:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>knowledge</li>
    <li>skills</li>
    <li>behaviours</li>
</ul>
<p>
    Your apprentice can't achieve an apprenticeship standard without
    satisfying all the requirements listed in the apprenticeship standard, including the end-point assessment.
</p>
<h2 class="heading-m" id="h2">
    Where to find an end-point assessment organisation
</h2>
<p>You must select an organisation to deliver the end-point assessment from the <a href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations" target="_blank" rel="external" id="link-roepao">register of end-point assessment organisations</a> and agree to a price with this organisation for the end-point assessment.</p>
<p>
    Although the training provider will be involved in arrangements for the end-point assessment,
    the assessment itself must be independent.
</p>
<p>
    The training provider must contract with the end-point assessment
    organisation on your behalf and have a written agreement in place to make payment to them for
    conducting the end-point assessment.
</p>
<h3 class="heading-s">End-point assessment cost</h3>
<p>We expect that the cost of the end-point assessment should not usually exceed 20% of the funding band maximum.</p>
<p>This cost is included in the overall cost agreed with the training provider for the apprenticeship.</p>
<h2 class="heading-m" id="h3">
    Certification
</h2>
<p>
    When your apprentice successfully completes their apprenticeship they will be awarded a certificate.
</p>
<p>
    The end-point assessment organisation will request the certificate on your behalf.
</p>

<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" asp-controller="Employer" asp-action="PreparingAndMonitoring" id="link-pagination-employer-5"> Preparing and monitoring</a></li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">Assessment </a> </li>
        <li><a href="#h2" class="hero__link">Where to find an end-point assessment organisation </a> </li>
        <li><a href="#h3" class="hero__link">Certification </a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training" />
    </div>
}