@{
    ViewBag.Title = "Assessment and qualification";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<h2>AssessmentAndQualification</h2>

<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/preparing-and-monitoring"> Preparing and monitoring</a></li>
</ul>