@model object

@{
    ViewBag.Title = "Benefits to your business";
    ViewBag.MetaTitle = "Benefits to your business";
    ViewBag.PageID = "employer-benefits-to-your-business";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<p>
    Apprenticeships have moved on from the 'YTS' style of learning back in the 1980s. You can now employ apprentices at all different levels, from school leavers to people that want to further their careers or change career direction completely.  An apprentice can be aged 16 or 100 plus!
</p>
<h2 class="heading-m">The benefits to your business</h2>
<p>Hiring an apprentice is a productive and effective way for any business to grow talent and develop a motivated, skilled and qualified workforce.</p>
<p>Employers who have an established apprenticeship programme reported that productivity in their workplace had improved by 76% whilst 75% reported that apprenticeships improved the quality of their product or service. </p>
<p>Other benefits that apprenticeships contribute to your business include:</p>
<ul class="list list--bullet list--bullet-employer">
    <li>increasing employee satisfaction by giving them new skills</li>
    <li>reducing staff turnover</li>
    <li>reducing recruitment costs</li>
    <li>develop new recruits to meet your business needs</li>
    <li>increase your team while keeping your costs down</li>
</ul>
