@model ApprenticeshipFundingViewModel
@{
    ViewBag.Title = "Apprenticeship Funding Calculator";
    Layout = $"Redesign_Layout_EmployersForm";
    ViewBag.PageTitle = "Apprenticeship Funding Calculator";
    ViewBag.PageSummary = "";
    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageSlug = "calculate-your-apprenticeship-funding";
    ViewBag.ArticlePageTitle = "Calculate your apprenticeship funding";
}
<p>This is my TEST page.</p>