@model SFA.DAS.Campaign.Web.Models.ApprenticeshipFundingViewModel
@{
    ViewBag.Title = "Start your apprenticeship journey";
    ViewBag.HubPage = true;
    Layout = $"Redesign_Layout_EmployersHub";
    ViewBag.PageTitle = "Start your apprenticeship journey";
    ViewBag.PageSummary = "Discover how hiring an apprentice can benefit your business and find out what financial support and help is available to you.";
    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageSlug = "start-your-apprenticeship-journey";
    ViewBag.ArticlePageTitle = "Start your apprenticeship journey";
    ViewBag.HeadingImage = "https://das-roi-tool-prototype.herokuapp.com/public/images/heroimg.jpg";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-9">
        <div class="govuk-grid-column-one-third govuk-!-margin-top-9 fiu-hide-print">
            <h2 class="govuk-heading-l">On this page</h2>
            <ul class="govuk-list govuk-list--spaced">
                <li><a href="#@Model.Panel1.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel1.LinkTitle</a></li>
                <li><a href="#@Model.Panel2.Slug" class="govuk-link govuk-link--no-visited-state">@Model.Panel2.LinkTitle</a></li>
                <li><a href="#funding" class="govuk-link govuk-link--no-visited-state">Find out what funding you could have available</a></li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
            <div class="fiu-hide-print">
                <div id="@Model.Panel1.Slug">@await Html.PartialAsync("_Panel", Model.Panel1)</div>
                <div id="@Model.Panel2.Slug">@await Html.PartialAsync("_Panel", Model.Panel2)</div>
            </div>
            @if (Model.Submitted == true)
            {
                <div id="funding">@await Html.PartialAsync("_CalculationResults", Model)</div>
            }
            else
            {
                <div id="funding">@await Html.PartialAsync("_Calculation", Model)</div>
            }
        </div>
    </div>
</div>
