@model object

@{
    ViewBag.Title = "Choose a training provider";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<p>
    You will need to choose a training provider to train your apprentice.  Most employers use an external training organisation to provide training to apprentices. There are two main types of training organisations – further education colleges and independent training providers, which can be in the private or voluntary sector.
</p>
<p>
    You can also decide whether you want the training to take place:
    <ul class="list list--bullet list--bullet-employer">
        <li>in the workplace</li>
        <li>as a day release</li>
        <li>as a block release</li>
    </ul>
</p>
<p>
    If you choose to have your apprentice training in the workplace it’s a good way of the apprentice setting their own pace of learning.  It’s also convenient.
</p>
<p>
    The option of day realise learning at a college, for example, offers the apprentice a more structured approach to their learning and might be better suited to some people.
</p>
<p>
    The block release alternative can be beneficial for apprenticeships in engineering, for example, where the apprentice needs to learn a broad foundation of skills before they can start the practical side.
</p>

<h2 class="heading-m">The right questions</h2>
<p>
    In order to find the most suitable training provider and method of learning, you should be prepared to ask your training provider a series of questions. For example,

    <ul class="list list--bullet list--bullet-employer">
        <li>can I meet the tutors and take a tour of your training facility</li>
        <li>which employers do you work with</li>
        <li>can you provide references</li>
        <li>how will you support my apprentice to meet their potential</li>
        <li>how can I keep track of their process</li>
    </ul>
</p>
<p>
    As the employer, you can also check that the training provider is on the register of approved apprenticeship training providers, which is managed by the Education and Skills Funding Agency (ESFA).  The list shows the names of training providers that are eligible to receive government funding to train apprentices.
</p>
<p>
    You can also look at the Ofsted grading of any training provider.  It’s important when looking at the reports provided by Ofsted that you focus on the grade given for the apprenticeship you want.
</p>
<h2 class="heading-m">Misunderstandings and myths</h2>
<p>
    There are some misunderstandings and myths about what you can and can’t do when hiring an apprentice.  Here are some examples:
    <ul class="list list--bullet list--bullet-employer">
        <li>you can only work with one training provider at a time</li>
        <li>you can’t get funding for over 24’s</li>
        <li>graduates can’t do apprenticeships</li>
    </ul>
</p>
<p>
    Additionally, there are some common mistakes that you should consider so that you get the best out of your apprentice and training provider.
</p>
<p>
    Make sure:
    <ul class="list list--bullet list--bullet-employer">
        <li>you select the right training for your business which delivers what you need</li>
        <li>you don’t accept training just because it’s the only apprenticeship available</li>
        <li>you and your training provider are both involved with the training of your apprentice</li>
    </ul>
</p>
<h2 class="heading-m">What makes a good practice</h2>

<p>

    A training provider who offers help and good service to an employer should support with:
    <ul class="list list--bullet list--bullet-employer">
        <li>finding the right apprentice for the employer</li>
        <li>preparing the apprentice for the workplace</li>
        <li>making sure the apprentice is working in the appropriate environment</li>
        <li>finding the right pace of learning for the apprentice</li>
        <li>working with the employer to make sure the apprentice is learning the relevant skills</li>
    </ul>
</p>

<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/the-right-apprenticeship"> The right apprenticeship</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/hire-an-apprentice"> Hire an apprentice</a> </li>
</ul>