@model object

@{
    ViewBag.Title = "Choose a training provider";
    ViewBag.MetaTitle = "Choose a training provider";
    ViewBag.PageID = "employer-choose-training-provider";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<p>
    You will need to choose a training provider to train your apprentice.  
    [LINK][Find apprenticeship training] will help you search for one by location, job role or keyword.   
</p>


<h2 class="heading-m">Misunderstandings and myths</h2>
<p>
    There are some misunderstandings and myths about what you can and can't do when hiring an apprentice.  
    Here are some examples:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>you can only work with one training provider at a time</li>
    <li>you can't get funding for over 24's</li>
   
</ul>
<p>
    Additionally, there are some common mistakes that you should consider so that you get the best out of your apprentice and training provider.
</p>
<p>
    Make sure:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>you select the right training for your business which delivers what you need</li>
    <li>you don’t accept training just because it’s the only apprenticeship available</li>
    <li>you and your training provider are both involved with the training of your apprentice</li>
</ul>
<h2 class="heading-m">What makes good practice</h2>
<p>
    A training provider can also offer support with:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>finding the right apprentice for the employer</li>
    <li>preparing the apprentice for the workplace</li>
    <li>making sure the apprentice is working in the appropriate environment</li>
    <li>finding the right pace of learning for the apprentice</li>
    <li>working with the employer to make sure the apprentice is learning the relevant skills</li>
</ul>

<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/the-right-apprenticeship"> The right apprenticeship</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/hire-an-apprentice"> Hire an apprentice</a> </li>
</ul>