@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@model object
@{
    ViewBag.Title = "Choose a training provider";
    ViewBag.MetaTitle = "Choose a training provider";
    ViewBag.PageID = "employer-choose-training-provider";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContentSidebar";
    ViewBag.Section = "employer";
    ViewBag.PageNavIndex = 3;
}

<p>
    You will need to choose a training provider to train your apprentice.
</p>
<p>
    <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/ApprenticeshipOrProvider" target="_blank" rel="external" id="link-fat">Find apprenticeship training</a> will help
    you search for one by location, job role or keyword.
</p>

<p>
    Your training provider can provide you with as much help and support as you need when you take on an apprentice.

</p>
<p>
    Your training provider may also be able to help with:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>finding the right apprenticeship for you</li>
    <li>preparing your apprentice for your organisation</li>
    <li>making sure your apprentice is working in the appropriate environment</li>
    <li>finding the right pace of learning for your apprentice</li>
    <li>working with you to make sure your apprentice is learning the relevant skills</li>
</ul>

<h2 class="heading-m" id="h1">Misunderstandings and myths</h2>
<p>
    There are some misunderstandings and myths about what you can and can't do when working with a training provider.
    Here are a couple of examples:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>you can only work with one training provider at a time - not true, you can use a number of training providers</li>
    <li>
        you can't get funding for over 24's - not true, you can get funding for
        apprenticeships depending on both your circumstances
    </li>

</ul>

<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/the-right-apprenticeship" id="link-pagination-employer-2"> The right apprenticeship</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/hire-an-apprentice" id="link-pagination-employer-4"> Hire an apprentice</a> </li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">Misunderstandings and myths </a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}
