@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model object
@{
    ViewBag.Title = "Choose a training provider";
    ViewBag.MetaTitle = "Choose a training provider";
    ViewBag.HeroImageAltText = "Apprentice in a business environment";
    ViewBag.PageID = "employer-choose-training-provider";
    ViewBag.MetaDesc = "You'll need to choose a training provider once you've found an apprenticeship. Search for one that's local or offers the best match for your apprenticeship.";
    ViewBag.PageUrl = "/employer/choose-training-provider";
    Layout = "_LayoutContentSidebar";
    ViewBag.Section = "employer";
    ViewBag.PageNavIndex = 3;
}

<h2 class="heading-m" id="h1">Finding the right training provider</h2>

<p>
    You will need to choose a training provider to train your apprentice.
</p>
<p>
    <a href="https://www.apprenticeships.gov.uk/employer/find-apprenticeship-training" rel="external" id="link-fat">Find apprenticeship training</a> service will help you search for apprenticeship training by job role or keyword. You can then use the service to search for training providers that offer that training. </p>

<p>You can do a postcode search but your provider doesn’t have to be located near you. Many providers offer training at your workplace and / or online. The locations they cover and the types of training they offer are shown in the search results.</p>

<p>For example, one day a week training, training in blocks of days or weeks, and so on.</p>

<p>You can also look at the <a href="https://www.instituteforapprenticeships.org/occupational-maps/"  rel="external">occupation maps</a> to understand which training will suit your needs.</p>

<h2 class="heading-m" id="h1">Things to consider</h2>

<p>Choosing a training partner that is right for your business is really important.</p>
<p>Consider things like:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>how well they communicate with you about the training</li>
    <li>what other employers say about them</li>
    <li>what other apprentices say about them</li>
</ul>

<p>The Find apprenticeship training service shows you:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>the percentage of apprentices that have passed their apprenticeship with the training provider</li>
    <li>employer satisfaction rating</li>
    <li>learner satisfaction rating</li>
    <li>strengths</li>
    <li>things to improve </li>
</ul>

<h2 class="heading-m" id="h1">Working with your training provider</h2>
<p>Your training provider can provide you with as much help and support as you need when you take on an apprentice.</p>
<p>It is up to you how you work together. Just ask them any questions that you have, and if you are still not sure, you can contact our employer support team.</p>
<p>Your training provider can help you with:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>finding the right training</li>
    <li>recruiting and interviewing apprentices</li>
    <li>preparing your apprentice for the workplace</li>
    <li>making sure your apprentice is working in an appropriate environment</li>
    <li>finding the right pace of learning for your apprentice</li>
    <li>making sure your apprentice is learning the relevant skills for our business</li>
</ul>

<h2 class="heading-m" id="h1">How is your apprentice assessed?</h2>
<p>All apprentices have to pass an end-point assessment to achieve their apprenticeship.</p>
<p>To ensure training is of the highest quality, this assessment is carried out by an organisation that is independent to the training provider.</p>
<p>As the employer, you have the power to choose the end-point assessment organisation (EPAO) to ensure it is an independent process, giving you reassurance that your apprentice is competent in the knowledge, skills and behaviours required for their occupation and role.</p>
<p>The cost of end-point assessment is included in the price agreed with your training provider. The training provider will pay the EPAO on your behalf.</p>


<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/the-right-apprenticeship" id="link-pagination-employer-2"> The right apprenticeship</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/hire-an-apprentice" id="link-pagination-employer-4"> Hire an apprentice</a> </li>
</ul>

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Employer})
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training" />
    </div>
}