@model object

@{
    ViewBag.Title = "Hire an apprentice";
    ViewBag.MetaTitle = "Hire an apprentice";
    ViewBag.PageID = "employer-hire-an-apprentice";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContent";
    ViewBag.PageNavIndex = 4;
}

<h2 class="heading-m">Finding the right apprentice for you</h2>

<p>
    When you've decided to hire an apprentice you need to think about the right person for you and the benefits they can bring to your business.
</p>

<p>
    When you write the apprenticeship advert be sure to make it understandable and simple for candidates who will be searching through many other apprenticeship vacancies.
</p>
<p>
    Think about:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>offering a competitive apprenticeship salary - depending on experience</li>
    <li>the apprenticeship description - keeping is simple and short</li>
    <li>whether the right person for you will be someone with no experience or more</li>
    <li>why they might want to come and work for you</li>
    <li>what their future career prospects look like</li>
    <li>what their future salary potential could look like</li>
</ul>

<p>
    Consider other ways of finding the right person, for example:
</p>
<ul class="list list--bullet list--bullet-employer">

    <li>hold open days at your organisation</li>
    <li>participate in shows, such as 'WorldSkills UK Live'</li>
    <li>invite potential apprentices to your organisation for a day, to get a feel for how you work</li>
</ul>
<h2 class="heading-m">How to ask the right questions at interview</h2>
<p>
    Take time to think about what you really need to know and how you’ll
    tease out the best from the interviewee.  You want to find out if the candidate is right for your organisation.
</p>
<p>
    Here are some example questions:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>tell me about yourself</li>
    <li>to date, what would you consider your biggest achievement in school/college/work</li>
    <li>what's your time keeping like</li>
    <li>do you work well in a team</li>
    <li>what do you consider are your strengths</li>
    <li>what do you consider are your weaknesses</li>
    <li>why do you think we should hire you</li>
    <li>why would you like to work for our organisation</li>
    <li>do you have any questions you'd like to ask us</li>
</ul>

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/choose-training-provider"> Choose a training provider</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/preparing-and-monitoring"> Preparing and monitoring</a></li>
</ul>


@section Resources {
    <partial name="./Components/Resources/_employer" />
}
