@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model object
@{
    ViewBag.Title = "Hire an apprentice";
    ViewBag.MetaTitle = "What to think about to find the right apprenticeship for your business";
    ViewBag.HeroImageAltText = "Apprentice in the digital industry";
    ViewBag.PageID = "employer-hire-an-apprentice";
    ViewBag.MetaDesc = "When you've decided to employ an apprentice, think about offering an attractive salary, good career prospects and ask the right questions at the interview. ";
    ViewBag.PageUrl = "/employer/hire-an-apprentice";
    ViewBag.Section = "employer";
    Layout = "_LayoutContentSidebar";
    ViewBag.PageNavIndex = 4;
}



<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" asp-controller="Employer" asp-action="ChooseATrainingProvider" id="link-pagination-employer-3"> Choose a training provider</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" asp-controller="Employer" asp-action="PreparingAndMonitoring" id="link-pagination-employer-5"> Preparing and monitoring</a></li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">Finding the right apprentice for you </a> </li>
        <li><a href="#h2" class="hero__link">How to ask the right questions at interview </a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Employer, Content = HeroHeadingContent() })
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training" />
    </div>
}