@*@model < object ></ object >*@

@{
    ViewBag.Title = "How much is it going to cost?";
    Layout = "_LayoutContent";
}

<h2 class="heading-m">How much will it cost me?</h2>
<p>
    You can get help from the government to pay for apprenticeship training.  The amount you get depends on whether you pay the apprenticeship levy or not.
    You will pay the apprenticeship levy if you’re an employer with a pay bill over £3 million each year.
</p>
<p>
    Apprenticeship funding is devolved and so how you get your funds and pay for training depends on whether you’re in:

    <ul class="list list--bullet list--bullet-employer">
        <li>England</li>
        <li>Scotland</li>
        <li>Wales</li>
        <li>Northern Ireland</li>
    </ul>
</p>
<h3 class="heading-s">Example Cost 1</h3>
<h3 class="heading-s">Example Cost 1</h3>
<h2 class="heading-m">If you don’t need to pay the apprenticeship levy</h2>
<p>
    As an employer who doesn’t pay the apprenticeship levy, you will continue to pay the training provider directly for training your apprentices.
</p><p>
    You pay 10% towards the cost of training and assessing your apprentice.  The government will pay the rest (90%) up to the funding band maximum. They’ll pay it directly to the training provider.
</p><p>
    Before you start your apprentice, you’ll need to agree:
    <ul class="list list--bullet list--bullet-employer">
        <li>a payment breakdown and schedule with the training provider</li>
        <li>how you’re going to pay your training provider directly for the training</li>
    </ul>


</p>

<h2 class="heading-m"> Additional payments from the government if you don’t pay the apprenticeship levy:</h2>
<p>
    Employers who don’t pay the levy, can get additional payments from the government.
</p><p>
    Additional payments of £1,000 may be available to you and your training provider at the start of an apprenticeship.  This will be paid (in 2 instalments) when you take on an apprentice who’s between:
    <ul class="list list--bullet list--bullet-employer">

        <li> 16-18 years old</li>
        <li>
            19-24 years old and has previously been in care or who has a local authority
            education, health and care plan
        </li>
    </ul>
</p>