@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@{
    ViewBag.Title = "How much is it going to cost?";
    ViewBag.MetaTitle = "What are the costs to me: How much will it cost my business to take on an apprentice? ";
    ViewBag.PageID = "employer-what-are-the-costs-to-me";
    ViewBag.MetaDesc = "How much will employing an apprentice cost me and my business.";
    ViewBag.Section = "employer";
    Layout = "_LayoutContent";
}

<h2 class="heading-m">How much will it cost me?</h2>
<p>
    You can get help from the government to pay for apprenticeship training and assessment.  
    The amount you get depends on whether you pay the apprenticeship levy or not.
    You will pay the apprenticeship levy if you're an employer with a pay bill over &pound;3 million each year.
</p>
<p>
    Apprenticeship funding is a devolved matter and so how you get your funds and pay 
    for training depends on whether you're in:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>England</li>
    <li><a href="https://www.apprenticeships.scot/" target="_blank">Scotland</a></li>
    <li><a href="https://businesswales.gov.wales/skillsgateway/apprenticeships" target="_blank">Wales</a></li>
    <li><a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank">Northern Ireland</a></li>
</ul>
<h2 class="heading-m">If you don't need to pay the apprenticeship levy</h2>
<p>
    As an employer who doesn’t pay the apprenticeship levy, you will need to pay 
    the training provider directly for training your apprentices.
</p>
<p>
    You pay 10% towards the cost of training and assessing your apprentice.  
    The government will pay the rest (90%) up to the funding band maximum. 
    They’ll pay the funds directly to the training provider.
</p>
<p>
    If you’re an employer with fewer than 50 employees, you can get additional payments from the government.
</p>

<h2 class="heading-m">Additional payments from the government</h2>
<p>
    Employers who don't pay the levy, can get additional payments from the government.
</p>
<p>
    Additional payments of &pound;1,000 may be available to you and your training provider at the start of an
    apprenticeship. Payments will be made directly to your chosen training provider.
</p>
<p>
    Additional payments will be made when you take on an apprentice who’s between:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li> 16-18 years old</li>
    <li>
        19-24 years old and has previously been in care or who has a local authority
        education, health and care plan
    </li>
</ul>
<div class="grid-row">
<div class="grid-column-full">
    <div class="govuk-accordion" data-module="accordion" id="accordion-content-employer-cost">
        <div class="govuk-accordion__section accordion__section">
            <h2 class="govuk-accordion__section-header accordion__section-header">
                <span class="govuk-accordion__section-header-button" id="accordion-content-employer-cost-1"></span>
                Paying for apprenticeships using a transfer of apprenticeship funds
            </h2>
            <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-content-employer-cost-1">

                <p><a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank">Transferred funds</a> can be used to pay for new apprenticeship training and assessment
                for apprenticeship standards.  Transferred funds can't be used for <a href="/employer/the-right-apprentice#available-apprenticeships"></a> apprenticeship frameworks.
                </p>
                <p>
                    Employers who already have an apprenticeship service account and haven't spent all their
                    apprenticeship funds, can transfer unused funds to another employer.
                </p>
                <p>
                    How to <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" target="_blank">
                        register and use the
                        apprenticeship service
                    </a> as an employer.
                </p>
                <p>
                    If you want to receive funds from
                    an employer to pay for your apprenticeships, you will have
                    to <a href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" target="_blank">create an account</a> on the
                    apprenticeship service.
                </p>
               
            </div>
        </div>
        <div class="govuk-accordion__section accordion__section">
            <h2 class="govuk-accordion__section-header accordion__section-header">
                <span class="govuk-accordion__section-header-button" id="accordion-content-employer-cost-2"></span>
                Transferring funds to another employer
            </h2>
            <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-content-employer-cost-2">
                <p>
                    If you have unused apprenticeship funds, you can <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank">transfer them to another employer</a>.  
                   You will have to use the apprenticeship service if you want to do this. 
                </p>
                 <p>
                    Employers who pay the apprenticeship levy and have unused apprenticeship funds can find 
                     employers who want to receive a transfer in a number of ways, for example:
                 </p>
                <ul class="list list--bullet list--bullet-employer">
                    <li>work with employers in your supply chain</li>
                    <li>get in touch with employers in your industry</li>
                    <li>get in touch with an Apprenticeship Training Agency (ATA)</li>
                    <li>work with regional partners</li>
                </ul>
            </div>
        </div>
        <div class="govuk-accordion__section accordion__section">
            <h2 class="govuk-accordion__section-header accordion__section-header">
                <span class="govuk-accordion__section-header-button" id="accordion-content-employer-cost-3"></span>
                Paying the levy
            </h2>
            <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-content-employer-cost-3">
                <p>
                    If you pay the apprenticeship levy, you’ll receive funds through the apprenticeship service to spend on 
                    training and assessing your apprentices. The government will add 10% to these funds.
                <p>
                    You need to 
                    <a href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" target="_blank">sign in or create</a> a new account on the apprenticeship service to fund your apprenticeships.</p>
                </p>

            </div>
        </div>
    </div>
</div>
</div>
<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/the-right-apprenticeship"> The right apprenticeship</a></li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
    <li><a href="#Cost" class="hero__link">How much will it cost me</a> </li>
    <li><a href="#NoLevy" class="hero__link">If you don’t need to pay the apprenticeship levy</a> </li>
    <li><a href="#AdditionalPayments" class="hero__link">Additional payments from the government</a> </li>
</ul>);


}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}