@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@{
    ViewBag.Title = "How much is it going to cost?";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<h2 class="heading-m">How much will it cost me?</h2>
<p>
    You can get help from the government to pay for apprenticeship training and assessment.  
    The amount you get depends on whether you pay the apprenticeship levy or not.
    You will pay the apprenticeship levy if you're an employer with a pay bill over &pound;3 million each year.
</p>
<p>
    Apprenticeship funding is devolved matter and so how you get your funds and pay 
    for training depends on whether you're in:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>England [LINK]</li>
    <li>Scotland [LINK]</li>
    <li>Wales [LINK]</li>
    <li>Northern Ireland [LINK]</li>
</ul>
<h2 class="heading-m">If you don't need to pay the apprenticeship levy</h2>
<p>
    As an employer who doesn’t pay the apprenticeship levy, you will need to pay 
    the training provider directly for training your apprentices.
</p>
<p>
    You pay 10% towards the cost of training and assessing your apprentice.  
    The government will pay the rest (90%) up to the funding band maximum. 
    They’ll pay the funds directly to the training provider.
</p>
<p>If you’re an employer with fewer than 50 employees, you can get additional payments from the government. 
</p>


<h2 class="heading-m">Additional payments from the government:</h2>
<p>
    Employers who don't pay the levy, can get additional payments from the government.
</p>
<p>
    Additional payments of &pound;1,000 may be available to you and your training provider at the start of an 
    apprenticeship. Payments will be made directly to your chosen training provider. 
    <p>
    Additional payments will be made when you take on an apprentice who’s between:</p>
</p>
<ul class="list list--bullet list--bullet-employer">
    <li> 16-18 years old</li>
    <li>
        19-24 years old and has previously been in care or who has a local authority
        education, health and care plan
    </li>
</ul>
<div class="grid-row">
<div class="grid-column-full">
    <div class="govuk-accordion" data-module="accordion" id="accordion-content-employer-cost">
        <div class="govuk-accordion__section accordion__section">
            <h2 class="govuk-accordion__section-header accordion__section-header">
                <span class="govuk-accordion__section-header-button" id="accordion-content-employer-cost-1"></span>
                Paying for apprenticeships using a transfer of apprenticeship funds
            </h2>
            <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-content-employer-cost-1">
               
                <p>Transferred funds can be used to pay for new apprentice training and assessment 
                    for apprenticeship standards.
                    
                </p>

                <p>
                    Employers who already have an apprenticeship service account and haven't spent all their 
                    apprenticeship funds, can transfer unused funds to another employer.</p>
               
                </p>
                <p>
                    If you want to receive funds from 
                    an employer to pay for your apprenticeships, you will have to [LINK][create an account] on the
                     apprenticeship service.
                </p>
                 </p>
                </p>
                FURTHER READING
                <p>More about transfers</p>
                <p>How to register and use the apprenticeship service as an employer</p>
            </div>
        </div>
        <div class="govuk-accordion__section accordion__section">
            <h2 class="govuk-accordion__section-header accordion__section-header">
                <span class="govuk-accordion__section-header-button" id="accordion-content-employer-cost-2"></span>
                Transferring funds to another employer
            </h2>
            <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-content-employer-cost-2">
                <p>

                    <p>
                
                   If you have unused apprenticeship funds, you can transfer them to another employer.  
                   You will have to use the apprenticeship service if you want to do this. 
                    </p>
                    <p>
                    Employers who pay the apprenticeship levy and have unused apprenticeship funds can find 
                    employers who want to receive a transfer in a number of ways, for example:</p>
                    <ul class="list list--bullet list--bullet-employer">
                        <li>work with employers in your supply chain</li>
                        <li>get in touch with employers in your industry</li>
                        <li>get in touch with an Apprenticeship Training Agency (ATA)</li>
                        <li>work with regional partners</li>
                    </ul>
                </p>
                
                FURTHER READING
                <p>
                [LINK][Transferring unused apprenticeship funds to other organisations in the apprenticeship service]
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section accordion__section">
            <h2 class="govuk-accordion__section-header accordion__section-header">
                <span class="govuk-accordion__section-header-button" id="accordion-content-employer-cost-3"></span>
                Paying the levy
            </h2>
            <div class="govuk-accordion__section-panel accordion__section-panel" aria-labelledby="accordion-content-employer-cost-3">
                <p>
                    If you pay the apprenticeship levy, you’ll receive funds to spend on 
                    training and assessing your apprentices. The government will add 10% to these funds.
                    <a href="#">REGISTER</a>  or <a href="#">Sign in</a> to your account
                </p>

            </div>
        </div>
    </div>
</div>
</div>
<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/the-right-apprenticeship"> The right apprenticeship</a></li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
    <li><a href="#Cost" class="hero__link">How much will it cost me</a> </li>
    <li><a href="#NoLevy" class="hero__link">If you don’t need to pay the apprenticeship levy</a> </li>
    <li><a href="#AdditionalPayments" class="hero__link">Additional payments from the government</a> </li>
</ul>);


}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}