@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@{
    ViewBag.Title = "How much is it going to cost?";
    ViewBag.MetaTitle = "See the costs and funding you can get when you take on an apprentice";
    ViewBag.PageID = "employer-what-are-the-costs-to-me";
    ViewBag.MetaDesc = "How much will employing an apprentice cost me and my organisation.";
    ViewBag.PageNavIndex = 1;
    Layout = "_LayoutContentSidebar";
}

<h2 class="heading-m" id="h1">How much will it cost me?</h2>
<p>
    You can get help from the government to pay for apprenticeship training and assessment.
    The amount you get depends on whether you pay the apprenticeship levy or not.
    You will pay the apprenticeship levy if you're an employer with a pay bill more than &pound;3 million each year.
</p>
<p>
    Apprenticeship funding is a devolved matter and so how you get your funds and pay
    for training depends on whether you're in:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>England</li>
    <li><a href="https://www.apprenticeships.scot/" target="_blank" rel="external" id="link-scotland">Scotland</a></li>
    <li><a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external" id="link-wales">Wales</a></li>
    <li><a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external" id="link-northern-ireland">Northern Ireland</a></li>
</ul>
<h2 class="heading-m" id="h2">If you don't need to pay the apprenticeship levy</h2>
<p>
    As an employer who doesn’t pay the apprenticeship levy, you will need to pay the training
    provider directly for training your apprentices.
</p>
<p>
    You pay 5% towards the cost of training and assessing your apprentice. The government 
    will pay the rest (95%) up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" target="_blank" rel="external" id="link-funding-bands-1">funding band maximum</a>. They’ll pay the funds directly 
    to the training provider.
</p>

<h2 class="heading-m" id="h3">Additional payments from the government</h2>

<h3 class="heading-s">Extra support for small employers</h3>
<p>
    Employers with fewer than 50 people working for them will not have to pay the 5% 
    contribution for an apprentice who is aged between:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>16-18 years old</li>
    <li>
        19-24 years old and who has previously been in care or who has an Education,
        Health and Care plan provided by their local authority
    </li>
</ul>

<p>
    The government will pay 100% of the training costs for these individuals,
    up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands" target="_blank" rel="external" id="link-funding-bands-2">funding band maximum</a>.
</p>

<h3 class="heading-s">Training younger apprentices</h3>

<p>All employers will receive £1,000 if, at the start of the apprenticeship, the apprentice is aged between:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>16-18 years old</li>
    <li>
        19-24 years old and who has previously been in care or who has an Education,
        Health and Care plan provided by their local authority
    </li>
</ul>

<p>
    This payment will be made to the employer in two equal instalments via the training provider.
</p>

<h3 class="heading-s">Example costs</h3>
<p>
    Below are some examples of the breakdown of the costs for funding an apprentice.  The cost of training
    and assessment are included, however, the apprentice's salary is not.
</p>
<h3 class="heading-xs">Example costs 1:</h3>
<table class="table table--employer">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell table__row-title table__header-row-title">Financial services administrator</th>
            <th class="table__cell  table__row-value--header">Level 3 - (<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="external" id="link-qualification-levels-1">levels explained</a>)</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Number of apprentices</th>
            <td class="table__cell">1</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Funding band maximum</th>
            <td class="table__cell">£12,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Agreed price with training provider</th>
            <td class="table__cell">£12,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">The government will pay</th>
            <td class="table__cell">£11,400</td>
        </tr>
    </tbody>
    <tfoot class="table__footer">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Cost to you</th>
            <td class="table__cell">£600</td>
        </tr>
    </tfoot>
</table>
<h3 class="heading-xs">Example costs 2:</h3>
<table class="table table--employer">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell table__row-title table__row-title--header">Rail Infrastructure Operator</th>
            <th class="table__cell table__row-value--header">Level 2 - (<a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="external" id="link-qualification-levels-2">levels explained</a>)</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Number of apprentices</th>
            <td class="table__cell">1</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Funding band maximum</th>
            <td class="table__cell">£12,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Agreed price with training provider</th>
            <td class="table__cell">£10,000</td>
        </tr>
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">The government will pay</th>
            <td class="table__cell">£9,500</td>
        </tr>
    </tbody>
    <tfoot class="table__footer">
        <tr class="table__row">
            <th class="table__cell table__row-title" scope="row">Cost to you</th>
            <td class="table__cell">£500</td>
        </tr>
    </tfoot>
</table>

<h3 class="heading-s">Paying for apprenticeships using a transfer of apprenticeship funds</h3>
<p>
    Employers who already have an apprenticeship service account and haven't spent all their
    apprenticeship funds, can transfer unused funds to another employer.
</p>

<p>
    <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank" rel="external" id="link-transfer-funds-1">Transferred funds</a> can be used to pay for new apprenticeship training and assessment
    for <a asp-controller="Employer" asp-action="TheRightApprenticeship" asp-fragment="available-apprenticeships" id="link-apprenticeship-standards">apprenticeship standards</a>.  Transferred funds can't be used for apprenticeship frameworks.
</p>

<h3 class="heading-s">
    Transferring funds to another employer
</h3>
<p>
    If you have unused apprenticeship funds, you can <a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds" target="_blank" rel="external" id="link-transfer-funds-2">transfer them to another employer</a>.
    You will have to use the apprenticeship service if you want to do this.
</p>
<p>
    How to <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" target="_blank" rel="external" id="link-ma-funds">
        register and use the apprenticeship service
    </a> as an employer.
</p>
<p>
    Employers who pay the apprenticeship levy and have unused apprenticeship funds can find
    employers who want to receive a transfer in a number of ways, for example:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>work with employers in your supply chain</li>
    <li>get in touch with employers in your industry</li>
    <li>get in touch with an Apprenticeship Training Agency (ATA)</li>
    <li>work with regional partners</li>
</ul>


<h3 class="heading-s">

    Paying the levy
</h3>

<p>
    If you pay the apprenticeship levy, you’ll receive funds through the apprenticeship service to spend on
    training and assessing your apprentices. The government will add 10% to these funds.
<p>
    You need to
    <a href="https://accounts.manage-apprenticeships.service.gov.uk/service/index" target="_blank" rel="external" id="link-ma">sign in or create</a> a new account on the apprenticeship service to fund your apprenticeships.
</p>

<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item pagination__list-item--next">
        <a class="pagination__link pagination__link--next" asp-controller="Employer" asp-action="TheRightApprenticeship" id="link-pagination-employer-2"> The right apprenticeship</a>
    </li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">How much will it cost me? </a> </li>
        <li><a href="#h2" class="hero__link">If you don't need to pay the apprenticeship levy </a> </li>
        <li><a href="#h3" class="hero__link">Additional payments from the government </a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}