@{
    Layout = "_Layout-campaign";
    ViewBag.Title = "Employer";
    ViewBag.MetaTitle = "Employer: Find out all about employing an apprentice for your business";
    ViewBag.Section = "employer";
    ViewBag.PageID = "employer-hub";
    ViewBag.MetaDesc = "As an employer find out all you need to know about apprenticeships and how it can benefit your business.";
}



<div class="hero-banner">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <h1 class="heading-xl hero-heading__heading">Turbo charge your business</h1>
            </div>
            <h2 class="heading-s hero-banner__sub-heading">Be part of the movement</h2>
            <p class="hero-banner__copy">
                Try apprenticeships for size - you'll grow your own talent, reduce staff turnover and enhance the skills your company need to succeed.
            </p>
            <h2 class="hero-banner__copy heading-xs">Call the National apprenticeship service</h2>
            <p class="hero-banner__copy heading-xl" id="tel-employer-hub">0800 015 0600</p>
            <p>Find out about call charges</p>
        </div>
    </div>
    <span class="hero-banner__background hero-banner__background--employer"></span>
</div>

<div class="grid-row-full-width card__collection card__collection--employer">
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/employer/how-much-is-it-going-to-cost">
            <div class="card__image">
                <span class="card__img card__img--1"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">What's the process of employing an apprentice</h2>
                <p class="card__link">Employ an apprentice</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/employer/the-right-apprenticeship">
            <div class="card__image">
                <span class="card__img card__img--2"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">The right apprenticeship</h2>
                <p class="card__link">Find the right apprenticeship</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/employer/benefits">
            <div class="card__image">
                <span class="card__img card__img--3"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Benefits to your business </h2>
                <p class="card__link">Discover the benefits</p>
            </div>
        </a>
    </div>
    <div class="grid-column-full-width-one-quarter">
        <a class="card" href="/employer">
            <div class="card__image">
                <span class="card__img card__img--4"></span>
            </div>
            <div class="card__content">
                <h2 class="card__headline heading-s">Real stories and famous apprentices</h2>
                <p class="card__link">See what others have done</p>
            </div>
        </a>
    </div>
</div>