@model object

@{
    ViewBag.Title = "Preparing and monitoring";
    ViewBag.MetaTitle = "Preparing and monitoring";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
    ViewBag.PageID = "employer-preparing-monitoring";
    ViewBag.MetaDesc = "";
}
<p>
    Taking on an apprentice, whatever age will need some preparation from you, as the employer.
</p>
<p>
    If the new apprentice is straight out of school then they will probably have limited experience of what's expected of them going into their first salaried job.
</p>
<p>
    If your new apprentice is older and more experienced they might not need as much help as the school leaver, but they may still be nervous and unsure of what’s expected of them.
</p>

<h2 class="heading-m">Preparing</h2>
<p>
    Before an apprentice starts you should consider sending them a starter pack so they know what to expect from their first day.
</p>
<p>
    It could include:
</p>

<ul class="list list--bullet list--bullet-employer">
    <li>a list of what you'd like them to bring - laptop/notebook/pens/ID</li>
    <li>what time you'd like them to arrive</li>
    <li>how they should dress</li>
    <li>how much money they need to bring for lunch etc</li>
    <li>who they should ask for when they arrive</li>
    <li>where to get the bus/train or park their car</li>
</ul>


<h2 class="heading-m">Monitoring</h2>
    
<p>
    It's important as an employer to mentor your new apprentice and keep in regular contact with them.  Perhaps you could consider:
</p>   
<ul class="list list--bullet list--bullet-employer">
    <li>establishing a weekly catch up with your apprentice</li>
    <li>regular updates with your training provider</li>
    <li>assigning a member of staff to be their daily 'go-to' person</li>
</ul>


<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/hire-an-apprentice"> Hire an apprentice</a> </li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/assessment-and-qualification"> Assessment and qualification</a></li>
</ul>
