@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model object
@{
    ViewBag.Title = "Preparing and monitoring";
    ViewBag.MetaTitle = "As an employer - what you need to think about before hiring an apprentice";
    ViewBag.Section = "employer";
    ViewBag.PageID = "employer-preparing-monitoring";
    ViewBag.MetaDesc = "What you should consider before you take on an apprentice - e.g regular catch-ups, assigning another employee to help them, what they should bring with them. ";
    ViewBag.PageUrl = "/employer/preparing-and-monitoring";
    ViewBag.PageNavIndex = 5;
    Layout = "_LayoutContentSidebar";
}
<p>
    Taking on an apprentice, whatever age, will need some preparation from you, as the employer.
</p>
<p>
    If the new apprentice is straight out of school then they may have limited
    experience of what's expected of them going into their first salaried job.
</p>
<p>
    If your new apprentice is older and more experienced they might not need as
    much help as the school leaver, but they may still be nervous and unsure of what’s expected of them.
</p>

<h2 class="heading-m" id="h1">Preparing</h2>
<p>
    Before an apprentice starts you should consider sending them a
    starter pack so they know what to expect from their first day.
</p>
<p>
    It could include:
</p>

<ul class="list list--bullet list--bullet-employer">
    <li>a list of what you'd like them to bring - notebook/pens/ID etc</li>
    <li>what time you'd like them to arrive</li>
    <li>how they should dress</li>
    <li>how much money they need to bring for lunch etc</li>
    <li>who they should ask for when they arrive</li>
    <li>where to get the bus/train or park their car</li>
</ul>


<h2 class="heading-m" id="h2">Monitoring</h2>

<p>
    It's important as an employer to support your new apprentice and keep in regular contact with them.
    Perhaps you could consider:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>establishing a weekly catch-up with your apprentice</li>
    <li>regular updates with your training provider</li>
    <li>assigning a member of staff to be their daily 'go-to' person</li>
</ul>

<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" asp-controller="Employer" asp-action="HireAnApprentice" id="link-pagination-employer-4"> Hire an apprentice</a> </li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" asp-controller="Employer" asp-action="AssessmentAndQualification" id="link-pagination-employer-6"> Assessment and certification</a></li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">Preparing </a> </li>
        <li><a href="#h2" class="hero__link">Monitoring </a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training" />
    </div>
}