@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@model object

@{
    ViewBag.Title = "The right apprenticeship";
    ViewBag.MetaTitle = "The right apprenticeship";
    ViewBag.PageID = "employer-the-right-apprenticeship";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "employer";
    Layout = "_LayoutContent";
}
<!--<a id="#<what-apprentice>"></a>-->
<h2 class="heading-m">Which apprenticeship is right for my business?</h2>

<p>
    Apprentices will spend at least 20% of their time on off-the-job
    training with your chosen training provider.

</p>

<p>    ##table - to be added ##</p>

<p>
    If you’re an employer who wants to take on an apprentice, you need to know:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>apprentices are aged 16 or over (to any age)</li>
    <li>they combine working with studying to gain skills and knowledge in a specific job</li>
    <li>they can be new or current employees who are looking to upskill</li>
</ul>

<p>
    Apprenticeships are being developed, approved and added all the time.
    Keep a lookout for new apprenticeships that have been added and make sure that you
    <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/" target="_blank"> find the right apprenticeship </a> to meet your business needs.
</p>

<h2 class="heading-m">I want to find an apprentice for my business</h2>

<p>
    If you’re interested in taking on an apprentice should know:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>how much it’s going to cost you</li>
    <li>which type of funding you can get</li>
    <li>how to find an apprenticeship that suits your business needs</li>
    <li>how to find a training provider who can deliver the right training</li>
</ul>

<h2 class="heading-m">How it works for you</h2>
<p>
    You can get government funding to cover the cost of training and assessing an apprentice
    if they work in England.  Apprenticeship funding is a devolved matter, so funding is different if your apprentice
    works in <a href="https://www.apprenticeships.scot/" target="_blank">Scotland</a>, <a href="https://businesswales.gov.wales/skillsgateway/apprenticeships" target="_blank">Wales</a> and <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank">Northern Ireland</a>.
</p>
<p>
    You need to pay the apprentice a salary that doesn’t go below the minimum wage.
</p>
<p>
    Your apprentice should:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>work with experienced staff</li>
    <li>learn job-specific skills</li>
    <li>study whilst doing their apprenticeship</li>
</ul>

<a id="types-of-apprenticeships"></a>
<h2 class="heading-m">Types of apprenticeships</h2>
<p>
    Apprentices must work towards an approved apprenticeship.  Their training must last at least 12 months.
</p>
<p>
    Employers lead the development of new apprenticeships to make sure
    apprentices will be trained with the right skills. The Institute for
    Apprenticeships is responsible for supporting the development of high-quality
    apprenticeships.
</p>
<p>
    To successfully complete an apprenticeship your apprentice will need to have an
    end-point assessment which will be carried out by an independent end-point assessment organisation.
</p>


<a id="available-apprenticeships"></a>
<h2 class="heading-m">Available apprenticeships</h2>

<h3 class="heading-s">APPRENTICESHIP STANDARDS</h3>
<p>
    Designed by employers, they show what an apprentice will be doing and the skills required of them, by job role.
    The Institute for Apprenticeships publishes apprenticeship standards once they have assessed them.
    Employers can use apprenticeship standards once they have their allocated funding band and an
    approved assessment plan.
</p>
<p>
    You will agree with the end-point assessment organisation the cost of the end-point assessment.
    Your training provider will contract with your chosen end-point assessment organisation
    and pay them on your behalf.
</p>

<h3 class="heading-s">APPRENTICESHIP FRAMEWORKS</h3>

<p>
    These are currently available and cover all the statutory requirements for an apprenticeship programme in England.
    There is no end-point assessment for this type of apprenticeship.
</p>

<p>
    Apprenticeship frameworks will be withdrawn at some point soon, in order to move every apprentice to
    apprenticeship standards.  This will be a phased approach as employers take on more apprentices using the new standards.
</p>


<p>

    <b>FURTHER READING</b>:

<p><a href="https://www.gov.uk/government/collections/apprenticeship-changes">Apprenticeship funding collection:</a> A collection of further reading to help you take on an apprentice</p>
<p>More information if you <a href="https://www.gov.uk/guidance/pay-apprenticeship-levy">pay the apprenticeship levy</a></p>
<p>Current apprenticeship <a href="https://www.gov.uk/government/publications/apprenticeship-funding">funding rules</a></p>
<p><a href="https://www.gov.uk/guidance/transferring-apprenticeship-service-funds">Transferring unused levy funds</a> to another employer</p>
<p><a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/">FIND APPRENTICESHIP TRAINING</a> - this needs to be a bit more stand outy than the other links!</p>




<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" href="/employer/how-much-is-it-going-to-cost"> How much is it going to cost?</a> </li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" href="/employer/choose-training-provider"> Choose a training provider</a></li>
</ul>



@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer})
}
