@model object

@{
    ViewBag.Title = "THE RIGHT APPRENTICESHIP";
    Layout = "_LayoutContent";
}

<h2 class="heading-m">What is an apprentice?</h2>

<p>
    If you’re an employer who wants to take on an apprentice, you need to know:
</p>
<p>
    apprentices are aged 16 or over (to any age)
    they combine working with studying to gain skills and knowledge in a specific job
    they can be new or current employees who are looking to upskill
</p>
<h2 class="heading-m"> Overview of how an apprenticeship works</h2>
<p>
    You can get government funding to cover some of the cost of training and assessing an apprentice if you’re in England.  Apprenticeship funding is devolved.
</p>
<p>
    You need to pay the apprentice a salary that doesn’t go below the minimum wage.
</p>
<p>
    Your apprentice should:
    <ul class="list list--bullet list--bullet-employer">
        <li>work with experienced staff</li>
        <li>learn job-specific skills</li>
        <li>
            study during their working week (for example, at a college or independent  training provider)
        </li>
    </ul>
</p>
<h2 class="heading-m">Types of apprenticeships</h2>
<p>
    Apprentices must work towards an approved apprenticeship.  Their training must last at least 12 months.
</p>
<p>
    Employers lead the development of new apprenticeships to make sure apprentices will be trained with the right skills. The Institute for Apprenticeships is responsible for supporting the development of high-quality apprenticeships. They assess and approve new apprenticeships and their assessment plans. When new apprenticeships are approved they are published.
</p>
<p>
    To successfully complete an apprenticeship your apprentice will need to have an assessment plan and satisfy the requirements of an independent assessment conducted by an apprentice assessment organisation (called ‘end-point assessment’).
</p>
<h2 class="heading-m">I want to find an apprentice for my business</h2>


<p>
    If you’re interested in taking on an apprentice you need to:
    <ul class="list list--bullet list--bullet-employer">
        <li>know how much it’s going to cost you</li>
        <li>understand which type of funding you can get</li>
        <li>find an apprenticeship that suits your business needs</li>
        <li>find a training provider who can deliver the right training</li>
    </ul>

</p>
<h2 class="heading-m"> Consider which apprenticeship level works for your business</h2>
<p>
    Apprentices will spend at least 20% of their time on off-the-job training with your chosen training provider - either regular day release or block release and must be able to attend special training days or workshops.
    On-the-job training helps an apprentice develop the specific skills for the workplace and they should be supported by a mentor.
</p>
<p>
    Once an apprentice finishes their training they will be assessed by an independent apprentice assessment organisation.
</p>
<p>    ##table - to be added ##</p>

<p>
    Apprenticeships are being developed, approved and added to the list all the time.  Keep a lookout for new apprenticeships that have been added and make sure that you find the right apprenticeship to meet your business needs.
</p>
FURTHER READING (Links):
    - Apprenticeship funding collection: A collection of further reading to help you take on an apprentice
    - More information if you pay the apprenticeship levy
    - Current apprenticeship funding rules
    - Transferring unused levy funds to another employer
    - Find apprenticeship training
