@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@model object

@{
    ViewBag.Title = "The right apprenticeship";
    ViewBag.MetaTitle = "The right apprenticeship";
    ViewBag.PageID = "employer-the-right-apprenticeship";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "employer";
    Layout = "_LayoutContent";
}
<a id="#what-apprentice"></a>
<h2 class="heading-m">What is an apprentice?</h2>

<p>
    If you’re an employer who wants to take on an apprentice, you need to know:
</p>
<p>
    apprentices are aged 16 or over (to any age)
    they combine working with studying to gain skills and knowledge in a specific job
    they can be new or current employees who are looking to upskill
</p>
<h2 class="heading-m">How it works for you</h2>
<p>
    You can get government funding to cover the cost of training and assessing an apprentice 
    if they work in England.  Apprenticeship funding is a devolved matter, so funding is different if your apprentice 
    works in Scotland, Wales and Northern Ireland.
</p>
<p>
    You need to pay the apprentice a salary that doesn’t go below the [LINK][minimum wage].
</p>
<p>
    Your apprentice should:
</p>
    <ul class="list list--bullet list--bullet-employer">
        <li>work with experienced staff</li>
        <li>learn job-specific skills</li>
        <li>study whilst doing their apprenticeship</li>
    </ul>
<h2 class="heading-m">Types of apprenticeships</h2>
<p>
    Apprentices must work towards an approved apprenticeship.  Their training must last at least 12 months.
</p>
<p>
    Employers lead the development of new apprenticeships to make sure 
    apprentices will be trained with the right skills. The Institute for 
    Apprenticeships is responsible for supporting the development of high-quality 
    apprenticeships. 
</p>
<p>
    To successfully complete an apprenticeship your apprentice will need to have an 
    end-pont assessment which will be carried out by an independent end-point assessment organisation.
</p>
<a id="#find-apprentice"></a>
<h2 class="heading-m">I want to find an apprentice for my business</h2>


<p>
    If you’re interested in taking on an apprentice you need to:
</p>
    <ul class="list list--bullet list--bullet-employer">
        <li>know how much it’s going to cost you</li>
        <li>understand which type of funding you can get</li>
        <li>find an apprenticeship that suits your business needs</li>
        <li>find a training provider who can deliver the right training</li>
    </ul>


<h2 class="heading-m"> Consider which apprenticeship works for your business</h2>
<p>
    Apprentices will spend at least 20% of their time on off-the-job 
    training with your chosen training provider.
    
</p>


<p>    ##table - to be added ##</p>

<p>
    Apprenticeships are being developed, approved and added to the list all the time.  Keep a lookout for new apprenticeships that have been added and make sure that you find the right apprenticeship to meet your business needs.
</p>
FURTHER READING (Links):
    - Apprenticeship funding collection: A collection of further reading to help you take on an apprentice
    - More information if you pay the apprenticeship levy
    - Current apprenticeship funding rules
    - Transferring unused levy funds to another employer
    - Find apprenticeship training

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
                                                         <li><a href="#what-apprentice" class="hero__link">What is an apprentice?</a> </li>
                                                         <li><a href="#find-apprentice" class="hero__link">find an apprentice for my business</a> </li>
                                                     </ul>);


}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}
