@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model object
@{
    ViewBag.Title = "The right apprenticeship";
    ViewBag.MetaTitle = "Which apprenticeship will suit my business needs the best";
    ViewBag.PageID = "employer-the-right-apprenticeship";
    ViewBag.MetaDesc = "You need to consider how much the apprenticeship will cost, whether it's the right one for your organisation and if the training fits with your business needs. ";
    ViewBag.PageNavIndex = 2;
    Layout = "_LayoutContentSidebar";
}
<!--<a id="#<what-apprentice>"></a>-->
<h2 class="heading-m" id="h1">Which apprenticeship is right for my organisation?</h2>

<p>
    Apprentices will spend at least 20% of their time on off-the-job
    training with your chosen training provider.  Apprenticeships offer the opportunity to have a flexible,
    but structured training programme, that meet your organisation's needs.

</p>

<p>
    If you’re an employer who wants to take on an apprentice, you need to know:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>apprentices are aged 16 or over (to any age)</li>
    <li>they combine working with studying to gain skills and knowledge in a specific job</li>
    <li>they can be new or current employees who are looking to upskill</li>
</ul>

<p>
    Apprenticeships are being developed, approved and added all the time.
    Keep a lookout for new apprenticeships that have been added and make sure that you
    <a href="https://findapprenticeshiptraining.sfa.bis.gov.uk/ApprenticeshipOrProvider" target="_blank" rel="external" id="link-fat">
        find the right apprenticeship
    </a> to
    meet your organisational needs.
</p>


<p>
    When you're looking for an apprenticeship, make sure you:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>select the right training for your organisation which delivers what you need</li>
    <li>don’t accept training because it’s the only apprenticeship available</li>
    <li>
        are in contact with the training provider and are both involved with the training and
        development of the apprentice
    </li>
</ul>

<h2 class="heading-m" id="h2">I want to find an apprentice for my organisation</h2>

<p>
    If you’re interested in taking on an apprentice you should know:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>how much it’s going to cost you</li>
    <li>what funding you can get</li>
    <li>how to find an apprenticeship that suits your organisational needs</li>
    <li>how to find a training provider who can deliver the right training</li>
</ul>

<p>
    You need to pay the apprentice a salary that doesn’t go below the <a href="https://www.gov.uk/national-minimum-wage-rates" id="link-min-wage" target="_blank" rel="external">minimum wage</a>.
</p>
<p>
    Your apprentice should:
</p>
<ul class="list list--bullet list--bullet-employer">
    <li>work with experienced staff</li>
    <li>learn job-specific skills</li>
    <li>study whilst doing their apprenticeship</li>
</ul>

<a id="types-of-apprenticeships"></a>
<h2 class="heading-m" id="h3">Types of apprenticeships</h2>
<p>
    Apprentices must work towards an approved apprenticeship.  Their training must last at least 1 year.
</p>



<a id="available-apprenticeships"></a>

<h3 class="heading-s">Apprenticeship standards</h3>
<p>
    Designed by groups of employers, apprenticeship standards set out the knowledge,
    skills and behaviours the apprentice needs to be competent in a particular occupation.
    <a href="https://www.instituteforapprenticeships.org/developing-apprenticeships/what-is-an-apprenticeship-standard/">Institute for Apprenticeships and Technical Education</a>
    is responsible for the development and approval of standards and works with employers
    to ensure a wide range of high-quality apprenticeship standards are available.
</p>

<h3 class="heading-s">Apprenticeship frameworks</h3>

<p>
    Apprenticeship frameworks are a series of work-related qualifications.
    There is no end-point assessment for this type of apprenticeship.
</p>

<p>
    All apprenticeship frameworks will be withdrawn by 2020. This will be a phased approach as
    employers take on more apprentices using the new apprenticeship standards.
</p>

<partial name="./components/Cta/_Contact-phoneNumber" />

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" asp-controller="Employer" asp-action="HowMuchIsItGoingToCost" id="link-pagination-employer-1"> How much is it going to cost?</a> </li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" asp-controller="Employer" asp-action="ChooseATrainingProvider" id="link-pagination-employer-3"> Choose a training provider</a></li>
</ul>

@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<ul class="list list--arrows">
        <li><a href="#h1" class="hero__link">Which apprenticeship is right for my organisation? </a> </li>
        <li><a href="#h2" class="hero__link">I want to find an apprentice for my organisation </a> </li>
        <li><a href="#h3" class="hero__link">Types of apprenticeships </a> </li>
    </ul>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}

@section Resources {
    <partial name="./Components/Resources/_employer" />
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training" />
    </div>
}