@if (!ViewData.ModelState.IsValid)
{
    var validationOrder = ViewBag.ValidationOrder != null ? ViewBag.ValidationOrder.Split(',') : new string[] { };

    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                @foreach (var stateItem in ViewContext.ViewData.ModelState.OrderBy(x => Array.IndexOf(validationOrder, x.Key)))
                    {
                        var elementId = Html.GenerateIdFromName(ViewData.TemplateInfo.GetFullHtmlFieldName(stateItem.Key)) ?? stateItem.Key;

                        foreach (var error in stateItem.Value.Errors)
                        {
                            <li>
                                <a href="#@elementId">@error.ErrorMessage</a>
                            </li>
                        }
                    }
                    @*}*@
                </ul>
            </div>
        </div>
    </div>
}