@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @if (ViewContext.ViewData.ModelState.ContainsKey("MultipleErrorSummary"))
                {
                    <li>
                        <a href="#">@ViewContext.ViewData.ModelState["MultipleErrorSummary"].Errors[0].ErrorMessage</a>
                    </li>
                }
                else
                {
                    @foreach (var stateItem in ViewContext.ViewData.ModelState)
                    {
                        var elementId = Html.GenerateIdFromName(ViewData.TemplateInfo.GetFullHtmlFieldName(stateItem.Key)) ?? stateItem.Key;

                        foreach (var error in stateItem.Value.Errors)
                        {
                            <li>
                                <a href="#@elementId">@error.ErrorMessage</a>
                            </li>
                        }
                    }
                }

            </ul>
        </div>
    </div>
}