@model object

@{
    ViewBag.Title = "What is an apprenticeship";
    Layout = "_LayoutContent";
    ViewBag.Section = "employer";
}

<h2>WhatIsAnApprenticeship</h2>

<ul class="pagination">
    <li class="pagination__list-item"><a class="pagination__link" href="/employer/how-much-is-it-going-to-cost"> How much is it going to cost?</a></li>
    <li class="pagination__list-item"><a class="pagination__link" href="/employer/the-right-apprenticeship"> The right apprenticeship</a></li>
    <li class="pagination__list-item"><a class="pagination__link" href="/employer/choose-training-provider"> Choose a training provider</a></li>
    <li class="pagination__list-item"><a class="pagination__link" href="/employer/hire-an-apprentice"> Hire an apprentice</a> </li>
    <li class="pagination__list-item"><a class="pagination__link" href="/employer/preparing-and-monitoring"> Preparing and monitoring</a></li>
    <li class="pagination__list-item"><a class="pagination__link" href="/employer/assessment-and-qualification"> Assessment and qualification</a></li>
</ul>

