@{
    Layout = "_Layout-campaign-employer";
    ViewBag.Title = "Are apprenticeships right for you?";
    ViewBag.MetaTitle = "Should you hire an apprentice?";
    ViewBag.MetaDesc = "Discover the benefits of employing an apprentice, get tailored apprenticeship advice and see case studies from other employers.";
}
<div class="hero FAT-basket FAT-save-standard padding-top">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--employer">
                    <a href="/campaign/hub-employer">Employer</a>
                    <div class="sep">&gt;</div>
                    Are apprenticeships right for you?
                </span>
                <h1 class="heading-xl hero-heading__heading" id="apprenticeship-title" style="font-size: 33.3333px;">Are apprenticeships right for you?</h1>
            </div>

            <div class="text-wrapper">
                <p class="lead-paragraph">
                    If you’re not sure whether you should hire an apprentice, you can answer a few simple questions
                    to get <a href="@Url.Action("Index", "GetTailoredApprenticeshipAdvice")">tailored apprenticeship advice</a>.
                </p>

                <p class="lead-paragraph">
                    Browse some <a href="@Url.Action("Employer", "RealStories")">real stories</a> to learn more about other employers’ experiences, and take a
                    look at the <a href="@Url.Action("Benefits", "Employer")">benefits of apprenticeships</a> to see what hiring an apprentice could do for your organisation.
                </p>
            </div>
            <p>&nbsp;</p>
            <a href="https://www.gov.uk/" class="hmrc-gov">gov.uk</a>
        </div>
        <div class="grid-column-one-half">
            <div class="illustration-wrapper">
                <div class="illustrative-journey inpsire-section-1">
                    <div class="image">
                        <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-1.svg"/>
                        <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-1.svg"/>
                        <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-1.svg"/>
                        <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-1.svg"/>
                    </div>
                    <div class="text">
                        <h3 class="heading-xs">4 quick questions for tailored advice</h3>
                    </div>
                </div>
                
                <div class="illustrative-journey inpsire-section-2">
                    <div class="border">
                        <span class="spot top"></span>
                        <span class="spot bottom"></span>
                    </div>
                    <div class="image">
                        <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-2.svg"/>
                    </div>
                    <div class="text">
                        <h3 class="heading-xs">Your TAILORED APPRENTICESHIP ADVICE</h3>
                    </div>
                </div>
                
                <div class="illustrative-journey inpsire-section-3">
                    <div class="border">
                        <span class="spot top"></span>
                        <span class="spot bottom"></span>
                    </div>
                    <div class="image">
                        <img src="/dist/campaign/images/employer/how-do-they-work/index-icon-3.svg"/>
                    </div>
                    <div class="text">
                        <h3 class="heading-xs">Where next is up to you...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>