<div class="contact-phone-number">
    <div class="contact-phone-number__content">
        <h2 class="heading-s contact-phone-number__heading">For free advice and support call</h2>
        <p class="contact-phone-number__number">
            <span class="InfinityNumber clickable">08000 150 400</span>
        </p>
        <h2 class="heading-s contact-phone-number__heading">Or email</h2>
        <p class="contact-phone-number__body">
            <a href="mailto:nationalhelpdesk@apprenticeships.gov.uk" class="link" target="_blank">nationalhelpdesk@apprenticeships.gov.uk<span class="visually-hidden"> (Opens a new window)</span></a>
        </p>
    </div>
</div>
