<div class="contact-phone-number">
    <div class="contact-phone-number__content">
        <h2 class="heading-s contact-phone-number__heading">Why not call to blaze your own trail and become an apprentice</h2>
        <p class="contact-phone-number__number">
            <span class="InfinityNumber clickable">08000150400</span>
        </p>
    </div>
</div>