<div class="contact-phone-number">
    <div class="contact-phone-number__content">
        <h2 class="heading-s contact-phone-number__heading">Why not call to supercharge your business</h2>
        <a id="link-click-to-call-employer" href="tel:08000150600"><span class="InfinityNumber">0800 015 0600</span></a>
    </div>
</div>