<section class="grid-row cta-faa">
    <div class="grid-column-two-thirds">
        <div class="cta-faa__content">
            <h2 class="heading-s cta-faa__heading">Find an apprenticeship in @ViewBag.Title</h2>
            <p>
                Do you think that the @ViewBag.Title industry is where you want to start your career? If so, then you need to
                search for the right apprenticeship and level. Use the field below to find organisations that are
                looking to hire!
            </p>
        </div>
    </div>
    <div class="grid-column-one-third cta-faa__action">
        <a id="link-FAA-Cta" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch" class="button button--shadow button--sparks" target="_blank" rel="external"> Start looking <span class="vh">for an apprenticeship in the @ViewBag.Title industry</span></a>
    </div>
</section>