<section class="cta-panel cta-panel--employer">
    <div class="cta-panel__column cta-panel__column--two-thirds">
        <h2 class="heading-m cta-panel__heading">Embrace change and employ an apprentice</h2>
        <p class="cta-panel__content">Search for the ideal apprenticeship training that fits with your business needs and start the journey of taking on an apprentice. </p>
    </div>
    <div class="cta-panel__column cta-panel__column--one-third">
        <a asp-controller="Employer" asp-action="FindApprenticeshipTraining" class="button button--shadow" id="search-standard">
            Search the right apprenticeship
        </a>
    </div>
</section>