<section class="cta-fat display--block">
    <h2 class="heading-m cta-panel__heading">Embrace change and employ an apprentice</h2>
    <p>Search for the ideal apprenticeship training that fits with your business needs and start the journey of taking on an apprentice. </p>
    <div class="grid-row">
        <div class="grid-column-one-half">
            @await Component.InvokeAsync("FatSearch", new { inline = true })
        </div>
    </div>
</section>
