<div class="web-link">
    <div class="web-link__content">
        <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb" class="" target="_blank" rel="external">Get free advice and support<span class="visually-hidden"> (Opens in a new window)</span></a>
    </div>
</div>