@{
    ViewBag.Title = "Page not found";
    Layout = "Redesign_Layout";
    ViewBag.MetaTitle = "Page not found";
}



<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <p>
                Looks like something went a bit wrong on our end.
                Please head back to the homepage or alternatively head to any of the links below that may be able to help you...
            </p>

            <hr class="section-break" />

            <div class="grid-row">
                <div class="grid-column-one-half">
                    <h2 class="heading-m">Apprentices</h2>
                    <ol class="list list--links list--apprentice">
                        <li>
                            <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship">
                                What is an apprenticeship
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" id="link-faa-error-page">
                                Find an apprenticeship
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Apprentice" asp-action="Application">
                                Application
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Apprentice" asp-action="Interview">
                                Interview
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Apprentice" asp-action="YourApprenticeship">
                                Your apprenticeship
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Apprentice" asp-action="AssessmentAndQualification">
                                Assessment and certification
                            </a>
                        </li>
                    </ol>
                </div>

                <div class="grid-column-one-half">
                    <h2 class="heading-m">Employers</h2>
                    <ol class="list list--links list--employer">
                        <li>
                            <a asp-controller="Employer" asp-action="HowMuchIsItGoingToCost">
                                How much is it going to cost?
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Employer" asp-action="TheRightApprenticeship">
                                The right apprenticeship
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Employer" asp-action="ChooseATrainingProvider">
                                Choose a training provider
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Employer" asp-action="HireAnApprentice">
                                Hire an apprentice
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Employer" asp-action="PreparingAndMonitoring">
                                Preparing and monitoring
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Employer" asp-action="AssessmentAndQualification">
                                Assessment and certification
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>