@{
    ViewBag.Title = "Page not found";
    ViewBag.PageTitle = "Page not found";
    ViewBag.MetaTitle = "Page not found";
    ViewBag.FullWidthContent = true;
    Layout = "Redesign_Layout_Generic";   
}

<p class="govuk-body-l">
    Try another page
</p> 

<partial name="./_Sitemap" />