@model SFA.DAS.Campaign.Web.Models.IpInfoModel


<h1>Your IP Addresses</h1>
<p>X-Forwarded-For IP: <strong>@Model.ForwardedForIp</strong></p>
<p>Remote IP Address: <strong>@Model.RemoteIpAddress</strong></p>
