<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="AreTheyRightForYou">Are they right for you?</a>
    </span>
    <h3 class="fiu-card__heading">Help shape their career</h3>
    <p class="fiu-card__content">If you’re a parent, guardian, carer or teacher of someone, you can help them find a career path that’s right for them.</p>
    <a href="/apprentices/help-shape-their-career" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-3">Learn more</a>
</div>