<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="HowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Applying for an apprenticeship</h3>
    <p class="fiu-card__content">Once you find the right apprenticeship, you can start the application process. Learn about the steps in getting your apprenticeship started.</p>
    <a href="/apprentices/applying-apprenticeship" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-6">Learn more</a>
</div>