<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="HowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Applying for an apprenticeship</h3>
    <p class="fiu-card__content">There are hundreds of different apprenticeships to choose from. To apply for one, you’ll need to create an account on the find an apprenticeship service. You can also save any apprenticeships you like and then apply for them later. 
</p>
    <a href="/apprentices/applying-apprenticeship" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-6">Learn more <span class="fiu-vh">about applying for an apprenticeship</span></a>
</div>