<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="AreTheyRightForYou">Are they right for you?</a>
    </span>
    <h3 class="fiu-card__heading">Real stories</h3>
    <p class="fiu-card__content">Find out how becoming an apprentice changes lives.</p>
    <a href="/apprentices/real-stories" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-1">Learn more</a>
</div>