<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="GettingStarted">Get started</a>
    </span>
    <h3 class="fiu-card__heading">Starting your apprenticeship</h3>
    <p class="fiu-card__content">Before you start your apprenticeship, your employer will usually contact you and ask a series of questions. Find out what they might be.</p>
    <a href="/apprentices/starting-apprenticeship" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-8">Learn more</a>
</div>