<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="HowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">The interview process</h3>
    <p class="fiu-card__content">If your application is successful, the employer will invite you for an interview. If you’re upskilling with your current employer, you may not have one. </p>
    <a href="/apprentices/interview-process" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-7">Learn more</a>
</div>