<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="HowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">The interview process</h3>
    <p class="fiu-card__content">Everyone goes through the interview process at some stage of their working life. When you apply for new jobs, you will almost always have an interview.</p>
    <a href="/apprentices/interview-process" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-7">Learn more</a>
</div>