@using Microsoft.AspNetCore.Html
@{
    Layout = "_Layout-campaign";
}

<main id="main-content">
    <div class="hero">
        <div class="grid-row">
            <div class="grid-column-one-half">
                <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">@(ViewBag.Title)</h1>
                </div>
                <div class="hero-heading__content">
                    @RenderBody()
                </div>
            </div>
            <div class="grid-column-one-half">
                <img src="/campaign/images/industries/@(ViewBag.PageID).jpg" class="hero-heading__image" alt="@(ViewBag.HeroImageAltText)" />
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="grid-row">
            <div class="grid-column">
                <partial name="./components/Cta/_find-an-apprenticeship" />
            </div>
        </div>
    </div>
    @RenderSection("QuoteHero", required: false)
</main>