@using System.Runtime.Versioning
@using SFA.DAS.Campaign.Web.Models.Components.Form
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SFA.DAS.Campaign.Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="assets/images/govuk-mask-icon.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/govuk-apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="assets/images/govuk-apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/govuk-apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="assets/images/govuk-apple-touch-icon.png" />


    <!--[if !IE 8]><!-->

    <link href="/campaign/css/screen.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/tyj1hwm.css" />

    <!--<![endif]-->
    <!--[if IE 8]>
      <link href="/govuk-frontend/all-ie8.css" rel="stylesheet" />
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/html5-shiv/html5shiv.js"></script>
    <![endif]-->
    <meta property="og:image" content="assets/images/govuk-opengraph-image.png">
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body class="page-template">

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">



        @RenderBody()

    </div>


    @await Component.InvokeAsync("Modal", new { id = "modal-RegisterInterest",type = ModalType.Component, name = "Form", componentOptions = new { type = FormType.RegisterInterest } })

    @await Component.InvokeAsync("Modal", new { id = "modal-register-thanks",type = ModalType.PartialView, name = "Components/Form/Register-Thanks" })
<mini-profiler />
</body>

</html>
