@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@{
    Layout = "_Layout-campaign";

    var headingType = HeroHeadingType.None;
    var sidebarType = SidebarType.None;

    switch (ViewContext.RouteData.Values["Controller"])
    {
        case "Apprentice":
            headingType = HeroHeadingType.Apprentice;
            sidebarType = SidebarType.Apprentice;
            break;
        case "Employer":
            headingType = HeroHeadingType.Employer;
            sidebarType = SidebarType.Employer;
            break;
    }
}

@if (IsSectionDefined("HeroHeading"))
{
    @RenderSection("HeroHeading", required: false)
}
else
{

    @await Component.InvokeAsync("HeroHeading", new { type = headingType })
}


<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <div class="page">
                @RenderBody()
            </div>
        </div>
        <div class="grid-column-one-third">
            @await Component.InvokeAsync("Sidebar", new { type = sidebarType })
        </div>
    </div>

</main>

