<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SFA.DAS.Campaign.Web</title>

    <environment include="Development">

        <!-- TEMPLATE STYLES - START -->
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template.css?0.23.0" /><!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie6.css?0.23.0" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie7.css?0.23.0" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie8.css?0.23.0" /><![endif]-->
        <link rel="stylesheet" media="print" href="/assets/stylesheets/govuk-template-print.css?0.23.0" />
        <!--[if IE 8]><link rel="stylesheet" media="all" href="/assets/stylesheets/fonts-ie8.css?0.23.0" /><![endif]-->
        <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="/assets/stylesheets/fonts.css?0.23.0" /><!--<![endif]-->
        <!-- TEMPLATE STYLES - END -->
        <!-- ELEMENTS AND TOOLKIT STYLES - START -->
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-base.css?3.1.2" /><!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie6.css?3.1.2" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie7.css?3.1.2" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie8.css?3.1.2" /><![endif]-->
        <!-- ELEMENTS AND TOOLKIT STYLES - END -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />


        <link href="~/assets/stylesheets/govuk-template.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav >
        <div>
            
        </div>
    </nav>

<div class="body-content">
    <main id="content" role="main">
    @RenderBody()
    </main>
    <hr/>
    <footer>

    </footer>
</div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
