@{
    Layout = "_Layout-campaign";
}

<partial name="./Components/_Header" />

@await Component.InvokeAsync("HeroHeading")

<main id="main-content" class="main-content">


    @RenderBody()

</main>
<partial name="./Components/_Footer" />
