@using Microsoft.AspNetCore.Html
@{
    Layout = "_Layout-campaign";
}
<partial name="./Components/_HeroHeader" />

<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <div class="page">
                @RenderBody()
            </div>
        </div>
        <div class="grid-column-one-third">
            <partial name="./Components/_Sidebar" />
        </div>
    </div>
</main>
