@using SFA.DAS.Campaign.Web.Models.Components.Form
@using SFA.DAS.Campaign.Web.ViewComponents.Modal

<!DOCTYPE html>
<html lang="en-gb">

<head>
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="preconnect" href="https://www.googletagmanager.com">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M4VJPRW');

        /**/</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <title>@(ViewData["MetaTitle"] != null ? ViewData["MetaTitle"] : ViewData["Title"])</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="description" content="@(ViewData["MetaDesc"])" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png" />

    <!--[if !IE 8]><!-->

    <link href="/campaign/css/screen.css" rel="stylesheet" />

    <link rel="preload" onload="this.rel = 'stylesheet'" href="https://use.typekit.net/xwy5uap.css" as="style" crossorigin />
    <noscript>
        <link rel="stylesheet" href="https://use.typekit.net/xwy5uap.css" />
    </noscript>

    <!--<![endif]-->

    <meta property="og:image" content="/campaign/images/opengraph.png" cdn-prop />
    
    <link rel="preconnect" href="//youtube.com">

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>



<body class="page-template" id="Error">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VJPRW"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="wrap">

        <partial name="./Components/_cookieBanner" />

        <partial name="./Components/_Header" />

        @await Component.InvokeAsync("HeroHeading")

        @RenderBody()

        <partial name="./Components/_Footer" />

    </div>


    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>
    <script defer src="/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
    <script defer src="/campaign/js/app.min.js" crossorigin="anonymous"></script>
    <script defer src="/js/das-all.min.js" crossorigin="anonymous" id="dasJs"></script>
    <script>
        var dasJs = document.getElementById('dasJs');
        dasJs.onload = function () {
            window.DASFrontend.initAll();
        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>