@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
@{
    Layout = "_Layout-campaign";
}

<main id="main-content">

    @if (IsSectionDefined("HeroHeading"))
    {
        @RenderSection("HeroHeading", required: false)
    }
    else
    {

        @await Component.InvokeAsync("HeroHeading")
    }

    <div class="main-content">
        <div class="page">
            @RenderBody()
        </div>  
    </div>
</main>


@section Scripts {
    @RenderSection("Scripts", required: false)
}