@{
    Layout = "_Layout-campaign";
    if (ViewBag.Section != null)
    {
        Layout += $"-{ViewBag.Section}";
    }
}

<main id="main-content">

    @RenderBody()
</main>


@section Scripts {
    @RenderSection("Scripts", required: false)
}