@{
    Layout = "_Layout-campaign";
}

<main id="main-content">

    @if (IsSectionDefined("HeroHeading"))
    {
        @RenderSection("HeroHeading", required: false)
    }
    else
    {

        @await Component.InvokeAsync("HeroHeading")
    }

    <div class="main-content">
        <div class="page page--full-width">
            @RenderBody()
        </div>
    </div>
</main>


@section Scripts {
    @RenderSection("Scripts", required: false)
}