@using Microsoft.AspNetCore.Html
@{
    Layout = "_Layout-campaign";
}

<partial name="./Components/_HeroHeader" />

<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <div class="page">
                @RenderBody()
            </div>
        </div>
        <div class="grid-column-one-third">
            <ul>
                <li><a href="/industries/agriculture-environment-animal-care">Agriculture, environment &amp; animal care</a></li>
                <li><a href="/industries/business-administration">Business &amp; administration</a></li>
                <li><a href="/industries/care-services">Care services</a></li>
                <li><a href="/industries/catering-hospitality">Catering &amp; hospitality</a></li>
                <li><a href="/industries/construction">Construction</a></li>
                <li><a href="/industries/creative-design">Creative &amp; design</a></li>
                <li><a href="/industries/digital">Digital</a></li>
                <li><a href="/industries/education-childcare">Education &amp; childcare</a></li>
                <li><a href="/industries/engineering-manufacturing">Engineering &amp; manufacturing</a></li>
                <li><a href="/industries/hair-beauty">Hair &amp; beauty</a></li>
                <li><a href="/industries/health-science">Health &amp; science</a></li>
                <li><a href="/industries/legal-finance-accounting">Legal, finance &amp; accounting</a></li>
                <li><a href="/industries/protective-services">Protective services</a></li>
                <li><a href="/industries/sales-marketing-procurement">Sales, marketing &amp; procurement</a></li>
                <li><a href="/industries/transport-logistics">Transport &amp; logistics</a></li>
            </ul>
        </div>
    </div>
</main>
