@model SFA.DAS.Campaign.Web.Controllers.EmployerInform.LevyOptionViewModel

<div class="govuk-error-summary" aria-labelledby="error-choose" style="@(ViewData.ModelState.IsValid ? "display: none;" : "")" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-choose">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#levyPayerYes">Please select an option before continuing</a></li>
        </ul>
    </div>
</div>

<form id="how-they-work-levy-question" method="post">
    <div class="govuk-form-group govuk-!-margin-bottom-0 @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
        <fieldset class="govuk-fieldset" aria-describedby="transfer-hint @(ViewData.ModelState.IsValid ? "" : "error-choose-2")">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                    As an employer, is your pay bill more than &pound;3 million per year?
                </h2>
                <p class="govuk-body">If you're receiving a transfer of apprenticeship funds from another employer, select 'Yes'.</p>
            </legend>

            <span id="error-choose-2" class="govuk-error-message" style="@(ViewData.ModelState.IsValid ? "display: none;" : "")">
                <span class="fiu-vh">Error:</span> Please select an option before continuing
            </span>

            <div class="govuk-radios govuk-!-margin-top-3">
                <div class="govuk-radios__item">
                    <input id="levyPayerYes" asp-for="LevyStatus" value="Levy" type="radio" class="govuk-radios__input" />
                    <label class="govuk-label govuk-radios__label" for="levyPayerYes">Yes</label>
                </div>
                <div class="govuk-radios__item">
                    <input id="levyPayerNo" asp-for="LevyStatus" value="NonLevy" type="radio" class="govuk-radios__input"/>
                    <label class="govuk-label govuk-radios__label" for="levyPayerNo">No</label>
                </div>
                <div class="govuk-radios__item">
                    <input id="levyPayerDontKnow" asp-for="LevyStatus" value="DontKnow" type="radio" class="govuk-radios__input"/>
                    <label class="govuk-label govuk-radios__label" for="levyPayerDontKnow">Not sure</label>
                </div>
            </div>
        </fieldset>
    </div>


    <div class="form-group govuk-!-margin-top-4">
        <button type="submit" class="fiu-button fiu-button--employers">Continue</button>
    </div>

    <p class="govuk-body">Depending on your answer, we'll show you relevant information about government funding.</p>
</form>

<script>
    window.onload = function() {//disable js form val
        jQuery('#how-they-work-levy-question').validate({
            onsubmit : false
        });
    };
</script>
