@model SFA.DAS.Campaign.Web.Controllers.EmployerInform.LevyOptionViewModel
<div id="non-levy-levy-journey">
    <div id="how-they-work-levy-question">
        <form method="post">
            <p>
                <strong>As an employer, is your pay bill more than £3 million per year?</strong><br>
                If you’re receiving a transfer of apprenticeship funds from another employer, please choose ‘Yes’.
            </p>
            <p>Depending on your answer, we’ll show you relevant information about government funding.</p>

            <div class="form-validation-summary" style="@(ViewData.ModelState.IsValid ? " display: none" : "")">
                Please select an option before continuing
            </div>

            <div class="form-group">
                <fieldset class="fieldset">
                    <legend class="vh">Your pay bill</legend>

                    <div class="radios">
                        <div class="radios__item">
                            <input id="levyPayerYes" asp-for="LevyStatus" value="Levy" type="radio" class="radios__input" />
                            <label class="label radios__label" for="levyPayerYes">Yes</label>
                        </div>
                        <div class="radios__item">
                            <input id="levyPayerNo" asp-for="LevyStatus" value="NonLevy" type="radio" class="radios__input"/>
                            <label class="label radios__label" for="levyPayerNo">No</label>
                        </div>
                        <div class="radios__item">
                            <input id="levyPayerDontKnow" asp-for="LevyStatus" value="DontKnow" type="radio" class="radios__input"/>
                            <label class="label radios__label" for="levyPayerDontKnow">I'm not sure</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button button--employer button--sparks">Continue</button>
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function() {//disable js form val
        jQuery('#how-they-work-levy-question').find('form').validate({
            onsubmit : false
        });
    };
</script>