@{
    var activeSection = ViewData.Model as string;

    string LinkClass(string section)
        => activeSection == section ? "fiu-nav__link fiu-nav__link--active" : "fiu-nav__link";
}

<nav class="fiu-nav" aria-label="Main navigation">
    <ul role="list" class="fiu-nav__list">
        <li role="listitem" class="fiu-nav__list-item"><a href="/" class="@LinkClass("home")">Home</a></li>
        <li role="listitem" class="fiu-nav__list-item"><a href="/apprentices" class="@LinkClass("apprentices")">Apprentices</a></li>
        <li role="listitem" class="fiu-nav__list-item"><a href="/employers" class="@LinkClass("employers")">Employers</a></li>
    </ul>
</nav>
