@model string

@{
    string LinkClass(string section)
        => Model == section ? "fiu-nav__link fiu-nav__link--active" : "fiu-nav__link";
}

<nav class="fiu-nav" aria-label="Main navigation">
    <ul class="fiu-nav__list">
        <li class="fiu-nav__list-item"><a href="/" class="@LinkClass("home")">Home</a></li>
        <li class="fiu-nav__list-item"><a href="/apprentices" class="@LinkClass("apprentices")">Apprentices</a></li>
        <li class="fiu-nav__list-item"><a href="/employers" class="@LinkClass("employers")">Employers</a></li>
    </ul>
</nav>
