@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Panel

<div class="fiu-panel fiu-panel--left-align">
    <h2 class="govuk-heading-l">@Model.Title</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <article class="fiu-article">
                @Model.Content.ToHtml()
            </article>
        </div>
        @if (Model.MainImage != null && !string.IsNullOrWhiteSpace(Model.MainImage.Url))
        {
            <div class="govuk-grid-column-one-third">
                <img src="@Model.MainImage.Url" alt="" class="fiu-panel__image" />
            </div>
        }
    </div>
</div>