@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Panel

<div class="fiu-panel fiu-panel--left-align">
    <h2 class="govuk-heading-l">@Model.Title</h2>
    <div class="govuk-grid-row">
        <article class="fiu-article">
            @Model.Content.ToHtml()
        </article>
    </div>
</div>