@{
    Layout = "Redesign_Layout_ApprenticesHub";
    ViewBag.PanelsInNarrowColumn = true;
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @RenderBody()
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="./Panels/_BrowseApprenticeships"/>
            <partial name="./Panels/_GetFreeHelpAndSupport"/>
        </div>
    </div>
</div>