@using System.Linq
@using SFA.DAS.Campaign.Domain.Content.HtmlControl
@{
    Layout = "Redesign_Layout_ApprenticesHub";
    ViewBag.PanelsInNarrowColumn = true;
    ViewBag.PageSummary = Model.Content.Summary;
}

<div class="fiu-width-container">
    @RenderBody()
    <hr class="govuk-section-break govuk-section-break--xl" />
</div>