<!DOCTYPE html>
<html lang="en-gb">
<head>

    <meta charset="utf-8"/>
    <title>@(ViewData["MetaTitle"] != null ? ViewData["MetaTitle"] : ViewData["Title"])</title>

    <meta name="description" content="@(ViewData["MetaDesc"])"/>
</head>
<body>

<div style="border: red 1px solid">
    <h1>Main Layout</h1>

    @RenderBody()
</div>


</body>
</html>