@{
    Layout = "Redesign_Layout_EmployersHub";
    ViewBag.PanelsInNarrowColumn = true;
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <article class="fiu-article">
                @RenderBody()
            </article>
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="Redesign/_FindTheRightApprenticeship"/>
            <partial name="Redesign/_RegisterInterestEmployer"/>
            <partial name="Redesign/_GetFreeHelpAndSupport"/>
        </div>
    </div>
</div>