@{
    Layout = "Redesign_Layout_EmployersHub";
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @RenderBody()
        </div>
    </div>
</div>
