@{
    Layout = "Redesign_Layout_EmployersHub";
    ViewBag.PanelsInNarrowColumn = true;
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @RenderBody()
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="./Panels/_FindTheRightApprenticeship"/>
            <partial name="./Panels/_RegisterInterestEmployer"/>
            <partial name="./Panels/_GetSupportEmployer"/>
        </div>
    </div>
    <hr class="fiu-section-break fiu-section-break--l">
</div>