@{
    Layout = "Redesign_Layout_ApprenticesHub";
    ViewBag.PanelsInNarrowColumn = true;
}



<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @RenderBody()
        </div>
        <div class="govuk-grid-column-one-third">
            @Html.Partial("./Panels/_BrowseApprenticeships", "fiu-button--outlined")
        </div>
    </div>
    <hr class="fiu-section-break fiu-section-break--l">
</div>