<section class="section-advice" id="section-1">
    <div class="section-advice__content">
        <span class="section-advice__caption">Section 01</span>
        <h1 class="section-advice__heading">First things first&hellip;</h1>
        <div class="section-advice__intro">
            <p>Before we discover your tailored tips, here are the key facts all employers should know about apprenticeships.</p>
        </div>
        <div class="quote-bubble__wrap">
            <div class="quote-bubble quote-bubble--1">
                <span class="quote-bubble__number">1</span>
                <p>Your apprentices will receive off-the-job training from a training provider, teaching them the knowledge, skills and behaviours set out in the apprenticeship standard.</p>
            </div>
            <div class="quote-bubble quote-bubble--2">
                <span class="quote-bubble__number">2</span>
                <p>Apprenticeships are available at any level from GCSE to master's degree.</p>
            </div>
            <div class="quote-bubble quote-bubble--3">
                <span class="quote-bubble__number">3</span>
                <p>You'll need to supervise your apprentice on the job, training them to perform the work for which they've been employed.</p>
            </div>
            <div class="quote-bubble quote-bubble--4">
                <span class="quote-bubble__number">4</span>
                <p>They're suitable for people who are at least 16, living in England and not in full-time education.</p>
            </div>
        </div>
    </div>
</section>