@model SFA.DAS.Campaign.Web.Models.Vacancy.VacancySearchViewModel

<h2 class="heading-m">Update search results</h2>
<section class="grid-row cta-faa">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-action="UpdateSearch">
        <div class="grid-column-one-third">
            <div class="cta-faa__content">
                <div class="form-group">
                    <label asp-for="Postcode" class="form-label-bold"></label>
                    <input asp-for="Postcode" class="form-control" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="grid-column-one-third">
            <div class="cta-faa__content">
                <div class="form-group">
                    <label asp-for="Distance" class="form-label-bold"></label>
                    <select asp-for="Distance" asp-items="Model.DistanceOptions" class="form-control"></select>

                    <span asp-validation-for="Distance" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="grid-column-one-third">
            <div class="cta-faa__content">
                <div class="form-group">
                    <input type="submit" value="Update results" class="button" />
                </div>
            </div>
        </div>


    </form>
</section>
