@using SFA.DAS.Campaign.Web.Models.Components.Form
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
<div class="cookiebanner visually-hidden" id="cookieBanner">
    <div class="grid-row cookiebanner__content">
        <div class="grid-column-two-thirds cookiebanner__text">
            <h4 class="heading-xs">COOKIES ON THIS SITE</h4>
            <p>Please read : Our website is set to allow cookies. We use cookies to improve your website experience, the products and services we offer and to make sure our digital marketing is personalised to you. See the cookies we use on our website by visiting our cookie policy. </p>
        </div>
        <div class="grid-column-one-third cookiebanner_actions">
            <a class="button button-apprentice button--shadow" id="btn-cookie-settings" onclick="removeBanner();">Continue</a>
            <a class="cookiebanner__link" href="#modal-cookiesettings" onclick="removeBanner();">No, take me to my settings</a>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Modal", new { id = "modal-cookiesettings", type = ModalType.Component, name = "Form", componentOptions = new { type = FormType.CookieSettings } })
