@using SFA.DAS.Campaign.Web.Models.Components.Form
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
<div class="cookiebanner cookiebanner--variant-1 visually-hidden" data-module="cookieBanner">
    <div class="grid-row cookiebanner__content">
        <div class="grid-column-two-thirds cookiebanner__text">
            <h4 class="cookiebanner__heading">Tell us whether you accept cookies</h4>
            <p>We use <a asp-controller="Home" asp-action="CookieDetails">cookies to collect</a> information about how you use this service. We use this information to make the service work as well as possible and improve this service. We also share some of this information with our social media, advertising and analytics partners. </p>
        </div>
        <div class="grid-column-one-third cookiebanner_actions">
            <a role="button" class="button button--with-icon button-apprentice cookiebanner__button cookiebanner__button--continue" id="link-cookie-accept" tabindex="0" href="#">
                <img src="/campaign/images/icon-circle-tick.svg" class="button__icon" alt="" />
                <span class="button__text">Accept all cookies</span>
            </a>
            <a class="cookiebanner__link cookiebanner--close" href="/cookies" id="link-cookie-settings">Set cookie preferences</a>
        </div>
    </div>
</div>

@functions {

    private bool ParseHideCookieBanner()
    {
        if (ViewBag.HideCookieBanner is bool)
        {
            return ViewBag.HideCookieBanner;
        }
        return false;
    }

}

@{
    if (!ParseHideCookieBanner())
    {
        @await Component.InvokeAsync("Modal", new { id = "modal-cookiesettings", type = ModalType.Component, name = "Form", componentOptions = new { type = FormType.CookieSettings } })
    } else {
        <span data-module="cookieSettingsPage"></span>
    }
}