@using SFA.DAS.Campaign.Web.Models.Components.Form
@using SFA.DAS.Campaign.Web.ViewComponents.Modal
<div class="cookiebanner visually-hidden"  data-module="cookieBanner">
    <div class="grid-row cookiebanner__content">
        <div class="grid-column-two-thirds cookiebanner__text">
            <h4 class="cookiebanner__heading">Cookies on this site</h4>
            <p>Please read : We use cookies to improve user experience of our website, and also share information about use of our site with our social media, advertising and analytics partners. For information on how to opt out or change your cookie settings, please see our <a href="/cookies">Cookie policy</a>. </p>
        </div>
        <div class="grid-column-one-third cookiebanner_actions">
            <a role="button" class="button button--with-icon button-apprentice cookiebanner__button cookiebanner__button--continue" id="link-cookie-accept">
                <img src="/campaign/images/icon-circle-tick.svg" class="button__icon" alt="" />
                <span class="button__text">Continue</span>
                <span class="vh"> and accept the cookie settings</span>
            </a>
            <a class="cookiebanner__link cookiebanner--close" href="#modal-cookiesettings" id="link-cookie-settings">No, take me to my settings</a>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Modal", new { id = "modal-cookiesettings", type = ModalType.Component, name = "Form", componentOptions = new { type = FormType.CookieSettings } })
