<!-- Alert -->
<section class="alert visually-hidden" data-module="alertBanner" >

    <div class="alert__inner-wrap">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <p class="alert__content">
                    If you're interested in apprenticeships in
                    <a href="https://www.apprenticeships.scot/" rel="external" target="_blank" class="alert__link--external">Scotland</a>,
                    <a href="https://www.nidirect.gov.uk/apprenticeships" rel="external" target="_blank" class="alert__link--external">Northern Ireland</a> or
                    <a href="https://gov.wales/apprenticeships-skills-and-training" rel="external" target="_blank" class="alert__link--external">Wales</a>,
                    there's plenty of information that's tailored to you.
                </p>
            </div>
            <div class="grid-column-one-third alert__actions">
                <a asp-controller="Home" asp-action="Countries" class="button alert__button" id="alert-countries-options" aria-label="View details of other apprenticeship websites in the UK">View options</a>
                <a class="alert__link" href="#" id="alert-countries-stay">No, I'm happy to stay on this website</a>
            </div>
        </div>
    </div>

</section>
<!-- End Alert -->