<header class="header header--generic" data-module="navigation">
    <div class="header__logo">
        <a asp-controller="Home" asp-action="Index"><img src="/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image" /></a>
    </div>
    <partial name="./Components/_Navigation"/>
</header>