<header class="header" data-module="navigation">
    <div class="header__logo">
        <a asp-controller="Home" asp-action="Index"><img src="/campaign/images/apprenticeships-logo-black.png" alt="Apprenticeships Logo" class="header__logo-image" /></a>
    </div>
    <a href="#navigation" class="navigation__toggle">
        <span class="navigation__toggle-label" id="nav-label">Menu</span>
        <span class="navigation__toggle-icon"></span>
    </a>
    <nav id="navigation" class="nav nav--employer">
        <ul class="nav__list">
            <li>
                <a href="#" class="nav-profile-switcher">
                    Not a future apprentice?
                    <span class="nav-profile-switcher__icon"></span>
                </a>
            </li>
            <li class="nav__list-item nav__list-item--has-children">
                <a asp-controller="RealStories" asp-action="Employer" class="nav__link--top-level">
                    <span>Are apprenticeships right for you?</span>
                    <span class="nav__ordered-list-toggle"></span>
                    <span class="nav__ordered-list-toggle-icon"></span>
                </a>
                <ol class="nav__ordered-list">
                    <li>
                        <a asp-controller="RealStories" asp-action="Employer" class="nav__link" id="link-nav-app-real-stories">
                            Real stories
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Employer" asp-action="Benefits" class="nav__link" id="link-nav-app-benefits">
                            The benefits of apprenticeships
                        </a>
                    </li>
                </ol>
            </li>
            <li class="nav__list-item nav__list-item--has-children">
                <a asp-controller="Employer" asp-action="HowMuchIsItGoingToCost" class="nav__link--top-level">
                    <span>How do they work?</span>
                    <span class="nav__ordered-list-toggle"></span>
                    <span class="nav__ordered-list-toggle-icon"></span>
                </a>
                <ol class="nav__ordered-list">
                    <li>
                        <a asp-controller="Employer" asp-action="HowMuchIsItGoingToCost" class="nav__link" id="link-nav-emp-step-1">
                            Funding an apprenticeship
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Employer" asp-action="HireAnApprentice" class="nav__link" id="link-nav-emp-step-4">
                            Hiring an apprentice
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Employer" asp-action="AssessmentAndQualification" class="nav__link" id="link-nav-emp-step-6">
                            End point assessments
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Employer" asp-action="PreparingAndMonitoring" class="nav__link" id="link-nav-emp-step-5">
                            Preparing and monitoring
                        </a>
                    </li>
                </ol>
            </li>
            <li class="nav__list-item nav__list-item--has-children">
                <a asp-controller="Employer" asp-action="TheRightApprenticeship" class="nav__link--top-level">
                    <span>Setting it up</span>
                    <span class="nav__ordered-list-toggle"></span>
                    <span class="nav__ordered-list-toggle-icon"></span>
                </a>
                <ol class="nav__ordered-list">
                    <li>
                        <a asp-controller="Employer" asp-action="TheRightApprenticeship" class="nav__link" id="link-nav-emp-step-2">
                            Choose the right apprenticeship
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Employer" asp-action="ChooseATrainingProvider" class="nav__link" id="link-nav-emp-step-3">
                            Choose a training provider
                        </a>
                    </li>
                 
                </ol>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Employer" asp-action="FindApprenticeshipTraining" class="nav__link--top-level" id="link-nav-emp-find-apprenticeship-training">
                    Search for an apprenticeship
                </a>
            </li>
            @{ 
            if (ViewBag.HideRegisterInterest != true) {
                    <li>
                        <a class="nav-register-interest" asp-action="index" asp-controller="RegisterInterest" id="btn-register-interest-header">Register interest</a>
                    </li>
                }
            }
        </ul>
    </nav>
</header>