<header class="header">
    <div class="header__logo">
        <a href="/"><img src="/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image" /></a>
    </div>
    <partial name="./Components/_Navigation"/>
</header>