<div class="modal" id="switch-profiles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close" id="close-modal-switch-profiles">
                <svg width="32" height="32" viewBox="0 0 32 32" class="">
                    <rect class="modal--icon-close" x="1.58691" y="0.0893555" width="16.0371" height="2.16583" transform="rotate(45 1.58691 0.0893555)"></rect>
                    <rect class="modal--icon-close" x="0.0966797" y="11.34" width="16.0371" height="2.16583" transform="rotate(-45 0.0966797 11.34)"></rect>
                </svg>
                <span class="vh">Close this popup</span>
            </a>
        </div>
        <h2 class="heading-m">Choose your preference...</h2>
        <ul class="card__collection card__collection--profile-switch">
            <li>
                <a class="card card--employer" asp-controller="RealStories" asp-action="Employer" id="link-switch-profiles-employer">
                    <div class="card__image">
                        <span class="card__img"></span>
                    </div>
                    <div class="card__content">
                        <h2 class="card__headline card__headline--ribbon">Employer</h2>
                        <p class="card__summary">
                            Be part of the change - employ an apprentice
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a class="card card--parent" asp-controller="Parents" asp-action="TheirCareer" id="link-switch-profiles-parents">
                    <div class="card__image">
                        <span class="card__img"></span>
                    </div>
                    <div class="card__content">
                        <h2 class="card__headline card__headline--ribbon">Parents</h2>
                        <p class="card__summary">
                            Help shape their career - support an apprentice
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<header class="header" data-module="navigation">
    <div class="header__logo">
        <a asp-controller="RealStories" asp-action="Apprentice">
            <img src="/campaign/images/apprenticeships-logo-apprentice.png" alt="Apprenticeships Logo" class="header__logo-image" />
            <span class="header__caption header__caption--apprentice">Apprentice hub</span>
        </a>
    </div>
    <a href="#navigation" class="navigation__toggle">
        <span class="navigation__toggle-label" id="nav-label">Menu</span>
        <span class="navigation__toggle-icon"></span>
    </a>
    <nav id="navigation" class="nav nav--apprentice">
        <ul class="nav__list">
            <li>
                <a href="#switch-profiles" class="nav-profile-switcher" id="link-nav-switch-profiles">
                    Not a future apprentice?
                    <span class="nav-profile-switcher__caption">Discover information for employers, parents and guardians</span>
                    <span class="nav-profile-switcher__icon"></span>
                </a>
            </li>
            <li class="nav__list-item nav__list-item--has-children">
                <a asp-controller="RealStories" asp-action="Apprentice" class="nav__link--top-level" id="link-nav-apprentice-1">
                    <span>Are apprenticeships right for you?</span>
                    <span class="nav__ordered-list-toggle"></span>
                    <span class="nav__ordered-list-toggle-icon"></span>
                </a>
                <ol class="nav__ordered-list">
                    <li>
                        <a asp-controller="RealStories" asp-action="Apprentice" class="nav__link" id="link-nav-app-real-stories">
                            Real stories
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Apprentice" asp-action="WhatAreTheBenefitsToMe" class="nav__link" id="link-nav-app-benefits">
                            The benefits of apprenticeships
                        </a>
                    </li>
                </ol>
            </li>
            <li class="nav__list-item nav__list-item--has-children">
                <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship" class="nav__link--top-level" id="link-nav-apprentice-2">
                    <span>How do they work?</span>
                    <span class="nav__ordered-list-toggle"></span>
                    <span class="nav__ordered-list-toggle-icon"></span>
                </a>
                <ol class="nav__ordered-list">
                    <li>
                        <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship" class="nav__link" id="link-nav-app-step-1">
                            What is an apprenticeship?
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Apprentice" asp-action="Application" class="nav__link" id="link-nav-app-step-3">
                            Application
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Apprentice" asp-action="Interview" class="nav__link" id="link-nav-app-step-4">
                            Interview
                        </a>
                    </li>
                </ol>
            </li>
            <li class="nav__list-item nav__list-item--has-children">
                <a asp-controller="Apprentice" asp-action="YourApprenticeship" class="nav__link--top-level" id="link-nav-apprentice-3">
                    <span>Getting started</span>
                    <span class="nav__ordered-list-toggle"></span>
                    <span class="nav__ordered-list-toggle-icon"></span>
                </a>
                <ol class="nav__ordered-list">
                    <li>
                        <a asp-controller="Apprentice" asp-action="YourApprenticeship" class="nav__link" id="link-nav-app-step-5">
                            Your apprenticeship
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Apprentice" asp-action="AssessmentAndQualification" class="nav__link" id="link-nav-app-step-6">
                            Assessment and certification
                        </a>
                    </li>
                </ol>
            </li>
            <li class="nav__list-item">
                <a asp-controller="Apprentice" asp-action="FindAnApprenticeship" class="nav__link--top-level" id="link-nav-apprentice-4">
                    Find an apprenticeship
                </a>
            </li>
            @{
                if (ViewBag.HideRegisterInterest != true)
                {
                    <li>
                        <a class="nav-register-interest" asp-action="index" asp-controller="RegisterInterest" id="btn-register-interest-header">Register interest</a>
                    </li>
                    <li>
                        <a class="nav-register-interest visually-hidden" asp-action="indexv2" asp-controller="RegisterInterest" id="btn-register-interest-header">Subscribe for updates and guides</a>	                        <a class="nav-register-interest visually-hidden" asp-action="indexv2" asp-controller="RegisterInterest" id="btn-register-interest-header-v2">Subscribe for updates and guides</a>
                    </li>

                }
            }
        </ul>
    </nav>
</header>