<header class="header">

    <div class="header__logo">
        <img src="/campaign/images/apprenticeships-logo.png" alt="Apprenticeships Logo" class="header__logo-image" />
    </div>
<partial name="./Components/_Navigation"/>

</header>