<div class="hero">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <span class="caption-m hero-heading__caption hero-heading__caption--@ViewData["Section"]">@ViewData["Section"]</span>
                <h1 class="heading-xl hero-heading__heading">@ViewData["Title"]</h1>
            </div>
       
        </div>
    </div>
</div>