<a href="#navigation" class="navigation__toggle">
    <span class="navigation__toggle-label" id="nav-label">Menu</span>
    <span class="navigation__toggle-icon"></span>
</a>
<nav id="navigation" class="navigation" aria-labelledby="nav-label">
    <ul class="navigation__menu">
        <li class="navigation__list-item">
            <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship" class="navigation__link--top-level navigation__link--top-level--apprentice" id="link-nav-apprentice">
                Apprentice
            </a>
        </li>
        <li class="navigation__list-item">
            <a asp-controller="HowDoTheyWork" asp-action="Index" class="navigation__link--top-level  navigation__link--top-level--employer" id="link-nav-employer">
                Employer
            </a>
        </li>
        <li class="navigation__list-item">
            <a asp-controller="Parents" asp-action="TheirCareer" class="navigation__link--top-level navigation__link--top-level--parent" id="link-nav-parents">
                Parents
            </a>
        </li>
        <li class="navigation__list-item">
            <a asp-controller="Industries" asp-action="Index" class="navigation__link--top-level navigation__link--top-level--apprentice" id="link-nav-interests">
                Interests
            </a>
        </li>
        @{ 
            if (ViewBag.HideRegisterInterest != true) {
        <li class="navigation__list-item navigation__list-item--with-button">
            <a class="button button--sparks button--shadow " asp-action="index" asp-controller="RegisterInterest" id="btn-register-interest-header">Register Interest</a>
        </li>
            }
        }
    </ul>
</nav>