<div class="sidebar sidebar--employer">
    <div class="sidebar__hero">
        <img src="/campaign/images/worker-girl.jpg" class="sidebar__hero-image" />
    </div>
    <div class="trimmer">
        <div class="sidebar__header">
            <h3 class="heading-s sidebar__heading">The process to hire an apprentice</h3>
        </div>
    </div>
    <div class="sidebar__content">
        <ol class="sidebar-nav">
            <li class="sidebar-nav__section"><a asp-controller="Employer" asp-action="HowMuchIsItGoingToCost"> How much is it going to cost?</a></li>
            <li class="sidebar-nav__section"><a asp-controller="Employer" asp-action="TheRightApprenticeship"> The right apprenticeship</a></li>
            <li class="sidebar-nav__section"><a asp-controller="Employer" asp-action="ChooseATrainingProvider"> Choose a training provider</a></li>
            <li class="sidebar-nav__section"><a asp-controller="Employer" asp-action="HireAnApprentice"> Hire an apprentice</a> </li>
            <li class="sidebar-nav__section"><a asp-controller="Employer" asp-action="PreparingAndMonitoring"> Preparing and monitoring</a></li>
            <li class="sidebar-nav__section"><a asp-controller="Employer" asp-action="AssessmentAndQualification"> Assessment and certification</a></li>
        </ol>
    </div>
</div>