
@{
    ViewBag.Title = "Apprentices' hub";
    Layout = "Redesign_Layout_ApprenticesHub";

    ViewBag.PageTitle = "Become an apprentice";
    ViewBag.PageSummary = "Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers";

    ViewBag.HubPage = true;
    ViewBag.SubHeading = "Apprentices, here's what you need to know";
    ViewBag.HeadingImage = "apprentice-hozanna-sparks.jpg";
}

<div class="fiu-grad-row">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" href="Categorylink">Category</a>
                    </span>
                    <h3 class="fiu-card__heading">Article heading</h3>
                    <p class="fiu-card__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
                    <a href="ArticleLink" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" href="Categorylink">Category</a>
                    </span>
                    <h3 class="fiu-card__heading">Article heading</h3>
                    <p class="fiu-card__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
                    <a href="ArticleLink" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_FindAnApprenticeship"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" href="Categorylink">Category</a>
                    </span>
                    <h3 class="fiu-card__heading">Article heading</h3>
                    <p class="fiu-card__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
                    <a href="ArticleLink" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" href="Categorylink">Category</a>
                    </span>
                    <h3 class="fiu-card__heading">Article heading</h3>
                    <p class="fiu-card__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
                    <a href="ArticleLink" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" href="Categorylink">Category</a>
                    </span>
                    <h3 class="fiu-card__heading">Article heading</h3>
                    <p class="fiu-card__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
                    <a href="ArticleLink" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" href="Categorylink">Category</a>
                    </span>
                    <h3 class="fiu-card__heading">Article heading</h3>
                    <p class="fiu-card__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
                    <a href="ArticleLink" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                </div>
            </div>
        </div>
        <hr class="fiu-section-break fiu-section-break--l" />
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_GetFreeHelpAndSupport"/>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_RegisterInterestApprentice"/>
            </div>
        </div>
    </div>
</div>