
@{
    ViewBag.Title = "Apprentices' hub";
    Layout = "Redesign_Layout_ApprenticesHub";

    ViewBag.PageTitle = "Become an apprentice";
    ViewBag.PageSummary = "Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers";
}

<h3>Apprentices, here's what you need to know</h3>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/are-apprenticeships-right-for-me">Are apprenticeships right for me?</a>
    <h4>What are the benefits for me?</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/what-are-the-benefits-for-me">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/are-apprenticeships-right-for-me">Are apprenticeships right for me?</a>
    <h4>Advice for parents</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/advice-for-parents">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/how-do-they-work">How do they work?</a>
    <h4>What is an apprenticeship?</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/what-is-an-apprenticeship">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/how-do-they-work">How do they work?</a>
    <h4>Application process</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/application">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/how-do-they-work">How do they work?</a>
    <h4>Interview</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/interview">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/getting-started">Getting started</a>
    <h4>Your apprenticeship</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/your-apprenticeship">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/getting-started">Getting started</a>
    <h4>Assessment and certification</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/assessment-and-certification">Learn more</a>
</div>

<partial name="Redesign/_FindAnApprenticeship"/>
<partial name="Redesign/_RegisterInterestApprentice"/>
<partial name="Redesign/_GetFreeHelpAndSupport"/>