
@{
    ViewBag.Title = "Apprentices' hub";
    Layout = "Redesign_Layout_ApprenticesHub";
}

<h2>Become an apprentice</h2>

<h3>Apprentices, here's what you need to know</h3>

<div style="border: dimgrey 2px solid">
    <a href="/apprentices/are-apprenticeships-right-for-me">Are apprenticeships right for me?</a>
    <h4>What are the benefits for me?</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/apprentices/what-are-the-benefits-for-me">Learn more</a>
</div>