@using SFA.DAS.Campaign.Web.Helpers
@using SFA.DAS.Campaign.Web.Renderers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.Hub>
@{
    ViewBag.Title = Model.Title;
    Layout = "Redesign_Layout_EmployersHub";

    ViewBag.PageTitle = Model.Title;
    ViewBag.PageSummary = Model.Content.Summary;

    ViewBag.HubPage = true;
    ViewBag.HeadingImage = Model.Content.HeaderImage.Url;
}

<span class="fiu-header-content-spacer"></span>
<div class="fiu-grad-row">
    @if (ViewBag.HeadingImage == null)
    {
        <span class="fiu-grad-row__bg"></span>
    }
    <div class="fiu-width-container">

        @{
            var items = Model.Content.Cards.Take(Model.Content.Cards.Count);
            int columncount = 1;

            for (var i = 0; i < items.Count(); i++)
            {
                if (columncount == 1)
                {
                    @:<div class="govuk-grid-row fiu-flex-row">
                }
                    @items.ElementAt(i).CardToHtml();
                if (columncount == 3 || i == items.Count() - 1)
                {
                    @:</div>
                    columncount = 1;
                }
                else
                {
                    columncount++;
                }                
            }
        }

        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-full">
                 <partial name="Panels/_EmployerSupport"/>
            </div>
        </div>
    </div>
</div>
