@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.Hub>
@{
ViewBag.Title = Model.Title;
Layout = "Redesign_Layout_EmployersHub";
ViewBag.PageTitle = Model.Title;
ViewBag.PageSummary = Model.Content.Summary;
ViewBag.HubPage = true;
ViewBag.HeadingImage = Model.Content.HeaderImage.Url;
}
@functions {
   void RenderCardGroup(string title, IReadOnlyCollection<SFA.DAS.Campaign.Domain.Content.HtmlControl.Card> cards)
   {
      if (cards == null || !cards.Any())
      {
         return;
      }

      if (!string.IsNullOrWhiteSpace(title))
      {
         <h2 class="govuk-heading-l fiu-card-group__title">@title</h2>
      }

      <div class="fiu-grid-layout fiu-grid-layout--@cards.Count fiu-card-group fiu-card-group--employers ">
         @foreach (var card in cards)
         {
            @card.CardToHtml()
         }
      </div>
   }
}
<div class="fiu-grad-row">
   <div class="fiu-width-container">
      @{ RenderCardGroup(Model.Content.CardsTitle, Model.Content.Cards); }
      @{ RenderCardGroup(Model.Content.CardsTitle2, Model.Content.Cards2); }
      @{ RenderCardGroup(Model.Content.CardsTitle3, Model.Content.Cards3); }
      <partial name="Panels/_EmployerSupport" />
   </div>
</div>