@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.SearchFilter.TrainingProviderSearchFilterViewModel

<div class="fiu-search-filter">
   <div class="fiu-width-container">
      <form asp-controller="TrainingProvider" asp-action="Search" method="get"  data-fiu-search-filter="true">
         <fieldset class="govuk-fieldset fiu-search-filter__fieldset">
             <legend class="govuk-fieldset__legend fiu-search-filter__legend">Filter results</legend>
             <partial name="Components/TrainingProvider/SearchFilter/_FilterNationalProviders" model="Model" />
        </fieldset>
        <input type="hidden" asp-for="@Model.Postcode" />
        <input type="hidden" asp-for="@Model.ApprenticeshipId" />
        <input type="hidden" asp-for="@Model.IsLevyPayer" />
        <input type="hidden" asp-for="@Model.Keywords" />
        <button type="submit" class="fiu-button fiu-button--employers fiu-search-filter__button" id="fat-filter-update-results">
			Update results
		</button>
      </form>
   </div>
</div>
<span class="fiu-header-content-spacer--grey"></span>
