<div class="feedback-banner" data-module="alertBanner" data-cookieName="FeedbackBanner">
    <div class="feedback-banner--inner">
        <p class="feedback-banner__content feedback-banner__content--text" >
            <span class="badge badge--apprentice feedback-banner__badge">
                Feedback
            </span> This is a free service – your <a class="feedback-banner__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" data-alert-close="true" target="_blank">feedback</a> will help us to improve it.

        </p>
        <p class="feedback-banner__content feedback-banner__content--close" >
            <a href="#" class="feedback-banner__link feedback-banner__content--close-button" data-alert-close="true">Close</a>
        </p>
    </div>
</div>
