<div class="banner banner--covid visually-hidden" data-module="alertBanner" data-cookieName="covid19">
    <div class="banner__inner-wrap">
        <p class="banner__content">Coronavirus (COVID-19): <span style="font-weight: normal;">find out about 
            <a href="https://engage.apprenticeships.gov.uk/incentives.html" target="_blank" class="link">financial incentives for employers<span class="visually-hidden"> (Opens in a new window)</span></a> 
            hiring new apprentices, 
            <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003798540-Apprentice" target="_blank" class="link">changes to apprenticeships<span class="visually-hidden"> (Opens in a new window)</span></a> 
            and ways of working, and the new 
            <a href="https://engage.apprenticeships.gov.uk/redundancy-apprentice.html" target="_blank" class="link">redundancy support service for apprentices<span class="visually-hidden"> (Opens in a new window)</span></a>.
            </span>
        </p>
        <a href="#" class="link banner__close" data-alert-close="true">Hide message</a>
    </div>
</div>