
<div class="fiu-panel fiu-panel--inverse @(ViewBag.PanelsInNarrowColumn != null ? "fiu-panel--narrow-col" : "")">
    <h2 class="govuk-heading-l fiu-panel__heading">Browse apprenticeships</h2>
    <p class="fiu-panel__content">Search to browse apprenticeships based on interest and location.</p>
    <a href="/apprentices/browse-apprenticeships" id="fiu-panel-pe-link-faa" class="fiu-button fiu-button--parents-educators fiu-button--outlined fiu-panel__button  govuk-!-margin-top-4">Browse apprenticeships</a>
</div>
