
<div class="fiu-panel fiu-panel--fat @(ViewBag.PanelsInNarrowColumn != null ? "fiu-panel--narrow-col" : "")">
    <h2 class="govuk-heading-l fiu-panel__heading">Search for an apprenticeship</h2>
    <p class="fiu-panel__content">Search hundreds of apprenticeships and training providers </p>
    <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" id="fiu-panel-link-fat" class="fiu-button fiu-button--employers fiu-button--sparks fiu-panel__button">Find apprenticeship training</a>
</div>
