<div>
        <h2>Find an apprenticeship</h2>
        <p>Search hundreds of apprenticeships across the country</p>
        <a href="/apprentice/find-an-apprenticeship">Find an apprenticeship</a>
</div>