<div class="fiu-panel fiu-panel--fat">
        <h2 class="govuk-heading-l fiu-panel__heading">Find apprenticeship training</h2>
        <p class="fiu-panel__content">See what apprenticeship Standards might be suitable for your business</p>
        <a asp-controller="Employer" asp-action="FindApprenticeshipTraining" id="fiu-panel-link-fat" class="fiu-button fiu-button--employers fiu-button--sparks fiu-panel__button">Find apprenticeship training</a>
</div>