<div class="fiu-panel fiu-panel--faa @(ViewBag.PanelsInNarrowColumn != null ? "fiu-panel--narrow-col" : "")">
        <h2 class="govuk-heading-l fiu-panel__heading">Browse apprenticeships before you apply</h2>
        <a href="/apprentices/browse-apprenticeships" id="fiu-panel-link-faa" class="fiu-button fiu-button--citizens fiu-button--sparks fiu-panel__button">Browse now</a>
</div>