<div class="fiu-panel fiu-panel--faa">
        <h2 class="govuk-heading-l fiu-panel__heading">Find an apprenticeship</h2>
        <p class="fiu-panel__content">Search hundreds of apprenticeships across the country</p>
        <a href="/apprentice/find-an-apprenticeship" id="fiu-panel-link-faa" class="fiu-button fiu-button--citizens fiu-button--sparks fiu-panel__button">Find an apprenticeship</a>
</div>