<div class="fiu-panel fiu-panel--faa">
        <h2 class="govuk-heading-l fiu-panel__heading">Browse apprenticeships before you apply</h2>
        <a href="/apprentices/find-an-apprenticeship" id="fiu-panel-link-faa" class="fiu-button fiu-button--citizens fiu-button--sparks fiu-panel__button">Browse now</a>
</div>