<div class="fiu-panel fiu-panel--fat">
        <h2 class="govuk-heading-l fiu-panel__heading">Search for an apprenticeship</h2>
        <p class="fiu-panel__content">See what apprenticeship Standards might be suitable for your business</p>
        <a href="/employer/find-apprenticeship-training" class="fiu-button fiu-button--employers fiu-button--sparks fiu-panel__button">Find the right apprenticeship</a>
</div>