<div class="fiu-panel">
    <h3 class="fiu-support-panel__heading">Help and support </h3>
    <p><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003798540-Apprentice" class="fiu-link fiu-link--citizens" target="_blank">Search for help in the apprenticeship service <span class="fiu-vh"> (Opens in a new window)</span></a></p>
</div>
