<div>
    <h2>Get free help and support</h2>
    <p>Call us free on</p>
    <p>0800 0150 400</p>
    <p>or message us at</p>
    <p><a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">nationalhelpdesk@apprenticeships.gov.uk</a></p>
</div>