<div class="fiu-panel @(ViewBag.PanelsInNarrowColumn != null ? "fiu-panel--narrow-col" : "")">
	<h2 class="govuk-heading-l fiu-panel__heading">Register interest</h2>
	<p class="fiu-panel__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors</p>
	<a href="/employers/sign-up" id="fiu-panel-link-reg-int-emp" class="fiu-button fiu-button--employers fiu-panel__button">Register interest</a>
</div>