<div>
    <h2>Register interest</h2>
    <p>Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
    <a href="/register-interest/apprenctice">Register interest as an apprentice</a>
</div>