<div class="fiu-panel">
	<h2 class="govuk-heading-l fiu-panel__heading">Register interest</h2>
	<p class="fiu-panel__content">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors</p>
	<a href="/register-interest/apprenctice" id="fiu-panel-link-reg-int-app" class="fiu-button fiu-button--citizens fiu-panel__button">Learn more</a>
</div>