<div class="fiu-panel @(ViewBag.PanelsInNarrowColumn != null ? "fiu-panel--narrow-col" : "")">
	<h2 class="govuk-heading-m fiu-panel__heading">Sign up to stay connected</h2>
	<p class="govuk-body-m">Sign up for emails to keep you informed about apprenticeships</p>
	<a href="/employers/sign-up" id="fiu-panel-link-reg-int-emp" class="fiu-button fiu-button--employers fiu-button--outlined fiu-panel__button">Register interest</a>
</div>