<div class="fiu-panel fiu-panel--fat govuk-!-padding-bottom-8">
    <h2 class="govuk-heading-l fiu-panel__heading">Search for an apprenticeship</h2>
    <p class="fiu-panel__content fiu-heading-m-l">See what apprenticeship Standards might be suitable for your business</p>
    <a asp-controller="Employer" asp-action="FindApprenticeshipTraining" id="fiu-panel-link-fat" class="fiu-button fiu-button--employers fiu-button--sparks fiu-panel__button govuk-!-margin-bottom-8">Find apprenticeship training</a>
</div>
