@{
    var title = "Agriculture, environment and animal care";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    This fertile sector for apprenticeships can be separated into three major categories:
</p>
<ol class="list  list--number">
    <li>Land management and production</li>
    <li>Animal health and welfare</li>
    <li>Environmental industries</li>
</ol>
<p>
    As you can imagine, there are a wide variety of jobs in the sector. While many
    apprentices find their ideal job in the farming and skilled agricultural and environmental areas,
    there are also plenty of diverse, practical, and animal-centric options out there too.
</p>
<p>
    You will also find creative occupations here, like forestry, and caring jobs. For example,
    working as an apprentice veterinary nurse.

</p>
<dl class="inline-list">
    <dt class="inline-list__title">Apprenticeships include:</dt>
    <dd>Sports turf operative</dd>
    <dd>Veterinary nurse</dd>
    <dd>Horticulture and Landscape Operative</dd>
</dl>

<section class="section section--slant section--apprentice-pale real-stories-quotes">
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <div class="quote-feature">
                <h2 class="heading-xs quote-feature__caption">
                    <span class="quote-feature__caption-text">Real stories</span>
                    <span class="quote-feature__caption-icon"></span>
                </h2>
                <h3 class="heading-l">RSPCA</h3>
                <p>
                    Over the past 2 years, we've conducted a great deal of research, using the <a href="/employers/find-apprenticeship-training">find apprenticeship training</a> service and the <a href="https://www.instituteforapprenticeships.org/">Institute for Apprenticeships & Technical Education website</a>.
                </p>
                <p>
                    To get started, we engage with training providers and meet with potential apprentices and line managers to ensure a shared understanding, making sure the training is right for the individual and our organisation.
                </p>
                <h4 class="heading-s">Increase your talent pool</h4>
                <p>
                    There are loads of benefits to hiring apprentices. Apprenticeships help us to develop knowledge and skills within the organisation, improve employee motivation, provide development opportunities, feed into succession planning – and of course, increase our talent pool!
                </p>
                <h4 class="heading-s">Finding the right apprentice</h4>
                <p>
                    To find an apprentice, we recruit internally, put out communications, engage with line managers for recommendations and refer to external sources. We advertise with the training provider and use the recruit service to advertise on <a href="https://www.gov.uk/apply-apprenticeship">find an apprenticeship</a>.
                </p>
                <p>
                    <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                </p>
            </div>
        </div>
        <div class="grid-column-one-third">
            <figure class="quote-box quote-box--apprentice">
                <blockquote class="quote-box__quote">
                    Apprenticeships help us to develop knowledge and skills within the organisation – and of course, increase our talent pool!
                </blockquote>
                <figcaption class="quote-box__cite">
                    <span class="quote-box__cite-person">Laura Swan</span>
                    <span class="quote-box__cite-role">Apprenticeships Development Manager</span>
                    <span class="quote-box__cite-source">
                        RSPCA
                    </span>
                </figcaption>
            </figure>
        </div>
    </div>
</section>