@{
    ViewBag.Title = "Care services";
    ViewBag.MetaTitle = "Care-services apprenticeships include working with children and adults";
    ViewBag.MetaDesc = "Apprenticeships in the care service can lead to careers such as helping with disabled people and caring for the elderly, at home or in the community.  This is known as social care. ";
    ViewBag.PageSlug = "care-services";
    ViewBag.HeroImageAltText = "Carer speaking to a patient";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Care-services";
}

<p class="lead-paragraph">
    Care sector apprenticeships combine home and hospital visits with clinics and other vital assistance for people who need extra help.
</p>
<p>
    These include regular work with disabled people and older people who need support in their own home or in the community — also known as social care.
</p>

<p>
    This can be anything from working with young people in after schools clubs, to helping adults with mental health issues, or getting elderly patients to their appointments.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Adult care worker</dd>
    <dd>Social worker</dd>

</dl>

    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Physiotherapy apprenticeship at james paget hospital</h3>

                    <h4 class="heading-s">Take the first step</h4>
                    <p>
                        I saw the apprenticeship advertised on the NHS website, and it all started from there. I always knew I wanted to help people, and after seeing the apprenticeship within occupational and physiotherapy, I decided to try it out. Even if it wasn't for me, I'd still gain valuable experience and a qualification.
                    </p>
                    <h4 class="heading-s">Train up for a rewarding career</h4>
                    <p>
                        I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future career path. Luckily for me, this was the case – I'm now a senior physiotherapist! I'm currently working within paediatrics. You get to know the children and the families and it's very rewarding. 
                    </p>
                    <h4 class="heading-s">Invaluable experience in the nhs</h4>
                    <p>
                        My apprenticeship led to a job as a band 2 therapy assistant. From there, I've been able to complete an access course and even achieve a first-class honours degree in physiotherapy. My experience working in the NHS as an apprentice helped immensely.</p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future career path. I'm now a senior physiotherapist
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Lily Francis, 25</span>
                        <span class="quote-box__cite-role">Physiotherapy Apprenticeship</span>
                        <span class="quote-box__cite-source">James Paget Hospital</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>