@{
    var title = "Education and childcare";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    Working with children and young people is an increasingly popular area for apprentices.

</p>
<p>
    You could be an apprentice teacher, teaching assistant or early years educator, playing a vital role in enabling children to get the most out of education in a school or nursery setting.

</p>

<p>
    Apprenticeships can also involve particular specialisms in areas like music or working with pupils with special educational needs or challenging behaviour, helping them to overcome barriers to learning and fulfil their potential.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">Apprenticeships include:</dt>
    <dd>Teacher</dd>
    <dd>Learning mentor</dd>
    <dd>Children, Young People & Families Manager</dd>

</dl>


    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Teaching at Bursledon Junior School</h3>

                    <p>
                        The headteacher at my school helped me to become an apprentice. I was working as a teaching assistant and wanted to become a fully qualified teacher, so I went to an information evening on different routes into teaching. As a salaried role, I thought this apprenticeship sounded like a great option for me.
                        

                    </p>
                    <h4 class="heading-s">A rewarding experience</h4>
                    <p>
                        My friends and family have been very supportive of me while I've been completing the apprenticeship. I'm enjoying the day-to-day role because I love working in a great team and teaching the amazing children in our school.

                    </p>
                    <h4 class="heading-s">Fast-track your career</h4>
                    <p>
                        I think my apprenticeship will open up my future career options by enabling me to start my career in teaching. I hope to be employed as a newly qualified teacher in September.

                        </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        I hope to be employed as a newly qualified teacher in September.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Natalie Rich, 40</span>
                        <span class="quote-box__cite-role">Post-graduate Teaching Apprentice</span>
                        <span class="quote-box__cite-source">
                            Bursledon Junior School
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>