@{
    ViewBag.Title = "Hair and beauty";
    ViewBag.MetaTitle = "Discover apprenticeships in hair and beauty and where it could lead";
    ViewBag.MetaDesc = "Finding an apprenticeship in hair and beauty can create opportunities in high street salons, spas, health farms, holiday resorts and even film and TV sets. ";
    ViewBag.PageSlug = "hair-beauty";
    ViewBag.HeroImageAltText = "Woman gets her hair blow dried";
    Layout = "_LayoutIndustry";
    ViewBag.Route = "Hair-and-beauty";

}
<p class="lead-paragraph">
    The hair and beauty sector is more diverse than you probably realised.
</p>
<p>
    Apprenticeships here often take place in small businesses that operate as self-employed freelancers, running their own
    business and visiting clients at home. Others find themselves working in spas, health farms, holiday resorts, and even film and TV sets.
</p>

<p>
    You can go on to work in sales, marketing, public relations and photography, or choose to
    concentrate on the business aspects of running a salon rather than performing treatments.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">Hair and beauty includes:</dt>
    <dd>Hair Professional</dd>
    <dd>Beauty therapist</dd>
    <dd>Nail services technician</dd>
</dl>