@{
    var title = "Health and science";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}
<article class="fiu-article">
<p class="govuk-body-l">
    Health is something we often take for granted, but couldn't cope without.
</p>
<p>It takes more than doctors and nurses to keep our health service running. Careers in health and science include dispensing medicines in a pharmacy, giving eye tests, testing samples in labs, researching new cures and medicines, working as a dental nurse and many more.</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Dental technician</li>
    <li>Laboratory scientist </li>
    <li>Food technologist</li>
    <li>Environmental health practitioner</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    GlaxoSmithKline
</h2>
<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "Taking the apprenticeship route was a no-brainer for me, as it would provide me with hands-on experience, a fully funded degree in my chosen field of bioscience and a competitive salary."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Hajra Bibi, 23
        <span class="fiu-quote__caption-description">Level 6 Standard for Laboratory Scientists, GlaxoSmithKline</span>
    </figcaption>
</figure>
<p>
    I've always known that a career within the science field was for me. During my last year of A Levels, I began to look for science-based degree apprenticeships. I was successful with my application to GSK's laboratory apprenticeship scheme and I held 5 offers for universities to study biological science.
</p>
<h3 class="govuk-heading-m">Learn by doing</h3>
<p>
    Taking the apprenticeship route was a no-brainer for me, as it would provide me with hands-on experience, a fully funded degree in my chosen field of bioscience and a competitive salary. I've always learnt better with a 'doing' approach, so going into a laboratory and conducting experiments was a fantastic way to gain experience.

</p>
<h3 class="govuk-heading-m">Gain a qualifaction while you work</h3>
<p>
    My apprenticeship has already opened up a huge amount of career options. By the end of my apprenticeship I will have a university degree, as well as 5 years of industrial experience, making me very employable compared to a graduate who has taken a university route.
</p>

</article>