@{
    var title = "Health and science";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    Health is something we often take for granted, but couldn't cope without.
</p>
<p>It takes more than doctors and nurses to keep our health service running. Careers in health and science include dispensing medicines in a pharmacy, giving eye tests, testing samples in labs, researching new cures and medicines, working as a dental nurse and many more.</p>

<dl class="inline-list">
    <dt class="inline-list__title">Apprenticeships include:</dt>
    <dd>Dental technician</dd>
    <dd>Laboratory scientist </dd>
    <dd>Food technologist</dd>
    <dd>Environmental health practitioner</dd>
</dl>

    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Laboratory scientist at Glaxosmithkline</h3>

                    
                    <p>
                        I've always known that a career within the science field was for me. During my last year of A Levels, I began to look for science-based degree apprenticeships. I was successful with my application to GSK's laboratory apprenticeship scheme and I held 5 offers for universities to study biological science.
                    </p>
                    <h4 class="heading-s">Learn by doing</h4>
                    <p>
                        Taking the apprenticeship route was a no-brainer for me, as it would provide me with hands-on experience, a fully funded degree in my chosen field of bioscience and a competitive salary. I've always learnt better with a 'doing' approach, so going into a laboratory and conducting experiments was a fantastic way to gain experience.
 
                    </p>
                    <h4 class="heading-s">Gain a qualifaction while you work</h4>
                    <p>
                        My apprenticeship has already opened up a huge amount of career options. By the end of my apprenticeship I will have a university degree, as well as 5 years of industrial experience, making me very employable compared to a graduate who has taken a university route.

                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        Taking the apprenticeship route was a no-brainer for me, as it would provide me with hands-on experience, a fully funded degree and a competitive salary
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Hajra Bibi, 23</span>
                        <span class="quote-box__cite-role">Level 6 Standard for Laboratory Scientists</span>
                        <span class="quote-box__cite-source">Glaxosmithkline</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>