@{
    var title = "Protective services";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}
<p class="lead-paragraph">
    Protective services are all about keeping things safe - people, businesses and communities.
</p>
<p>This means fire services, police, the armed forces, paramedics, waste management, and all those other roles which help make our society a better and safer place.</p>
<p>
    The UK armed forces are one of the biggest providers of apprenticeships in the country, training apprentices in a large range of different roles and professions. Members of the armed forces can learn engineering on a aircraft carrier, qualify in logistics while sending humanitarian aid to disaster-stricken nations, or become a communications specialist monitoring cyber space.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">Apprenticeships include:</dt>
    <dd>HM Forces service person</dd>
    <dd>Operational firefighter</dd>
    <dd>Custody and detention officer</dd>
    <dd>Ordnance munitions explosives technician</dd>
</dl>

    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Operational firefighter at Staffordshire Fire and Rescue</h3>

                    <p>
                        I had applied for another brigade prior to obtaining my position in Staffordshire, so I had spoken to local firefighters and taken part in several ‘have-a-go’ days for different brigades. I had been very disappointed at not getting through the process before, so I was very keen to find another one.

                    </p>
                    <h4 class="heading-s">Choose from hundreds of apprenticeships</h4>
                    <p>
                        I came across Staffordshire Fire and Rescue Service online. It was an apprenticeship and would still guarantee full-time service after the training, which was refreshing and something I became very interested in. I researched the brigade and was very keen to adopt the morals they stand by.

                    </p>
                    <h4 class="heading-s">Develop skills for the future</h4>
                    <p>
                        The thing I enjoy most about the apprenticeship is the variety of work every day. With regular assessments and development days, my apprenticeship will give me the best stepping stone to becoming a highly trained firefighter.

                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        My apprenticeship will give me the best stepping-stone to become a highly trained firefighter.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Claire Lester, 25</span>
                        <span class="quote-box__cite-role">Operational Firefighter Apprentice</span>
                        <span class="quote-box__cite-source">Staffordshire Fire and Rescue Service</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>