@{
    var title = "Sales, marketing and procurement";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    All businesses need to find new customers and persuade them to buy things. Otherwise, companies would go out of business.
</p>
<p>This is where sales and marketing comes in: finding the needs and wants of people, developing something that meets that need and creating a desire for it.</p>
<p>
    With the huge growth in social and digital media, digital marketing is now a key part of the strategy for most businesses, helping them to increase their presence both online and out in the real world.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">@ViewBag.Title includes:</dt>
    <dd>Travel consultant</dd>
    <dd>Fishmonger</dd>
    <dd>Customer service practitioner</dd>
</dl>

    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Digital marketing apprenticeship at the RSPCA</h3>

                    <h4 class="heading-s">Make an impact</h4>
                    <p>
                        When the opportunity came up for this apprenticeship, I couldn't say no. I work with a lovely team (both human and dog!) and I love that I get to learn and work on projects that I can have an influence over. I still can't get over the fact that I work for the RSPCA, the largest animal welfare charity in the UK!
                    </p>
                    <h4 class="heading-s">Learn from industry leaders</h4>
                    <p>
                        Learning whilst working, and getting to apply what I've learnt in real-life scenarios, is a far greater experience to me than going to university lectures and not necessarily getting the appropriate work experience. I learn by doing, rather than just being told about things.
                    </p>
                    <h4 class="heading-s">Earn while gaining qualifications</h4>
                    <p>
                        This could lead me down an assortment of paths once my apprenticeship is finished. I'm gaining two nationally recognised qualifications in digital marketing, and I will have two years' worth of work experience in the charity sector – working for a hugely influential and recognised charity.
                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>

            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        I'm gaining two qualifications and I will have two years' worth of work experience in the charity sector – working for a hugely influential and recognised charity.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Ren Shilcock, 21</span>
                        <span class="quote-box__cite-role">Digital Marketing Apprentice</span>
                        <span class="quote-box__cite-source">RSPCA</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>