@{
    var title = "Transport and logistics";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-interests";
    ViewBag.ArticlePageTitle = "Browse by interests";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    Transport and logistics play an essential role in all our lives.
</p>
<p>
   The passenger transport industry employs hundreds of thousands of people in order to run services and support transport and travel, from aviation to rail and bus to coach.
</p>

<p>
    Meanwhile, logistics is essential in making sure the right amount of a product shows up at the right place at the right time. It deals with a range of functions, such as inventory management, warehousing, distribution, transportation and customer service.

</p>

<dl class="inline-list">
    <dt class="inline-list__title">Apprenticeships include:</dt>
    <dd>Rail Infrastructure Operator</dd>
    <dd>Passenger transport driver</dd>
    <dd>Cabin Crew</dd>
    <dd>Supply chain practitioner</dd>
</dl>

    <section class="section section--slant section--apprentice-pale real-stories-quotes">
        <div class="grid-row">
            <div class="grid-column-two-thirds">
                <div class="quote-feature">
                    <h2 class="heading-xs quote-feature__caption">
                        <span class="quote-feature__caption-text">Real stories</span>
                        <span class="quote-feature__caption-icon"></span>
                    </h2>
                    <h3 class="heading-l">Hays Travel</h3>

                    <p>
                       At Hays Travel, apprenticeships have supported our continued expansion and success. Apprentices have taken the lead in our social media marketing and e-learning platform, sharing their digital knowledge with colleagues. They bring a wealth of energy, diversity and talent, which enables us to be innovative and proactive.
                    </p>
                    <h4 class="heading-s">Create future success stories</h4>
                    <p>
                        We deliver most of our apprenticeship training in-house – but for our specialised apprenticeships, we collaborate with training providers, scheduling regular meetings to review the development of our apprentices. Our programmes are designed to equip apprentices with everything they need for a successful career.

                    </p>
                    <h4 class="heading-s">Keep moving forwards</h4>
                    <p>
                        Our internal training, human resources and recruitment teams work closely together to enhance the recruitment process. They analyse feedback from managers and apprentices, along with our own data, to make continual improvements.

                    </p>
                    <p>
                        <a asp-controller="RealStories" asp-action="Apprentices" class="quote-feature__link">View more success stories</a>
                    </p>
                </div>
            </div>
            <div class="grid-column-one-third">
                <figure class="quote-box quote-box--apprentice">
                    <blockquote class="quote-box__quote">
                        Apprentices bring a wealth of energy, diversity and talent, which enables us to be innovative and proactive.
                    </blockquote>
                    <figcaption class="quote-box__cite">
                        <span class="quote-box__cite-person">Carole Hodgson</span>
                        <span class="quote-box__cite-role">Apprenticeship Delivery Manager</span>
                        <span class="quote-box__cite-source">
                            Hays Travel
                        </span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>