@model object
@{
    ViewBag.Title = "End-point Assessments";
    ViewBag.MetaTitle = "Apprenticeship end-point assessment";
    ViewBag.HeroImageAltText = "A construction apprentice";
    ViewBag.PageID = "employer-assessment-certification";
    ViewBag.MetaDesc = "Find out how your apprentice will be assessed at the end of their apprenticeship and what they'll need to demonstrate to finish successfully.";
    ViewBag.PageUrl = "/employer/end-point-asessments";
    ViewBag.Section = "employer";
    Layout = "_Layout-campaign-employer-inform";
}

<h2 class="heading-m">Apprentices are trained to make an impact </h2>

<p>Apprenticeship standards are focused on an apprentice achieving full occupational competence. They set out key knowledge, skills and behaviours (KSBs) that the apprentice should learn over the course of the apprenticeship.</p>

<p>When your apprentice has completed their apprenticeship training, they’ll be given an 'end-point assessment'. This is their chance to demonstrate what they've learnt throughout the apprenticeship, and that they're genuinely competent in the occupation.</p>

<h2 class="heading-m">The end-point assessment</h2>

<p>The end-point assessment is conducted by an independent organisation, ensuring all apprentices following the same standard are assessed consistently.</p>

<p>Each standard includes an end-point assessment plan. This describes how the apprentice should be tested against appropriate criteria using suitable methods to check they're fully competent in the occupation.</p>

<h2 class="heading-m">Finding an end-point assessment organisation</h2>

<p>Only organisations on the register of end-point assessment organisationsare eligible to conduct the assessment. You must select an organisation from the register and agree to a price for them to carry it out.</p>

<p>Although the training provider will be involved in arranging the end-point assessment, the assessment itself must be independent.</p>

<p>The training provider must contract with the end-point assessment organisation on your behalf and have a written agreement in place to make payment to them for conducting the assessment.</p>

<h2 class="heading-m">The cost of an end-point assessment</h2>

<p>We expect that the cost of the end-point assessment will not usually exceed 20% of the funding band maximum. This cost is included in the overall price agreed with the training provider for the apprenticeship.</p>
   
<h2 class="heading-m">Certification</h2>

<p>When your apprentice successfully completes their apprenticeship, they'll be awarded a certificate. The end-point assessment organisation will request this certificate on your behalf.</p>
   
<ul class="pagination pagination--employer">
    <li class="pagination__list-item pagination__list-item--previous">
        <a class="pagination__link pagination__link--previous" asp-action="Index" asp-controller="TrainingYourApprentice">Training your apprentice</a>
    </li>
    <li class="pagination__list-item pagination__list-item--next">
        <a class="pagination__link pagination__link--next" asp-action="TheRightApprenticeship" asp-controller="Employer">Choosing the right apprenticeship</a>
    </li>
</ul>

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training-with-search" />
    </div>
}

