@model SFA.DAS.Campaign.Web.Controllers.EmployerInform.LevyOptionViewModel

@{
    ViewBag.Title = "Funding an apprenticeship";
    Layout = $"Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = "Funding an apprenticeship";
    ViewBag.PageSummary = "";
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "funding-an-apprenticeship";
    ViewBag.ArticlePageTitle = "Funding an apprenticeship";
}

<div class="fiu-grad-row">
    <div class="fiu-width-container">
        @await Html.PartialAsync("_levyNonLevyQuestion", Model)

        <h2 class="heading-m">Apprenticeships in Scotland, Northern Ireland and Wales</h2>
        <p>This website is about apprenticeships in England.</p>
        <p>Find out more about apprenticeships in <a href="https://www.apprenticeships.scot/" target="_blank" rel="external">Scotland<span class="visually-hidden"> (Opens in a new window)</span></a>, <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" target="_blank" rel="external">Northern Ireland<span class="visually-hidden"> (Opens in a new window)</span></a> or <a href="https://beta.gov.wales/apprenticeships-skills-and-training" target="_blank" rel="external">Wales<span class="visually-hidden"> (Opens in a new window)</span></a>.</p>
    </div>
</div>