@model SFA.DAS.Campaign.Web.Controllers.EmployerInform.LevyOptionViewModel
@{
    ViewBag.Title = "Funding an apprenticeship";
    Layout = $"Redesign_Layout_EmployersForm";
    ViewBag.PageTitle = "Funding an apprenticeship";
    ViewBag.PageSummary = "";
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "funding-an-apprenticeship";
    ViewBag.ArticlePageTitle = "Funding an apprenticeship";
}

<p class="govuk-body">You can get help from the government to pay for apprenticeship training.</p>
<p class="govuk-body">The amount you get depends on whether you pay the apprenticeship levy or not. You pay the levy if you’re an employer with a pay bill over £3 million each year.</p>
<p class="govuk-body">Depending on your answer to the question below, we’ll show you relevant information about government funding.</p>

@await Html.PartialAsync("_levyNonLevyQuestion", Model)

<h3 class="govuk-heading-m govuk-!-margin-top-8">
    Apprenticeships in rest of UK
</h3>

<p class="govuk-body">This website is about apprenticeships in England. Find out more about apprenticeships in <a href="https://www.apprenticeships.scot/" class="fiu-link fiu-link--employers" target="_blank" rel="external">Scotland<span class="fiu-vh"> (Opens in a new window)</span></a>, <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" class="fiu-link fiu-link--employers" target="_blank" rel="external">Northern Ireland<span class="fiu-vh"> (Opens in a new window)</span></a> or <a href="https://beta.gov.wales/apprenticeships-skills-and-training" class="fiu-link fiu-link--employers" target="_blank" rel="external">Wales<span class="fiu-vh"> (Opens in a new window)</span></a>.
</p>

<hr class="fiu-section-break fiu-section-break--l">
