
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading

@model object
@{
    ViewBag.Title = "Hiring an apprentice";
    ViewBag.MetaTitle = "Hiring an apprentice";
    ViewBag.HeroImageAltText = "Apprentice in the digital industry";
    ViewBag.PageID = "employer-hire-an-apprentice";
    ViewBag.MetaDesc = "Apprenticeships can help you to boost key skills in your business. Find out how to employ an apprentice and who is eligible.";
    ViewBag.PageUrl = "/employer/hiring-an-apprentice";
    ViewBag.Section = "employer";
    Layout = "_Layout-campaign-employer-inform";
}

<h2 class="heading-m">Who can be an apprentice?</h2>

<p>Apprenticeships help bring valuable skills into your organisation with the government's support.</p>
<p>They’re suitable for people at any level so you can hire someone new or <a asp-action="Index" asp-controller="Upskill">upskill an existing employee.</a></p>
<p>For example, a level 2 apprenticeship is equivalent to GCSE level, while a level 6 or 7 degree apprenticeship is equivalent to a bachelor's or master's degree.</p>
<p>An apprentice must: </p>

<ul class="list list--bullet list--bullet-employer">
    <li>be 16 or over</li>
    <li>not already be in full-time education</li>
    <li>live in England</li>
</ul>

<h2 class="heading-m">Hiring outside your organisation</h2>
<p>If you hire an apprentice from outside your organisation, you need to think about what you're looking for. </p>
<p>Having a person specification and job description is a good place to start. </p>
<p>A person specification should include:</p>
<ul class="list list--bullet list--bullet-employer">
    <li>essential and desirable knowledge</li>
    <li>previous experience </li>
    <li>any specific skills you’re looking for</li>
</ul>

<p>
    A job description should include:
</p>

<ul class="list list--bullet list--bullet-employer">
    <li>a job title</li>
    <li>the name, level and duration of the apprenticeship</li>
    <li>the main duties and purpose of the role</li>
    <li>information about your organisation and job location</li>
    <li>the salary you'll pay the apprentice</li>
</ul>

<p>You should also consider the long term impact such as the apprentice’s future career prospects and salary.</p>

<h2 class="heading-m">Advertising apprenticeships</h2>

<p>
    <a href="https://www.gov.uk/recruit-apprentice" rel="external" target="_blank">Recruit an apprentice<span class="visually-hidden"> (Opens in a new window)</span></a> is the official government service for posting and managing apprenticeship job opportunities in England. You can manage the service or a training provider can manage it on your behalf.
</p>

<p>To create your advert, simply complete the template. Be as clear as possible so candidates can quickly understand whether your apprenticeship is right for them.</p>

<p>Your apprenticeship will be advertised on <a asp-action="FindAnApprenticeship" asp-controller="Apprentice">Find an apprenticeship.</a></p>

<p>There are other ways to find an apprentice, for example you could:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>holding open days at your organisation</li>
    <li>arrange visits to schools, colleges and universities</li>
    <li>use social media to reach more applicants</li>
    <li>participate in events, such as WorldSkills UK Live</li>
</ul>

<h2 class="heading-m">Choosing the right apprentice</h2>

<p> You can work with your training provider to assess candidate applications or ask them to create a shortlist for you.</p>

<h2 class="heading-m">Interview questions</h2>

<p>Take time to think about what you want to know and how to find out if the candidate is right for your organisation.</p>

<p>Ask questions like:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>can you tell me an interesting fact about yourself?</li>
    <li>what would you consider your biggest achievement to be?</li>
    <li>what's your timekeeping like?</li>
    <li>do you work well in a team?</li>
    <li>what are your strengths?</li>
    <li>what are your weaknesses?</li>
    <li>why do you think we should hire you?</li>
    <li>why would you like to work for us?</li>
    <li>do you have any questions you'd like to ask us?</li>
</ul>

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel() { Type = HeroHeadingType.Employer, SubSectionTitle = "How do they work?", SubSectionUrl = Url.Action("Index", "HowDoTheyWork")})
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training-with-search" />
    </div>
}
