@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model SFA.DAS.Campaign.Content.ContentTypes.InfoPage
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaTitle = Model.PageTitle;
    ViewBag.HeroImageUrl = @Model.HeroImage.File.Url;
    ViewBag.HeroImageAltText = Model.HeroImage.Description;
    ViewBag.PageID = Model.Slug;
    ViewBag.MetaDesc = Model.MetaDescription;
    ViewBag.PageUrl = Model.Slug;
    ViewBag.Section = Model.Hub;
    Layout = "_Layout-campaign-employer-inform";
}

<info-page-sections info-page="@Model" section-container-class="content-section"></info-page-sections>

<ul class="pagination pagination--employer">
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--previous" asp-controller="FundingAnApprenticeship" asp-action="Index" id="link-pagination-employer-3"> Funding an apprenticeship</a>
    </li>
    <li class="pagination__list-item">
        <a class="pagination__link pagination__link--next" asp-controller="EndPointAssessments" asp-action="Index" id="link-pagination-employer-5"> End-point assessments</a>
    </li>
</ul>

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel() {Type = HeroHeadingType.Employer, SubSectionTitle = "How do they work?", SubSectionUrl = Url.Action("Index", "HowDoTheyWork")})
}

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training-with-search"/>
    </div>
}