@model object
@{
    ViewBag.Title = "Training your apprentice";
    //ViewBag.MetaTitle = "What to think about to find the right apprenticeship for your business";
    ViewBag.HeroImageAltText = "Apprentice in the catering industry";
    ViewBag.PageID = "employer-training-your-apprentice";
    //ViewBag.MetaDesc = "When you've decided to employ an apprentice, think about offering an attractive salary, good career prospects and ask the right questions at the interview. ";
    ViewBag.PageUrl = "/employer/training-your-apprentice";
    ViewBag.Section = "employer";
    Layout = "_Layout-campaign-employer-inform";
}
    
<h2 class="heading-m">Apprentices are trained to make an impact </h2>

<p>Throughout the apprenticeship, you'll supervise the apprentice and provide them with on-the-job training to help them develop new skills.</p>

<p>Apprentices must spend at least 20% of their time completing off-the-job training too, so you'll need to <a asp-action="FindApprenticeshipTraining" asp-controller="Employer">find an apprenticeship training provider</a> to help deliver this.</p>

<p>Whether it's a practical exercise or a written assignment, apprenticeship off-the-job training is hugely valuable for both you and your apprentice. Investing in their development can ensure they feel valued, while enhancing their productivity - and, as a result, the impact they make within your organisation.</p>

<p>Throughout the apprenticeship, they'll be taught new knowledge and skills to achieve occupational competence. The apprentice should already have the required level of English and maths, so this kind of training won't count towards the 20% off-the-job training requirement.</p>

<h2 class="heading-m"> Training can be delivered flexibly to suit you </h2>

<p>An apprenticeship is a work-based programme, so all off-the-job training must take place within the apprentice's normal working hours (excluding overtime). You can work with your training provider to decide when, where and how it's delivered – for example:</p>

<ul class="list list--bullet list--bullet-employer">
    <li>at the apprentice's usual place of work, or at an external location</li>
    <li>as part of each day, a day a week, one week out of five or as block release</li>
    <li>using any existing training programmes or materials you have</li>
</ul>

<p>The training must be delivered away from the apprentice's working duties, teaching them new knowledge, skills and behaviours that are required for their apprenticeship.</p>

<h2 class="heading-m">There's a straight-forward commitment statement - not hours of paperwork</h2>

<p>A commitment statement must be in place from the beginning of the apprenticeship. This sets out the training an apprentice will receive and which elements count towards off-the-job training.</p>

<p>The apprentice's evidence pack needs to demonstrate what training has been delivered against the commitment statement.</p>

<h2 class="heading-m">Which activities count as off-the-job training?</h2>

<p>As a rule of thumb, an activity should count towards apprenticeship off-the-job training if you can answer <strong>'yes'</strong> to all these questions:</p>

<ol class="list list--number list--number-employer" >
    <li>Is the person signed up to the apprenticeship programme?</li>
    <li>Is the activity directly relevant to the apprenticeship?</li>
    <li>Is the activity teaching new knowledge, skills and behaviours?</li>
    <li>Is the learning taking place in the apprentice’s paid working hours?</li>
</ol>

<h2 class="heading-m">Creating a gov.uk account</h2>

<p>Ready to get started? You can <a asp-action="Confirm" asp-controller="Basket">set up an apprenticeship service account</a> on GOV.UK to access apprenticeship funding and post vacancies.</p>

<ul class="pagination pagination--employer">
    <li class="pagination__list-item"><a class="pagination__link pagination__link--previous" asp-controller="FundingAnApprenticeship" asp-action="Index" id="link-pagination-employer-3"> Funding an apprenticeships</a></li>
    <li class="pagination__list-item"><a class="pagination__link pagination__link--next" asp-controller="EndPointAssessments" asp-action="Index" id="link-pagination-employer-5"> End-point assessments</a></li>
</ul>


@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training-with-search" />
    </div>
}
