@model object
@{
    ViewBag.Title = "Funding an apprenticeship";
    //ViewBag.MetaTitle = "What to think about to find the right apprenticeship for your business";
    ViewBag.HeroImageAltText = "Apprentice in the digital industry";
    ViewBag.PageID = "employer-hire-an-apprentice";
    //ViewBag.MetaDesc = "When you've decided to employ an apprentice, think about offering an attractive salary, good career prospects and ask the right questions at the interview. ";
    ViewBag.PageUrl = "/employer/funding-an-apprenticeship";
    ViewBag.Section = "employer";
    Layout = "_Layout-campaign-employer-inform";
    //ViewBag.PageNavIndex = 4;

}

<h1> Upskill or retrain</h1>

@section pageFooter {
    <div class="grid-column-full">
        <partial name="./Components/Cta/_find-apprenticeship-training-with-search" />
    </div>
}