@{
    ViewBag.Title = "Real stories";
    ViewBag.MetaTitle = "Real stories";
    ViewBag.PageID = "apprentice-real-stories";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "apprentice";
    Layout = "_Layout-campaign";
}

<div class="hero-banner hero-banner--header-slant">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <h1 class="heading-xl hero-heading__heading">@ViewBag.Title</h1>
            </div>
            <div class="hero-heading__content">
                <h2 class="heading-m">employers, candidates & famous faces share their stories and experiences</h2>
                <p class="lead-paragraph">
                    Do you want to earn while you learn, be debt free at the end of your training and have valuable hands-on experience?
                    Have a look through the real stories.
                </p>
            </div>
        </div>
    </div>
    <span class="hero-banner__background hero-banner__background--industry"></span>

</div>
<div class="grid-row hero-banner hero-banner--apprentice hero-banner--right-aligned">
    <div class="grid-column-full">
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <a class="hero-banner__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
                <a class="hero-banner__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                <p class="hero-banner__copy">
                    "FICTION: I didn't think university was for me. I saw a lot of my friends
                    struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on
                    experience."
                </p>
                <div class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></div>
                <a class="hero-banner__link" href="#">View more apprentice stories</a>
            </div>
        </div>
        <span class="hero-banner__background"></span>
    </div>
</div>

<div class="grid-row">
    <div class="grid-column-full">
        <section class="main-content-section">
            
           <partial name="./Components/Cta/_find-an-apprenticeship"/>
        </section>
    </div>
</div>

<div class="grid-row hero-banner hero-banner--apprentice">
    <div class="grid-column-full">
        <div class="hero-banner__caption">
            <span class="hero-banner__caption-icon"></span>
            <span class="hero-banner__caption-text">Real apprentice stories</span>
        </div>
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <a class="hero-banner__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
                <a class="hero-banner__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                <p class="hero-banner__copy">
                    "FICTION: I didn't think university was for me. I saw a lot of my friends
                    struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on
                    experience."
                </p>
                <div class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></div>
                <a class="hero-banner__link" href="#">View more apprentice stories</a>
            </div>
        </div>
        <span class="hero-banner__background"></span>
    </div>
</div>
<div class="main-content-section">
    <div class="grid-row-full-width card__collection--grey card-stories__collection card-stories--apprentice">

        <div class="card-stories">
            <div class="card-stories__image">
                <span class="card-stories__img card__img--agriculture-environment-animal-care"></span>

                <a class="card-stories__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
                <a class="card-stories__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
            </div>
            <div class="card-stories__content">
                <h2 class="card-stories__headline heading-l">Easy to get started</h2>
                <p class="card-stories__summary">
                    We wanted to get the best candidates and so created a special
                    apprenticeship
                    programme that delivers training that we need to expand our business needs as well as passing on our
                    expertise
                    and mentoring up and coming talent.
                </p>
                <p class="card-stories__summary">
                    So far we’ve managed to attract some of the brightest apprentices who’ve
                    been an absolute delight to
                    employ.
                </p>
                <div class="card-stories__cite">
                    Sarah Bloggs <span class="card-stories__cite-detail">
                        33, Designer,
                        Manchester
                    </span>
                </div>

            </div>
        </div>
        <div class="card-stories">
            <div class="card-stories__image">
                <span class="card-stories__img card__img--agriculture-environment-animal-care"></span>

                <a class="card-stories__icon-play-mobile" href="#player-1" id="play-mobile-1"></a>
                <a class="card-stories__icon-play-desktop" href="#player-1" id="play-desktop-1"></a>
            </div>
            <div class="card-stories__content">
                <h2 class="card-stories__headline heading-l">Easy to get started</h2>
                <p class="card-stories__summary">
                    We wanted to get the best candidates and so created a special
                    apprenticeship
                    programme that delivers training that we need to expand our business needs as well as passing on our
                    expertise
                    and mentoring up and coming talent.
                </p>
                <p class="card-stories__summary">
                    So far we’ve managed to attract some of the brightest apprentices who’ve
                    been an absolute delight to
                    employ.
                </p>
                <div class="card-stories__cite">
                    Sarah Bloggs <span class="card-stories__cite-detail">
                        33, Designer,
                        Manchester
                    </span>
                </div>

            </div>
        </div>

    </div>

</div>