@{
    ViewBag.PageTitle = "Real stories";
    ViewBag.MetaTitle = "Real stories";
    ViewBag.MetaDesc = "Have a look at apprentices who've joined their chosen organisations and watch what they're doing and how becoming an apprentice has changed their career paths. ";

    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageTitle = "Real stories";
    ViewBag.ArticlePageSlug = "real-stories";

    Layout = "Redesign_Layout_ApprenticesArticle";
}

<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			width="100%" height="100%"
			src="https://www.youtube.com/embed/vSLcbljkhwU?modestbranding=1"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
		</iframe>
	</div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-bottom-1">New challenge, new career, new life</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "As an apprentice in the NHS, you do feel you're supported. I've never felt so looked after. I couldn't just go and do a nursing degree, so the apprenticeship gave me that opportunity to get my foot in the door."
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Sarah
    <span class="fiu-quote__caption-description">50, trainee ophthalmic NHS nurse, Norfolk</span>
  </figcaption>
</figure>


<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			width="100%" height="100%"
			src="https://www.youtube.com/embed/guS6tQwU-tY?modestbranding=1"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">My mum found my apprenticeship and I’ve never looked back</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "Being an apprentice has been the best time of my life, I've been able to do things that I'm passionate about. I've been able to meet so many different people. I've built up my confidence. It's been the best experience it could have been."
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Alim
    <span class="fiu-quote__caption-description">22, Channel 4, London</span>
  </figcaption>
</figure>


<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			width="100%" height="100%"
			src="https://www.youtube.com/embed/5qnghDBPLHo?modestbranding=1"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Earn and learn straight from school</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "I found the confidence I needed to take the apprenticeship, because I knew theatre is what I loved and where I wanted to be.There's never really a typical day. There's always different working hours and different people, which is my favourite part of it."
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Hosanna
    <span class="fiu-quote__caption-description">18, technical apprentice, London</span>
  </figcaption>
</figure>


<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			width="100%" height="100%"
			src="https://www.youtube.com/embed/s0fcP0QgtGE?modestbranding=1"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Valuable hands-on experience</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "I wasn't a hundred percent sure what I wanted to do after 6th form. Then, my mum showed me an ad in the local paper for an apprenticeship. I want to be earning six figures by the time I'm thirty. And that's the beauty of starting young, it's all possible."
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Ella
    <span class="fiu-quote__caption-description">22, operations manager, Chipping Campden</span>
  </figcaption>
</figure>

<hr class="fiu-section-break" />

<h3 class="govuk-heading-m govuk-!-margin-top-5">More on apprenticeships</h3>

<div class="govuk-grid-row fiu-flex-row">
    <div class="govuk-grid-column-one-half">
        <div class="fiu-card">
            <span class="fiu-card__category">
                <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="AreTheyRightForYou">Are they right for you?</a>
            </span>
            <h3 class="fiu-card__heading">What are the benefits of an apprenticeship?</h3>
            <p class="fiu-card__content">Once you've successfully finished, you have plenty of choices. Find out more.</p>
            <a href="/apprentices/benefits-apprenticeship" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-2">Learn more</a>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="fiu-card">
            <span class="fiu-card__category">
                <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="AreTheyRightForYou">Are they right for you?</a>
            </span>
            <h3 class="fiu-card__heading">Advice for parents</h3>
            <p class="fiu-card__content">Setting off on a career path can be overwhelming for young people. As their parent, guardian or carer, you'll play a key role in guiding them.</p>
            <a href="/apprentices/help-shape-their-career" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-3">Learn more</a>
        </div>
    </div>
</div>