@{
    ViewBag.Title = "Real stories";
    ViewBag.MetaTitle = "Real apprentices share their stories";
    ViewBag.PageID = "apprentice-real-stories";
    ViewBag.MetaDesc = "Have a look at apprentices who've joined their chosen organisations and watch what they're doing and how becoming an apprentice has changed their career paths. ";
    ViewBag.Section = "apprentice";
    ViewBag.PageUrl = "/real-stories/apprentice";
    Layout = "_Layout-campaign-apprentice";
}
<main id="main-content">
    <div class="hero-banner hero-banner--header-slant">
        <div class="grid-row">
            <div class="grid-column-one-half">
                <div class="hero-heading">
                    <h1 class="heading-xl hero-heading__heading">@ViewBag.Title</h1>
                </div>
                <div class="hero-heading__content">
                    <p class="lead-paragraph">
                        Do you want to earn while you learn and get hands-on experience?
                        Have a look at real stories and see how becoming an apprentice changed the following lives.
                    </p>
                </div>
                <a href="https://www.gov.uk/" id="header-link-govuk" target="_blank" class="hero-heading__hm-government-link">
                    <img alt="HM Government" class="hero-heading__hm-government-logo" src="/campaign/images/hm-government-logo.png" srcset="/campaign/images/hm-government-logo.png 1x, /campaign/images/hm-government-logo@2x.png 2x" /><span class="visually-hidden">(Opens in a new window)</span>
                </a>
            </div>
        </div>
        <span class="hero-banner__background hero-banner__background--apprentice-hosanna-2"></span>

    </div>

    <div class="grid-row hero-banner hero-banner--apprentice hero-banner--right-aligned">
        <div class="grid-column-full">
            <div class="grid-row hero-banner__content">
                <div class="grid-column-one-half  hero-banner__icon-play-container">
                    <script type="application/ld+json">
                        {
                        "@@context": "http://schema.org",
                        "@@type": "VideoObject",
                        "name": "Sarah - NHS Apprentice",
                        "description": "Sarah shares her apprenticeship story as part of the new Fire It Up apprenticeships campaign.",
                        "thumbnailUrl": "https://i.ytimg.com/vi/vSLcbljkhwU/hqdefault.jpg",
                        "uploadDate": "2019-01-17T09:17:32.000Z",
                        "duration": "PT1M2S",
                        "contentUrl": "https://www.youtube.com/embed/vSLcbljkhwU"
                        }
                    </script>
                    <a href="#" id="play-1" data-module="videoPlayer" data-playerclass="video-player--apprentice" data-videoplayerid="plyr-1" data-videourl="https://www.youtube.com/embed/vSLcbljkhwU?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">

                        <img src="https://i.ytimg.com/vi/vSLcbljkhwU/maxresdefault.jpg" class="video-player__thumbnail" alt="NHS Cromer Hospital Norfolk - Apprentice Employer"/>
                        <span class="hero-banner__icon-play"><span class="visually-hidden">Play video</span></span>
                    </a>
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <h3 class="hero-banner__header">New challenge, new career, new life.</h3>
                    <p class="hero-banner__copy">
                        "As an apprentice in the NHS, you do feel you're supported. I've never felt so looked after.
                        I couldn't just go and do a nursing degree, so the apprenticeship
                        gave me that opportunity to get my foot in the door"
                    </p>
                    <div class="hero-banner__cite">
                        Sarah
                        <span class="hero-banner__cite-detail">
                            50, Trainee Ophthalmic NHS Nurse, Norfolk
                        </span>
                    </div>
                </div>
            </div>
            <span class="hero-banner__background hero-banner__background--apprentice-sarah"></span>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-column-full">
            <section class="main-content-section">

                <partial name="./Components/Cta/_find-an-apprenticeship" />
            </section>
        </div>
    </div>


    <div class="main-content-section">
        <div class="grid-row-full-width card__collection--grey card-stories__collection card-stories--apprentice">

            <div class="card-stories">
                <div class="card-stories__image">
                    <span class="card-stories__img card-stories__img--apprentice-alim"></span>
                                                                            <a class="card-stories__icon-play" href="https://youtu.be/uS6tQwU-tY" id="play-3" data-module="videoPlayer" data-playerclass="video-player--apprentice" data-videoplayerid="plyr-3" data-videourl="https://www.youtube.com/embed/guS6tQwU-tY?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"><span class="visually-hidden">Play video</span></a>

                                                                            <script type="application/ld+json">
                        {
                        "@@context": "http://schema.org",
                        "@@type": "VideoObject",
                        "name": "Alim - Channel 4 Apprentice",
                        "description": "Alim share's his apprenticeship story as part of the new Fire It Up apprenticeship campaign.",
                        "thumbnailUrl": "https://i.ytimg.com/vi/guS6tQwU-tY/hqdefault.jpg",
                        "uploadDate": "2019-01-21T08:33:23.000Z",
                        "duration": "PT1M4S",
                        "contentUrl": "https://www.youtube.com/embed/guS6tQwU-tY"
                        }
                </script>

                </div>
                <div class="card-stories__content">
                    <h2 class="card-stories__headline heading-l">My mum found my apprenticeship, and I've never looked back</h2>
                    <p class="card-stories__summary">
                        Being an apprentice has been the best time of my life, I've been able to do things that I'm passionate about.
                    </p>
                    <p class="card-stories__summary">
                        I've been able to meet so many different people. I've built up my confidence. It's been the best experience it could have been.
                    </p>
                    <div class="card-stories__cite">
                        Alim,
                        <span class="card-stories__cite-detail">
                            22, Channel 4, London
                        </span>
                    </div>

                </div>
            </div>
            <div class="card-stories">
                <div class="card-stories__image">
                    <span class="card-stories__img card-stories__img--apprentice-hozanna"></span>
                    <script type="application/ld+json">
                        {
                        "@@context": "http://schema.org",
                        "@@type": "VideoObject",
                        "name": "Hosanna - Royal Opera House Apprentice",
                        "description": "Hosanna tells her apprenticeship story as part of the new Fire It Up apprenticeship campaign.",
                        "thumbnailUrl": "https://i.ytimg.com/vi/frWp3wP4IDo/hqdefault.jpg",
                        "uploadDate": "2019-01-17T09:17:39.000Z",
                        "duration": "PT58S",
                        "contentUrl": "https://www.youtube.com/embed/frWp3wP4IDo"
                        }
                    </script>
                    <a class="card-stories__icon-play" href="https://youtu.be/frWp3wP4IDo" id="play-4" data-module="videoPlayer" data-playerclass="video-player--apprentice" data-videoplayerid="plyr-4" data-videourl="https://www.youtube.com/embed/frWp3wP4IDo?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"><span class="visually-hidden">Play video</span></a>



                </div>
                <div class="card-stories__content">
                    <h2 class="card-stories__headline heading-l">Earn and learn, straight from school</h2>
                    <p class="card-stories__summary">
                        I found the confidence I needed to take the apprenticeship,
                        because I knew theatre is what I loved and where I wanted to be.
                    </p>
                    <p class="card-stories__summary">
                        There's never really a typical day. There's always different working
                        hours and different people, which is my favourite part of it.
                    </p>
                    <div class="card-stories__cite">
                        Hosanna
                        <span class="card-stories__cite-detail">
                            18, Technical Apprentice, London
                        </span>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="grid-row hero-banner hero-banner--apprentice cssmask-remove">
        <div class="grid-column-full">
            <div class="grid-row hero-banner__content">
                <div class="grid-column-one-half  hero-banner__icon-play-container">
                    <script type="application/ld+json">
                        {
                        "@@context": "http://schema.org",
                        "@@type": "VideoObject",
                        "name": "ELLA - OPERATIONS MANAGER",
                        "description": "Ella shares her apprenticeship story as part of the new Fire It Up apprenticeships campaign.",
                        "thumbnailUrl": "https://i.ytimg.com/vi/s0fcP0QgtGE/hqdefault.jpg",
                        "uploadDate": "2019-01-17T09:17:32.000Z",
                        "duration": "PT1M2S",
                        "contentUrl": "https://www.youtube.com/embed/s0fcP0QgtGE"
                        }
                    </script>
                    <a href="#" id="play-2" data-module="videoPlayer" data-playerclass="video-player--apprentice" data-videoplayerid="plyr-2" data-videourl="https://www.youtube.com/embed/s0fcP0QgtGE?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">

                        <img src="https://i.ytimg.com/vi/s0fcP0QgtGE/maxresdefault.jpg" class="video-player__thumbnail" alt="NHS Cromer Hospital Norfolk - Apprentice Employer" />
                        <span class="hero-banner__icon-play"><span class="visually-hidden">Play video</span></span>
                    </a>
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                    <p class="hero-banner__copy">
                        "I wasn't a hundred percent sure what I wanted to do after 6th form.
                        Then, my mum showed me an ad in the local paper for an apprenticeship.
                        I want to be earning six figures by the time I'm thirty. And that's the beauty of starting young, it's all possible."
                    </p>
                    <div class="hero-banner__cite">Ella <span class="hero-banner__cite-detail">22, Operations Manager, Chipping Campden</span></div>
                </div>
            </div>
            <span class="hero-banner__background hero-banner__background--apprentice-ella"></span>
        </div>
    </div>
</main>