@{
    ViewBag.PageTitle = "Real stories";
    ViewBag.MetaTitle = "Real stories";
    ViewBag.MetaDesc = "Watch what employers are saying about the apprentices they've employed. How apprenticeships have met their needs and how the experience has been successful. ";

    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageTitle = "Real stories";
    ViewBag.ArticlePageSlug = "real-stories";

    Layout = "Redesign_Layout_EmployersArticle";
}


<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			class="fiu-video-player__size-100"
			src="https://www.youtube.com/embed/5hGuBfCx85M?modestbranding=1"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      title="Apprenticeships film about Robert Welch Design"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Your new workforce awaits</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "As‌ ‌a non-levy payer, a small business, the whole apprenticeship service has been really straightforward for us.”
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Gail Saxon
    <span class="fiu-quote__caption-description">HR Manager, Robert Welch Design </span>
  </figcaption>
</figure>



<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			class="fiu-video-player__size-100"
			src="https://www.youtube.com/embed/jAoi3oE8klw?modestbranding=1"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      title="Apprenticeships film about the National Health Service"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">“A real win-win for businesses, large and small.”</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    <p>"The business, the organisation, and our managers here know the value that someone who has gone through an apprenticeship brings.</p>
    <p>We started the apprenticeship programme in 2010 and it has absolutely transformed how we recruit to the organisation.” ‌</p>
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Annie Cook
    <span class="fiu-quote__caption-description"><abbr>NHS</abbr> Career Development Coordinator ‌</span>
  </figcaption>
</figure>


<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			class="fiu-video-player__size-100"
			src="https://www.youtube.com/embed/uD47su97gqk?modestbranding=1"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      title="Apprenticeships film about Channel 4"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">“Brilliant new perspectives across the business.”</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "Apprentices have had an amazing impact across our business and bring a fresh perspective to everything we do here at Channel 4. They really challenge the status quo, and we empower them to do just that.”
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Laura Boswell
    <span class="fiu-quote__caption-description">Industry Talent Specialist, Channel 4</span>
  </figcaption>
</figure>


<div class="fiu-video-player">
	<div class="fiu-video-player__inner-wrap">
		<iframe
			class="fiu-video-player__size-100"
			src="https://www.youtube.com/embed/5qnghDBPLHo?modestbranding=1"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      title="Apprenticeships film about the Royal Opera House"
			allowfullscreen>
		</iframe>
	</div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Fire up your business future</h2>
<figure class="fiu-quote">
  <blockquote class="fiu-quote__blockquote">
    "If you’re starting to offer apprenticeships for the first time, talking to other people in your industry about training providers is an invaluable resource.”
  </blockquote>
  <figcaption class="fiu-quote__caption">
    Bendy Ashfield
    <span class="fiu-quote__caption-description">Apprenticeship Manager, Royal Opera House</span>
  </figcaption>
</figure>

<hr class="fiu-section-break" />

<h3 class="govuk-heading-m govuk-!-margin-top-5">More on apprenticeships</h3>

<div class="govuk-grid-row fiu-flex-row">
    <div class="govuk-grid-column-one-half">
        <partial name="Redesign/Cards/Employers/Benefits"/>
    </div>
    <div class="govuk-grid-column-one-half">
        <partial name="Redesign/Cards/Employers/HiringAnApprentice"/>
    </div>
</div>