@{
    ViewBag.Title = "Real stories";
    ViewBag.MetaTitle = "Employers share their experiences of employing apprentices";
    ViewBag.PageID = "employer-real-stories";
    ViewBag.MetaDesc = "Watch what employers are saying about the apprentices they've employed. How apprenticeships have met their needs and how the experience has been successful. ";
    ViewBag.Section = "employer";
    Layout = "_Layout-campaign";
}


<div class="hero-banner hero-banner--header-slant">
    <div class="grid-row">
        <div class="grid-column-one-half">
            <div class="hero-heading">
                <h1 class="heading-xl hero-heading__heading">@ViewBag.Title</h1>
            </div>
            <div class="hero-heading__content">
                <p class="lead-paragraph">
                    Have you ever thought about hiring an apprentice?
                    Have a look at real stories from other employers, and see how taking on an apprentice can benefit your organisation.
                </p>
            </div>
        </div>
    </div>
    <span class="hero-banner__background hero-banner__background--employer-matt"></span>

</div>

<div class="grid-row hero-banner hero-banner--employer hero-banner--right-aligned">
    <div class="grid-column-full">
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <script type="application/ld+json">
                    {
                    "@@context": "http://schema.org",
                    "@@type": "VideoObject",
                    "name": "Robert Welch - Apprenticeship Employer",
                    "description": "Award winning Robert Welch designer of Cutlery, Dining & Kitchen Ranges based in Chipping Campden, Gloucestershire talks about the success of their apprenticeship programme.",
                    "thumbnailUrl": "https://i.ytimg.com/vi/5hGuBfCx85M/hqdefault.jpg",
                    "uploadDate": "2019-01-17T09:18:02.000Z",
                    "duration": "PT1M7S",
                    "contentUrl": "https://www.youtube.com/embed/5hGuBfCx85M"
                    }
                </script>
                <a class="hero-banner__icon-play" href="#player-1" id="play-1" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="plyr-1" data-videourl="https://www.youtube.com/embed/5hGuBfCx85M?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Your new workforce awaits</h3>
                <p class="hero-banner__copy">
                    "As a non‐levy payer, a small business, the whole apprenticeship process has been really straightforward for us"
                </p>
                <div class="hero-banner__cite">
                    Gail Saxon
                    <span class="hero-banner__cite-detail">
                        HR Manager, Robert Welch Design
                    </span>
                </div>
            </div>
        </div>
        <span class="hero-banner__background hero-banner__background--employer-gail"></span>
    </div>
</div>


<div class="main-content-section">
    <div class="grid-row-full-width card__collection--grey card-stories__collection card-stories--employer">

        <div class="card-stories">
            <div class="card-stories__image">
                <span class="card-stories__img card-stories__img--employer-annie"></span>
                <script type="application/ld+json">
                    {
                    "@@context": "http://schema.org",
                    "@@type": "VideoObject",
                    "name": "NHS Cromer Hospital Norfolk - Apprentice Employer",
                    "description": "Annie from the NHS explains how apprentices have been a success for Cromer Hospital as part of the new FireItUp apprenticeships campaign.",
                    "thumbnailUrl": "https://i.ytimg.com/vi/jAoi3oE8klw/hqdefault.jpg",
                    "uploadDate": "2019-01-17T09:17:46.000Z",
                    "duration": "PT1M3S",
                    "contentUrl": "https://www.youtube.com/embed/jAoi3oE8klw"
                    }
                </script>
                               <a class="card-stories__icon-play" href="https://youtu.be/jAoi3oE8klw" id="play-3" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="plyr-3" data-videourl="https://www.youtube.com/embed/jAoi3oE8klw?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>


            </div>
            <div class="card-stories__content">
                <h2 class="card-stories__headline heading-l">A real win-win for businesses, large and small.</h2>
                <p class="card-stories__summary">
                    The business, the organisation, and our managers here know the value that someone who has gone through an apprenticeship brings.
                </p>
                <p class="card-stories__summary">
                    We started the apprenticeship program in 2010 and it has absolutely transformed how we recruit to the organisation.
                </p>
                <div class="card-stories__cite">
                    Annie Cook
                    <span class="card-stories__cite-detail">
                        NHS Career Development Coordinator, NHS
                    </span>
                </div>

            </div>
        </div> <div class="card-stories">
            <div class="card-stories__image">
                <span class="card-stories__img card-stories__img--employer-laura"></span>
                <script type="application/ld+json">
                    {
                    "@@context": "http://schema.org",
                    "@@type": "VideoObject",
                    "name": "Channel 4 - Apprenticeship Employer",
                    "description": "Laura from the Channel 4 explains how apprentices have been such a success for the business.",
                    "thumbnailUrl": "https://i.ytimg.com/vi/uD47su97gqk/hqdefault.jpg",
                    "uploadDate": "2019-01-28T10:54:23.000Z",
                    "duration": "PT1M10S",
                    "contentUrl": "https://www.youtube.com/embed/uD47su97gqk"
                    }
                </script>
                            <a class="card-stories__icon-play" href="https://youtu.be/uD47su97gqk" id="play-4" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="plyr-4" data-videourl="https://www.youtube.com/embed/uD47su97gqk?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>


            </div>
            <div class="card-stories__content">
                <h2 class="card-stories__headline heading-l">Brilliant new perspectives across the business.</h2>
                <p class="card-stories__summary">
                    Apprentices have had an amazing impact across our business and bring a fresh perspective to everything we do here at Channel 4.
                    They really challenge the status quo, and we empower them to do just that.
                </p>
                <div class="card-stories__cite">
                    Laura Boswell
                    <span class="card-stories__cite-detail">
                        Industry Talent Specialist, Channel 4
                    </span>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="grid-row hero-banner hero-banner--employer cssmask-remove">
    <div class="grid-column-full">
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <script type="application/ld+json">
                    {
                    "@@context": "http://schema.org",
                    "@@type": "VideoObject",
                    "name": "Royal Opera House - Apprentice Employer",
                    "description": "Annie from the NHS explains how apprentices have been a success for Cromer Hospital as part of the new FireItUp apprenticeships campaign.",
                    "thumbnailUrl": "https://i.ytimg.com/vi/jAoi3oE8klw/hqdefault.jpg",
                    "uploadDate": "2019-01-17T09:17:46.000Z",
                    "duration": "PT1M7S",
                    "contentUrl": "https://www.youtube.com/embed/jAoi3oE8klw"
                    }
                </script>
                <a class="hero-banner__icon-play" href="#player-2" id="play-2" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="plyr-2" data-videourl="https://www.youtube.com/embed/5qnghDBPLHo?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Fire up your business future</h3>
                <p class="hero-banner__copy">
                    "If you’re starting to offer apprenticeships for the first time, talking to other people in your
                    industry about training providers is an invaluable resource."
                </p>
                <div class="hero-banner__cite">
                    Bendy Ashfield
                    <span class="hero-banner__cite-detail">Apprenticeship Manager, Royal Opera House</span>
                </div>
            </div>
        </div>
        <span class="hero-banner__background hero-banner__background--employer-bendy"></span>
    </div>
</div>
