<section class="section section--employer">
    <div class="grid-row">
        <div class="grid-column-one-third">
            <figure class="quote-box">
                <blockquote class="quote-box__quote">
                    I'm now progressing quickly – and hoping to become a head chef within three years!
                </blockquote>
                <figcaption class="quote-box__cite">
                    <span class="quote-box__cite-person">Claudine McCarthy, 42</span>
                    <span class="quote-box__cite-role">Chef de Partie Apprentice</span>
                    <span class="quote-box__cite-source">Fullers</span>
                </figcaption>
            </figure>
        </div>
        <div class="grid-column-two-thirds">
            <div class="quote-feature">
                <h2 class="heading-xs quote-feature__caption">
                    <span class="quote-feature__caption-text">Real stories</span>
                    <span class="quote-feature__caption-icon"></span>
                </h2>
                <h3 class="heading-l">Chef de partie at fullers</h3>

                <h4 class="heading-s">Achieve a lifelong dream</h4>
                <p>
                    I had always dreamed of being a chef – but I put it on hold while I raised my children. When I started working as a Chef de Partie at a Fullers pub, my manager told me about the apprenticeship. Looking at the range of different apprenticeships on offer, I was amazed at what's available.
                </p>
                <h4 class="heading-s">Earn while you learn</h4>
                <p>
                    When I joined Fullers, the opportunities were endless. The thing I enjoy most about the apprenticeship has got to be learning new things every day. I'm now progressing quickly – and hoping to become a head chef within three years!
                </p>
                <h4 class="heading-s">Develop transferrable skills</h4>
                <p>
                    As a 40-year-old and a mum of two, everyone thought I was crazy to try and start a new career! Now I know that my family and friends are all very proud of me.
                </p>
            </div>

        </div>
        
    </div>
</section>