<section class="section section--employer">
    <div class="grid-row">
         <div class="grid-column-one-third">
            <figure class="quote-box">
                <blockquote class="quote-box__quote">
                    Not only will I qualify with a full bachelor's degree – I also get the opportunity to develop on a day-to-day basis.
                </blockquote>
                <figcaption class="quote-box__cite">
                    <span class="quote-box__cite-person">Kate Self, 20</span>
                    <span class="quote-box__cite-role">TV, Digital and Media Apprentices</span>
                    <span class="quote-box__cite-source">
                        BT
                    </span>
                </figcaption>
            </figure>
        </div>
        <div class="grid-column-two-thirds">
            <div class="quote-feature">
                <h2 class="heading-xs quote-feature__caption">
                    <span class="quote-feature__caption-text">Real stories</span>
                    <span class="quote-feature__caption-icon"></span>
                </h2>
                <h3 class="heading-l">Tv, digital and media at bt</h3>

                <h4 class="heading-s">A diverse range of opportunities</h4>
                <p>
                    Although I wanted to continue learning, I didn't feel that university was the right option for me. I began researching apprenticeships, and it was amazing to see the varied range on offer. There's an apprenticeship out there for anyone, whether you're just beginning to learn or wanting to develop!
                </p>
                <h4 class="heading-s">Real-life experience, alongside a degree </h4>
                <p>
                    I wanted to get more hands-on experience outside of the classroom, but I also wanted to develop my learning, so I liked the idea of a degree apprenticeship. My favourite subject at sixth form was ICT, so I knew I wanted to work within technology, and began to look into the TV and Digital Media Apprenticeship.
                </p>
                <h4 class="heading-s">Develop transferrable skills</h4>
                <p>
                    Not only will I qualify with a full bachelor's degree, along with other courses and qualifications – I also get the opportunity to develop on a day-to-day basis, rotating around the different departments every 6 months, while earning a salary. The apprenticeship has also helped with softer skills, such as building my confidence.
                </p>
            </div>
        </div>
       
    </div>
</section>