<section class="section section--employer">
    <div class="grid-row">
        <div class="grid-column-one-third">
            <figure class="quote-box">
                <blockquote class="quote-box__quote">
                    Our Apprenticeship Programme provides us with a talent pipeline for the future, and our experience so far has been overwhelmingly positive.
                </blockquote>
                <figcaption class="quote-box__cite">
                    <span class="quote-box__cite-person">Toby Monk</span>
                    <span class="quote-box__cite-role">Recruitment Director</span>
                    <span class="quote-box__cite-source">Christie’s</span>
                </figcaption>
            </figure>
        </div>
        <div class="grid-column-two-thirds">
            <div class="quote-feature">
                <h2 class="heading-xs quote-feature__caption">
                    <span class="quote-feature__caption-text">Real stories</span>
                    <span class="quote-feature__caption-icon"></span>
                </h2>
                <h3 class="heading-l">CHRISTIE’S</h3>

                <h4 class="heading-s">CREATE A BRIGHT, ENGAGED AND DIVERSE WORKFORCE</h4>
                <p>
                    Our Apprenticeship Programme provides us with a talent pipeline for the future, and our experience so far has been overwhelmingly positive. We have found bright, engaged people who have made a choice to not attend university. It has also been a great channel for us to start increasing diversity in our business.
                </p>
                <h4 class="heading-s">TEAM UP WITH GREAT TRAINING PROVIDERS</h4>
                <p>
                    We put a lot of time and effort into selecting our training providers – it’s so important for the apprentice’s overall experience. We work with partners who are invested in the apprentices and want to be hands on and ‘high touch’ with us as the employer. We want socially conscious business partners.
                </p>
                <h4 class="heading-s">THERE’S PLENTY OF SUPPORT AVAILABLE</h4>
                <p>
                    To find an apprentice, we use a multi-pronged approach. When it comes to seeking help with the process, we’ve found people in our network to be incredibly helpful and willing to share their experiences and best practice.
                </p>
            </div>

        </div>
        
    </div>
</section>