<section class="section section--employer">
    <div class="grid-row">
        <div class="grid-column-one-third">
            <figure class="quote-box">
                <blockquote class="quote-box__quote">
                    This route will provide me with more career options because, during my apprenticeship, I am able to gain hands-on experience.
                </blockquote>
                <figcaption class="quote-box__cite">
                    <span class="quote-box__cite-person">Florence Lungu, 21</span>
                    <span class="quote-box__cite-role">Cilex Chartered Legal Executive Apprenticeship</span>
                    <span class="quote-box__cite-source">
                        Womble Bond Dickinson
                    </span>
                </figcaption>
            </figure>
        </div>
        <div class="grid-column-two-thirds">
            <div class="quote-feature">
                <h2 class="heading-xs quote-feature__caption">
                    <span class="quote-feature__caption-text">Real stories</span>
                    <span class="quote-feature__caption-icon"></span>
                </h2>
                <h3 class="heading-l">Legal executive at womble bond dickinson</h3>

                <h4 class="heading-s">Kick-start your career</h4>
                <p>
                    At the time I completed my A-levels, I felt (and still believe) that an apprenticeship is an excellent way of gaining valuable hands-on experience for my chosen career path. It was a great way to kick off my career in the legal sector.
                </p>
                <h4 class="heading-s">Balance learning with hands-on experience </h4>
                <p>
                    An apprenticeship was the perfect choice for me because not only was I continuing with my academic development, but the apprenticeship would also present me with the opportunity to gain valuable experience working in the legal sector, as well as financial benefits.
                </p>
                <h4 class="heading-s">Develop a competitive edge</h4>
                <p>
                    The legal sector, like a lot of other sectors, is very competitive. This route will provide me with more career options because, during my apprenticeship, I am able to gain hands-on experience. I learn something new every day and get to work with a range of people with different skillsets.
                </p>
            </div>

        </div>
        
    </div>
</section>