<section class="section section--employer">
    <div class="grid-row">
        <div class="grid-column-one-third">
            <figure class="quote-box">
                <blockquote class="quote-box__quote">
                    Apprentices bring a wealth of energy, diversity and talent, which enables us to be innovative and proactive.
                </blockquote>
                <figcaption class="quote-box__cite">
                    <span class="quote-box__cite-person">Carole Hodgson</span>
                    <span class="quote-box__cite-role">Apprenticeship Delivery Manager</span>
                    <span class="quote-box__cite-source">
                        Hays Travel
                    </span>
                </figcaption>
            </figure>
        </div>
        <div class="grid-column-two-thirds">
            <div class="quote-feature">
                <h2 class="heading-xs quote-feature__caption">
                    <span class="quote-feature__caption-text">Real stories</span>
                    <span class="quote-feature__caption-icon"></span>
                </h2>
                <h3 class="heading-l">Hays travel</h3>

                <h4 class="heading-s">Bring new skills into your organisation</h4>
                <p>
                    At Hays Travel, apprenticeships have supported our continued expansion and success. Apprentices have taken the lead in our social media marketing and E Learning platform, sharing their digital knowledge with colleagues. They bring a wealth of energy, diversity and talent, which enables us to be innovative and proactive.
                </p>
                <h4 class="heading-s">Create future success stories</h4>
                <p>
                    We deliver most of our apprenticeship training in-house – but for our specialised apprenticeships, we collaborate with training providers, scheduling regular meetings to review the development of our apprentices. Our programmes are designed to equip apprentices with everything they need for a successful career.
                </p>
                <h4 class="heading-s">Keep moving forwards</h4>
                <p>
                    Our internal training, human resources and recruitment teams work closely together to enhance the recruitment process. They analyse feedback from managers and apprentices, along with our own data, to make continual improvements.
                </p>
            </div>
        </div>
        
    </div>
</section>