@model SFA.DAS.Campaign.Web.Models.ConfirmSaveViewModel

@{
    ViewBag.Title = "Save your basket";
    ViewBag.BackLink = "Back to basket";
    Layout = "_Layout-campaign-employer";
    ViewBag.MetaTitle = "";
    ViewBag.MetaDesc = "";
}
<main id="main-content">
    <div class="hero--no-clip " data-module="smoothScroll">
        <div class="grid-row">
            <div class="grid-column-one-half">
                <div class="hero-heading">
                    <a class="caption-m hero-heading__caption hero-heading__caption--employer"
                        asp-controller="Basket"
                        asp-action="View">@ViewContext.ViewBag.BackLink</a>
                    <h1 class="heading-xl hero-heading__heading">@ViewContext.ViewBag.Title</h1>
                </div>

                <div class="hero-heading__content">
                    <p class="lead-paragraph">
                        Ready to hire an apprentice? Save your basket and go to gov.uk to create your account.
                    </p>
                    <div class="cta-row">
                        @await Component.InvokeAsync("SaveBasket")
                        <a class="hero-heading__cancel-link"
                           asp-controller="Basket"
                           asp-action="View">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
