@{
    ViewBag.Title="How to apply for an apprenticeship and what's needed from you";
    Layout="Redesign_Layout_ApprenticesHub";
    ViewBag.PageTitle="How to apply for an apprenticeship and what's needed from you";
    ViewBag.PageSummary="Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    ViewBag.LandingPageSlug="how-do-they-work";
    ViewBag.LandingPageTitle="How do they work?";
    ViewBag.ArticlePageSlug="application";
    ViewBag.ArticlePageTitle="How to apply for an apprenticeship and what's needed from you";
}
<h2>So, you've found the apprenticeship you'd like to apply for?</h2>
<p>Once you've searched and found the right apprenticeship for you, you can get on with the application process.</p><p>If you haven't found your ideal apprenticeship yet, you can <a href="https://www.apprenticeships.gov.uk/apprentice/find-an-apprenticeship" title="">search for the latest apprenticeship vacancies </a>by job title or employer, or just browse to see what's available in your area.</p><p>You can then manage your applications and even get alerts about new apprenticeships.</p>
<h2>Apply for the job and send the application to the employer</h2>
<p><a href="https://nationalcareersservice.direct.gov.uk/get-a-job/cv-sections" title="">Get help</a> with writing applications, creating a good CV and covering letter.</p>
<h2>Wait for the applications to be shortlisted</h2>
<p>If you haven't applied for many jobs before, this can be the nail-biting bit, where you're waiting to hear back from the employer. Sometimes it might help to check when the closing date was for applications - this should give you a clue as to when they'll be in touch.</p><p>It's a good idea to apply for more than one apprenticeship vacancy at one time. Try and get a number of applications to potential employers; that way you're increasing your options and not waiting for a response from one employer.</p><p>If you don't get an interview, don't take it personally. It's usual to apply for a number of vacancies before you find the right apprenticeship for you. This happens to everyone and it's part of the normal process.</p>
<h2>If you're on the shortlist, you'll be invited for an interview with the employer</h2>
<p>This first interview could be an online chat or video call, rather than a face-to-face one. Remember to brush up your research into the organisation for each stage of the interview process.</p>
<h2>Training providers</h2>
<p>Your employer will find a training provider that is best suited to deliver the training for your apprenticeship. Some training providers also offer support to help you apply for an apprenticeship.</p><p>Your teacher or careers adviser can help you find out about training providers and how to get in touch. There are also other local organisations that can help you find out more, like a job centre or other community programmes.</p>
