@{
    ViewBag.Title = "Applying for an apprenticeship";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do the work?";
    ViewBag.ArticlePageSlug = "applying-apprenticeship";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">


    <p>There are hundreds of different apprenticeships to choose from. To apply for one, you’ll need to create an account on the <a href="https://www.gov.uk/apply-apprenticeship" title="" rel="external" target="_blank"><u>find an apprenticeship</u></a> service. You can also save any apprenticeships you like and then apply for them later.&nbsp;</p><p>If you’ve seen an apprenticeship you like on the employer’s website, you can apply for it directly.</p><p>Once you find the right apprenticeship, you’ll need a CV and a cover letter to apply. If you need help, find out <a href="https://nationalcareersservice.direct.gov.uk/get-a-job/cv-sections" title="" rel="external" target="_blank"><u>how to write a CV</u></a>.</p><p>It's a good idea to apply for a few apprenticeships at a time. This increases your chances and means you’re not waiting for a response from one employer.</p><p>It's normal to feel nervous when you're applying for an apprenticeship or waiting to hear back from an employer. Try to find out the closing date of the application as this may give you a clue about when you’ll hear back.</p><p>It usually takes a few applications to find the right apprenticeship. So if you don’t hear back or get an interview, don’t take it personally - it’s normal and happens to everyone.&nbsp;</p>
</article>