@{
    ViewBag.Title="What to expect at the end of your apprenticeship and where you go next";
    Layout="Redesign_Layout_ApprenticesHub";
    ViewBag.PageTitle="What to expect at the end of your apprenticeship and where you go next";
    ViewBag.PageSummary="Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    ViewBag.LandingPageSlug="getting-started";
    ViewBag.LandingPageTitle="Getting started";
    ViewBag.ArticlePageSlug="assessment-and-certification";
    ViewBag.ArticlePageTitle="What to expect at the end of your apprenticeship and where you go next";
}
<h2>Get assessed and get your certificate</h2>
<p>You will be assessed at some stage during your apprenticeship, to make sure you have achieved the knowledge, skills and behaviours required. Increasingly, many apprenticeships now include an end-point assessment, which will test you at the end of the apprenticeship to make sure you are fully competent in your apprenticeship occupation.</p><p>Your employer and training provider should give you plenty of guidance as to what's expected, and when your assessment will happen.</p>
<h2>Complete your apprenticeship</h2>
<p>Pass the assessment, finish your apprenticeship, enjoy the moment (then jump around, scream, shout, post something on social media). You've done it, you did it, you've earned this!</p><p>So, where next?</p><p>Just like your apprenticeship, the answer's up to you. You've got a whole new set of skills, an apprenticeship that'll impress employers, and really useful experiences that show that you can make the step up from apprentice to, well, wherever you want to go.</p>
