@{
    ViewBag.Title = "Assessment and certification";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "get-started";
    ViewBag.LandingPageTitle = "Get started";
    ViewBag.ArticlePageSlug = "assessment-and-certification";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                

<p>During your apprenticeship, you’ll be assessed to make sure you’re achieving the knowledge, skills and behaviours needed for your chosen apprenticeship.</p><p>Apprenticeships also include an end-point assessment. It’s an assessment at the end of your apprenticeship to make sure you’re fully competent in your specific occupation.&nbsp;</p><p>Your end-point assessment, known as an EPA, is carried out by an independent organisation known as an end-point assessment organisation (EPAO). It usually includes a practical demonstration of your skills as well as a discussion with an assessor that demonstrates your learning and your ability to do your chosen occupation.</p><p>Your employer or training provider will tell you what to expect and when the assessment will take place.</p><p>If you pass the assessment, you’ll receive a certificate, meaning you have completed your apprenticeship successfully. Depending on the apprenticeship you are doing, you may also receive a qualification.

</p>
            </article>