@{
    ViewBag.Title = "Becoming an apprentice";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do the work?";
    ViewBag.ArticlePageSlug = "becoming-apprentice";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">


    <p>To become an apprentice, you must:</p><ul><li><p>be 16 or over</p></li><li><p>not already be in full-time education</p></li><li><p>live in England</p></li></ul><p>
        You can start an apprenticeship whether you’re starting your career, want a change or you're upskilling in your current job.

        You can have a previous qualification like a degree and still start an apprenticeship.
    </p><p>If you don’t live in England, check out apprenticeship options in <a href="https://www.apprenticeships.scot/" title="" rel="external" target="_blank"><u>Scotland</u></a>, <a href="https://gov.wales/apprenticeships-genius-decision" title="" rel="external" target="_blank"><u>Wales</u></a>, or <a href="https://www.nidirect.gov.uk/campaigns/apprenticeships" title="" rel="external" target="_blank"><u>Northern Ireland</u></a>.</p><p>As an apprentice you’ll:</p><ul><li><p>learn and train for a specific job</p></li><li><p>get paid and receive holiday leave&nbsp;</p></li><li><p>get hands-on experience in a real job</p></li><li><p>study for at least 20% of your working hours - usually at a college, university or with a training provider&nbsp;</p></li><li><p>complete assessments during and at the end of your apprenticeship</p></li><li><p>be on a career path with lots of future potential</p></li></ul><p></p>        <h2>What is an apprenticeship?</h2>
    <p>An apprenticeship is a real job where you learn, gain experience and get paid. You’re an employee with a contract of employment and holiday leave. By the end of an apprenticeship, you'll have the right skills and knowledge needed for your chosen career.</p><p>
    </p><p>It can take between one and 6 years to complete an apprenticeship depending on which one you choose, what level it is and your previous experience. It’s funded from contributions made by the government and your employer.</p>        <h2>Levels of an apprenticeship</h2>
    <p>Each apprenticeship has a level and an equivalent education level. You can start an apprenticeship at any level.&nbsp;</p><p>Depending on the level, some apprenticeships may:</p><ul><li><p>require previous qualifications such as an English or maths GCSE</p></li><li><p>give extra training in the English or maths skills needed so you’re at the right level</p></li></ul><p>At the end of your apprenticeship, you’ll achieve the equivalent education level. For example, if you complete a level 3 apprenticeship, you’ll achieve the equivalent of an A level.</p><table class="fiu-table"><thead><tr><th></th><th>Level</th><th>Equivalent education level</th></tr><tr></tr></thead><tbody><tr><td>Intermediate</td><td>2</td><td>GCSE</td></tr><tr><td>Advanced</td><td>3</td><td>A level</td></tr><tr><td>Higher</td><td>4,5,6 and 7</td><td>Foundation degree and above</td></tr><tr><td>Degree</td><td>6 and 7</td><td>Bachelor’s or master’s degree</td></tr></tbody></table><p>If you think you need more skills and work experience before starting an apprenticeship, you can <a href="https://www.gov.uk/find-traineeship" title="" rel="external" target="_blank"><u>find a traineeship</u></a> instead.</p>
</article>