@{
    ViewBag.Title = "What are the benefits of an apprenticeship?";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageSlug = "benefits-apprenticeship";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}
<article class="fiu-article">
    <p>Apprenticeships are an exciting option -&nbsp; you get hands-on training and also the chance to put your skills into practice.</p><p>Apprenticeships are available at multiple levels. From school leavers, people upskilling in their careers and complete career changes. There are hundreds to choose from and some include a qualification, like a degree.&nbsp;</p>        <h2>What you'll earn</h2>
    <p>What you earn will depend on the industry, location and type of apprenticeship you choose.</p><p>If you're aged 16 to 18 or in the first year of your apprenticeship, you’re entitled to the <a href="https://www.gov.uk/national-minimum-wage-rates" title="" rel="external" target="_blank"><u>apprentice rate</u></a>.</p><p>If you're 19 or over and have completed the first year of your apprenticeship, you’re entitled to the <a href="https://www.gov.uk/national-minimum-wage-rates" title="" rel="external" target="_blank"><u>National Minimum Wage</u></a>.</p><p>This is the minimum you’ll earn - many employers pay a lot more and offer their apprentices a competitive salary.&nbsp;</p>        <h2>What it costs </h2>
    <p>Apprenticeships are funded from contributions made by the government and your employer. This means you will not have any student loans or tuition fees.</p><p>You'll just need to cover the cost of your day-to-day expenses, such as lunch and travel.</p><p>If you're 16 to 24 and a care leaver, you'll receive a £1,000 bursary payment to support you in the first year of your apprenticeship.</p>
</article>