@{
    ViewBag.Title = "Help shape their career";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
    ViewBag.ArticlePageSlug = "help-shape-their-career";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}

<article class="fiu-article">
                
<p>If you’re a parent, guardian, carer or teacher of someone, you can help them find a career path that’s right for them.</p><p>
</p><p>Modern apprenticeships are designed by employers so the training reflects the skills, knowledge and behaviours an apprentice will need for a particular occupation.</p><p>
</p><p>Apprenticeship training is of a high standard and only training providers who are on the register of apprenticeship training providers can deliver the training.</p><p>Working as an apprentice means you earn while you learn. An apprentice works in a real job and spends at least 20% of their working hours training. So they gain the skills needed for their chosen occupation.</p><p>Some apprenticeships include a qualification, including a degree. All of the training is free, so the apprentice has no student debt to worry about.</p><p>A school or college leaver can apply for university and an apprenticeship at the same time. They can make their final decision after they’ve had time to consider their options.</p><p>Graduates can also apply for an apprenticeship as apprenticeships are available at all levels.</p><p>
<strong>To support someone with apprenticeships you can:&nbsp;</strong></p><ul><li><p><strong></strong><a href="/apprentices/browse-apprenticeships" title=""><u>find an apprenticeship</u></a> in your area&nbsp;</p></li><li><p>learn about apprentices’ <a href="/apprentices/real-stories" title=""><u>real stories </u></a>and experiences</p></li><li><p>visit <a href="https://amazingapprenticeships.com/resources/" title="" rel="external" target="_blank"><u>Amazing Apprenticeships</u></a> for information and resources for parents and schools</p></li><li><p>use the <a href="https://nationalcareers.service.gov.uk/" title="" rel="external" target="_blank"><u>National Careers Service</u></a> for impartial and free advice</p></li><li><p>read the Which? guide to <a href="https://www.ucas.com/advisers/which-for-teachers/introduce-higher-education-options/higher-and-degree-apprenticeships-guide-download" title="" rel="external" target="_blank"><u>higher and degree apprenticeships</u></a></p></li></ul><p></p>
            </article>