@{
    ViewBag.Title = "Starting your apprenticeship";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "get-started";
    ViewBag.LandingPageTitle = "Get started";
    ViewBag.ArticlePageSlug = "starting-apprenticeship";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}
<article class="fiu-article">
                

<p>Before you start your apprenticeship, your employer will usually contact you. When they do, you should try to find out:</p><ul><li><p>your working hours&nbsp;</p></li><li><p>the dress code</p></li><li><p>what you need to bring - for example, your ID or a notepad and pens</p></li><li><p>your travel options - for example, where to park or the nearest train station</p></li><li><p>who to ask for on your first day</p></li></ul><p>If you already work at the same place you're starting your apprenticeship, then ask your employer directly.</p><p>You’ll spend at least 20% of your working time doing ‘off-the-job training’ for your apprenticeship. There are lots of different ways you can do this training. For example, at a college, university or online at your place of work.&nbsp;</p><p>Your employer will find a suitable training provider for you.</p><p>To find out more about training providers, you can:</p><ul><li><p>speak to your teacher or careers adviser&nbsp;</p></li><li><p>speak to your employer</p></li></ul><p></p><p></p>
            </article>