@{
    ViewBag.Title = "The interview process";
    Layout = "Redesign_Layout_ApprenticesArticle";
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do the work?";
    ViewBag.ArticlePageSlug = "benefits-apprenticeship";
    ViewBag.ArticlePageTitle = ViewBag.Title;
}
<article class="fiu-article">
                

<p>If your application is successful, the employer will invite you for an interview. If you’re upskilling with your current employer, you may not have one.&nbsp;</p><p>Your interview will depend on the type of employer the apprenticeship is with. For example, you may only have one interview with a small employer but up to three with a larger employer.&nbsp;</p><p>Interviews for an apprenticeship are usually similar to interviews for any other job. They could be:</p><ul><li><p>face to face</p></li><li><p>with a panel&nbsp;</p></li><li><p>over the phone</p></li><li><p>online - for example, on Skype or Zoom</p></li></ul><p>To make sure you’re prepared, you should:</p><ul><li><p>research the apprenticeship and the organisation</p></li><li><p>practice by doing a mock interview</p></li><li><p>check where and when the interview is&nbsp;</p></li><li><p>get to the interview early&nbsp;</p></li><li><p>dress appropriately and stay focussed&nbsp;</p></li><li><p>ask questions if you don’t understand&nbsp;</p></li></ul><p>There’s more <a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice" title="" rel="external" target="_blank"><u>interview advice</u></a> on the National Careers Service website.</p>
            </article>