@{
    ViewBag.Title="Your apprenticeship - what happens next?";
    Layout="Redesign_Layout_ApprenticesHub";
    ViewBag.PageTitle="Your apprenticeship - what happens next?";
    ViewBag.PageSummary="Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    ViewBag.LandingPageSlug="getting-started";
    ViewBag.LandingPageTitle="Getting started";
    ViewBag.ArticlePageSlug="your-apprenticeship";
    ViewBag.ArticlePageTitle="Your apprenticeship - what happens next?";
}
<h2>What to bring, and other useful info</h2>
<p>Your employer will be in touch beforehand to let you know your working hours, and when they'd like you to start on your first day. If however, you already work at the place where you're going to start your apprenticeship, then you can ask your employer directly.</p><p>At this point you could also ask some of the following:</p><ul><li><p>what you will need to bring - notebook/pens/ID</p></li><li><p>what time you need to arrive</p></li><li><p>how your should dress - suit or jeans</p></li><li><p>how much money you will need to bring for lunch etc</p></li><li><p>who you should ask for when you arrive</p></li><li><p>where to get the bus/train or park your car</p></li></ul><p></p>
<h2>Meet your new team</h2>
<p>When you start your apprenticeship, you'll meet the people you'll be working with. They will show you around and answer any questions you might have.</p>
<h2>What comes after my apprenticeship?</h2>
<p>Apprenticeships are designed to make you 'job-ready' in the role you're training for. Once your apprenticeship is up and running, and you're gaining more experience and learning new skills, you can start to plan for the next step.</p><p>Most apprentices stay on in employment or further training after their apprenticeship. It's always worth discussing your future career with your current employer, as well as doing some research yourself.</p>
