@{
    ViewBag.Title = "Create an account on find an apprenticeship";
    ViewBag.PageTitle = "Create an account on find an apprenticeship";
    ViewBag.LandingPageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "";
    Layout = "Redesign_Layout_ApprenticesArticle"; 
}

<div class="fiu-panel fiu-panel--left-align fiu-panel--solid-citizens">
    <h2 class="govuk-heading-s fiu-panel__heading">Create an account on find an apprenticeship so you can:</h2>
    <ul class="govuk-list govuk-list--bullet fiu-panel__label">
        <li>search hundreds of apprenticeships</li>
        <li>save any apprenticeships you like </li>
        <li>get alerts about new apprenticeships</li>
        <li>apply for an apprenticeship</li>
    </ul>
    <p><a href="https://www.findapprenticeship.service.gov.uk/register" class="fiu-button fiu-button--citizens fiu-button--outlined govuk-!-margin-bottom-0" rel="external" target="_blank">Create an account</a></p>
    <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
</div>
<p>To create an account, you’ll need:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>an email address </li>
    <li>your date of birth </li>
    <li>your address </li>
    <li>a contact number </li>
</ul>
<hr class="fiu-section-break" />
<h3 class="govuk-heading-m govuk-!-margin-top-5">More on apprenticeships</h3>
<div class="govuk-grid-row fiu-flex-row">
    <div class="govuk-grid-column-one-half">
        <div class="fiu-card">
            <span class="fiu-card__category">
                <a class="fiu-card__category-link" href="/apprentices/how-do-they-work">How do they work?</a>
            </span>
            <h3 class="fiu-card__heading">The interview process</h3>
            <p class="fiu-card__content">Everyone goes through the interview process at some stage of their working life. When you apply for new jobs, you will almost always have an interview.</p>
            <a href="/apprentices/interview-process" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-7">Learn more</a>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="fiu-card">
            <span class="fiu-card__category">
                <a class="fiu-card__category-link" href="/apprentices/get-started">Get started</a>
            </span>
            <h3 class="fiu-card__heading">Starting your apprenticeship</h3>
            <p class="fiu-card__content">Before you start your apprenticeship, your employer will usually contact you and ask a series of questions. Find out what they might be.</p>
            <a href="/apprentices/starting-apprenticeship" class="fiu-card__link fiu-card__link--citizens" id="fiu-app-hub-card-8">Learn more</a>
        </div>
    </div>
</div>