@{
    ViewBag.Title = "Create an apprenticeship service account";
    ViewBag.PageTitle = "Create an apprenticeship service account";
    ViewBag.LandingPageTitle = ViewBag.Title;
    ViewBag.LandingPageSlug = "";
    Layout = "Redesign_Layout_EmployersArticle"; 
}

<p class="govuk-body">Create an apprenticeship service account so you can:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>access and manage apprenticeship funding</li>
    <li>set up and approve apprentices</li>
    <li>advertise roles on the find an apprenticeship service</li>
    <li>approve training costs</li>
    <li>check payments to training providers</li>
    <li>give training providers permission to carry out some tasks on your behalf</li>
    <li>give feedback on apprenticeship training</li>
</ul>
<h2 class="govuk-heading-m">Create an account</h2>
<p class="govuk-body">Before you create an account, you’ll need:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>an email address</li>
    <li>permission to add PAYE schemes to the account</li>
    <li>permission to accept the employer agreement on behalf of your organisation</li>
</ul>
<p class="govuk-body">You'll also need either the Government Gateway login for your organisation, or your accounts office reference number and employer PAYE scheme reference number.</p>
<p><a asp-action="Save" asp-controller="Basket" rel="external" target="_blank" class="fiu-button fiu-button--employers fiu-button--outlined">Create an apprenticeship service account</a></p>


<hr class="fiu-section-break" />
<h3 class="govuk-heading-m govuk-!-margin-top-5">More on apprenticeships</h3>
<div class="govuk-grid-row fiu-flex-row">
    <div class="govuk-grid-column-one-half">
        <div class="fiu-card">
            <span class="fiu-card__category">
                <a class="fiu-card__category-link" href="/employers/setting-it-up">Setting up</a>
            </span>
            <h3 class="fiu-card__heading">Choose the right apprenticeship</h3>
            <p class="fiu-card__content">Apprentices will spend at least 20% of their time on off-the-job training with your chosen training provider. Find out more about what this means.</p>
            <a href="/employers/choose-apprenticeship-training" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-8">Learn more</a>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="fiu-card">
            <span class="fiu-card__category">
                <a class="fiu-card__category-link" href="/employers/setting-it-up">Setting up</a>
            </span>
            <h3 class="fiu-card__heading">Choose a training provider</h3>
            <p class="fiu-card__content">You will need to choose a training provider to train your apprentice. Find out why this is important and how to go about choosing one.</p>
            <a href="/employers/choose-training-provider" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-9">Learn more</a>
        </div>
    </div>
</div>