@using SFA.DAS.Campaign.Web.Helpers
@using SFA.DAS.Campaign.Web.Renderers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.LandingPage>
@{
    ViewBag.Title = Model.Title;
    Layout = "Redesign_Layout_ApprenticesLandingPage";
    ViewBag.PageTitle = Model.Title;
    ViewBag.PageSummary = Model.Content.Summary;
    ViewBag.HeadingImage = Model.Content?.HeaderImage?.Url;
    ViewBag.LandingPageSlug = Model.Slug;
    ViewBag.LandingPageTitle = Model.Title;
}

<div class="fiu-grad-row">
    @if (ViewBag.HeadingImage == null)
    {
        <span class="fiu-grad-row__bg"></span>
    }
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">

            @{
                int noOfCardsinFirstRow = 2;
            }

            @if (Model.Slug == "useful-resources-for-apprentices")
            {
                noOfCardsinFirstRow = 1;
                <div class="govuk-grid-column-one-quarter">
                    <div class="fiu-card">
                        <span class="fiu-card__category"><a class="fiu-card__category-link" href="/apprentices/useful-resources-for-apprentices">Useful resources and support</a></span>
                        <h3 class="fiu-card__heading">Apprenticeship support centre</h3>
                        <p class="fiu-card__content">Essential information and support for apprentices, to help you successfully complete your apprenticeship programme.</p>
                        <a href="https://apprenticesupportcentre.apprenticeships.gov.uk/" target="_blank" class="fiu-card__link">Learn more <span class="fiu-vh"> about the support centre</span></a>
                    </div>
                </div>
            }

            @{
                var firstCards = Model.Content.Cards.Take(noOfCardsinFirstRow);
                for (var i = 0; i < firstCards.Count(); i++)
                {
                    @firstCards.ElementAt(i).CardToHtml();
                }
            }
            <div class="govuk-grid-column-one-half">
                @Html.Partial("./Panels/_BrowseApprenticeships", "")
            </div>
        </div>
        @{
            var items = Model.Content.Cards.Skip(noOfCardsinFirstRow).Take(Model.Content.Cards.Count - noOfCardsinFirstRow);
            int columncount = 1;

            for (var i = 0; i < items.Count(); i++)
            {
                if (columncount == 1)
                {
                    @:<div class="govuk-grid-row fiu-flex-row">
                    }
                    @items.ElementAt(i).CardToHtml();
                    if (columncount == 4 || i == items.Count() - 1)
                    {
                    @:</div>
                    columncount = 1;
                }
                else
                {
                    columncount++;
                }
            }
        }
    </div>
</div>