@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.LandingPage>
@{
    ViewBag.Title = Model.Title;
    Layout = "Redesign_Layout_ApprenticesLandingPage";
    ViewBag.PageTitle = Model.Title;
    ViewBag.PageSummary = Model.Content.Summary;
    ViewBag.HeadingImage = Model.Content?.HeaderImage?.Url;
    ViewBag.LandingPageSlug = Model.Slug;
    ViewBag.LandingPageTitle = Model.Title;
}

<div class="fiu-grad-row">
    @if (ViewBag.HeadingImage == null)
    {
        <span class="fiu-grad-row__bg"></span>
    }
    <div class="fiu-width-container fiu-grid-layout govuk-!-margin-bottom-8">
        @foreach (var card in Model.Content.Cards)
        {
            <a class="fiu-card" href="@card.Url.ToLower()">
                <span class="fiu-card__img" style="background-image:url(@card.CardImage.Url)"></span>
                <div class="fiu-card__body">
                    <h3 class="fiu-card__heading">@card.Title</h3>
                    <p class="fiu-card__content">@card.Summary</p>
                </div>
            </a>
        }
    </div>
</div>