@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.LandingPage>
@{
    ViewBag.Title = Model.Title;
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = Model.Title;
    ViewBag.PageSummary = Model.Content.Summary;
    ViewBag.HeadingImage = Model.Content?.HeaderImage?.Url;
    ViewBag.LandingPageSlug = Model.Slug;
    ViewBag.LandingPageTitle = Model.Title;
}
<div class="fiu-grad-row">
    <div class="fiu-width-container">
        <div class="fiu-grid-layout fiu-card-group">
            @{
                var items = Model.Content.Cards;

                for (var i = 0; i < items.Count(); i++)
                {
                    @items.ElementAt(i).CardToHtml()
                }
            }
        </div>
    </div>
</div>