@{
    ViewBag.Title = "Help shape the design of the apprenticeship service";
    ViewBag.MetaTitle = "Help shape the design of the apprenticeship services";
    ViewBag.PageID = "landing-page-eoi";
    ViewBag.MetaDesc = " ";
    ViewBag.Section = "";
    ViewBag.HideRegisterInterest = true;
    Layout = "_LayoutContentFull";
}

<h2 class="heading-m">
    Calling all small and medium sized employers
</h2>
<p class="lead-paragraph">If you’re planning to take on apprentices later this year, we’d love to get you on board to try the apprenticeship service.</p>
<p>It’s your chance to see what you’ll be able to do ahead of the planned launch in early 2020.</p>
<p>Features include being able to:</p>
<ul class="list list--bullet list--bullet-employer">
    <li>reserve funding from the government for training your apprentices</li>
    <li>select and save apprenticeships</li>
    <li>create and upload apprenticeship job adverts</li>
    <li>manage job applications</li>
    <li>add apprentices</li>
</ul>
<p>Testing is open to employers who:</p>
<ul class="list list--bullet list--bullet-employer">
    <li>have an annual pay bill of less than £3 million and therefore don’t pay the apprenticeship levy</li>
    <li>intend to start an apprenticeship between August and October 2019</li>
    <li>are already working with a training provider that offers training to employers who don’t pay the apprenticeship levy and has funding available</li>
</ul>
<p>Ideally, you’d also have an apprentice lined up to start their apprenticeship – either a new starter or existing employee you want to upskill.</p>
<p>We’ll be running a second round of testing if you plan to start apprenticeships in November or December.</p>
<h2 class="heading-m">Your feedback matters</h2>
<p>We’ll encourage feedback throughout the process, good and bad! That way we’ll know everything is running smoothly before we go live.</p>
<p>We only have a limited number of places available, so register your interest now. You can also ask you provider to apply on your behalf..</p>

<p>
    <a asp-route="ExpressionOfInterestSurvey" class="button button--employer" style="color: #000;">Register your interest</a>
</p>