@using SFA.DAS.Campaign.Web.Helpers
@using SFA.DAS.Campaign.Web.Renderers
@model SFA.DAS.Campaign.Domain.Content.Page<SFA.DAS.Campaign.Domain.Content.LandingPage>
@{
    ViewBag.Title = Model.Title;
    Layout = "Redesign_Layout_InfluencersHub";
    ViewBag.PageTitle = Model.Title;
    ViewBag.PageSummary = Model.Content.Summary;
    ViewBag.HeadingImage = Model.Content.HeaderImage.Url;
    ViewBag.LandingPageSlug = Model.Slug;
    ViewBag.LandingPageTitle = Model.Title;
}

<div class="fiu-grad-row">
    @if (ViewBag.HeadingImage == null)
    {
        <span class="fiu-grad-row__bg"></span>
    }
    <div class="fiu-width-container fiu-grid-layout govuk-!-margin-bottom-8">
      
            @{
                var firstTwo = Model.Content.Cards.Take(2);
                for (var i = 0; i < firstTwo.Count(); i++)
                {
                    @firstTwo.ElementAt(i).CardToHtml();
                }
            }
      

        @{
            var items = Model.Content.Cards.Skip(2).Take(Model.Content.Cards.Count - 2);
   

            for (var i = 0; i < items.Count(); i++)
            {
      
                    @items.ElementAt(i).CardToHtml();
                    
            }
        }
    </div>
</div>