@using SFA.DAS.Campaign.Web.Helpers
@model SFA.DAS.Campaign.Domain.Content.HtmlControl.Banner

@if (!Model.AllowUserToHideTheBanner)
{
    <div class="fiu-alert" style="background-color: @Model.BackgroundColour">
        <div class="fiu-width-container">
            <h2 class="fiu-banner__heading">@Model.Title</h2>
            <div class="fiu-banner__body fiu-article">
                @Model.Content.ToHtml()
            </div>
        </div>
    </div>
}