<aside class="fiu-promo fiu-promo--citizens">
    <div class="fiu-width-container">
        <h2 class="govuk-heading-l fiu-promo__heading">
            Become an apprentice
        </h2>
        <p class="fiu-promo__content">
            Create an account to apply for an apprenticeship.
        </p>
        <a href="/apprentices/create-account" class="fiu-button fiu-button--citizens fiu-button--outlined fiu-button--sparks fiu-promo__button">
            Create an account
        </a>
    </div>
</aside>