<div class="fiu-cookie-banner js-cookie-banner" data-fiu-shared-cookie-consent="true">
    <div class="fiu-cookie-banner__body" tabindex="0">
        <div class="fiu-cookie-banner__message js-cookie-banner-message">
	        <h2 class="fiu-cookie-banner__heading">Tell us whether you accept cookies</h2>
	        <p class="fiu-cookie-banner__content">
	            We use <a  asp-controller="Home" asp-action="CookieDetails" class="fiu-link" id="fiu-cb-link-details">cookies to collect information</a> about how you use this website. 
				We use this information to make the website work as well as possible and improve this website. 
				We also share some of this information with our social media, advertising and analytics partners. 
	        </p>
	        <div class="fiu-cookie-banner__actions govuk-button-group">
		        <a class="fiu-button" id="fiu-cb-button-accept" tabindex="0" href="#" role="button"  data-accept-cookies="true">Accept all cookies</a>
				<a class="fiu-button" id="fiu-cb-button-reject" tabindex="1" href="#" role="button"  data-reject-cookies="true">Reject all cookies</a>
	        </div>
        </div>
	    <div class="js-cookie-banner-confirmation-accept" hidden>
	        <p class="fiu-cookie-banner__content">
                You've accepted all cookies. You can <a class="fiu-link" asp-controller="Home" asp-action="Cookies">change your cookie settings</a> at any time.
            </p>
            <div class="fiu-cookie-banner__actions">
	            <a class="fiu-button das-cookie-banner__hide-button" data-hide-cookie-message="true" id="fiu-cb-close-accept">Close</a>
	        </div>
		</div>
		<div class="js-cookie-banner-confirmation-reject" hidden>
	        <p class="fiu-cookie-banner__content">
                You've rejected all cookies apart from essential cookies needed for this website. You can <a class="fiu-link" asp-controller="Home" asp-action="Cookies">change your cookie settings</a> at any time.
            </p>
            <div class="fiu-cookie-banner__actions">
	            <a class="fiu-button das-cookie-banner__hide-button" data-hide-cookie-message="true" id="fiu-cb-close-reject">Close</a>
	        </div>
		</div>
    </div>
</div>