<aside class="fiu-promo fiu-promo--employers">
    <div class="fiu-width-container ">
        <h2 class="govuk-heading-l fiu-promo__heading">
            Employ an apprentice
        </h2>
        <p class="fiu-promo__content">
            Sign up for an employer account on the apprenticeship service to access funding. 
        </p>
        <a href="/employers/create-apprenticeship-service-account" class="fiu-button fiu-button--employers fiu-button--outlined fiu-button--sparks fiu-promo__button">
            Sign up to the apprenticeship service
        </a>
    </div>
</aside>
