<aside class="fiu-promo fiu-promo--employers">
    <div class="fiu-width-container ">
        <h2 class="govuk-heading-l fiu-promo__heading">
            Stay up to date
        </h2>
        <p class="fiu-promo__content">
            Stay up to date with the latest on the apprenticeship service, how it works and opportunities.
        </p>
        <a href="/employers/sign-up"
            class="fiu-button fiu-button--employers fiu-button--outlined fiu-button--sparks fiu-promo__button">
            Sign up to our newsletter
        </a>
    </div>
</aside>
