@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Search.TrainingProviderSearchViewModel

<div class="fiu-panel fiu-panel--solid-employers">

    <h2 class="govuk-heading-m fiu-panel__heading">Find a training provider for this apprenticeship</h2>

    <form action="@Model.SearchRoute">

        <div class="govuk-form-group">
            <label asp-for="Postcode" class="govuk-label fiu-panel__label">Enter the postcode for where the apprentice will work</label>
            <input class="govuk-input govuk-input--width-10" asp-for="Postcode" type="search" maxlength="8" autocomplete="postal-code" >
        </div>

        <input type="hidden" asp-for="ApprenticeshipId" />
        <input type="hidden" asp-for="Keywords" />
        <input type="hidden" asp-for="IsLevyPayer" value="true" />

        <button class="fiu-button fiu-button--sparks fiu-button--employers fiu-button--outlined" type="submit" id="employer-provider-search">Search providers</button>

    </form>
</div>