@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Search.TrainingProviderSearchViewModel

<form action="@Model.SearchRoute">
    <input type="hidden" asp-for="ApprenticeshipId" />
    <input type="hidden" asp-for="Keywords" />
    <input type="hidden" asp-for="IsLevyPayer" value="true" />
    <label asp-for="Postcode" class="govuk-label fiu-visually-hidden">Enter the postcode for where the apprentice will work</label>
    <div class="fiu-form-group-inline govuk-!-width-one-half">
        <input class="govuk-input" asp-for="Postcode" type="search" placeholder="Postcode" maxlength="8" autocomplete="postal-code" >
        <div class="fiu-form-group-inline__button-wrap">
            <button class="fiu-button fiu-button--employers" type="submit" id="employer-provider-search">Search</button>
        </div>
    </div>
</form>