{
  "swagger": "2.0",
  "info": {
    "title": "Live vacancies API",
    "version": "1.0"
  },
  "host": "apis.apprenticeships.sfa.bis.gov.uk",
  "basePath": "/vacancies",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/v1/apprenticeships/{vacancyReference}": {
      "get": {
        "description": "The apprenticeship operation retrieves a single live apprenticeship vacancy using the vacancy reference number.\r\n\r\nNote that:\r\n\r\n- the vacancy reference number should be specified as a number (ie. excluding any prefix)\r\n- only live vacancies can be retrieved using this operation\r\n\r\n#### Example ####\r\n\r\nTo retrieve VAC001234567:\r\n\r\n```\r\n/apprenticeships/1234567\r\n```\r\n\r\n#### Error codes ####\r\n\r\nThe following error codes may be returned when calling this operation:\r\n\r\n| Error code  | Explanation                                                    |\r\n| ----------- | -------------------------------------------------------------- |\r\n| 30201       | Vacancy reference number must be greater than 0                |\r\n| 30202       | Vacancy reference number must be a whole number                |",
        "operationId": "5b5f095ea79d9d105c88df69",
        "summary": "GetApprenticeshipVacancy",
        "tags": [
          "Apprenticeships"
        ],
        "parameters": [
          {
            "name": "vacancyReference",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApprenticeshipVacancy"
            }
          },
          "400": {
            "description": "Failed request validation",
            "schema": {
              "$ref": "#/definitions/BadRequestContent"
            }
          },
          "404": {
            "description": "Vacancy not found or vacancy status is not Live"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ]
      }
    },
    "/v1/traineeships/{vacancyReference}": {
      "get": {
        "description": "The traineeship operation retrieves a single live traineeship vacancy using the vacancy reference number.\r\n\r\nNote that:\r\n\r\n- the vacancy reference number should be specified as a number (ie. excluding any prefix)\r\n- only live vacancies can be retrieved using this operation\r\n\r\n#### Example ####\r\n\r\nTo retrieve VAC001234567:\r\n\r\n```\r\n/traineeships/1234567\r\n```\r\n\r\n#### Error codes ####\r\n\r\nThe following error codes may be returned when calling this operation:\r\n\r\n| Error code  | Explanation                                                    |\r\n| ----------- | -------------------------------------------------------------- |\r\n| 30401       | Vacancy reference number must be greater than 0                |\r\n| 30402       | Vacancy reference number must be a whole number                |",
        "operationId": "5b5f095ea79d9d105c88df6a",
        "summary": "GetTraineeshipVacancy",
        "tags": [
          "Traineeships"
        ],
        "parameters": [
          {
            "name": "vacancyReference",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TraineeshipVacancy"
            }
          },
          "400": {
            "description": "Failed request validation",
            "schema": {
              "$ref": "#/definitions/BadRequestContent"
            }
          },
          "404": {
            "description": "Vacancy not found or vacancy status is not Live"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ]
      }
    },
    "/v1/apprenticeships/search": {
      "get": {
        "description": "The apprenticeship search operation retrieves live apprenticeship vacancies based on search criteria specified \r\nin the request parameters. \r\n\r\nSearch criteria can be used to:\r\n\r\n- Search by framework LARS code(s)\r\n- Search by standard LARS code(s)\r\n- Search by framework or standard LARS code(s)\r\n- Search by location (geopoint) and radius\r\n- Search for recently posted vacancies\r\n- Search for nationwide vacancies\r\n\r\n#### Data paging ####\r\n\r\nSearch results are returned in pages of data. \r\nIf not specified then the default page size is 100 vacancies. \r\nIf the search yields more data than can be included in a single page then additional pages can be requested by \r\nspecifying a specific page number in the request. eg. pageNumber=2\r\n\r\n#### Examples ####\r\n\r\nTo search for vacancies with standard code 94:\r\n\r\n```\r\n/apprenticeships/search?standardLarsCodes=94\r\n```\r\n\r\nMultiple standard codes can be specified by using a comma delimited list of standard codes. \r\nTo search for vacancies with either standard code 94 or 95:\r\n\r\n```\r\n/apprenticeships/search?standardLarsCodes=94,95\r\n```\r\n\r\nTo search for vacancies that went live within the last 2 days:\r\n\r\n```\r\n/apprenticeships/search?postedInLastNumberOfDays=2\r\n```\r\n\r\nTo search for vacancies that went live today (0 days ago):\r\n\r\n```\r\n/apprenticeships/search?postedInLastNumberOfDays=0\r\n```\r\n\r\nTo search for nationwide vacancies:\r\n\r\n```\r\n/apprenticeships/search?nationwideOnly=true\r\n```\r\n\r\n#### Combining parameters ####\r\n\r\nMultiple parameters can be added to the query string to refine the search. \r\nNote that when specifying both framework and standard codes, the results will include vacancies with matching \r\nframework or standard codes.\r\n\r\n#### Sorting results ####\r\n\r\nThe results will be ordered by the following rules by default:\r\n- If searching by geo-location then the results are sorted by distance (closest first).\r\n- If searching by anything other than geo-location then the results are sorted by age (posted date) (newest first).\r\n\r\nThe default sorting rules can be overriden by using the `SortBy` query parameter. \r\nSortBy can be set to \"Age\", \"Distance\" or \"ExpectedStartDate\".\r\nWhereas sorting by \"Age\" will return newest vacancies first, sorting by \"ExpectedStartDate\" will return vacancies that have earliest start date first.\r\nBeware that it is invalid to sort by distance if you have not searched by geo-location.\r\n\r\n#### Error codes ####\r\n\r\nThe following error codes may be returned when calling this operation if any of the search criteria values \r\nspecified fail validation:\r\n\r\n| Error code  | Explanation                                                                      |\r\n| ----------- | -------------------------------------------------------------------------------- |\r\n| 30100       | Search parameters not specified or insufficient                                  |\r\n| 30101       | Invalid Standard Code                                                            |\r\n| 30102       | Invalid Framework code                                                           |\r\n| 30103       | Invalid Page size                                                                |\r\n| 30104       | Invalid Page number                                                              |\r\n| 30105       | Invalid Posted in last number of days                                            |\r\n| 30106       | Invalid Latitude                                                                 |\r\n| 30107       | Invalid Longitude                                                                |\r\n| 30108       | Invalid Distance in miles                                                        |\r\n| 30109       | Invalid NationwideOnly                                                           |\r\n| 30110       | Invalid SortBy                                                                   |",
        "operationId": "5b5f095ea79d9d105c88df6b",
        "summary": "SearchApprenticeshipVacancies",
        "tags": [
          "Apprenticeships"
        ],
        "parameters": [
          {
            "name": "standardLarsCodes",
            "in": "query",
            "type": "string"
          },
          {
            "name": "frameworkLarsCodes",
            "in": "query",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          },
          {
            "name": "postedInLastNumberOfDays",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          },
          {
            "name": "nationwideOnly",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Format - double.",
            "type": "number"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Format - double.",
            "type": "number"
          },
          {
            "name": "distanceInMiles",
            "in": "query",
            "description": "Format - int32.",
            "type": "integer"
          },
          {
            "name": "sortBy",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApprenticeshipSummary"
            }
          },
          "400": {
            "description": "Failed request validation",
            "schema": {
              "$ref": "#/definitions/BadRequestContent"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ]
      }
    }
  },
  "definitions": {
    "ApprenticeshipVacancy": {
      "type": "object",
      "properties": {
        "vacancyReference": {
          "format": "int64",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "shortDescription": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "wageUnit": {
          "enum": [
            "Unspecified",
            "Weekly",
            "Monthly",
            "Annually"
          ],
          "type": "string"
        },
        "workingWeek": {
          "type": "string"
        },
        "wageText": {
          "type": "string"
        },
        "wageAdditionalInformation": {
          "type": "string"
        },
        "hoursPerWeek": {
          "format": "double",
          "type": "number"
        },
        "expectedDuration": {
          "type": "string"
        },
        "expectedStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "postedDate": {
          "format": "date-time",
          "type": "string"
        },
        "applicationClosingDate": {
          "format": "date-time",
          "type": "string"
        },
        "numberOfPositions": {
          "format": "int32",
          "type": "integer"
        },
        "trainingType": {
          "enum": [
            "Unavailable",
            "Framework",
            "Standard"
          ],
          "type": "string"
        },
        "trainingTitle": {
          "type": "string"
        },
        "trainingCode": {
          "type": "string"
        },
        "employerName": {
          "type": "string"
        },
        "employerDescription": {
          "type": "string"
        },
        "employerWebsite": {
          "type": "string"
        },
        "trainingToBeProvided": {
          "type": "string"
        },
        "qualificationsRequired": {
          "type": "string"
        },
        "skillsRequired": {
          "type": "string"
        },
        "personalQualities": {
          "type": "string"
        },
        "futureProspects": {
          "type": "string"
        },
        "thingsToConsider": {
          "type": "string"
        },
        "isNationwide": {
          "type": "boolean"
        },
        "supplementaryQuestion1": {
          "type": "string"
        },
        "supplementaryQuestion2": {
          "type": "string"
        },
        "vacancyUrl": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/GeoCodedAddress"
        },
        "contactName": {
          "type": "string"
        },
        "contactEmail": {
          "type": "string"
        },
        "contactNumber": {
          "type": "string"
        },
        "trainingProviderName": {
          "type": "string"
        },
        "trainingProviderUkprn": {
          "type": "string"
        },
        "trainingProviderSite": {
          "type": "string"
        },
        "isEmployerDisabilityConfident": {
          "type": "boolean"
        },
        "apprenticeshipLevel": {
          "type": "string"
        },
        "applicationInstructions": {
          "type": "string"
        },
        "applicationUrl": {
          "type": "string"
        }
      }
    },
    "GeoCodedAddress": {
      "type": "object",
      "properties": {
        "addressLine1": {
          "type": "string"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressLine3": {
          "type": "string"
        },
        "addressLine4": {
          "type": "string"
        },
        "addressLine5": {
          "type": "string"
        },
        "geoPoint": {
          "$ref": "#/definitions/GeoPoint"
        },
        "postCode": {
          "type": "string"
        },
        "town": {
          "type": "string"
        }
      }
    },
    "GeoPoint": {
      "type": "object",
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "BadRequestContent": {
      "type": "object",
      "properties": {
        "requestErrors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BadRequestError"
          }
        }
      }
    },
    "BadRequestError": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "TraineeshipVacancy": {
      "type": "object",
      "properties": {
        "vacancyReference": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "shortDescription": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "workingWeek": {
          "type": "string"
        },
        "expectedDuration": {
          "type": "string"
        },
        "expectedStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "postedDate": {
          "format": "date-time",
          "type": "string"
        },
        "applicationClosingDate": {
          "format": "date-time",
          "type": "string"
        },
        "numberOfPositions": {
          "format": "int32",
          "type": "integer"
        },
        "traineeshipSector": {
          "type": "string"
        },
        "employerName": {
          "type": "string"
        },
        "employerDescription": {
          "type": "string"
        },
        "employerWebsite": {
          "type": "string"
        },
        "trainingToBeProvided": {
          "type": "string"
        },
        "qualificationsRequired": {
          "type": "string"
        },
        "skillsRequired": {
          "type": "string"
        },
        "personalQualities": {
          "type": "string"
        },
        "futureProspects": {
          "type": "string"
        },
        "thingsToConsider": {
          "type": "string"
        },
        "isNationwide": {
          "type": "boolean"
        },
        "supplementaryQuestion1": {
          "type": "string"
        },
        "supplementaryQuestion2": {
          "type": "string"
        },
        "vacancyUrl": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/GeoCodedAddress"
        },
        "contactName": {
          "type": "string"
        },
        "contactEmail": {
          "type": "string"
        },
        "contactNumber": {
          "type": "string"
        },
        "trainingProviderName": {
          "type": "string"
        },
        "trainingProviderUkprn": {
          "type": "string"
        },
        "trainingProviderSite": {
          "type": "string"
        },
        "isEmployerDisabilityConfident": {
          "type": "boolean"
        },
        "applicationInstructions": {
          "type": "string"
        },
        "applicationUrl": {
          "type": "string"
        }
      }
    },
    "SearchApprenticeshipParameters": {
      "type": "object",
      "properties": {
        "standardLarsCodes": {
          "type": "string"
        },
        "frameworkLarsCodes": {
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer"
        },
        "pageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "postedInLastNumberOfDays": {
          "format": "int32",
          "type": "integer"
        },
        "nationwideOnly": {
          "type": "boolean"
        },
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "type": "number"
        },
        "distanceInMiles": {
          "format": "int32",
          "type": "integer"
        },
        "sortBy": {
          "type": "string"
        }
      }
    },
    "ApprenticeshipSummary": {
      "type": "object",
      "properties": {
        "vacancyReference": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "shortDescription": {
          "type": "string"
        },
        "expectedStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "postedDate": {
          "format": "date-time",
          "type": "string"
        },
        "applicationClosingDate": {
          "format": "date-time",
          "type": "string"
        },
        "numberOfPositions": {
          "format": "int32",
          "type": "integer"
        },
        "trainingType": {
          "enum": [
            "Unavailable",
            "Framework",
            "Standard"
          ],
          "type": "string"
        },
        "trainingTitle": {
          "type": "string"
        },
        "trainingCode": {
          "type": "string"
        },
        "employerName": {
          "type": "string"
        },
        "trainingProviderName": {
          "type": "string"
        },
        "isNationwide": {
          "type": "boolean"
        },
        "location": {
          "$ref": "#/definitions/GeoPoint"
        },
        "apprenticeshipLevel": {
          "type": "string"
        },
        "vacancyUrl": {
          "type": "string"
        },
        "isEmployerDisabilityConfident": {
          "type": "boolean"
        },
        "distanceInMiles": {
          "format": "double",
          "type": "number"
        }
      }
    }
  },
  "tags": []
}