@{
    ViewBag.Title = "Accessibility statement for this website";
    ViewBag.PageTitle = "Accessibility statement for this website ";
    ViewBag.MetaDesc = "";
    Layout = "Redesign_Layout_Generic";
}
<p class="govuk-body">This website is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).&nbsp;</p>
<p class="govuk-body">We want as many people as possible to be able to use this website. For example, you should be able to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>change colours, contrast levels and fonts</li>
<li>zoom in up to 300% without the text spilling off the screen</li>
<li>navigate most of the website using just a keyboard</li>
<li>navigate most of the website using speech recognition software</li>
<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>
<p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
<p class="govuk-body"><a class="fiu-link" href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet<span class="fiu-vh"> (Opens in a new window)</span></a> has advice on making your device easier to use if you have a disability.</p>
<h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>
<p class="govuk-body">If you need information on this website in a different format, like accessible PDF or large print, email <a class="fiu-link" href="mailto:esfa.govuk-enquiries@education.gov.uk">esfa.govuk-enquiries@education.gov.uk</a>.</p>
<p class="govuk-body">We'll consider your request and get back to you in 5 days.</p>
<h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
<p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, email <a class="fiu-link" href="mailto:esfa.govuk-enquiries@education.gov.uk">esfa.govuk-enquiries@education.gov.uk</a>.</p>
<h2 class="govuk-heading-m">Enforcement procedure</h2>
<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the &lsquo;accessibility regulations').&nbsp;</p>
<p class="govuk-body">If you're not happy with how we respond to your complaint, <a class="fiu-link" href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS)<span class="fiu-vh"> (Opens in a new window)</span></a>.</p>
<h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
<p class="govuk-body">The Education and Skills Funding Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<p class="govuk-body">This website is compliant with the <a class="fiu-link" href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content Accessibility Guidelines version 2.1<span class="fiu-vh"> (Opens in a new window)</span></a> AA standard.</p>
<h2 class="govuk-heading-m">How we tested this website</h2>
<p class="govuk-body">This website was last tested on 21 September 2020 by the ESFA development team who built the website.</p>
<h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
<p class="govuk-body">We will arrange for external experts to run a full accessibility check of the website. Following that, we will aim to fix all known accessibility issues.</p>
<p class="govuk-body">This statement was prepared on 21 September 2020.</p>