@{
    Layout = "_LayoutContentFull";
    ViewBag.Title = "Accessibility statement for Fire it up";
    ViewBag.PageID = "privacy";
    ViewBag.MetaTitle = "Know how your personal information will be used";
    ViewBag.MetaDesc = "This policy explains how accessible the Fire it up apprenticeships website is. This is published by the Education and Skills Agency (ESFA).";
}

<p>This website is run by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
<ul class="list list--bullet">
    <li>change colours, contrast levels and fonts</li>
    <li>zoom in up to 300% without the text spilling off the screen</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using speech recognition software</li>
    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>
<p>We’ve also made the website text as simple as possible to understand.</p>
<p>
    <a class="link" target="_blank" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
</p>

<h2 class="heading-m">How accessible this website is</h2>
<p>We know some parts of this website are not fully accessible:</p>
<ul class="list list--bullet">
    <li>
        while captions are available for our video clips, we do not provide the functionality to turn them on. If you would like to display captions, you can set your preferences on YouTube at
        <a class="link" target="_blank" href="https://www.youtube.com/account_playback">https://www.youtube.com/account_playback</a>
    </li>
    <li>page headings may become unreadable when text spacing is overridden</li>
    <li>
        the Find an apprenticeship search results page on the Fire it up website can be difficult to navigate using only a keyboard. If you would like to use an alternative version of the tool, visit
        <a class="link" target="_blank" href="https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch">https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch</a>
    </li>
</ul>

<h2 class="heading-m">What to do if you cannot access parts of this website</h2>
<p>If you need information on this website in a different format, please email us at <a class="link" target="_blank" href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk">ESFA.GOVUK-ENQUIRIES@education.gov.uk</a>.</p>
<p>We’ll consider the request and get back to you within 5 working days.</p>

<h2 class="heading-m">Reporting accessibility problems with this website</h2>
<p>
    We’re always looking to improve the accessibility of our documents. If you find any problems that aren’t listed on this page or you think we’re not meeting accessibility requirements, contact us via email at
    <a class="link" target="_blank" href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk">ESFA.GOVUK-ENQUIRIES@education.gov.uk</a>.
</p>

<h2 class="heading-m">Enforcement procedure</h2>
<p>
    The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the
    <a class="link" target="_blank" href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
</p>

<h2 class="heading-m">Technical information about this website’s accessibility</h2>
<p>The Education and Skills Funding Agency (ESFA) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<p>
    This website is partially compliant with the
    <a class="link" target="_blank" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.
</p>

<h2 class="heading-m">Non accessible content</h2>
<p>The content listed below is non-accessible for the following reasons.</p>

<h2 class="heading-m">Non compliance with the accessibility regulations</h2>
<p>Some of the text on the website does not meet the minimum colour contrast requirements. This fails WCAG 2.1 success criterion 1.4.3 (contrast minimum). We plan to fix these issues by the end of 2019 and will ensure all future design changes meet the requirements.</p>
<p>Some of the headings on the homepage do not accurately describe the purpose of the page. This fails WCAG 2.1 success criterion 2.4.6 (headings and labels). This will be addressed by the end of 2019, and more consideration will be given to the purpose of headings for future content changes.</p>
<p>Page headings become unreadable when text spacing is overridden. This fails WCAG 2.1 success criterion 1.4.12 (text spacing). We plan to fix this by the end of the year.</p>

<h2 class="heading-m">How we tested this website</h2>
<p>This website was last tested on 8 July 2019. The test was carried out by the Digital Accessibility Centre (DAC).</p>
<p>The DAC user and technical team carried out an accessibility audit of the entire Fire it up website (available at apprenticeships.gov.uk). They assessed it against the Web Content Accessibility Guidelines WCAG 2.1. We are currently working through the issues identified by the DAC to improve the overall accessibility of the website.</p>

<h2 class="heading-m">What we’re doing to improve accessibility</h2>
<p>We’re currently working towards AA compliance, and plan to fix any outstanding issues by the end of 2019.</p>
<p>This statement was prepared on 23/10/2019. It was last updated on 23/10/2019.</p>
