@using SFA.DAS.Campaign.Web.Models.Components.Form
@{
    Layout = "_LayoutContentTwoThirds";
    ViewBag.Title = "Details about cookies on the Fire It Up service";
    ViewBag.PageID = "cookie-details";
    ViewBag.MetaTitle = "Manage cookies on this website";
    ViewBag.MetaDesc = "Cookies are small text files that can be used by websites to make a user's experience more efficient. Use this page to set your cookie preferences.";
}

<p>
    This service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site. Find out more about the cookies we use, what they’re for and when they expire.
</p>

<h2 class="heading-m">
    Cookies that measure website usage
</h2>

<p>
    We use Google Analytics software (Universal Analytics) to collect anonymised information about how you use the service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
</p>

<p>
    We do not allow Google to use or share the data about how you use this site.
</p>

<p>
    Google Analytics stores information about:
</p>

<ul class="list list--bullet">
    <li>
        how you got to the site
    </li>
    <li>
        the pages you visit on this service and how long you spend on them
    </li>
    <li>
        what you click on while you’re visiting the site
    </li>

</ul>
<p>
    We may also set our own cookies to understand how people move through the site.
</p>

<table class="table">
    <thead>
        <tr class="table__row">
            <th scope="col" class="cell-width-20 table__header">
                Name
            </th>
            <th scope="col" class="cell-width-50 table__header">
                Purpose
            </th>
            <th scope="col" class="cell-width-30 table__header">
                Expires
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table__row">
            <td class="table__cell">
                _ga
            </td>
            <td class="table__cell">
                Used by Google Analytics, this registers a unique ID to generate statistics about how you use the website
            </td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                _gid
            </td>
            <td class="table__cell">
                This registers a unique ID to generate statistics about how you use the website
            </td>
            <td class="table__cell">
                24 hours
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ict_0
            </td>
            <td class="table__cell">
                This assists third-packing tracking software
            </td>
            <td class="table__cell">
                10 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ict_master
            </td>
            <td class="table__cell">
                This registers a unique ID to generate statistics about how you use the website
            </td>
            <td class="table__cell">
                10 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ai_session
            </td>
            <td class="table__cell">
                This monitors the performance of the website
            </td>
            <td class="table__cell">
                10 minutes
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ai_user
            </td>
            <td class="table__cell">
                This monitors the performance of the website
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ictf_il
            </td>
            <td class="table__cell">
                This assists third-packing tracking software
            </td>
            <td class="table__cell">
                10 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ictf_in
            </td>
            <td class="table__cell">
                This assists third-packing tracking software
            </td>
            <td class="table__cell">
                10 years
            </td>
        </tr>
    </tbody>
</table>

<h2 class="heading-m">
    Cookies that help with our communications and marketing
</h2>

<p>
    Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called ‘third party’ services. This tells us how many people are seeing the content and whether it’s useful.
</p>

<p>
    In addition, if you share a link to one of our pages, the service you share it on (for example, Facebook) may set a cookie. We have no control over cookies set on other websites - you can turn them off, but not through us.
</p>

<table class="table">
    <thead>
        <tr class="table__row">
            <th scope="col" class="cell-width-20 table__header">
                Name
            </th>
            <th scope="col" class="cell-width-50 table__header">
                Purpose
            </th>
            <th scope="col" class="cell-width-30 table__header">
                Expires
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table__row">
            <td class="table__cell">
                _fbp
            </td>
            <td class="table__cell">
                This helps deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising after visiting our website
            </td>
            <td class="table__cell">
                3 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                _gcl_au
            </td>
            <td class="table__cell">
                Used by Google AdSense, this experiments with advertisement efficiency across websites that use their services
            </td>
            <td class="table__cell">
                3 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                ANON
            </td>
            <td class="table__cell">
                Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you
            </td>
            <td class="table__cell">
                1 month
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                MUID
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                NAP
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                1 month
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SRCHD
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                2 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SRCHHPGUSR
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                4 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SRCHUID
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                2 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SRCHUSR
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                4 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                _RwBf
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                4 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                MUIDB
            </td>
            <td class="table__cell">
                <span>Used by Bing, these record your actions after you've viewed or clicked an advert to measure its performance and tailor future advertising to you</span>
            </td>
            <td class="table__cell">
                1 month
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                _fbp
            </td>
            <td class="table__cell">
                These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising
            </td>
            <td class="table__cell">
                3 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                act
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                When you close your browser
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                c_user
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                datr
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                18 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                fr
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                presence
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                When you close your browser
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                sb
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                spin
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                wd
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                xs
            </td>
            <td class="table__cell">
                <span>These help to deliver our advertising when you visit Facebook or a digital platform powered by Facebook Advertising</span>
            </td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
    </tbody>
</table>

<h2 class="heading-m">
    Strictly necessary cookies
</h2>

<p>
    These cookies carry out essential tasks to help the service perform correctly. For example, we might save a cookie to let us know how many times you’ve seen a message we’ve shown on a page, or if you’ve dismissed it.
</p>

<table class="table">
    <thead>
        <tr class="table__row">
            <th scope="col" class="cell-width-20 table__header">
                Name
            </th>
            <th scope="col" class="cell-width-50 table__header">
                Purpose
            </th>
            <th scope="col" class="cell-width-30 table__header">
                Expires
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table__row">
            <td class="table__cell">FIU_User</td>
            <td class="table__cell">This assists Google Analytics</td>
            <td class="table__cell">1 month</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                __cfduid
            </td>
            <td class="table__cell">
                Associated with sites using CloudFlare, this is used to make pages load more quickly
            </td>
            <td class="table__cell">
                3 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                APISID
            </td>
            <td class="table__cell">
                YouTube may set this cookie on your computer once you click on the YouTube video player
            </td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                CONSENT
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                20 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                HSID
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                LOGIN_INFO
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                18 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                PREF
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SAPISID
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SID
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SIDCC
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                3 months
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                SSID
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                2 years
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                VISITOR_INFO1 _LIVE
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                YSC
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                When you close your browser
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                _ga
            </td>
            <td class="table__cell"><span>YouTube may set this cookie on your computer once you click on the YouTube video player</span></td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                .AspNetCore .Antiforgery
            </td>
            <td class="table__cell">
                This enables the website to function properly
            </td>
            <td class="table__cell">
                When you close your browser
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                AnalyticsConsent
            </td>
            <td class="table__cell">
                This lets us know whether you've given us permission to track your activity for analytics purposes
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                BNES_.AspNetCore .Antiforgery
            </td>
            <td class="table__cell">
                This enables the website to function properly
            </td>
            <td class="table__cell">
                When you close your browser
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                BNES_samesite
            </td>
            <td class="table__cell">
                This enables the website to function properly
            </td>
            <td class="table__cell">
                When you close your browser
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                CookieConsent
            </td>
            <td class="table__cell">
                This stores your cookie consent preferences
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">
                MarketingConsent
            </td>
            <td class="table__cell">
                This stores your marketing cookie consent preferences
            </td>
            <td class="table__cell">
                1 year
            </td>
        </tr>
    </tbody>
</table>


<h3 class="heading-s">
    Change your settings
</h3>

<p>You can <a href="/cookies">change which cookies you're happy for us to use</a>.</p>
