@using SFA.DAS.Campaign.Web.Models.Components.Form
@{
    Layout = "_LayoutContentFull";
    ViewBag.Title = "Cookies policy";
    ViewBag.PageID = "cookies";
    ViewBag.MetaTitle = "Manage cookies on this website";
    ViewBag.MetaDesc = "Cookies are small text files that can be used by websites to make a user's experience more efficient. Use this page to set your cookie preferences.";
}

@await Component.InvokeAsync("Form", new { type = FormType.CookieSettings })


<h2 class="heading-m">
    Cookies
</h2>
<p>
    This service puts small files (known as ‘cookies’) on to your computer.
    Most websites do this. These cookies are used to:
</p>

<ul class="list list--bullet">
    <li>help us understand how you use the service, so we can improve it</li>
    <li>remember what notifications you’ve seen so you’re not shown them again</li>
    <li>temporarily store the information you enter (eg, your postcode)</li>
</ul>
<p>
    The cookies aren’t used to identify you personally. They’re put on to your
    computer to make the service work better for you. You can edit or delete
    the cookies.
</p>
<p>
    Find out how to
    <a href="http://www.aboutcookies.org/">
        edit and delete cookies using your browser preferences
    </a>.
</p>
<p>
    Learn more about who we are, how you can contact us and how we process
    personal data in our Privacy Policy.
</p>
<p>
    <span class="bold">Analytics Cookies:</span> Help us to improve our website by collecting and
    reporting information on how it is being used.
</p>
<p>
    <span class="bold">Marketing Cookies:</span> Help us improve the relevancy of advertising campaigns
    you receive from us. We also share information about your use of our site
    with our social media, advertising and analytics partners who may combine
    it with other information that you’ve provided to them or that they’ve
    collected from your use of their services
</p>
<h2 class="heading-s"> Necessary Cookies</h2>

<p>
    Necessary cookies help make our websites usable by supporting functions
    like page navigation, managing user consent, and access to secure areas of
    the website. The website cannot work properly without these cookies.
</p>
<table class="table">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell">Name</th>
            <th class="table__cell">Provider</th>
            <th class="table__cell">Purpose</th>
            <th class="table__cell">Expiry</th>
            <th class="table__cell">Type</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">CookieConsent</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Stores the user's cookie consent state for the current</td>
            <td class="table__cell">1 year</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">AnalyticsConsent</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">
                Stores the user's analytics cookie consent state for the
                current domain
            </td>
            <td class="table__cell">1 year</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">MarketingConsent</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">
                Stores the user's marketing cookie consent state for the
                current domain
            </td>
            <td class="table__cell">1 year</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">ApprenticeshipBasket</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Enables the website to function properly</td>
            <td class="table__cell">90 days</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">ai_user</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Monitors the performance of the website</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">ai_session</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Monitors the performance of the website</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">ASPNetCore.Antiforgery</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Enables the website to function properly</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">BNES_AspNetCore.Antiforgery</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Enables the website to function properly</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">BNES_samesite</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Enables the website to function properly</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
    </tbody>
</table>
<h2 class="heading-s">
    Analytics Cookies
</h2>
<p>
    Analytics cookies help us understand how visitors interact with our
    websites by collecting and reporting information anonymously.
</p>
<table class="table">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell">Name</th>
            <th class="table__cell">Provider</th>
            <th class="table__cell">Purpose</th>
            <th class="table__cell">Expiry</th>
            <th class="table__cell">Type</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">_ga</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">
                Registers a unique ID that is used to generate statistical
                data on how the visitor uses the website
            </td>
            <td class="table__cell">2 years</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">_gat</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">Used by Google Analytics to throttle request rate</td>
            <td class="table__cell">1 day</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">_gid</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">
                Registers a unique ID that is used to generate statistical
                data on how the visitor uses the website
            </td>
            <td class="table__cell">1 day</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">collect</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">
                Used to send data to Google Analytics about the visitor's
                device and behaviour. Tracks the visitor across devices and
                marketing channels
            </td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">ASP.NET_SessionId</td>
            <td class="table__cell">apprenticeships.gov.uk</td>
            <td class="table__cell">
                Session cookie and is used to keep track of a respondants
                progress in a survey
            </td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">SX_X</td>
            <td class="table__cell">smartsurvey.co.uk</td>
            <td class="table__cell">
                This keeps track of completed surveys to prevent multiple
                responses for a survey (if the feature is switched on)
            </td>
            <td class="table__cell">1 day</td>
            <td class="table__cell">HTTP</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell">Name</th>
            <th class="table__cell">Provider</th>
            <th class="table__cell">Purpose</th>
            <th class="table__cell">Expiry</th>
            <th class="table__cell">Type</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">1P_JAR</td>
            <td class="table__cell">.gstatic.com</td>
            <td class="table__cell" rowspan="13">

                These cookies are set via embedded youtube-videos. They
                register anonymous statistical data on
                for example how many times the video is displayed and what
                settings are used for playback.
                <br />
                No sensitive data is collected unless you log in to your
                google account, in that case your choices are
                linked with your account, for example if you click “like”
                on a video.
            </td>
            <td class="table__cell">1 month</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">CONSENT</td>
            <td class="table__cell">.gstatic.com</td>
            <td class="table__cell">20 years</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">APISID</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">2 years</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">CONSENT</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">20 years</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">HSID</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">LOGIN_INFO</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">6 months</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">PREF</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">SAPISID</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">SID</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">SSID</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">VISITOR_INFO1_LIVE</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">6 months</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">YSC</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">none</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">S_gl</td>
            <td class="table__cell">.youtube.com</td>
            <td class="table__cell">none</td>
            <td class="table__cell">HTTP</td>
        </tr>
    </tbody>
</table>
<h2 class="heading-s">
    Marketing Cookies
</h2>
<p>
    Marketing Cookies support the tracking of users across websites, with the
    aim of displaying ads that are relevant and engaging for individual users.
</p>
<table class="table">
    <thead class="table__header">
        <tr class="table__row table__header-row">
            <th class="table__cell">Name</th>
            <th class="table__cell">Provider</th>
            <th class="table__cell">Purpose</th>
            <th class="table__cell">Expiry</th>
            <th class="table__cell">Type</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">_gcl_au</td>
            <td class="table__cell">apprenticehips.gov.uk</td>
            <td class="table__cell">
                Used by Google AdSense for experimenting with advertisement
                efficiency across websites using their services
            </td>
            <td class="table__cell">3 months</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">MUID</td>
            <td class="table__cell">bat.bing.com</td>
            <td class="table__cell">
                Used by Bing to register and report the website user's
                actions after viewing or clicking one of the advertiser's
                ads with the purpose of measuring the efficacy of an ad and
                to present targeted ads to the user
            </td>
            <td class="table__cell">1 year</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">MUIDB</td>
            <td class="table__cell">bat.bing.com</td>
            <td class="table__cell">
                Used by Bing to register and report the website user's
                actions after viewing or clicking one of the advertiser's
                ads with the purpose of measuring the efficacy of an ad and
                to present targeted ads to the user
            </td>
            <td class="table__cell">1 year</td>
            <td class="table__cell">HTTP</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">_fbp</td>
            <td class="table__cell">facebook.com</td>
            <td class="table__cell">
                This cookie will help deliver our advertising to people who
                have already visited our website when they are on Facebook
                or a digital platform powered by Facebook Advertising
            </td>
            <td class="table__cell">session</td>
            <td class="table__cell">HTTP</td>
        </tr>

    </tbody>
</table>