@{
    ViewBag.Title = "Cookies on this website";
    ViewBag.PageTitle = "Cookies on this website";
    ViewBag.MetaDesc = "";
    Layout = "Redesign_Layout_Generic";
}

<div class="fiu-notification fiu-cookie-settings__confirmation" data-cookie-confirmation="true" tabindex="0">
   <section aria-live="polite">
      <h2 class="fiu-notification__heading">Preferences saved</h2>
      <p class="fiu-notification__body">Your cookie preferences have been updated</p>
   </section>
</div>
<p class="govuk-body">
   Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
   <p class="govuk-body">
We use cookies to store information about how you use this website, such as the pages you visit.
</p>
<div class="fiu-js-hide">
   <p class="govuk-body">We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>
   <ul role="list" class="govuk-list govuk-list--bullet">
      <li role="listitem">reloading the page</li>
      <li role="listitem">turning on Javascript in your browser</li>
   </ul>
</div>
<div class="fiu-js-show">
   <p class="govuk-body">We use 3 types of cookie. You can choose which cookies you're happy for us to use.</p>
   <form data-module="cookie-settings-shared" novalidate>
      <div class="govuk-form-group">
            <h2 class="govuk-heading-l">Cookies that measure website use</h2>
            <div id="hint-cookie-1">
               <p class="govuk-body">We use Google Analytics to measure how you use the webservice so we can improve it based on user needs. We do not allow Google to use or share the data about how you use this service.</p>
               <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>
               <ul role="list" class="govuk-list govuk-list--bullet">
                  <li role="listitem">how you got to the service</li>
                  <li role="listitem">the pages you visit on <a href="https://www.gov.uk/" target="_blank" class="fiu-link">GOV.UK</a> and government digital services, and how long you spend on each page</li>
                  <li role="listitem">what you click on while you're visiting the service</li>
               </ul>
               <p class="govuk-body">Cookies may be set by other third-party services to do things like measure how you view YouTube videos that are on the service.</p>
               <p class="govuk-body">If you have an account with other services provided by the Education and Skills Funding Agency, the information collected using analytics cookies will be linked to your account. This will help us make the service work better for you.</p>
            </div>
            <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">            Do you want to accept cookies that measure website use?</legend>

            <div class="govuk-radios">
               <div class="govuk-radios__item">
                  <input type="radio" name="cookies-usage" id="radio-cookie-analytics-0" value="on" class="govuk-radios__input">
                  <label for="radio-cookie-analytics-0" class="govuk-label govuk-radios__label">Yes</label>
               </div>
               <div class="govuk-radios__item">
                  <input type="radio" name="cookies-usage" id="radio-cookie-analytics-1" value="off" class="govuk-radios__input">
                  <label for="radio-cookie-analytics-1" class="govuk-label govuk-radios__label">No</label>
               </div>
            </div>
         </fieldset>
      </div>
      <hr class="fiu-section-break fiu-section-break--l">
      <div class="govuk-form-group">
         
            <h2 class="govuk-heading-l">Cookies that help with our communications and marketing</h2>
            <div id="hint-cookie-2">
               <p class="govuk-body">These cookies help us improve the relevancy of advertising campaigns you receive from us.</p>
               <p class="govuk-body">We also share information about your use of this service with our social media, advertising and analytics partner. They combine it with other information that they&rsquo;ve collected from your use of our services to guide the advertising that you receive.</p>
            </div>
            <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">            Do you want to accept cookies that help with our communications and marketing?</legend>

               <div class="govuk-radios">
                  <div class="govuk-radios__item">
                     <input type="radio" name="cookies-campaigns" id="radio-cookie-marketing-0" value="on" class="govuk-radios__input">
                     <label for="radio-cookie-marketing-0" class="govuk-label govuk-radios__label">Yes</label>
                  </div>
                  <div class="govuk-radios__item">
                     <input type="radio" name="cookies-campaigns" id="radio-cookie-marketing-1" value="off" class="govuk-radios__input">
                     <label for="radio-cookie-marketing-1" class="govuk-label govuk-radios__label">No</label>
                  </div>
               </div>
            </fieldset>
      </div>
      <hr class="fiu-section-break fiu-section-break--l">
      <h2 class="govuk-heading-l">Strictly necessary cookies</h2>
      <p class="govuk-body">These essential cookies remember:</p>
      <ul role="list" class="govuk-list govuk-list--bullet">
         <li role="listitem">your progress through a form (for example a licence application)</li>
         <li role="listitem">the notifications you've seen so we do not show them to you again</li>
      </ul>
      <p class="govuk-body">They always need to be on.</p>
      <p class="govuk-body">Find out more about <a asp-controller="Home" asp-action="CookieDetails" class="fiu-link">cookies on this website</a>.</p>
      <hr class="fiu-section-break fiu-section-break--l">
      <button class="fiu-button" type="submit">Save changes</button>
   </form>
</div>