@model string

@{
    ViewBag.Title = "Error " + Model;
    Layout = "_LayoutContent";
}
<div class="error_content">
    <hr />
    <p>
        Looks like something went a bit wrong on our end.
        Please head back to the homepage or alternatively head to any of the links below that may be able to help you...
    </p>
    <hr />
</div>
<div class="grid-row">
    <div class="grid-column-one-half">
        <ul class="list error__list list--apprentice">
            <li>
                <a>What is an apprenticeship</a>
                <p>Have you wondered what’s in it for you?  </p>
            </li>
            <li>
                <a>Find an apprenticeship</a>
                <p>If you don’t know what career you want to do.... consider an apprenticeship and open up your potential</p>
            </li>

            <li>
                <a>Application</a>
                <p>Take a look at what it takes to make a great apprentice</p>
            </li>
            <li>
                <a>Interview</a>
                <p>Have a look at the different sectors and case studies to help you choose the right apprenticeship. </p>
            </li>
            <li>
                <a>Your apprenticeship</a>
                <p>Some text here</p>
            </li>
            <li>
                <a>Assessment and qualification</a>
                <p>Some text here</p>
            </li>
        </ul>
    </div>

    <div class="grid-column-one-half">
        <ul class="list error__list list--employer">
            <li>
                <a>How much is it going to cost</a>
                <p>Some text here</p>
            </li>
            <li>
                <a>The right apprentice</a>
                <p>Some text here</p>
            </li>
            <li>
                <a>Choose a training provider</a>
                <p>Some text here</p>
            </li>
            <li>
                <a>Hire an apprentice</a>
                <p>Some text here</p>
            </li>
            <li>
                <a>Preparing and monitoring</a>
                <p>Some text here</p>
            </li>
            <li>
                <a>Assessment and qualification</a>
                <p>Some text here</p>
            </li>
        </ul>
    </div>
</div>