@model string

@{
    ViewBag.Title = "Error " + Model;
    ViewBag.PageID = "error";
    ViewBag.MetaTitle = "error";
    ViewBag.MetaDesc = "";
    Layout = "_LayoutContent";
}

<main id="main-content" class="main-content">
<div class="grid-row">
    <div class="grid-column">
        <div class="error_content">
            <h1 class="heading-m">Page not found</h1>
            <hr />
            <p>
                Looks like something went a bit wrong on our end.
                Please head back to the homepage or alternatively head to any of the links below that may be able to help you...
            </p>
            <hr />
        </div>
        <div class="grid-row">
            <div class="grid-column-one-half">
                <ol class="list error__list list--apprentice">
                    <li>
                        <a>What is an apprenticeship</a>
                    </li>
                    <li>
                        <a>Find an apprenticeship</a>
                    </li>

                    <li>
                        <a>Application</a>
                    </li>
                    <li>
                        <a>Interview</a>
                    </li>
                    <li>
                        <a>Your apprenticeship</a>
                    </li>
                    <li>
                        <a>Assessment and qualification</a>
                    </li>
                </ol>
            </div>

            <div class="grid-column-one-half">
                <ol class="list error__list list--employer">
                    <li>
                        <a>How much is it going to cost</a>
                    </li>
                    <li>
                        <a>The right apprentice</a>
                    </li>
                    <li>
                        <a>Choose a training provider</a>
                    </li>
                    <li>
                        <a>Hire an apprentice</a>
                    </li>
                    <li>
                        <a>Preparing and monitoring</a>
                    </li>
                    <li>
                        <a>Assessment and qualification</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
</main>
