@{
    Layout = "_Layout-campaign";
    ViewBag.Title = "Find an apprenticeship to suit your business or further your career";
    ViewBag.PageID = "homepage";
    ViewBag.MetaDesc = "Everything you need to know about how apprenticeships can fire up your career or organisation.";
}
<main id="main-content">
    <section class="launcher__wrap">
        <div class="grid-row-full-width">
            <div class="grid-column-full-width-one-half">
                <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship" class="launcher__link-wrap">
                    <div class="launcher launcher--apprentice">
                        <div class="launcher__content">
                            <h1 class="homepage-title homepage-title--relative">Fire <span>it up</span></h1>
                            
                            <h2 class="launcher__section-heading">Apprentices</h2>

                            <h3 class="launcher__heading">Blaze your own trail and become an apprentice</h3>
                            <p class="launcher__intro">
                                Find out what you need to do to become an apprentice, what
                                careers are available and which employers are offering them.
                            </p>
                            <p class="launcher__link"><span>Become an apprentice</span></p>

                        </div>
                        <span class="launcher__bg"></span>
                    </div>
                </a>
            </div>
            <div class="grid-column-full-width-one-half">
                <a asp-controller="Employer" asp-action="HowMuchIsItGoingToCost" class="launcher__link-wrap">
                    <div class="launcher launcher--employer">
                        <div class="launcher__content">
                            
                            <h2 class="launcher__section-heading">Employers</h2>

                            <h3 class="launcher__heading">Fire up your business with an apprentice</h3>
                            <p class="launcher__intro">
                                Employing an apprentice is easier than you think and
                                there's financial help and support available from the government.
                            </p>
                            <p class="launcher__link"><span>Hire an apprentice</span></p>

                        </div>
                        <span class="launcher__bg"></span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="grid-row hero-banner hero-banner--apprentice hero-banner--right-aligned">
        <div class="grid-column-full">
            <h2 class="hero-banner__caption">
                <span class="hero-banner__caption-icon"></span>
                <span class="hero-banner__caption-text">Real apprentice stories</span>
            </h2>
            <div class="grid-row hero-banner__content">
                <script type="application/ld+json">
                    {
                    "@@context": "http://schema.org",
                    "@@type": "VideoObject",
                    "name": "Hosanna - Royal Opera House Apprentice",
                    "description": "Hosanna tells her apprenticeship story as part of the new Fire It Up apprenticeship campaign.",
                    "thumbnailUrl": "https://i.ytimg.com/vi/frWp3wP4IDo/hqdefault.jpg",
                    "uploadDate": "2019-01-17T09:17:39.000Z",
                    "duration": "PT58S",
                    "contentUrl": "https://www.youtube.com/embed/frWp3wP4IDo"
                    }
                </script>
                <div class="grid-column-one-half  hero-banner__icon-play-container">
<<<<<<< HEAD
                    <a class="hero-banner__icon-play" href="https://youtu.be/frWp3wP4IDo" aria-label="Play the 'Get the Confidence, Grab the Career' video" id="play-1" data-module="videoPlayer" data-playerclass="video-player--apprentice" data-videoplayerid="plyr-1" data-videourl="https://www.youtube.com/embed/frWp3wP4IDo?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
=======

                    <a href="https://youtu.be/frWp3wP4IDo" id="play-1" data-module="videoPlayer"
                       data-playerclass="video-player--apprentice" data-videoplayerid="plyr-1"
                       data-videourl="https://www.youtube.com/embed/frWp3wP4IDo?origin=https://www.apprenticeships.gov.uk&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                       class="">

                        <img src="https://i.ytimg.com/vi/frWp3wP4IDo/maxresdefault.jpg" class="video-player__thumbnail" alt="Hosanna - Royal Opera House Apprentice" />
                        <span class="hero-banner__icon-play"></span>
                    </a>
>>>>>>> master
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <p class="hero-banner__header">Get the confidence, grab the career.</p>
                    <p class="hero-banner__copy">
                        "I found the confidence I needed to take the apprenticeship,
                        because I knew theatre is what I loved and where I wanted to be."
                    </p>
                    <div class="hero-banner__cite">Hosanna <span class="hero-banner__cite-detail">18, Royal Opera House Apprentice, London</span></div>
                    <a asp-controller="RealStories" asp-action="Apprentice" class="hero-banner__link">View more apprentice stories</a>
                </div>
            </div>
            <span class="hero-banner__background hero-banner__background--apprentice-hosanna"></span>
        </div>
    </div>
    <div class="grid-row hero-banner hero-banner--employer cssmask-remove">
        <div class="grid-column-full">
            <h2 class="hero-banner__caption">
                <span class="hero-banner__caption-icon"></span>
                <span class="hero-banner__caption-text">Real employer stories</span>
            </h2>
            <div class="grid-row hero-banner__content">
                <script type="application/ld+json">
                    {
                    "@@context": "http://schema.org",
                    "@@type": "VideoObject",
                    "name": "NHS Cromer Hospital Norfolk - Apprentice Employer",
                    "description": "Annie from the NHS explains how apprentices have been a success for Cromer Hospital as part of the new FireItUp apprenticeships campaign.",
                    "thumbnailUrl": "https://i.ytimg.com/vi/jAoi3oE8klw/hqdefault.jpg",
                    "uploadDate": "2019-01-17T09:17:46.000Z",
                    "duration": "PT1M3S",
                    "contentUrl": "https://www.youtube.com/embed/jAoi3oE8klw"
                    }
                </script>
                <div class="grid-column-one-half  hero-banner__icon-play-container">
<<<<<<< HEAD
                    <a class="hero-banner__icon-play" href="http://youtu.be/jAoi3oE8klw" aria-label="Play the 'A real win-win for businesses, large and small' video" id="play-2" data-module="videoPlayer" data-playerclass="video-player--employer" data-videoplayerid="plyr-2" data-videourl="https://www.youtube.com/embed/jAoi3oE8klw?origin=https://@(Context.Request.Host.Value)&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"></a>
=======
                    <a href="http://youtu.be/jAoi3oE8klw" id="play-2" data-module="videoPlayer"
                       aria-label="Play the ‘Get the Confidence, Grab the Career’ video"
                       data-playerclass="video-player--employer" data-videoplayerid="plyr-2"
                       data-videourl="https://www.youtube.com/embed/jAoi3oE8klw?origin=https://www.apprenticeships.gov.uk&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1">

                        <img src="https://i.ytimg.com/vi/jAoi3oE8klw/maxresdefault.jpg" class="video-player__thumbnail" alt="NHS Cromer Hospital Norfolk - Apprentice Employer" />
                        <span class="hero-banner__icon-play"></span>
                    </a>
>>>>>>> master
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <p class="hero-banner__header">A real win-win for businesses, large and small.</p>
                    <p class="hero-banner__copy">
                        "The business, the organisation, and our managers here know the value that someone
                        who has gone through an apprenticeship brings."
                    </p>
                    <p class="hero-banner__cite">
                        Annie Cook
                        <span class="hero-banner__cite-detail">
                            NHS Career Development Coordinator, Norfolk
                        </span>
                    </p>
                    <a asp-controller="RealStories" asp-action="Employer" class="hero-banner__link">View more employer stories</a>
                </div>
            </div>
            <span class="hero-banner__background hero-banner__background--employer-annie"></span>
        </div>
    </div>
</main>

@section HeadScripts {
    <script type="application/ld+json">
        {
           "@@context":"https://schema.org",
           "@@type":"Organization",
           "name":"Education and Skills Funding Agency",
           "legalName":"Education and Skills Funding Agency",
           "url":"https://www.apprenticeships.gov.uk/",
           "logo":"https://das-prd-frnt-end.azureedge.net/campaign/images/apprenticeships-logo-black.png",
           "address":{
              "@@type":"PostalAddress",
              "streetAddress":"Cheylesmore House, 5 Quinton Rd",
              "addressLocality":"Coventry",
              "addressRegion":"West Midlands",
              "postalCode":"CV1 2WT",
              "addressCountry":"GB"
           },
           "contactPoint":{
              "@@type":"ContactPoint",
              "contactType":"National helpdesk",
              "telephone":"0800 015 0400",
              "email":"nationalhelpdesk@findapprenticeship.service.gov.uk"
           },
           "sameAs": [
            "https://twitter.com/fireitup_apps",
            "https://www.facebook.com/FireItUpApps/",
            "https://www.instagram.com/fireitupapps/"
           ]
        }
      </script>
}