@{
    ViewBag.Title = "Apprenticeships";
    ViewBag.MetaDesc = "Everything you need to know about how apprenticeships can fire up your career or organisation.";
    ViewBag.PageID = "homepage";
    Layout = "Redesign_Layout";
    ViewBag.HomePage = true;
}

@if (Model.BannerModels != null && Model.BannerModels.Count > 0)
{
    foreach (var banner in Model.BannerModels)
    {
        <partial name="./Banners/_Banner_UserNoHide" model="banner" />
        <partial name="./Banners/_Banner_UserCanHide" model="banner" />
    }
}

<main id="main" class="fiu-main-wrapper">
    <div class="fiu-page-header">
        <div class="fiu-width-container">
            <div class="fiu-page-header__image-wrap">
                <partial name="_Navigation" model="@("home")" />
                <div class="fiu-page-header__image" style="background-image: url(/images/homepage-background.jpg)">
                    <span class="fiu-page-header__image-mask"></span>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half fiu-page-header__wrap">
                        <h1 class="govuk-heading-xl fiu-page-heading__title govuk-!-margin-top-5">
                            Your guide to apprenticeships
                        </h1>
                        <p class="fiu-page-header__content--l">
                            With over 700 available - from construction to digital, legal to care services - we’ll help you choose what’s best for you or your business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fiu-grad-row fiu-homepage-card-container">
        <span class="fiu-grad-row__bg"></span>
        <div class="fiu-width-container">
            <div class="govuk-grid-row fiu-flex-row">
                <div class="govuk-grid-column-one-half">
                    <a class="fiu-card-homepage" href="/apprentices">
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--apprentices fiu-panel__tag">Apprentices</strong>
                        </div>
                        <h2 class="govuk-heading-l fiu-panel-homepage__heading">Become an apprentice</h2>
                        <p class="fiu-card__content govuk-!-font-size-24">What an apprenticeship is, how to find the right one and get support as an apprentice. </p>
                    </a>
                </div>
                <div class="govuk-grid-column-one-half">
                    <a class="fiu-card-homepage fiu-card-homepage--employers" href="/employers">
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--employers fiu-panel__tag">Employers</strong>
                        </div>
                        <h2 class="govuk-heading-l fiu-panel-homepage__heading">Hire an apprentice</h2>
                        <p class="fiu-card__content govuk-!-font-size-24">Find out how to hire an apprentice or train an existing employee.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="fiu-width-container">
            <partial name="Panels/_FindAnApprenticeship" />
        </div>
        <div class="fiu-width-container">
            <div class="fiu-grid-layout fiu-grid-layout--5 fiu-card-group">
                <a class="fiu-card" href="/apprentices/employer-profiles">
                    <div class="fiu-card__body">
                        <h3 class="fiu-card__heading">What employers hire apprentices?</h3>
                        <p class="fiu-card__content">See some employers who offer apprenticeships.</p>
                    </div>
                </a>
                <a class="fiu-card" href="/apprentices/join-the-apprenticeship-ambassador-network-as-an-apprentice">
                    <div class="fiu-card__body">
                        <h3 class="fiu-card__heading">Connect with apprentices and employers</h3>
                        <p class="fiu-card__content">Join the Apprenticeship Ambassador Network. </p>
                    </div>
                </a>
                <a class="fiu-card" href="/apprentices/resource-hub">
                    <div class="fiu-card__body">
                        <h3 class="fiu-card__heading">Resources to inspire and help future apprentices</h3>
                        <p class="fiu-card__content">Get posters, presentations and guides to interviews and applications.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
