
@{
    ViewBag.Title = "Apprenticeships";
    ViewBag.MetaDesc = "Everything you need to know about how apprenticeships can fire up your career or organisation.";
    ViewBag.PageID = "homepage";
    Layout = "Redesign_Layout";
    ViewBag.HomePage = true;
}

<nav class="fiu-navigation" data-fiu-navigation="true">
    <div class="govuk-width-container">
        <a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav fiu-navigation__nav--homepage" data-fiu-nav-menu="true">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-citizens">Apprentices</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                @foreach (var menuItem in Model.Menu.Apprentices)
                {
                    <li class="fiu-navigation__list-item"><a href="/@menuItem.Hub.ToString().ToLower()/@menuItem.Slug" class="fiu-navigation__link">@menuItem.Title</a> </li>
                }
            </ul>
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-employers">Employers</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-employers">
                @foreach (var menuItem in Model.Menu.Employers)
                {
                    <li class="fiu-navigation__list-item"><a href="/@menuItem.Hub.ToString().ToLower()/@menuItem.Slug" class="fiu-navigation__link">@menuItem.Title</a> </li>
                }
            </ul>
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-influencers">Influencers</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-influencers">
                @foreach (var menuItem in Model.Menu.Influencers)
                {
                    <li class="fiu-navigation__list-item"><a href="/@menuItem.Hub.ToString().ToLower()/@menuItem.Slug" class="fiu-navigation__link">@menuItem.Title</a> </li>
                }
            </ul>
        </nav>
    </div>
</nav>
@if (Model.BannerModels != null && Model.BannerModels.Count > 0)
{
    foreach (var banner in Model.BannerModels)
    {
        <partial name="./Banners/_Banner_UserNoHide" model="banner" />
        <partial name="./Banners/_Banner_UserCanHide" model="banner" />
    }
}
<main id="main" class="fiu-main-wrapper fiu-main-wrapper--homepage">
    <div class="fiu-page-header fiu-page-header--homepage">
        <div class="fiu-width-container">
            <div class="fiu-page-header__image-wrap">
                <span class="fiu-page-header__image-mask"></span>
                <img src="/fiu/assets/images/design/homepage-background.jpg" alt="" class="fiu-page-header__image fiu-fade-in" />
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds fiu-page-header__wrap">
                    <h1 class="govuk-heading-xl fiu-page-heading__title ">
                        Connecting people with ambition to businesses with vision
                    </h1>
                    <img class="fiu-page-header__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
                </div>
            </div>
        </div>
    </div>
    <div class="fiu-grad-row fiu-homepage-card-container">
        <span class="fiu-grad-row__bg"></span>
        <div class="fiu-width-container">
            <div class="govuk-grid-row fiu-flex-row">
                <div class="govuk-grid-column-one-third">
                    <div class="fiu-panel-homepage">
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--citizens fiu-panel__tag">Apprentices</strong>
                            <h2 class="govuk-heading-l fiu-panel-homepage__heading">Become an apprentice</h2>
                        </div>
                        <p class="fiu-panel-homepage__content">Everything you need to know about becoming an apprentice</p>
                        <a href="/apprentices" id="fiu-homepage-link-app-hub" class="fiu-button fiu-button--citizens fiu-panel-homepage__button">Learn more <span class="fiu-vh">becoming an apprentice</span></a>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="fiu-panel-homepage">
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--employers fiu-panel__tag">Employers</strong>
                            <h2 class="govuk-heading-l fiu-panel-homepage__heading">Hire an apprentice</h2>
                        </div>
                        <p class="fiu-panel-homepage__content">Find out how to hire an apprentice and what you need to do</p>
                        <a href="/employers" id="fiu-homepage-link-emp-hub" class="fiu-button fiu-button--employers fiu-panel-homepage__button">Learn more <span class="fiu-vh">about hiring an apprentice</span></a>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="fiu-panel-homepage">
                        <div class="fiu-feature-text">
                            <strong class="fiu-tag fiu-tag--parents fiu-panel__tag">Influencers</strong>
                            <h2 class="govuk-heading-l fiu-panel-homepage__heading">Inspire and influence</h2>
                        </div>
                        <p class="fiu-panel-homepage__content">Guidance and information to help you support the apprentices of tomorrow</p>
                        <a href="/influencers" id="fiu-homepage-link-inf-hub" class="fiu-button fiu-button--influencers fiu-panel-homepage__button">Learn more <span class="fiu-vh">about inspiring future apprentices</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="./Banners/_BlazeYourOwnTrail" />
    <div class="fiu-homepage-row-highlight">
        <div class="fiu-width-container">
            <div class="govuk-grid-row fiu-flex-row">
                <div class="govuk-grid-column-one-third">
                    <div class="fiu-card fiu-card--with-image">
                        <span class="fiu-card__image fiu-card__image--influencers fiu-card__image--resources"></span>
                        <div class="fiu-card__content-wrap">
                            <h3 class="fiu-card__heading">Browse the resource hub </h3>
                            <p class="fiu-card__content">Explore a range of resources designed to help inspire and support the apprentices of tomorrow. </p>
                            <a href="/influencers/resource-hub" class="fiu-card__link" id="fiu-homepage-link-inf-resources">Learn more <span class="fiu-vh">about the resource hub</span></a>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="fiu-card fiu-card--with-image">
                        <span class="fiu-card__image fiu-card__image--influencers fiu-card__image--aan"></span>
                        <div class="fiu-card__content-wrap">
                            <h3 class="fiu-card__heading">What is the Apprenticeship Ambassador Network?</h3>
                            <p class="fiu-card__content">An inspiring network of employers and current and former apprentices who volunteer their time to inspire and inform future apprentices. </p>
                            <a href="/influencers/what-is-the-aan" class="fiu-card__link" id="fiu-homepage-link-inf-ambassadors">Find out how to join <span class="fiu-vh">the AAN</span></a>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="fiu-card fiu-card--with-image">
                        <span class="fiu-card__image fiu-card__image--influencers fiu-card__image--naw-2024"></span>
                        <div class="fiu-card__content-wrap">
                            <h3 class="fiu-card__heading">National Apprenticeship Week 2024</h3>
                            <p class="fiu-card__content">The 17th annual week-long celebration of apprenticeships will be taking place across England between 5 - 11 February 2024.</p>
                            <a href="/influencers/national-apprenticeship-week" class="fiu-card__link" id="fiu-homepage-link-inf-resources">Learn more <span class="fiu-vh">about the National Apprenticeship Week 2024</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>