
@{
    ViewBag.Title = "Find an apprenticeship to suit your business or further your career";
    ViewBag.MetaDesc = "Everything you need to know about how apprenticeships can fire up your career or organisation.";
    Layout = "Redesign_Layout";
}

<h1>Apprenticeships</h1>
<p>Connecting people with ambition to businesses with vision</p>

<a asp-controller="Hub" asp-action="Apprentices">
    <div style="border: dimgrey 2px solid">
        <p>Apprentices</p>
        <h2>Become an apprentice</h2>
        <p>Everything you need to know about becoming an apprentice</p>
        <p>Learn more</p>
    </div>
</a>

<a asp-controller="Hub" asp-action="Employers">
    <div style="border: dimgrey 2px solid">
        <p>Employers</p>
        <h2>Hire an apprentice</h2>
        <p>Find out how to hire an apprentice and what you need to do</p>
        <p>Learn more</p>
    </div>
</a>