
@{
    ViewBag.Title = "Find an apprenticeship to suit your business or further your career";
    ViewBag.MetaDesc = "Everything you need to know about how apprenticeships can fire up your career or organisation.";
    Layout = "Redesign_Layout";
}

    <partial name="./Components/Banners/CovidBanner"/>

<nav class="fiu-navigation" data-fiu-navigation="true">
	<div class="govuk-width-container">
		<a href="#navigation" class="fiu-navigation__toggle" data-fiu-nav-toggle="true">
            <span class="fiu-navigation__toggle-label" id="nav-label">Menu</span>
            <span class="fiu-navigation__toggle-icon"></span>
        </a>
        <nav class="fiu-navigation__nav fiu-navigation__nav--homepage" data-fiu-nav-menu="true">
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-citizens">Apprentices</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-citizens">
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Are apprenticeship right for you?</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">How do they work?</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Setting it up</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Guides</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Find the right apprenticeship</a> </li>
            </ul>
            <h3 class="govuk-heading-s fiu-navigation__heading" id="fiu-nav-title-employers">Employers</h3>
            <ul class="fiu-navigation__list" aria-labelledby="fiu-nav-title-employers">
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Are apprenticeship right for you?</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">How do they work?</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Setting it up</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Guides</a> </li>
                <li class="fiu-navigation__list-item"><a href="#" class="fiu-navigation__link">Find the right apprenticeship</a> </li>
            </ul>
		</nav>
	</div>
</nav>

<main id="main" class="fiu-main-wrapper">
	<div class="fiu-homepage-banner">
		<div class="fiu-width-container">
			<h1 class="fiu-homepage-banner__heading fiu-feature-text">Apprenticeships</h1>
			<p class="fiu-homepage-banner__content">
				Connecting people with ambition
				<span class="fiu-homepage-banner__content-line-break">to business with vision</span>
			</p>
			<img class="fiu-homepage-banner__hm-logo" src="/fiu/assets/images/hm-government-logo.svg" alt="HM Government logo" />
		</div>
	</div>
	<div class="fiu-feature-row">
		<div class="fiu-width-container">
			<div class="govuk-grid-row fiu-flex-row govuk-!-margin-bottom-0">
				<div class="govuk-grid-column-one-half">
					<div class="fiu-panel-homepage">
						<div class="fiu-feature-text">
							<strong class="fiu-tag fiu-tag--citizens fiu-panel__tag">Apprentices</strong>
							<h2 class="govuk-heading-xl fiu-panel-homepage__heading">Become an apprentice</h2>
						</div>
						<p class="fiu-panel-homepage__content">Everything you need to know about becoming an apprentice</p>
						<a asp-controller="Hub" asp-action="Apprentices" class="fiu-button fiu-button--citizens fiu-button--sparks fiu-panel-homepage__button">Learn more</a>
						<ul class="govuk-list">
							<li><a href="#" class="fiu-link--citizens">Are apprenticeship right for you?</a> </li>
							<li><a href="#" class="fiu-link--citizens">How do they work?</a> </li>
							<li><a href="#" class="fiu-link--citizens">Getting started</a> </li>
							<li><a href="#" class="fiu-link--citizens">Find an apprenticeship</a> </li>
						</ul>
					</div>
				</div>
				<div class="govuk-grid-column-one-half">
					<div class="fiu-panel-homepage">
			            <div class="fiu-feature-text">
			                <strong class="fiu-tag fiu-tag--employers fiu-panel__tag">Employers</strong>
			                <h2 class="govuk-heading-xl fiu-panel-homepage__heading">Hire an apprentice</h2>
			            </div>
			            <p class="fiu-panel-homepage__content">Find out how to hire an apprentice and what you need to do</p>
			            <a asp-controller="Hub" asp-action="Employers" class="fiu-button fiu-button--employers fiu-button--sparks fiu-panel-homepage__button">Learn more</a>
			            <ul class="govuk-list">
                            <li><a href="#" class="fiu-link--employers-light">Are apprenticeship right for you?</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">How do they work?</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">Setting it up</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">Guides</a> </li>
                            <li><a href="#" class="fiu-link--employers-light">Find the right apprenticeship</a> </li>
                        </ul>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div class="fiu-grad-row">
		<span class="fiu-grad-row__bg"></span>
		<div class="fiu-width-container">
			<div class="govuk-grid-row fiu-flex-row">
				<div class="govuk-grid-column-one-quarter">
                    <div class="fiu-card">
                        <span class="fiu-card__category">
                            <a class="fiu-card__category-link" href="/fiu/landing">Getting started</a>
                        </span>
                        <h3 class="fiu-card__heading">Find an apprenticeship</h3>
                        <p class="fiu-card__content">Quisque libero quam, tristique eu urna a, dictum commodo nibh. Integer vel mattis nunc, sit amet condimentum lacus. </p>
                        <a href="/fiu/article" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                    </div>
				</div>
				<div class="govuk-grid-column-one-quarter">
                    <div class="fiu-card">
                        <span class="fiu-card__category">
                            <a class="fiu-card__category-link" href="/fiu/landing">Are apprenticeships right for me?</a>
                        </span>
                        <h3 class="fiu-card__heading">What are the benefits for me?</h3>
                        <p class="fiu-card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis hendrerit sem at porta. Vivamus eu sollicitudin eros, tincidunt viverra metus.</p>
                        <a href="/fiu/article" class="fiu-card__link fiu-card__link--citizens">Learn more</a>
                    </div>
			    </div>
			    <div class="govuk-grid-column-one-quarter">
                    <div class="fiu-card">
                        <span class="fiu-card__category">
                            <a class="fiu-card__category-link" href="/fiu/landing">How do they work?</a>
                        </span>
                        <h3 class="fiu-card__heading">Funding an apprenticeship</h3>
                        <p class="fiu-card__content">Quisque libero quam, tristique eu urna a, dictum commodo nibh. Integer vel mattis nunc, sit amet condimentum lacus. </p>
                        <a href="/fiu/article" class="fiu-card__link fiu-card__link--employers">Learn more</a>
                    </div>
			    </div>
			    <div class="govuk-grid-column-one-quarter">
                    <div class="fiu-card">
                        <span class="fiu-card__category">
                            <a class="fiu-card__category-link" href="/fiu/landing">Setting it up</a>
                        </span>
                        <h3 class="fiu-card__heading">Find the right apprenticeship</h3>
                        <p class="fiu-card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis hendrerit sem at porta. Vivamus eu sollicitudin eros, tincidunt viverra metus.</p>
                        <a href="/fiu/article" class="fiu-card__link fiu-card__link--employers">Learn more</a>
                    </div>
			    </div>
			</div>
		</div>
	</div>
</main>