@{
    Layout = "_Layout-campaign";
    ViewBag.Title = "Employ an apprentice and become an apprentice";
    ViewBag.PageID = "homepage";
    ViewBag.MetaDesc = "Everything you need to know about apprenticeships from an employer and citizen point of view.";
}

<section class="launcher__wrap">
    <div class="grid-row-full-width">
        <div class="grid-column-full-width-one-half">
            <a href="/apprentice/what-is-an-apprenticeship" class="launcher__link-wrap">
                <div class="launcher launcher--apprentices">
                    <div class="launcher__content">
                        <h1 class="launcher__section-heading">Apprentices</h1>

                        <h2 class="launcher__heading">Blaze your own trail and become an apprentice</h2>
                        <p class="launcher__intro">Find out what you need to do to become an apprentice, what 
                            careers are available and which employers are offering them. </p>
                        <p class="launcher__link">Become an apprentice</p>

                    </div>
                    <span class="launcher__bg"></span>
                </div>
            </a>
        </div>
        <div class="grid-column-full-width-one-half">
            <a href="/employer/how-much-is-it-going-to-cost" class="launcher__link-wrap">
                <div class="launcher launcher--employer">
                    <div class="launcher__content">
                        <h1 class="launcher__section-heading">Employers</h1>

                        <h2 class="launcher__heading">Take on an apprentice</h2>
                        <p class="launcher__intro">Employing an apprentice is easier than you think and 
                            there's financial help and support available from the government.</p>
                        <p class="launcher__link">Hire an apprentice</p>

                    </div>
                    <span class="launcher__bg"></span>
                </div>
            </a>
        </div>
    </div>
</section>


    <div class="grid-row hero-banner hero-banner--apprentice hero-banner--right-aligned">
        <div class="grid-column-full">
            <div class="hero-banner__caption">
                <span class="hero-banner__caption-icon"></span>
                <span class="hero-banner__caption-text">Real apprentice stories</span>
            </div>
            <div class="grid-row hero-banner__content">
                <div class="grid-column-one-half  hero-banner__icon-play-container">
                    <div class="hero-banner__icon-play"></div>
                </div>
                <div class="grid-column-one-half hero-banner__content-main">
                    <h3 class="hero-banner__header">Valuable hands-on experience</h3>
                    <p class="hero-banner__copy">
                        "FICTION: I didn't think university was for me. I saw a lot of my friends
                        struggling to make ends meet - I didn't want the debt and I was desperate to get the hands-on experience."
                    </p>
                    <div class="hero-banner__cite">Sarah Bloggs <span class="hero-banner__cite-detail">33, Designer, Manchester</span></div>
                    <a class="hero-banner__link" href="#">View more apprentice stories</a>
                </div>
            </div>
            <span class="hero-banner__background"></span>
        </div>
    </div>


<div class="grid-row hero-banner hero-banner--employer">
    <div class="grid-column-full">
        <div class="hero-banner__caption">
            <span class="hero-banner__caption-icon"></span>
            <span class="hero-banner__caption-text">Real employer stories</span>
        </div>
        <div class="grid-row hero-banner__content">
            <div class="grid-column-one-half  hero-banner__icon-play-container">
                <div class="hero-banner__icon-play"></div>
            </div>
            <div class="grid-column-one-half hero-banner__content-main">
                <h3 class="hero-banner__header">Good candidates</h3>
                <p class="hero-banner__copy">
                    "FICTION: At 'Wates' we wanted to train good candidates and give them the opportunity to work in 
                    this exciting organisation which continues to grow and prosper."
                </p>
                <p class="hero-banner__cite">Wates Smartspace <span class="hero-banner__cite-detail">Site management trainee, 
                    Birmingham</span></p>
                <a class="hero-banner__link" href="#">View more employer stories</a>
            </div>
        </div>
        <span class="hero-banner__background"></span>
    </div>
</div>