@{
    Layout = "_LayoutContent";
    ViewBag.Title = "Privacy notice";
    ViewBag.PageID = "privacy";
    ViewBag.MetaTitle = "Privacy notice";
    ViewBag.MetaDesc = "";
}

<h2 class="heading-m">How we use your personal information</h2>
<p>The Fire it Up campaign is delivered by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE). This privacy notice explains how we use your personal information. For the purposes of relevant data protection legislation, the DfE is the data controller for personal information processed. For more detailed information on how we handle your personal information see the <a href="https://www.gov.uk/government/publications/esfa-privacy-notice" target="_blank" rel="noopener">ESFA: privacy notice</a>.</p>
<p>We use your personal information so the DfE can provide you with information regarding apprenticeships. Providing you with this information requires us to directly market to you. Therefore DfE requires your explicit consent.</p>
<p>When you provide us with details via the website, the personal information you give us will be used:</p>
<ul class="list list--bullet">
    <li>To provide you with information regarding apprenticeships</li>
</ul>
<h3 class="heading-s">How long we hold your data</h3>
<p>We will hold your personal data for the life of the marketing campaign or for 2 years, whichever is shorter. Unless you request that we delete your data.</p>
<h3 class="heading-s">Who we share your personal information with</h3>
<p>Your personal data may be shared internally for the purpose of statistical analysis. Your personal data will not be shared externally by the DfE unless we are legally obliged to.</p>
<h3>Your individual rights</h3>
<p>The law gives you certain rights with regards to your data, including:</p>
<ul class="list list--bullet">
    <li>request a copy of any personal information that the Fire it up campaign holds on you.</li>
    <li>question any information we have about you that you think is wrong or incomplete. You can contact us and ask for personal information to be corrected.</li>
    <li>ask for your data to be deleted.</li>
    <li>remove consent for processing</li>
</ul>
<p>You may unsubscribe from the campaign at any time by clicking the unsubscribe link on any email that you have received from us.</p>
<p>To exercise any other of your rights please contact us using our <a href="https://www.education.gov.uk/contactus/efa" target="_blank">secure online contact form</a> or by writing to:</p>
<p><em>Ministerial and Public Communications Division<br /> Department for Education<br /> Piccadilly Gate<br /> Store Street<br /> Manchester<br /> M1 2WD </em></p>
<h3 class="heading-s">How to complain</h3>
<p>Please let us know if you are unhappy with how we have used your personal information. You can contact us using our <a href="https://www.education.gov.uk/contactus/efa" target="_blank">secure online contact form</a> or by writing to:</p>
<p><em>Ministerial and Public Communications Division<br /> Department for Education<br /> Piccadilly Gate<br /> Store Street<br /> Manchester<br /> M1 2WD </em></p>
<p>If you wish to contact the DfE&rsquo;s data protection officer, please use the secure online form or write to the address above.</p>
<p>You also have the right to complain to the Information Commissioner&rsquo;s Office. Find out on their website how to <a href="https://ico.org.uk/concerns/" target="_blank">report a concern</a>.</p>