@{
    Layout = "_LayoutContentTwoThirds";
    ViewBag.Title = "Privacy notice";
    ViewBag.PageID = "privacy";
    ViewBag.MetaTitle = "Know how your personal information will be used";
    ViewBag.MetaDesc = "Find out about how we will use your data and how long we will hold onto it for. Understand your individual rights, how to unsubscribe and contact us.";
    ViewBag.PageUrl = "/privacy";
}
<p>The Fire it up website is delivered by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE). The DfE is the data controller for personal information processed by this service.</p>
<p>A data controller determines how and why personal data is processed. For more detailed information about how we handle your personal information, read the <a href="https://www.gov.uk/government/publications/esfa-privacy-notice" target="_blank" rel="external">ESFA privacy notice</a>.</p>
<h2 class="heading-m">What data we collect</h2>
<p>The personal data we collect from you includes:</p>
<ul class="list list--bullet">
    <li>questions, queries or feedback you leave, including your email address if you contact GOV.UK</li>
    <li>your email address and subscription preferences when you sign up to our email alerts</li>
    <li>how you use our emails - for example whether you open them and which links you click on</li>
    <li>information on how you use the site, using cookies and page tagging techniques</li>
</ul>
<p>We use Google Analytics software to collect information about how you use GOV.UK.</p>
<p>Google Analytics stores information about:</p>
<ul class="list list--bullet">
    <li>the pages you visit on the website</li>
    <li>how long you spend on each page</li>
    <li>how you got to the site</li>
    <li>what you click on while you’re visiting the site</li>
</ul>
<p>We do not collect or store your personal information through Google Analytics (for example your name or address) so this information cannot be used to identify who you are.</p>
<h2 class="heading-m">Why we need your data</h2>
<p>We use your personal information so the DfE can carry out its functions. For example, when you register your interest using the Fire it up website, the personal information you give us will be used:</p>
<ul class="list list--bullet">
    <li>to improve your online experience</li>
    <li>to match you to opportunities and services</li>
    <li>to help us to provide support</li>
    <li>for administration and research purposes</li>
    <li>to contact you with details about the service or activity related to your account</li>
</ul>
<h2 class="heading-m">Who we share your data with</h2>
<p>The data we collect may be shared to enable the running of the Fire it up website, where the law allows us to do so. This may include sharing data with other government departments, agencies and public bodies, and our technology suppliers, for example our hosting provider.</p>
<p>We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>
<h3 class="heading-s">How long we keep your data</h3>
<p>We will only retain your personal data for as long as:</p>
<ul class="list list--bullet">
    <li>it is needed for the purposes set out in this document</li>
    <li>the law requires us to</li>
</ul>
<h3 class="heading-s">Where your data is processed and stored</h3>
<p>We design, build and run our systems to make sure that your data is as safe as possible at all stages, both while it’s processed and when it’s stored.</p>
<p>All personal data is stored in the <a href="https://www.gov.uk/eu-eea" target="_blank" rel="external">European Economic Area</a> (EEA). Google Analytics data may be transferred outside the EEA, but this cannot be used to personally identify you.</p>
<h3 class="heading-s">How we protect your data and keep it secure</h3>
<p>We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data – for example, we protect your data using varying levels of encryption.</p>
<p>We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>
<h3 class="heading-s">Your rights</h3>
<p>You have the right to request:</p>
<ul class="list list--bullet">
    <li>information about how your personal data is processed</li>
    <li>a copy of that personal data</li>
    <li>that anything inaccurate in your personal data is corrected immediately</li>
</ul>
<p>You can also:</p>
<ul class="list list--bullet">
    <li>ask for your account to be deleted</li>
    <li>raise an objection about how your personal data is processed</li>
    <li>request that your personal data is erased if there is no longer a justification for it</li>
    <li>ask that the processing of your personal data is restricted in certain circumstances</li>
</ul>
<h3 class="heading-s">Contact us or make a complaint</h3>
<p>Please let us know if you’d like to make a request or you’re unhappy with how we have used your personal information. You can contact us by writing to:</p>
<p>
    Ministerial and Public Communications Division<br />
    Department for Education<br />
    Piccadilly Gate<br />
    Store Street<br />
    Manchester<br />
    M1 2WD
</p>
<p>Alternatively, you can contact the helpline if you’d prefer to speak to somebody by phone or email.</p>
<p>
    <b>Phone:</b>
    0800 015 0400
<br />  
    <b>Email:</b>
    <a href="mailto:nationalhelpdesk@findapprenticeship.service.gov.uk">nationalhelpdesk@findapprenticeship.service.gov.uk</a>
</p>

<p>If you wish to contact the DfE’s Data Protection Officer, please use the <br /><a href="https://form.education.gov.uk/fillform.php?self=1&form_id=cCCNJ1xSfBE&type=form&ShowMsg=1&form_name=Contact+the+Department+for+Education&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1" target="_blank" rel="external">secure online form</a> or write to the address above.</p>
<p>You also have the right to complain to the Information Commissioner’s Office. Find out on their website how to <a href="https://ico.org.uk/concerns/" target="_blank" rel="external">report a concern</a>.</p>
