@{
    ViewBag.Title = "Privacy notice for this website";
    ViewBag.PageTitle = "Privacy notice for this website";
    ViewBag.MetaDesc = "";
    Layout = "Redesign_Layout_Generic";
}
<p class="govuk-body">This privacy notice explains how we collect and use your personal information. This website is run by the Education and Skills Funding Agency (<abbr>ESFA</abbr>), an executive agency of the Department for Education (<abbr>DfE</abbr>).</p>
<p class="govuk-body">For the purposes of the relevant data protection legislation, <abbr>DfE</abbr> is the data controller for any personal information processed on this website.</p>
 <h2 class="govuk-heading-m">How we use your personal information</h2>
<p class="govuk-body">We only use your personal information where we need to or when the law permits. This includes:</p>
<ul class="govuk-list govuk-list--bullet">
   <li>any feedback you leave about the website</li>
   <li>your email address when you sign up to stay connected</li>
   <li>how you use our emails - for example if you open any links</li>
   <li>information on how you use the website - using cookies and page tagging techniques</li>
</ul>
<p class="govuk-body">We use Google Analytics to collect information about how you use this website. We do not collect or store your personal information through Google Analytics so it cannot be used to identify who you are.</p>
 <h2 class="govuk-heading-m">How long we hold personal information</h2>
<p class="govuk-body">We will only keep your personal information until we fulfil the purpose of collecting it in the first place. This includes any legal, accounting or reporting requirements. </p>
 <h2 class="govuk-heading-m">Who we share your personal information with</h2>
<p class="govuk-body">We may share your information where the law allows us to enable the running of this website, or where we have a legal obligation to do so. </p>
<p class="govuk-body">This includes sharing data with:</p>
<ul class="govuk-list govuk-list--bullet">
   <li>other government departments or agencies</li>
   <li>public bodies </li>
   <li>our technology suppliers - for example, our hosting provider</li>
</ul>
 <h2 class="govuk-heading-m">What is the legal basis for collecting and processing the data</h2>
<p class="govuk-body">For the use of personal data to be lawful, we need to meet one or more conditions in the data protection legislation. They are as set out in Article 6(1) of the General Data Protection Regulation (<abbr>GDPR</abbr>). For this website, the condition we're meeting is 'public task' in Article 6 (1)(e) of the <abbr>GDPR</abbr>.</p>
 <h2 class="govuk-heading-m">Your data protection rights</h2>
<p class="govuk-body">Under data protection law, you have certain rights depending on our reason for processing your personal information. </p>
<p class="govuk-body">Your have the right to:</p>
<ul class="govuk-list govuk-list--bullet">
   <li>ask for copies of your personal information - also known as '<a class="fiu-link" rel="external" href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-of-access/">right of access</a>'</li>
   <li>have your personal data rectified if it's inaccurate or incomplete</li>
   <li>request to delete or remove personal data where there's no compelling reason for its continued processing</li>
   <li>restrict our processing of your personal data</li>
</ul>
<p class="govuk-body">If you have any questions about your data protection rights, you can <a class="fiu-link" rel="external" href="https://www.gov.uk/contact-dfe">contact <abbr>DfE</abbr></a>.</p>
<p class="govuk-body">For more information about your data protection rights, read <abbr>DfE</abbr>'s <a class="fiu-link" rel="external" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">personal information charter</a>.</p>
<h3 class="govuk-heading-s">How to complain</h3>
<p class="govuk-body">Contact us using our <a class="fiu-link" rel="external" href="https://www.education.gov.uk/contactus/efa">secure online contact form</a> or by writing to <abbr>DfE</abbr>'s data protection officer at:</p>
<p class="govuk-body">Ministerial and Public Communications Division <br>Department for Education <br>Piccadilly Gate <br>Store Street <br>Manchester <br>M1 2WD </p>
<p class="govuk-body">You also have the right to <a class="fiu-link" rel="external" href="https://ico.org.uk/make-a-complaint/">make a complaint </a>to the Information Commissioner's Office. </p>
<p class="govuk-body">This privacy notice was prepared on 21 September 2020.</p>
