@{
    Layout = "_LayoutContent";
    ViewBag.Title = "Sitemap";
    ViewBag.PageID = "sitemap";
    ViewBag.MetaTitle = "Overview of the website 'Fire it up' and all the information available";
    ViewBag.PageUrl = "/sitemap";
    ViewBag.MetaDesc = "";
}

<main id="main-content" class="main-content">
    <div class="grid-row">
        <div class="grid-column-one-third">
            <h2 class="heading-m">Fire it up</h2>
            <ol class="list list--links list--default">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Homepage
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Cookies">
                        Cookies policy
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="CookieDetails">
                        Cookie details
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy">
                        Privacy notice
                    </a>
                </li>

            </ol>
        </div>
        <div class="grid-column-one-third">

            <h2 class="heading-m">Apprentices</h2>
            <ol class="list list--links list--apprentice">
                <li>
                    <a asp-controller="RealStories" asp-action="Apprentice">
                        Real stories
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="WhatAreTheBenefitsToMe">
                        What are the benefits for me?
                    </a>
                </li>
                <li>
                    <a asp-controller="Industries" asp-action="Index">
                        My interests - find your perfect apprenticeship
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="WhatIsAnApprenticeship">
                        What is an apprenticeship
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="FindAnApprenticeship">
                        Find an apprenticeship
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="Application">
                        Application process
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="Interview">
                        Interview
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="YourApprenticeship">
                        Starting your apprenticeship
                    </a>
                </li>
                <li>
                    <a asp-controller="Apprentice" asp-action="AssessmentAndQualification">
                        Assessment and certification
                    </a>
                </li>
            </ol>
        </div>

        <div class="grid-column-one-third">
            <h2 class="heading-m">Employers</h2>
            <ol class="list list--links list--employer">
                <li>
                    <a asp-controller="Employer" asp-action="Benefits">
                        Benefits to your organisation
                    </a>
                </li>
                <li>
                    <a asp-controller="RealStories" asp-action="Employer">
                        Real stories
                    </a>
                </li>
                <li>
                    <a asp-controller="HowDoTheyWork" asp-action="Index">
                        How do they work?
                    </a>
                </li>
                <li>
                    <a asp-controller="HiringAnApprentice" asp-action="Index">
                        Hiring an apprentice
                    </a>
                </li>
                <li>
                    <a asp-controller="Upskill" asp-action="Index">
                        Upskilling your current staff
                    </a>
                </li>
                <li>
                    <a asp-controller="FundingAnApprenticeship" asp-action="Index">
                        Funding an apprenticeship
                    </a>
                </li>
                <li>
                    <a asp-controller="TrainingYourApprentice" asp-action="Index">
                        Training your apprentice
                    </a>
                </li>
                <li>
                    <a asp-controller="EndPointAssessments" asp-action="Index">
                        End-point assessments
                    </a>
                </li>
            </ol>
        </div>
    </div>

</main>