@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-gb">
   <head>
      <link rel="preconnect" href="" />
      <link rel="preconnect" href="https://use.typekit.net">
      <link rel="preconnect" href="https://www.googletagmanager.com">
      <!-- Google Tag Manager -->
      <script>
         (function (w, d, s, l, i) {
             w[l] = w[l] || [];
             w[l].push({
                 'gtm.start':
                     new Date().getTime(),
                 event: 'gtm.js'
             });
             var f = d.getElementsByTagName(s)[0],
                 j = d.createElement(s),
                 dl = l != 'dataLayer' ? '&l=' + l : '';
             j.async = true;
             j.src =
                 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
             f.parentNode.insertBefore(j, f);
         })(window, document, 'script', 'dataLayer', 'GTM-M4VJPRW');

         /**/
      </script>
      <!-- End Google Tag Manager -->
      <meta charset="utf-8" />
      <title>#thecalling</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#0b0c0c" />
      <meta name="description" content="Everything you need to know about how apprenticeships can fire up your career or organisation." />
      <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/campaign/images/favicon.ico" type="image/x-icon" />
      <link rel="apple-touch-icon" sizes="180x180" href="/campaign/images/apple-touch-icon-180x180.png" />
      <link rel="apple-touch-icon" sizes="167x167" href="/campaign/images/apple-touch-icon-167x167.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/campaign/images/apple-touch-icon-152x152.png" />
      <link rel="apple-touch-icon" href="/campaign/images/apple-touch-icon.png" />
      <!--[if !IE 8]><!-->
      <link href="/campaign/css/screen.css" rel="stylesheet" />
      <link rel="preload" onload="this.rel = 'stylesheet'" href="https://use.typekit.net/xwy5uap.css" as="style" crossorigin />
      <noscript>
         <link rel="stylesheet" href="https://use.typekit.net/xwy5uap.css" />
      </noscript>
      <!--<![endif]-->
      <meta property="og:image" content="/campaign/images/opengraph.png" />
      <link rel="preconnect" href="//youtube.com">
   </head>
   <body class="thecalling-body" id="thecalling">
      <!-- Google Tag Manager (noscript) -->
      <noscript>
         <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VJPRW"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      <script>
         document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
      </script>

      <main class="thecalling-main">

        <section class="thecalling-video">
            <div class="thecalling-video__contents">
                <h1 class="thecalling-site-heading">#thecalling</h1>
                <a href="https://youtu.be/NTHV4nCML8A" id="thecalling-play-1" data-module="videoPlayer"
                   data-playerclass="video-player--thecalling" data-videoplayerid="plyr-1"
                   data-videourl="https://www.youtube.com/embed/NTHV4nCML8A?origin=https://www.apprenticeships.gov.uk/thecalling&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                   class="">
                    <span class="thecalling-video__play"></span>
                </a>
            </div>
        </section>

        <section class="thecalling-section thecalling-section--jamal">
            <span class="thecalling-section--transparent">
                <img src="/campaign/images/thecalling/jamal-image-1.png" alt="" />
            </span>
            <div class="thecalling-section__image-wrap thecalling-section__image-wrap--jamal">
                <img src="/campaign/images/thecalling/jamal-image-2.jpg" class="thecalling-section__image thecalling-section__image--jamal" alt="" />
            </div>
            <div class="thecalling-section__panel">
                <h2 class="thecalling-section__heading">SBTV <span class="thecalling-section__heading--light">X</span> Fire it up</h2>
                <div class="thecalling-section__panel-content">
                    <p>Jamal Edwards tasks apprentices to fire up
                       the UK with a new track from Grime
                       legend, P Money</p>
            
                    <a href="https://youtu.be/NTHV4nCML8A" id="thecalling-play-2" data-module="videoPlayer"
                   data-playerclass="video-player--thecalling" data-videoplayerid="plyr-2"
                   data-videourl="https://www.youtube.com/embed/NTHV4nCML8A?origin=https://www.apprenticeships.gov.uk/thecalling&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                   class="thecalling-button">
                    Watch the recording
                </a>
                </div>
            </div>
        </section>

        <section class="thecalling-section thecalling-section--theteam">
            <div class="thecalling-reverse-skew">
                <h2 class="thecalling-section__heading thecalling-section__heading--skew">The team</h2>
                <div class="thecalling-cards">
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-1.jpg" class="thecalling-cards__photo" alt="Jamal Edwards" />
                        <h3 class="thecalling-cards__heading">Jamal Edwards, MBE</h3>
                        <p class="thecalling-cards__intro">Award winning entrepreneur and founder of online music platform SB.TV </p>
                    </div>
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-2.jpg" class="thecalling-cards__photo" alt="P Money" />
                        <h3 class="thecalling-cards__heading">P Money</h3>
                        <p class="thecalling-cards__intro">Grime legend and one of the UKs most exciting MCs</p>
                    </div>
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-3.jpg" class="thecalling-cards__photo" alt="Teddy Music aka Silencer" />
                        <h3 class="thecalling-cards__heading">Teddy Music aka Silencer</h3>
                        <p class="thecalling-cards__intro">DJ and producer working with the UKs hottest grime, hip-hop and RnB artists</p>
                    </div>
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-4.jpg" class="thecalling-cards__photo" alt="Clara" />
                        <h3 class="thecalling-cards__heading">Clara</h3>
                        <p class="thecalling-cards__intro">Broadcast Operator Apprentice at the BBC</p>
                    </div>
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-5.jpg" class="thecalling-cards__photo" alt="Nathan" />
                        <h3 class="thecalling-cards__heading">Nathan</h3>
                        <p class="thecalling-cards__intro">Associate network engineer Apprentice at BT</p>
                    </div>
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-6.jpg" class="thecalling-cards__photo" alt="Shola" />
                        <h3 class="thecalling-cards__heading">Shola</h3>
                        <p class="thecalling-cards__intro">Digital Marketing Apprentice at WhiteHat</p>
                    </div>
                    <div class="thecalling-cards__card">
                        <img src="/campaign/images/thecalling/apprentice-image-7.jpg" class="thecalling-cards__photo" alt="Taf" />
                        <h3 class="thecalling-cards__heading">Taf</h3>
                        <p class="thecalling-cards__intro">Junior Content Producer Apprentice at Channel 4</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="thecalling-section">
            <div class="thecalling-section__image-wrap">
                <img src="/campaign/images/thecalling/apprenticeships-hero-1.jpg" class="thecalling-section__image" alt="" />
            </div>
            <div class="thecalling-section__panel">
                <h2 class="thecalling-section__heading">Fire <span class="thecalling-section__heading-line-break">it up</span></h2>
                <div class="thecalling-section__panel-content">
                    <img src="/campaign/images/apprenticeships-logo.png" class="thecalling-apprenticeship-logo" alt="Apprenticeships logo" /> 
                    <p>There are hundreds of businesses offering
                       apprenticeships right now.
                       Visit apprenticeships.gov.uk to find one that
                       suits you.</p>
                   <a href="https://www.apprenticeships.gov.uk/apprentice/find-an-apprenticeship" class="thecalling-button" id="thecalling-faa-link">
                        Find an apprenticeship
                    </a>
                </div>
            </div>
        </section>
        </main>

        <footer class="thecalling-footer footer--privacy" role="contentinfo">
            <div class="grid-row footer__meta">
                <div class="grid-column-one-third">
                    <img alt="HM Government" class="footer__hm-government-logo" src="/campaign/images/hm-government-logo.png" />
                </div>
                <div class="grid-column-two-thirds">
                    <div class="grid-row">
                        <div class="grid-column-full">
                            <ul class="footer__inline-list">
                                <li class="footer__inline-list-item">
                                    <a class="footer__link" href="https://www.smartsurvey.co.uk/s/S2NQQ" id="link-footer-feedback" target="_blank" rel="external">Feedback</a>
                                </li>
                                <li class="footer__inline-list-item">
                                    <a class="footer__link" id="link-footer-cookie-policy" href="/cookies">Cookies</a>
                                </li>
                                <li class="footer__inline-list-item">
                                    <a class="footer__link" id="link-footer-privacy-notice" href="/privacy">Privacy notice</a>
                                </li>
                                <li class="footer__inline-list-item">
                                    <a class="footer__link" id="link-footer-accessibility" href="/accessibility">Accessibility</a>
                                </li>
                                <li class="footer__inline-list-item">
                                    Built by the <a class="footer__link" href="https://www.gov.uk/esfa" rel="external" target="_blank" id="link-footer-esfa">Education and Skills Funding Agency</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-row footer__licence-description">
                        <div class="grid-column-full">
                            <p class="footer__text">
                                All content is available under the <a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank" rel="external" id="link-footer-ogl">Open Government Licence v3.0</a>, except where otherwise stated
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		<script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL" crossorigin="anonymous"></script>
		<script defer src="/campaign/js/plyr.min.js" crossorigin="anonymous"></script>
		<script defer src="/js/das-all.min.js" crossorigin="anonymous" id="dasJs"></script>
		<script>
		    var dasJs = document.getElementById('dasJs');
		    dasJs.onload = function () {
		        window.DASFrontend.initAll();
		    }
		</script>
   </body>
</html>