<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersAreTheyRightForYou">Are they right for you?</a>
    </span>
    <h3 class="fiu-card__heading">Benefits to your organisation</h3>
    <p class="fiu-card__content">Apprenticeships are an exciting option for both apprentice and employer.</p>
    <a href="/employers/benefits-of-hiring-apprentice" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-2">Learn more</a>
</div>