<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersAreTheyRightForYou">Are they right for you?</a>
    </span>
    <h3 class="fiu-card__heading">Browse by sector</h3>
    <p class="fiu-card__content">Find out what type of apprenticeships you can expect in your sector.</p>
    <a href="/employers/browse-by-sector" class="fiu-card__link fiu-card__link--employers" id="fiu-app-hub-card-4">Learn more</a>
</div>