<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="SettingItUp">Setting up</a>
    </span>
    <h3 class="fiu-card__heading">Choose a training provider</h3>
    <p class="fiu-card__content">You will need to choose a training provider to train your apprentice. Find out why this is important and how to go about choosing one.</p>
    <a href="/employers/choose-training-provider" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-9">Learn more <span class="fiu-vh">about choosing a training provider</span></a>
</div>