<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">End-point assessments</h3>
    <p class="fiu-card__content">End-point assessment (EPA) is an assessment of the knowledge, skills and behaviours that your apprentice has learned throughout an apprenticeship.
</p>
    <a href="/employers/end-point-assessments" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-7">Learn more</a>
</div>