<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Hiring an apprentice</h3>
    <p class="fiu-card__content">Apprenticeships help bring valuable skills into your organisation with the Government's support. Find out more about how this helps your organisation.</p>
    <a href="/employers/hiring-an-apprentice" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-3">Learn more</a>
</div>