<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Training your apprentice</h3>
    <p class="fiu-card__content">During their apprenticeship, your apprentice will receive two different types of training.</p>
    <a href="/employers/training-your-apprentice" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-6">Learn more</a>
</div>