<div class="fiu-card">
    <span class="fiu-card__category">
        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersHowDoTheyWork">How do they work?</a>
    </span>
    <h3 class="fiu-card__heading">Upskilling your current staff</h3>
    <p class="fiu-card__content">Apprenticeships are suitable for hiring new staff, but they're also ideal for upskilling or retraining your existing workforce. Either way, find out more here.</p>
    <a href="/employers/upskilling-your-workforce" class="fiu-card__link fiu-card__link--employers" id="fiu-emp-hub-card-4">Learn more</a>
</div>