@{
    ViewBag.Title = "title";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "Are apprenticeships right for me?";
    ViewBag.PageSummary = "Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";

    ViewBag.LandingPageSlug = "are-apprenticeships-right-for-me";
    ViewBag.LandingPageTitle = "Are apprenticeships right for me?";
}

<div style="border: dimgrey 2px solid">
    <a href="/employers/are-apprenticeships-right-for-me">Are apprenticeships right for me?</a>
    <h4>Real stories</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/employer/real-stories">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/employers/are-apprenticeships-right-for-me">Are apprenticeships right for me?</a>
    <h4>The benefits of apprenticeships?</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/employers/benefits">Learn more</a>
</div>