@{
    ViewBag.Title = "Are they right for you?";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "Are they right for you?";
    ViewBag.PageSummary = "Find out how an apprentice can add value to your business, bringing new skills and enthusiasm. We’ll explain the benefits and how you can find training and choose a training provider to work with.";
    ViewBag.HeadingImage = "employer-gail.jpg";
    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
}

<div class="fiu-grad-row">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/RealStories"/>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/Benefits"/>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_FindTheRightApprenticeship"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/BrowseBySector"/>
            </div>
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_RegisterInterestEmployer"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_GetFreeHelpAndSupport"/>
            </div>
        </div>
    </div>
</div>