@{
    ViewBag.Title = "Are they right for you?";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "Are they right for you?";
    ViewBag.PageSummary = "Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";    
    ViewBag.HeadingImage = "employer-gail.jpg";
    ViewBag.LandingPageSlug = "are-they-right-for-you";
    ViewBag.LandingPageTitle = "Are they right for you?";
}

<div class="fiu-grad-row">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersAreTheyRightForYou">Are they right for you?</a>
                    </span>
                    <h3 class="fiu-card__heading">Real stories</h3>
                    <p class="fiu-card__content">Have a look at some real-life stories from other employers, and see how taking on an apprentice has benefited their organisation.</p>
                    <a asp-controller="RealStories" asp-action="Employers" class="fiu-card__link fiu-card__link--employers">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="fiu-card">
                    <span class="fiu-card__category">
                        <a class="fiu-card__category-link" asp-controller="LandingPage" asp-action="EmployersAreTheyRightForYou">Are they right for you?</a>
                    </span>
                    <h3 class="fiu-card__heading">Benefits to your organisation</h3>
                    <p class="fiu-card__content">Apprenticeships have moved on from what they used to be and are an exciting option for both apprentice and employer.</p>
                    <a href="/employers/benefits-to-your-organisation" class="fiu-card__link fiu-card__link--employers">Learn more</a>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_FindTheRightApprenticeship"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_RegisterInterestEmployer"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-quarter"></div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_GetFreeHelpAndSupport"/>
            </div>
        </div>
    </div>
</div>