@{
    ViewBag.Title = "How do they work?";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "How do they work?";
    ViewBag.PageSummary = "Find out how apprenticeships are funded and how you can employ an apprentice.";
    ViewBag.HeadingImage = "employer-bendy.jpg";
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
}

<div class="fiu-grad-row">
    <span class="fiu-grad-row__bg"></span>
    <div class="fiu-width-container">
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/HiringAnApprentice"/>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/Upskilling"/>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_FindTheRightApprenticeship"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/Funding"/>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/Training"/>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_RegisterInterestEmployer"/>
            </div>
        </div>
        <div class="govuk-grid-row fiu-flex-row">
            <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/EndPointAssessments"/>
            </div>
             <div class="govuk-grid-column-one-quarter">
                <partial name="Redesign/Cards/Employers/FinancialIncentives"/>
            </div>
            <div class="govuk-grid-column-one-half">
                <partial name="Redesign/_GetSupportEmployer"/>
            </div>
        </div>
    </div>
</div>