@{
    ViewBag.Title = "Setting it up";
    Layout = "Redesign_Layout_EmployersLandingPage";
    ViewBag.PageTitle = "Setting it up";
    ViewBag.PageSummary = "Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.";
    
    ViewBag.LandingPageSlug = "setting-it-up";
    ViewBag.LandingPageTitle = "Setting it up";
}

<div style="border: dimgrey 2px solid">
    <a href="/employers/setting-it-up">Setting it up</a>
    <h4>Find the right apprenticeship</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/employer/find-apprenticeship-training">Learn more</a>
</div>

<div style="border: dimgrey 2px solid">
    <a href="/employers/setting-it-up">Setting it up</a>
    <h4>Choose a training provider</h4>
    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.</p>
    <a href="/employers/choose-training-provider">Learn more</a>
</div>