@{
  Layout = "Redesign_Layout_EmployersHub";
  ViewBag.Title = "The road to a quality apprenticeship";
  ViewBag.PageTitle = ViewBag.Title;
  ViewBag.LandingPageSlug = "setting-it-up";
  ViewBag.LandingPageTitle = "Setting it up";
  ViewBag.ArticlePageSlug = "the-road-to-a-quality-apprenticeship";
  ViewBag.ArticlePageTitle = ViewBag.Title;
  ViewBag.HidePhaseBanner = true;
}
<div class="fiu-width-container">
  <div class="fiu-roadmap">
      <span class="fiu-roadmap__roadmap"></span>
      <div class="fiu-roadmap__section fiu-roadmap__section--1">
        <h2 class="fiu-roadmap__section-heading">Business Need</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/benefits-of-hiring-apprentice">How can apprenticeships benefit your business?</a></p>
          <p><a href="https://www.apprenticeships.gov.uk/employers/real-stories">Real apprenticeships stories</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--2">
        <h2 class="fiu-roadmap__section-heading">The Candidate</h2>
        <div class="fiu-roadmap__section-content">
          <p>If recruiting are you using <a href="https:/www.apprenticeships.gov.uk/employers/hiring-an-apprentice">Recruit An Apprentice</a> to reach the widest pool of candidates?</p>
          <p>Do they understand the commitments of an apprenticeship?</p>
          <p>Will they need additional learner or learning support?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--3">
        <h2 class="fiu-roadmap__section-heading">Funding &amp; Employer Responsibilities</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/funding-an-apprenticeship">What funding is available to employers?</a></p>
          <p><a href="https://www.gov.uk/guidance/how-to-take-on-an-apprentice">What are my responsibilities when employing an apprentice?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--4">
        <h2 class="fiu-roadmap__section-heading"><span>The Job</span></h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/training-your-apprentice">Have you planned support for the apprentice? </a></p>
          <p><a href="https://www.gov.uk/government/publications/apprenticeships-off-the-job-training" target="_blank">Do you have arrangements for your apprentice to spend at least 20% of their time as off-the-job training?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--5">
        <h2 class="fiu-roadmap__section-heading">Training &amp; Assessment Provider</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/choose-training-provider">What is important to you about your training provider?</a></p>
          <p>Have you selected a training provider using <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">find apprenticeship training</a>?</p>
          <p>Have you negotiated the price of the standard with them?&nbsp; Have they carried out an initial assessment of prior learning?</p>
          <p>Have you selected an <a href="https://www.apprenticeships.gov.uk/employers/end-point-assessments">assessment provider</a>?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--6">
        <h2 class="fiu-roadmap__section-heading">Commitment Statement</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.gov.uk/government/publications/apprenticeship-commitment-statement-template" target="_blank">Does your commitment statement list your apprentice's learning outcomes and role and responsibilities?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--7">
        <h2 class="fiu-roadmap__section-heading">Mentoring &amp; Training</h2>
        <div class="fiu-roadmap__section-content">
          <p>Have you monitored the progress of apprentices throughout to make sure they are on track?</p>
          <p>Does your apprentice have access to career guidance, mentoring and learner support to ensure achievement?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--8">
        <h2 class="fiu-roadmap__section-heading">End Point Assessment</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/end-point-assessments">Have you planned for your apprentice's end-point assessment?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--9">
        <h2 class="fiu-roadmap__section-heading"><span>Celebration</span></h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://engage.apprenticeships.gov.uk/aan" target="_blank">Have you considered joining the Apprenticeship Ambassador Network?</a></p>
          <p><a href="https://www.gov.uk/government/news/top-100-apprenticeship-employers-announced" target="_blank">Is your business a top apprenticeship employer?</a></p>
          <p><a href="https://www.gov.uk/government/news/national-apprenticeship-awards-2020-national-winners-unveiled" target="_blank">Have you entered the National Apprenticeship Awards?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--10">
        <h2 class="fiu-roadmap__section-heading"><span>Progression</span></h2>
        <div class="fiu-roadmap__section-content">
          <p>Have you considered the next steps for your apprentices following the successful completion of their apprenticeship; whether in form of a promotion, an increased salary or <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">the ability to specialise further</a>?</p>
        </div>
      </div>
      <span class="fiu-roadmap__road"></span>
  </div>
</div>