@{
  Layout = "Redesign_Layout_EmployersHub";
  ViewBag.Title = "The road to a quality apprenticeship";
  ViewBag.PageTitle = ViewBag.Title;
  ViewBag.LandingPageSlug = "setting-it-up";
  ViewBag.LandingPageTitle = "Setting it up";
  ViewBag.ArticlePageSlug = "the-road-to-a-quality-apprenticeship";
  ViewBag.ArticlePageTitle = ViewBag.Title;
  ViewBag.HidePhaseBanner = true;
}
<div class="fiu-width-container">
  <div class="fiu-roadmap">
      <span class="fiu-roadmap__roadmap"></span>
      <div class="fiu-roadmap__section fiu-roadmap__section--1">
        <h2 class="fiu-roadmap__section-heading">Business Need</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/benefits-of-hiring-apprentice">What are your business aims?</a></p>
          <p><a href="https://www.apprenticeships.gov.uk/employers/real-stories">How can apprenticeships help?</a></p>
          <p>What return on investment are you seeking?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--2">
        <h2 class="fiu-roadmap__section-heading">The Candidate</h2>
        <div class="fiu-roadmap__section-content">
          <p>If recruiting are you using <a href="https:/www.apprenticeships.gov.uk/employers/hiring-an-apprentice">Recruit An Apprentice</a> to reach the widest pool of candidates?</p>
          <p>Do they understand the commitments of an apprenticeship?</p>
          <p>Will they need additional learner or learning support?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--3">
        <h2 class="fiu-roadmap__section-heading">Contract of Employment</h2>
        <div class="fiu-roadmap__section-content">
          <p>Is this a genuine job?</p>
          <p><a href="https://www.apprenticeships.gov.uk/employers/funding-an-apprenticeship-non-levy">Is your apprentice being paid a fair wage?</a></p>
          <p><a href="https://www.apprenticeships.gov.uk/employers/choose-apprenticeship-training">Does the standard align to your candidate&rsquo;s job description and training plan?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--4">
        <h2 class="fiu-roadmap__section-heading"><span>The Job</span></h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/training-your-apprentice">Have you planned support for the apprentice? </a></p>
          <p>Does their line manager understand their learning aims?</p>
          <p>Do you have arrangements for your apprentice to spend at least 20% of their time as off-the-job training?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--5">
        <h2 class="fiu-roadmap__section-heading">Training &amp; Assessment Provider</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://www.apprenticeships.gov.uk/employers/choose-training-provider">What is important to you about your training provider?</a></p>
          <p>Have you selected a training provider using <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">find apprenticeship training</a>?</p>
          <p>Have you negotiated the price of the standard with them?&nbsp; Have they carried out an initial assessment of prior learning?</p>
          <p>Have you selected an <a href="https://www.apprenticeships.gov.uk/employers/end-point-assessments">assessment provider</a>?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--6">
        <h2 class="fiu-roadmap__section-heading">Commitment Statement</h2>
        <div class="fiu-roadmap__section-content">
          <p>Does your <a href="https://www.apprenticeships.gov.uk/employers/training-your-apprentice">commitment statement </a>and written contract list your apprentice&rsquo;s learning outcomes and roles and responsibilities?</p>
          <p>Does your commitment statement set out the amount of <a href="https://www.gov.uk/government/publications/apprenticeships-off-the-job-training">off-the-job-training</a> the apprentice will receive?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--7">
        <h2 class="fiu-roadmap__section-heading">Mentoring &amp; Training</h2>
        <div class="fiu-roadmap__section-content">
          <p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/800061/Supporting_young_apprentices.pdf">Have you allocated a mentor?</a></p>
          <p>Have you monitored the progress of apprentices throughout to make sure they are on track?</p>
          <p>Does your apprentice have access to career guidance, mentoring and learner support to ensure achievement?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--8">
        <h2 class="fiu-roadmap__section-heading">End Point Assessment</h2>
        <div class="fiu-roadmap__section-content">
          <p>Have your apprentices had practice <a href="https://www.apprenticeships.gov.uk/employers/end-point-assessments">End Point Assessments </a>during their apprenticeship?</p>
          <p>Are your apprentices ready to go through gateway to take End Point Assessment and complete their apprenticeship?</p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--9">
        <h2 class="fiu-roadmap__section-heading"><span>Celebration</span></h2>
        <div class="fiu-roadmap__section-content">
          <p>How are you going to <a href="https://www.gov.uk/government/news/top-100-apprenticeship-employers-announced">celebrate your successful apprentices</a>?</p>
          <p>Have you entered the <a href="https://www.gov.uk/government/news/national-apprenticeship-awards-2020-national-winners-unveiled">National Apprenticeship Awards</a>?</p>
          <p>Have you considered joining the <a href="https://engage.apprenticeships.gov.uk/aan">Apprenticeship Ambassador Network</a>?</p>
          <p><a href="https://www.investorsinpeople.com/accreditations/we-invest-in-apprentices/">Have you encouraged the rest of the business to continue to support and champion apprenticeships?</a></p>
        </div>
      </div>
      <div class="fiu-roadmap__section fiu-roadmap__section--10">
        <h2 class="fiu-roadmap__section-heading"><span>Progression</span></h2>
        <div class="fiu-roadmap__section-content">
          <p>Have you considered the next steps for your apprentices following the successful completion of their apprenticeship; whether in form of a promotion, an increased salary or <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">the ability to specialise further</a>?</p>
        </div>
      </div>
      <span class="fiu-roadmap__road"></span>
  </div>
</div>