@use '../../shared' as *;

.fiu-quote {
  @include fiu-typography-common;
  background: #fff;
  color: $fiu-text-colour;
  margin: 0 0 20px;
  padding: 1rem;
  border-left: 10px solid $fiu-border-colour;
  &--has-image {
    display: flex;
    gap: 1rem;
  }
}

.fiu-quote__blockquote {
  @extend .govuk-body;
  @include fiu-typography-common;
  color: inherit;
  margin: 0;
}

.fiu-quote__image {
  max-width: 10rem;
}

.fiu-quote__caption {
  margin-top: 20px;
  margin-bottom: 0;
  @include fiu-typography-common;
  @extend .govuk-body;
  color: inherit;
  font-weight: $fiu-font-weight-regular;
}

.fiu-quote__caption-description {
  font-weight: $fiu-font-weight-book;
  display: block;
  color: inherit;
}

.fiu-template--employers .fiu-article > blockquote:not([class]),
.fiu-quote--employer {
  border-left-color: $fiu-employers-brand-colour;
}
