@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.SearchResultsViewModel<Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.SearchResults.TrainingProviderSearchResultsItem, Sfa.Das.Sas.Shared.Components.ViewModels.TrainingProvider.Search.TrainingProviderSearchViewModel>
@inject ICssViewModel cssViewModel

<p class="govuk-body govuk-!-margin-top-8">
    Sorry, we are unable to provide results for locations outside the <abbr>UK</abbr>. You can use this website to find training providers in England, or visit the  relevant websites to find apprenticeship training in:
    <a class="fiu-link fiu-link--employers" href="https://www.apprenticeships.scot/for-employers/find-a-learning-provider/">Scotland</a>,
    <a class="fiu-link fiu-link--employers" href="https://www.nidirect.gov.uk/campaigns/apprenticeships">Northern Ireland</a> and
    <a class="fiu-link fiu-link--employers" href="https://gov.wales/apprenticeships-skills-and-training">Wales</a>.
</p>
<p class="govuk-body govuk-!-margin-bottom-6">
    <a class="fiu-link fiu-link--employers" asp-controller="Fat" asp-action="Search">Return to Find apprenticeship training</a>
</p>

<hr class="fiu-section-break fiu-section-break--l">
