@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model SFA.DAS.Campaign.Web.Models.RegisterInterestModel

@{
    ViewBag.Title = (Model.FirstName == null) ? "Downloadable Guides!" : "Thanks for subscribing!";
    ViewBag.MetaTitle = "How can employing an apprentice benefit your business";
    ViewBag.PageID = "employer-register-interest-downloads";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "employer";
    Layout = "_LayoutContentFull";
    ViewBag.Section = "employer";
}

@if (Model.FirstName != null)
{
    <div class="grid-row">
        <div class="grid-column-two-thirds">
            <h2 class="heading-m">Thanks for subscribing, <em class="heading-emphasise heading-emphasise--employer">@Model.FirstName @Model.LastName</em></h2>
            @*We've sent you a confirmation email to <em class="heading-emphasise heading-emphasise--employer"> @Model.Email</em>*@

        <p>
            You'll soon start receiving the latest apprenticeship updates straight to your inbox. In the meantime, take a look at the downloadable guides below. We hope you find them useful.
            <br />
            <a href="@Model.ReturnUrl">Return to previous content page </a>
        </p>
        </div>
    </div>
}


<div class="grid-row card__collection card__collection--download">
     <a class="card" href="/downloads/PDF-1-7-reasons-to-embrace-apprenticeships.pdf" target="_blank">
                        <div class="card__image">
                            <span class="card__img card__img--pdf-1"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="heading-xs">
                                <span class="card__icon icon--pdf"></span>
                                7 reasons to embrace apprenticeships
                            </h2>
                            <p class="card__summary">
                                From opportunities to upskill employees to flexible training options, here are 7 reasons to take on an apprentice.<span class="visually-hidden"> (Opens in a new window).</span>
                            </p>
                        </div>
                    </a>

					<a class="card" href="/downloads/PDF-2-Why-are-standards-replacing-frameworks.pdf" target="_blank">
						<div class="card__image">
							<span class="card__img card__img--pdf-2"></span>
						</div>
						<div class="card__content">
							<h2 class="heading-xs">
								<span class="card__icon icon--pdf"></span>
								Why are standards replacing frameworks
							</h2>
							<p class="card__summary">
								From the start of the 2020/21 academic year, standards will completely replace frameworks. Find out why we're making the switch.<span class="visually-hidden"> (Opens in a new window).</span>
							</p>
						</div>
					</a>

                    <a class="card" href="/downloads/PDF-4-How-does-off-the-job-training-work.pdf" target="_blank">
                        <div class="card__image">
                            <span class="card__img card__img--pdf-4"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="heading-xs">
                                <span class="card__icon icon--pdf"></span>
                                Off-the-job training
                            </h2>
                            <p class="card__summary">
                                Off-the-job training enhances your apprentice's productivity and the impact they can make. Find out how it works in practice.<span class="visually-hidden"> (Opens in a new window).</span>
                            </p>
                        </div>
                    </a>

                    <a class="card" href="/downloads/PDF-5-An-employers-guide-to-higher-and-degree-apprenticeships.pdf" target="_blank">
                        <div class="card__image">
                            <span class="card__img card__img--pdf-5"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="heading-xs">
                                <span class="card__icon icon--pdf"></span>
                                Higher and degree apps
                            </h2>
                            <p class="card__summary">
                                Think apprenticeships are only suitable for 16-year-olds? It's time to discover a great range of higher and degree apprenticeships.<span class="visually-hidden"> (Opens in a new window).</span>
                            </p>
                        </div>
                    </a>

                    <a class="card" href="/downloads/PDF-6-Your-guide-to-developing-new-standards.pdf" target="_blank">
                        <div class="card__image">
                            <span class="card__img card__img--pdf-6"></span>
                        </div>
                        <div class="card__content">
                            <h2 class="heading-xs">
                                <span class="card__icon icon--pdf"></span>
                                Developing standards
                            </h2>
                            <p class="card__summary">
                                Each standard must be designed to ensure apprentices achieve full occupational competence - and who's better equipped for the job than employers like you?<span class="visually-hidden"> (Opens in a new window).</span>
                            </p>
                        </div>
                    </a>
</div>
@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<div></div>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new HeroHeadingViewModel(){ Type = HeroHeadingType.Employer, Content = HeroHeadingContent() })
}

