@using Microsoft.AspNetCore.Html
@using SFA.DAS.Campaign.Web.Constants
@using SFA.DAS.Campaign.Web.ViewComponents.HeroHeading
@model SFA.DAS.Campaign.Web.Models.RegisterInterestConfirmationModel

@{
    ViewBag.Title = "Thanks for subscribing!";
    ViewBag.MetaTitle = "How can employing an apprentice benefit your business";
    ViewBag.PageID = "employer-register-interest-downloads";
    ViewBag.MetaDesc = "";
    ViewBag.Section = "employer";
    Layout = "_LayoutContentTwoThirds";
    ViewBag.Section = "employer";
}

<h2 class="heading-m" id="h1">Thanks for subscribing, @Model.FirstName @Model.LastName. We've sent a confirmation email to @Model.Email.</h2>
<p>
    You'll soon start receiving the latest apprenticeship updates and downloadable employer guides straight to your inbox. In the meantime, you can download a few of our favourite guides below. We hope you find them useful.
</p>
@{

    IHtmlContent HeroHeadingContent() => Helper.Body(@<div></div>);
}

@section HeroHeading {
    @await Component.InvokeAsync("HeroHeading", new { type = HeroHeadingType.Employer, content = HeroHeadingContent() })
}

