@using SFA.DAS.Campaign.Web.Models.Components.Form
@model SFA.DAS.Campaign.Web.Models.RegisterInterestModel

@{
    ViewBag.Title = "Sign up to stay connected";
    ViewBag.PageTitle = "Sign up to stay connected";
    ViewBag.MetaDesc = "";
    Layout = "Redesign_Layout_EmployersHub";
    
    ViewBag.LandingPageSlug = "sign-up";
    ViewBag.LandingPageTitle = "Sign up to stay connected";
}

<span class="fiu-header-content-spacer"></span>

<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">Keep me up to date with the latest information</p>
            @await Component.InvokeAsync("Form", new {type = FormType.RegisterInterest, formViewModel = Model})                
        </div>
    </div>
</div>


