@using SFA.DAS.Campaign.Web.Models.Components.Form
@model SFA.DAS.Campaign.Web.Models.RegisterInterestModel

@{
    ViewBag.Title = "Register Interest";
    Layout = "_LayoutContentFull";
    ViewBag.PageUrl = "/register-interest";
    ViewBag.MetaTitle = "Get the latest information about apprenticeships";
    ViewBag.MetaDesc = "If you're an employer or an apprentice, you can register your interest so that you get the right information delivered to you at the right time.";



}

    <h2 class="heading-m">Keep me up to date with the latest information</h2>
@await Component.InvokeAsync("Form", new{type = FormType.RegisterInterest, formViewModel = Model})