@{
    ViewBag.Title = "Thanks for registering your interest";
    ViewBag.PageTitle = "Thanks for registering your interest";
    ViewBag.MetaDesc = "";
    Layout = "Redesign_Layout_EmployersHub";

    ViewBag.LandingPageSlug = "sign-up-thankyou";
    ViewBag.LandingPageTitle = "Thanks for registering your interest";
}
<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">You'll soon start receiving the latest apprenticeship updates straight to your inbox.</p>
            <a asp-controller="Hub" asp-action="Employers" class="govuk-button">Return</a>
        </div>
    </div>
</div>