@{
    ViewBag.Title = "Thank you for signing up";
    ViewBag.PageTitle = "Thank you for signing up";
    ViewBag.MetaDesc = "";
    Layout = "Redesign_Layout_EmployersHub";

    ViewBag.LandingPageSlug = "thank-you-for-signing-up";
    ViewBag.LandingPageTitle = "Thank you for signing up";
}
<span class="fiu-header-content-spacer"></span>
<div class="fiu-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Thank you for signing up to stay connected with information on apprenticeships. We'll send you emails to keep you up to date with the latest news and information.</p>
        </div>
    </div>
</div>