@model Sfa.Das.Sas.Shared.Components.ViewModels.ApprenticeshipDetailQueryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.ApplicationServices.Commands
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@inject ICssViewModel CssViewModel

@if (Model.AddRemoveBasketResponse != null)
{
    @if (Model.AddRemoveBasketResponse.BasketOperation == BasketOperation.Added)
    {
        <div class="toast">
            <span class="toast__icon toast__icon--success"></span>
            <div class="toast__content">
                You've added <strong>@Model.AddRemoveBasketResponse.ApprenticeshipName</strong> to your shortlist
            </div>
        </div>
    }
    else
    {
        <div class="toast">
            <span class="toast__icon toast__icon--error"></span>
            <div class="toast__content">
                You've removed <strong>@Model.AddRemoveBasketResponse.ApprenticeshipName</strong> from your shortlist
            </div>
        </div>
    }
}

<form asp-controller="Basket" asp-action="AddApprenticeshipFromDetails" method="post">
    <div class="@(CssViewModel.FormCss.FormGroup)">
        @await Component.InvokeAsync("AddOrRemoveFromBasket", new {apprenticeshipId = Model.Id})
    </div>

</form>


@await Component.InvokeAsync("ApprenticeshipDetails", new {queryModel = Model})

@await Component.InvokeAsync("TrainingProviderSearch", new {apprenticeshipId = Model.Id})