@{
    var title = "Care services";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
}

<p class="govuk-body-l">
    Care sector apprenticeships combine home and hospital visits with clinics and other vital assistance for people who need extra help.
</p>
<p>
    These include regular work with disabled people and older people who need support in their own home or in the community — also known as social care.

</p>

<p>
    This can be anything from working with young people in after school clubs, to helping adults with mental health issues, or getting elderly patients to their appointments.

</p>
<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Adult care worker</li>
    <li>Social worker</li>
    <li>Physiotherapist</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    James Paget Hospital
</h2>

<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future career path. I'm now a senior physiotherapist."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Lily Francis
        <span class="fiu-quote__caption-description">25, Physiotherapy Apprenticeship, James Paget Hospital</span>
    </figcaption>
</figure>

<p>
    I saw the apprenticeship advertised on the NHS website and it all started from there. I always knew I wanted to help people, and after seeing the apprenticeship within occupational and physiotherapy, I decided to try it out. Even if it wasn't for me, I'd still gain valuable experience and a qualification.
</p>

<h3 class="govuk-heading-m">A rewarding career</h3>
<p>
    I wanted hands-on experience and hoped that an apprenticeship would help me decide on a future career path. Luckily for me, this was the case – I'm now a senior physiotherapist! I'm currently working within paediatrics. You get to know the children and the families and it's very rewarding.
</p>

<h3 class="govuk-heading-m">Invaluable experience</h3>
<p>
    My apprenticeship led to a job as a band 2 therapy assistant. From there, I've been able to complete an access course and even achieve a first-class honours degree in physiotherapy. My experience working in the NHS as an apprentice helped immensely.
</p>