@{
    var title = "Catering and hospitality";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
    ViewBag.Canonical = "/apprentices/browse-by-interests/catering-hospitality";
}
<article class="fiu-article">
<p class="govuk-body-l">
    The catering and hospitality sector serves up a host of different apprenticeships in restaurants, cafés, pubs, bars, nightclubs and hotels.
</p>
<p>
    The sector also includes customer service roles, as well as working in the supply network that provides food and drink to other industries.
</p>
<p>
    Schools, colleges, hospitals and large businesses often have canteens and catering staff too. You could train as a chef in a restaurant, or learn how to cook on a large scale for institutions such as the NHS. You could also be 'front of house' welcoming guests or helping management ensure effective day-to-day operations.

</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Chef De Partie</li>
    <li>Advanced butcher</li>
    <li>Hospitality supervisor</li>
    <li>Event assistant</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    Fullers
</h2>

<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "I'm now progressing quickly and hoping to become a head chef within 3 years!"
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Claudine McCarthy, 42
        <span class="fiu-quote__caption-description">Chef de Partie Apprentice, Fullers</span>
    </figcaption>
</figure>

<p>
    I had always dreamed of being a chef – but I put it on hold while I raised my children. When I started working as a Chef de Partie at a Fullers pub, my manager told me about the apprenticeship. Looking at the range of different apprenticeships on offer, I was amazed at what's available.
</p>
<h3 class="govuk-heading-m">Earn while you learn</h3>
<p>
    When I joined Fullers, the opportunities were endless. The thing I enjoy most about the apprenticeship has got to be learning new things every day. I'm now progressing quickly – and hoping to become a head chef within 3 years!
</p>
<h3 class="govuk-heading-m">It is never too late to start a new career</h3>
<p>
    As a 40-something-year-old and a mum of 2, everyone thought I was crazy to try and start a new career! Now I know that my family and friends are all very proud of me.
</p>
</article>