@{
    var title = "Construction";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
    ViewBag.Canonical = "/apprentices/browse-by-interests/construction";
}

<p class="govuk-body-l">
    What does a new housing estate and Crossrail have in common? They both employ apprentices.
</p>
<p>
    Construction is a multi-billion pound industry that deals with developing the underlying structure of anything from a new build house or school, to high speed rail projects.

</p>
<p>
    Traditional and specialist apprenticeships cover a range of occupations, from groundworks and plant maintenance to civil engineering and joinery.
</p>
<p>
    Meanwhile, those with a flair for being organised could help make sure projects run on time and within budget, liaise with suppliers, or assist a civil engineer with design plans.

</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Building Services Design Technician</li>
    <li>Quantity surveyor</li>
    <li>Architect</li>
    <li>Bricklayer</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    Troup Bywaters + Anders
</h2>

<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "Since embedding our apprenticeship programme, we’ve seen tangible business benefits with an 85% retention rate for apprentices."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Claire Oliver
        <span class="fiu-quote__caption-description">Head of HR, Troup Bywaters + Anders</span>
    </figcaption>
</figure>

<p>
    At Troup Bywaters + Anders, we're addressing the skills gap in our industry by developing engineers of the future. As our homegrown talent matures, apprentices are contributing to our financial growth and size. We recruit all year round to attract the right people – from those completing qualifications to people who aren't currently in education, employment or training.
</p>
<h3 class="govuk-heading-m">Numbers that speak for themselves </h3>
<p>
    Since embedding our apprenticeship programme, we've seen tangible business benefits. Our retention rate for apprentices is 85%, our apprentice intake has contributed to a 100% reduction in agency fees at technician level, and we've opened a Glasgow office to meet our growth objective.
    </p>
<h3 class="govuk-heading-m">Create opportunities for diverse talent</h3>
<p>
    We form close relationships with our training providers, communicating and collaborating to develop courses tailored to our business. We've also acted as 'trailblazers' to maintain a professional route into the industry that's available for all, no matter their background.
</p>
