@{
    var title = "Creative and design";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
}
<p class="govuk-body-l">
    From film to fashion, music to computer gaming, creativity takes on many forms. The creative and design sector reflects this, with a broad array of apprenticeships and careers.
</p>
<p>
    While it's the artists and actors, musicians and models who take centre stage, they wouldn't be there without armies of assistants and teams of technicians. And there's also a strong administrative side to this industry. Lights, camera, action!
</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Broadcast and communications technical operator</li>
    <li>Fashion and textiles pattern cutter</li>
    <li>Storyboard artist</li>
    <li>Photographic assistant</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    Christie's Auction House
</h2>

<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "Our apprenticeship programme provides us with a talent pipeline for the future, and our experience so far has been overwhelmingly positive."                    </blockquote>
    <figcaption class="fiu-quote__caption">
        Toby Monk
        <span class="fiu-quote__caption-description">Recruitment Director, Christie's</span>
    </figcaption>
</figure>

<p>
    Our apprenticeship programme provides us with a talent pipeline for the future, and our experience so far has been overwhelmingly positive. We have found bright, engaged people who have made a choice to not attend university. It has also been a great channel for us to start increasing diversity in our business.
</p>
<h3 class="govuk-heading-m">Team up with great providers</h3>
<p>
    We put a lot of time and effort into selecting our training providers – it's so important for the apprentice's overall experience. We work with partners who are invested in the apprentices and want to be hands on and 'high touch' with us as the employer. We want socially conscious business partners.
</p>
<h3 class="govuk-heading-m">There's plenty of support available</h3>
<p>
    To find an apprentice, we use a multi-pronged approach. When it comes to seeking help with the process, we've found people in our network to be incredibly helpful and willing to share their experiences and best practice.
</p>