@{
    var title = "Digital";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
    ViewBag.Canonical = "/apprentices/browse-by-interests/digital";
}

<p class="govuk-body-l">
    The digital sector covers the many different occupations that keep modern businesses, large and small, running efficiently and profitably.

</p>

<p>
    Successful apprentices can work in a wide variety of digital-centric roles, including software, business and systems analysis, cybersecurity, data analysis and network infrastructures.

</p>
<p>
    Digital professionals support online services ranging from e-commerce for retail companies to government websites for citizens, providing technology-enabled solutions to customers and staff.

</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Software development technician</li>
    <li>Digital user experience professional</li>
    <li>Cybersecurity technologist</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    BT
</h2>

<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "Not only will I qualify with a full batchelor’s degree, I also get the opportunity to develop on a day-to-day basis."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Kate Self, 20
        <span class="fiu-quote__caption-description">TV, Digital and Media Apprentices, BT</span>
    </figcaption>
</figure>

<p>
Although I wanted to continue learning, I didn't feel that university was the right option for me. I began researching apprenticeships, and it was amazing to see the varied range on offer. There's an apprenticeship out there for anyone, whether you're just beginning to learn or wanting to develop! 
</p>
<h3 class="govuk-heading-m">Real-life experience alongside a degree </h3>
<p>
I wanted to get more hands-on experience outside of the classroom, but I also wanted to develop my learning, so I liked the idea of a degree apprenticeship. My favourite subject in sixth form was ICT, so I knew I wanted to work within technology, and began to look into the TV and Digital Media Apprenticeship.
</p>
<h3 class="govuk-heading-m">Develop transferrable skills</h3>
<p>
Not only will I qualify with a full bachelor's degree, along with other courses and qualifications – I also get the opportunity to develop on a day-to-day basis, rotating around the different departments every 6 months, while earning a salary. The apprenticeship has also helped with softer skills, such as building my confidence.
</p>
              