@{
    var title = "Engineering and manufacturing";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
}
<p class="govuk-body-l">
    Almost every object has been manufactured in some way, whether in a factory by huge machines or with hand tools in a small workshop.

</p>
<p>
    So as you can imagine, there are a host of different manufacturing and engineering apprenticeships available all over the country, at companies and workshops large and small.

</p>
<p>
    Manufacturing companies produce parts and tools on both industrial and small scales, which in turn keeps all the other industries supplied with the materials needed to do their job.
</p>
<p>
    Engineering, meanwhile, is all about making these things work and includes everything from servicing escalators and checking RAF aircraft to activating phone lines and broadband cables.
</p>

<p>
    It's not just tools and workshops either. Software engineers are using the latest technologies to create virtual systems that will transform how we live and work in the future.


</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Electrical Power Networks Engineer</li>
    <li>Rail and rail systems engineer</li>
    <li>Brewer</li>
    <li>Wood product manufacturing operative</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    Nestle
</h2>

 <figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "I am so thankful that I’ve got a degree - but not just that on its own. I also have 3 years of invaluable hand-on experience."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Katie Lloyd, 22
        <span class="fiu-quote__caption-description">Confectionery Degree Apprenticeship, Nestle</span>
    </figcaption>
</figure>
<p>
    My apprenticeship at Nestle sounded like one of the best opportunities I'd come across. I had no clue what I wanted to do for a job, and I knew that I wanted to do further education – but I didn't want to spend 3 years and lots of money doing a degree that I probably wouldn't end up using. As soon as I saw the advert for my apprenticeship, with a degree included, I just knew it was perfect. 
</p>
<h3 class="govuk-heading-m">Earn while you learn</h3>
<p>
    I'd be working with chocolate and learning skills created hundreds of years ago – with one of the biggest food and drink companies in the world. When I saw that I'd also be working to get a degree, I was over the moon! It seemed to be the best of both worlds – learning relevant skills while also earning a wage.
</p>
<h3 class="govuk-heading-m">Fast-track your career</h3>
<p>
    I am so thankful that I've got a degree – but not just that on its own. I also have 3 years of invaluable hands-on experience working at Nestle. This experience, and the amount I now know about the confectionery industry, gives me a huge advantage for future career options.
</p>