@{
    var title = "Hair and beauty";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    The hair and beauty sector is more diverse than you probably realised.
</p>
<p>
    Apprenticeships here often take place in small businesses that operate as self-employed freelancers, running their own
    business and visiting clients at home. Others find themselves working in spas, health farms, holiday resorts, and even film and TV sets.
</p>

<p>
    You can go on to work in sales, marketing, public relations and photography, or choose to
    concentrate on the business aspects of running a salon rather than performing treatments.
</p>

<dl class="inline-list">
    <dt class="inline-list__title">Hair and beauty includes:</dt>
    <dd>Hair Professional</dd>
    <dd>Beauty therapist</dd>
    <dd>Nail services technician</dd>
</dl>