@{
    var title = "Hair and beauty";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
    ViewBag.Canonical = "/apprentices/browse-by-interests/hair-beauty";
}
<article class="fiu-article">
<p class="govuk-body-l">
    The hair and beauty sector is a diverse, multi-billion pound industry, always looking for the next trend or brand new treatment.
</p>
<p>
    Apprenticeships here often take place in small businesses and may include visiting clients in their own homes. Others find themselves working in spas, holiday resorts, theatres and film and TV sets.
</p>
<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Hair professional</li>
    <li>Beauty therapist</li>
    <li>Nail services technician</li>
</ul>
</article>