@{
    var title = "Hair and beauty";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
}

<p class="lead-paragraph">
    The hair and beauty sector is a diverse, multi-billion pound industry, always looking for the next trend or brand new treatment.
</p>
<p>
    Apprenticeships here often take place in small businesses and may include visiting clients in their own homes. Others find themselves working in spas, holiday resorts, theatres and film and TV sets.

</p>


<dl class="inline-list">
    <dt class="inline-list__title">Apprenticeships include:</dt>
    <dd>Hair Professional</dd>
    <dd>Beauty therapist</dd>
    <dd>Nail services technician</dd>
</dl>