@{
    var title = "Legal, finance and accounting";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
}
<p class="govuk-body-l">
    Companies big and small need teams of people to look after their finances: who to pay, who owes them money, how to invest and how to grow.

</p>
<p>
    These companies also need guidance on how to organise their taxes and make sure employees get paid on time, while making them as profitable as possible. And not just businesses. From the student taking out a loan to the retired pensioner, everyone needs financial advice at some stage.

</p>
<p>
    You can specialise too, as smaller legal and accountancy firms often focus on one particular area, for example marine or property law, or freelance and small business accountancy.

</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Professional accounting and taxation technician</li>
    <li>Credit controller</li>
    <li>Mortgage adviser</li>
    <li>Paralegal</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    Womble Bond Dickinson
</h2>
<figure class="fiu-quote">
<blockquote class="fiu-quote__blockquote">
    "Taking the apprenticeship route was a no-brainer for me, as it would provide me with hands-on experience, a fully funded degree in my chosen field of bioscience and a competitive salary."
</blockquote>
<figcaption class="fiu-quote__caption">
    Florence Lungu, 21
    <span class="fiu-quote__caption-description">Cilex Chartered Legal Executive Apprenticeship, Womble Bond Dickinson</span>
</figcaption>
</figure>
<p>
    At the time I completed my A Levels, I felt (and still believe) that an apprenticeship is an excellent way of gaining valuable hands-on experience for my chosen career path. It was a great way to kick off my career in the legal sector.
</p>
<h3 class="govuk-heading-m">Balance learning with hands-on experience </h3>
<p>
    An apprenticeship was the perfect choice for me because not only was I continuing with my academic development, but the apprenticeship would also present me with the opportunity to gain valuable experience working in the legal sector, as well as financial benefits.
</p>
<h3 class="govuk-heading-m">Develop a competitive edge</h3>
<p>
    The legal sector, like a lot of other sectors, is very competitive. This route will provide me with more career options because, during my apprenticeship, I am able to gain hands-on experience. I learn something new every day and get to work with a range of people with different skill sets.
</p>


            