@{
    var title = "Protective services";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
    ViewBag.Canonical = "/apprentices/browse-by-interests/protective-services";
}
<article class="fiu-article">
<p class="govuk-body-l">
    Protective services are all about keeping things safe - people, businesses and communities.
</p>
<p>This means fire services, police, the armed forces, paramedics, waste management, and all those other roles which help make our society a better and safer place.</p>
<p>
    The UK armed forces are one of the biggest providers of apprenticeships in the country, training apprentices in a large range of different roles and professions. Members of the armed forces can learn engineering on a aircraft carrier, qualify in logistics while sending humanitarian aid to disaster-stricken nations, or become a communications specialist monitoring cyber space.

</p>
<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>HM forces service person</li>
    <li>Operational firefighter</li>
    <li>Custody and detention officer</li>
    <li>Ordnance munitions explosives technician</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    Staffordshire Fire and Rescue
</h2>

<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "My apprenticeship will give me the best stepping stone to becoming a highly trained firefighter."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Claire Lester, 25
        <span class="fiu-quote__caption-description">Operational Firefighter Apprentice, Staffordshire Fire and Rescue Service</span>
    </figcaption>
</figure>
           
<p>
    I had applied for another brigade prior to obtaining my position in Staffordshire, so I had spoken to local firefighters and taken part in several ‘have-a-go’ days for different brigades. I had been very disappointed at not getting through the process before, so I was very keen to find another one.

</p>
<h3 class="govuk-heading-m">Choose from hundreds of apprenticeships</h3>
<p>
    I came across Staffordshire Fire and Rescue Service online. It was an apprenticeship and would still guarantee full-time service after the training, which was refreshing and something I became very interested in. I researched the brigade and was very keen to adopt the morals they stand by.

</p>
<h3 class="govuk-heading-m">Develop skills for the future</h3>
<p>
    The thing I enjoy most about the apprenticeship is the variety of work every day. With regular assessments and development days, my apprenticeship will give me the best stepping stone to becoming a highly trained firefighter.

</p>
</article>