@{
    var title = "Sales, marketing and procurement";
    
    ViewBag.Title = title;
    Layout=$"Redesign_Layout_EmployersArticle";
    ViewBag.PageTitle = title;
    ViewBag.LandingPageSlug = "how-do-they-work";
    ViewBag.LandingPageTitle = "How do they work?";
    ViewBag.ArticlePageSlug = "browse-by-sector";
    ViewBag.ArticlePageTitle = "Browse by sector";
    ViewBag.IndustryPageTitle = title;
    ViewBag.Canonical = "/apprentices/browse-by-interests/sales-marketing-procurement";
}
<article class="fiu-article">
<p class="govuk-body-l">
    All businesses need to find new customers and persuade them to buy things or use their services. Otherwise, companies would go out of business.

</p>
<p>This is where sales and marketing comes in: finding the needs and wants of people, developing something that meets that need and creating a desire for it.
</p>
<p>
    With the huge growth in social and digital media, digital marketing is now a key part of the strategy for most businesses, helping them to increase their presence both online and out in the real world.

</p>

<p>Apprenticeships include:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Sales executive</li>
    <li>Travel consultant</li>
    <li>Estate agent</li>
    <li>Digital marketer</li>
</ul>

<hr class="fiu-section-break fiu-section-break--l" />

<h2 class="govuk-heading-l">
    <span class="govuk-caption-l">Real stories</span>
    RSPCA
</h2>
<figure class="fiu-quote">
    <blockquote class="fiu-quote__blockquote">
        "I'm gaining 2 qualifications and I will have 2 years’ worth of work experience in the charity sector, working for a hugely influential and recognised charity."
    </blockquote>
    <figcaption class="fiu-quote__caption">
        Ren Shilcock, 21
        <span class="fiu-quote__caption-description">Digital Marketing Apprentice, RSPCA</span>
    </figcaption>
</figure>
<p>
    When the opportunity came up for this apprenticeship, I couldn't say no. I work with a lovely team (both human and dog!) and I love that I get to learn and work on projects that I can have an influence over. I still can't get over the fact that I work for the RSPCA, the largest animal welfare charity in the UK!

</p>
<h3 class="govuk-heading-m">Learn from industry leaders</h3>
<p>
    Learning whilst working, and getting to apply what I've learnt in real-life scenarios, is a far greater experience to me than going to university lectures and not necessarily getting the appropriate work experience. I learn by doing, rather than just being told about things.

</p>
<h3 class="govuk-heading-m">Earn while gaining qualifications</h3>
<p>
    This could lead me down an assortment of paths once my apprenticeship is finished. I'm gaining 2 nationally recognised qualifications in digital marketing, and I will have 2 years' worth of work experience in the charity sector – working for a hugely influential and recognised charity.

</p>
    
</article>