<p class="govuk-body-l">Traineeships and T Levels are a great alternative for young people who may not be ready for an apprenticeship.</p>
<div class="fiu-tabs" data-fiu-tabs="true">
    <h2 class="fiu-tabs__title">
        Contents
    </h2>
    <ul class="fiu-tabs__list">
        <li class="fiu-tabs__list-item fiu-tabs__list-item--selected">
            <a class="fiu-tabs__tab" href="#traineeships">
                Traineeships
            </a>
        </li>
        <li class="fiu-tabs__list-item">
            <a class="fiu-tabs__tab" href="#tlevels">
                T Levels
            </a>
        </li>
    </ul>
    <div class="fiu-tabs__panel" id="traineeships">
        <article class="fiu-article">
            <h2 class="govuk-heading-l">Traineeships</h2>
            <h4><strong>What is a traineeship?</strong></h4>
            <p>Traineeships are a great option for young people aged between 16 and 24 (or 25 for individuals with an <a href="https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help#:~:text=An%20education%2C%20health%20and%20care,support%20to%20meet%20those%20needs." title="" rel="external" target="_blank">education and health care plan</a>),  who don’t have the skills or experience to take on a job or apprenticeship. </p>
            <p>Traineeships act as a skills development programme, where you complete an unpaid work placement alongside a training course. </p>
            <p>They can last from 6 weeks up to 1 year (although most last up to 6 months) and are designed to help prepare you for work or an apprenticeship.</p>
            <p>If you already have some work experience, <a href="https://www.apprenticeships.gov.uk/apprentices/are-they-right-for-you" title="" rel="external" target="_blank">you may be ready for an apprenticeship</a>. </p>
            <h4><strong>How traineeships work</strong></h4>
            <p>The core elements of a traineeship include:</p>
            <ul>
                <li>completion of a quality work placement of at least 70 hours with a local employer</li>
                <li>training to ensure the trainee is equipped with the skills needed to succeed in the placement</li>
                <li>english, maths and digital support (where required) </li>
                <li>CV and application support </li>
                <li>an exit interview at the end of the placement which provides written feedback about the trainees performance</li>
            </ul>
            <p>The training provider will arrange a work placement with an employer, usually a minimum of 70 hours. The employer and training provider then work together to create an individual plan for the trainee, providing additional work preparation prior to the placement. </p>
            <h4><strong>Who can apply </strong></h4>
            <p>You can apply for a traineeship if you are:</p>
            <ul>
                <li>eligible to work in England </li>
                <li>have little or no work experience but are motivated to work </li>
                <li>aged 16 to 24, or 25 with an <a href="https://www.gov.uk/children-with-special-educational-needs/extra-SEN-help">education, health and care (EHC) plan</a></li>
                <li>qualified up to <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" title="" rel="external" target="_blank">level 3</a></li>
            </ul>
            <h4><strong>Funding a traineeship</strong></h4>
            <p>Traineeships are unpaid because they are a work experience placement, not a job. </p>
            <p>Employers are encouraged to support trainees with their expenses, such as transport and meals and some employers may be eligible to claim an employer incentive payment of £1000 per trainee (for up to 10 trainees per region) from the government to cover the costs of the placement. </p>
            <p>Depending on the trainee’s circumstances, they may be eligible for support with <a href="https://www.gov.uk/learner-support" title="" rel="external" target="_blank">education related costs</a> and the training provider can support with this. </p>
            <p>If the trainee receives benefits, the trainee will still receive these during the traineeship, but trainees are encouraged to speak to their work coach about personal circumstances. </p>
            <p>Trainees may also be eligible for the <a href="https://www.gov.uk/1619-bursary-fund" title="" rel="external" target="_blank">16 to 19 bursary</a></p>
            <h4><strong>Traineeship benefits</strong></h4>
            <p>Traineeships offer great opportunities for young people who have little or no work experience. </p>
            <p>They can enhance your employability by providing guidance, skills and experience in your chosen area of interest. </p>
            <p>Trainees will also gain: </p>
            <ul>
                <li>techniques in writing a CV and job applications</li>
                <li>an understanding of what it is like to work for an employer </li>
                <li>transferable skills and knowledge from other employees working in their sector of interest </li>
                <li>increased confidence and self-esteem</li>
                <li>valuable work experience in a supportive environment </li>
                <li>opportunities to interview for a permanent role if a vacancy becomes available </li>
                <li>an understanding of what employers are looking for </li>
                <li>an opportunity to improve literacy, numeracy and digital skills </li>
                <li>valuable exit interview feedback to prepare for future job applications</li>
            </ul>
            <h4><strong>Future prospects for trainees</strong></h4>
            <p>Traineeships have proved to bridge the gap between education and employment for many young people. </p>
            <p>Research shows that: </p>
            <ul>
                <li>66% of trainees progressed to positive destinations within 6 months </li>
                <li>75% of trainees started further learning, employment or an apprenticeship within 12 months of starting a traineeship </li>
                <li>83% of trainees found the programme helped improve their chances for the future </li>
            </ul>
            <h4><strong>Next steps </strong></h4>
            <p>At the end of the work placement, the trainee will participate in an exit interview with the employer. This provides the trainee with an opportunity to practice their interview skills and gain valuable feedback which will assist with future applications. </p>
            <p>Although there is no guarantee that a trainee will be offered a permanent position with the employer after completing the placement, training providers work closely with the trainee to assist them in applying for further opportunities. </p>
            <h4><strong>Find a traineeship</strong></h4>
            <p>Traineeships can start at any time of the year, so it’s useful to know where to look for opportunities. </p>
            <p>There are a few options for finding a traineeship opportunity, which include:</p>
            <ul>
                <li>visit <a href="https://www.gov.uk/find-traineeship" title="" rel="external" target="_blank">find a traineeship</a> for current vacancies </li>
                <li>speak to a local college or <a href="https://www.gov.uk/government/publications/traineeship-providers" title="" rel="external" target="_blank">training provider</a> to discuss opportunities</li>
                <li>for individuals aged 16-18, speak to the school or college adviser for advice </li>
                <li>for individuals aged 18 or over, speak to a JobCentre Plus adviser or work coach </li>
            </ul>
            </article>
            <div class="fiu-govuk-panel">
            <span class="fiu-govuk-panel__govuk-logotype">
                <svg aria-hidden="true" focusable="false" class="fiu-govuk-panel__govuk-logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 97">
                <path fill="currentColor" fill-rule="evenodd" d="M25 30.2c3.5 1.5 7.7-.2 9.1-3.7 1.5-3.6-.2-7.8-3.9-9.2-3.6-1.4-7.6.3-9.1 3.9-1.4 3.5.3 7.5 3.9 9zM9 39.5c3.6 1.5 7.8-.2 9.2-3.7 1.5-3.6-.2-7.8-3.9-9.1-3.6-1.5-7.6.2-9.1 3.8-1.4 3.5.3 7.5 3.8 9zM4.4 57.2c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.5-1.5-7.6.3-9.1 3.8-1.4 3.5.3 7.6 3.9 9.1zm38.3-21.4c3.5 1.5 7.7-.2 9.1-3.8 1.5-3.6-.2-7.7-3.9-9.1-3.6-1.5-7.6.3-9.1 3.8-1.3 3.6.4 7.7 3.9 9.1zm64.4-5.6c-3.6 1.5-7.8-.2-9.1-3.7-1.5-3.6.2-7.8 3.8-9.2 3.6-1.4 7.7.3 9.2 3.9 1.3 3.5-.4 7.5-3.9 9zm15.9 9.3c-3.6 1.5-7.7-.2-9.1-3.7-1.5-3.6.2-7.8 3.7-9.1 3.6-1.5 7.7.2 9.2 3.8 1.5 3.5-.3 7.5-3.8 9zm4.7 17.7c-3.6 1.5-7.8-.2-9.2-3.8-1.5-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.3 3.5-.4 7.6-3.9 9.1zM89.3 35.8c-3.6 1.5-7.8-.2-9.2-3.8-1.4-3.6.2-7.7 3.9-9.1 3.6-1.5 7.7.3 9.2 3.8 1.4 3.6-.3 7.7-3.9 9.1zM69.7 17.7l8.9 4.7V9.3l-8.9 2.8c-.2-.3-.5-.6-.9-.9L72.4 0H59.6l3.5 11.2c-.3.3-.6.5-.9.9l-8.8-2.8v13.1l8.8-4.7c.3.3.6.7.9.9l-5 15.4v.1c-.2.8-.4 1.6-.4 2.4 0 4.1 3.1 7.5 7 8.1h.2c.3 0 .7.1 1 .1.4 0 .7 0 1-.1h.2c4-.6 7.1-4.1 7.1-8.1 0-.8-.1-1.7-.4-2.4V34l-5.1-15.4c.4-.2.7-.6 1-.9zM66 92.8c16.9 0 32.8 1.1 47.1 3.2 4-16.9 8.9-26.7 14-33.5l-9.6-3.4c1 4.9 1.1 7.2 0 10.2-1.5-1.4-3-4.3-4.2-8.7L108.6 76c2.8-2 5-3.2 7.5-3.3-4.4 9.4-10 11.9-13.6 11.2-4.3-.8-6.3-4.6-5.6-7.9 1-4.7 5.7-5.9 8-.5 4.3-8.7-3-11.4-7.6-8.8 7.1-7.2 7.9-13.5 2.1-21.1-8 6.1-8.1 12.3-4.5 20.8-4.7-5.4-12.1-2.5-9.5 6.2 3.4-5.2 7.9-2 7.2 3.1-.6 4.3-6.4 7.8-13.5 7.2-10.3-.9-10.9-8-11.2-13.8 2.5-.5 7.1 1.8 11 7.3L80.2 60c-4.1 4.4-8 5.3-12.3 5.4 1.4-4.4 8-11.6 8-11.6H55.5s6.4 7.2 7.9 11.6c-4.2-.1-8-1-12.3-5.4l1.4 16.4c3.9-5.5 8.5-7.7 10.9-7.3-.3 5.8-.9 12.8-11.1 13.8-7.2.6-12.9-2.9-13.5-7.2-.7-5 3.8-8.3 7.1-3.1 2.7-8.7-4.6-11.6-9.4-6.2 3.7-8.5 3.6-14.7-4.6-20.8-5.8 7.6-5 13.9 2.2 21.1-4.7-2.6-11.9.1-7.7 8.8 2.3-5.5 7.1-4.2 8.1.5.7 3.3-1.3 7.1-5.7 7.9-3.5.7-9-1.8-13.5-11.2 2.5.1 4.7 1.3 7.5 3.3l-4.7-15.4c-1.2 4.4-2.7 7.2-4.3 8.7-1.1-3-.9-5.3 0-10.2l-9.5 3.4c5 6.9 9.9 16.7 14 33.5 14.8-2.1 30.8-3.2 47.7-3.2z"></path>
                </svg>
                <span class="fiu-govuk-panel__govuk-logotype-text">
                GOV.UK
                </span>
            </span>
            <span class="govuk-caption-l govuk-!-font-family">16 to 24 year olds </span>
            <h1 class="govuk-heading-l govuk-!-font-family">Find a traineeship</h1>

            <p class="govuk-body govuk-!-font-family govuk-!-font-size-16">Traineeships can start at any time of the year, so it's useful to know where to look for opportunities.</p>
            <p class="govuk-body govuk-!-font-family govuk-!-font-size-16">There are a few options for finding a traineeship opportunity, which include:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-family govuk-!-font-size-16">
                <li>visit <a href="https://www.gov.uk/find-traineeship" class="fiu-link govuk-!-font-family" target="_blank">find a traineeship</a> for current vacancies </li>
                <li>speak to a local college or <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers" class="fiu-link govuk-!-font-family" target="_blank">training provider</a> to discuss opportunities </li>
                <li>for individuals aged 16-18, speak to the school or college adviser for advice</li>
                <li>for individuals aged 18 or over, speak to a JobCentre adviser or work coach</li>
            </ul>

            <a href="https://www.gov.uk/find-traineeship" class="govuk-button govuk-!-margin-bottom-2" target="_blank">Start now</a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">Opens in a new tab</span>
            </div>

        
    </div>
    <div class="fiu-tabs__panel fiu-tabs__panel--hidden" id="tlevels">
        <h2 class="govuk-heading-l">T Levels</h2>
        <article class="fiu-article">
            <p>T Levels have been created for 16-18 year olds as an A level alternative. They are two year courses which offer classroom based learning alongside an industry placement and are the equivalent of 3 A levels. </p>
            <p>T Levels have been created in collaboration with employers and businesses so that their content meets industry needs and prepares the student for work, further training or study. </p>
            <p>To find out more about T Levels, you can: </p>
            <ul>
                <li>visit the <a href="https://www.tlevels.gov.uk/" title="" rel="external" target="_blank">T level campaign website</a></li>
                <li>visit the <a href="https://employers.tlevels.gov.uk/" title="" rel="external" target="_blank">T level employer website</a></li>
                <li>read our <a href="https://www.gov.uk/government/publications/introduction-of-t-levels/introduction-of-t-levels" title="" rel="external" target="_blank">introduction to T levels</a></li>
                <li>visit the <a href="https://nationalcareers.service.gov.uk/careers-advice/career-choices-at-18" title="" rel="external" target="_blank">National Careers Service website</a>[underline] or speak to an adviser using their <a href="https://nationalcareers.service.gov.uk/webchat/chat/" title="" rel="external" target="_blank">webchat</a> or call 0800 100 900</li>
            </ul>
        </article>
    </div>
</div>

<div class="fiu-attachment__wrap">
    <div class="fiu-attachment"><h2 class="govuk-heading-m fiu-attachment__heading">A guide to traineeships </h2><dl class="fiu-attachment__meta"><dt class="fiu-attachment__meta-title">File type</dt><dd class="fiu-attachment__meta-description">pdf</dd><dt class="fiu-attachment__meta-title">File size</dt><dd class="fiu-attachment__meta-description">151KB</dd></dl><p class="govuk-body fiu-attachment__description">Further information about traineeships, what they are, how to find the right opportunity and more. </p><p class="govuk-body fiu-attachment__link-wrap"><a href="https://assets.ctfassets.net/8kbr1n52z8s2/k9DXxk7lDEfoxanEPzvVE/79bd1a56b8d185628789f5468ccb71e2/PDF-a-guide-to-traineeships.pdf" class="govuk-link fiu-attachment__link" target="_blank">Download <span class="fiu-vh">A guide to traineeships </span></a></p><span class="fiu-attachment__icon"><span class="fiu-attachment__icon-label">pdf</span></span></div>
</div>